- content_for :title, I18n.t('acknowledgments.acknowledgments_title')
- content_for :scripts do
  %script{src: "//crowdin.com/js/crowdjet/crowdjet.js"}
  :javascript
    $(function() {
      var checkExist = setInterval(function() {
        if ($('#crowdjet-expand-container').children().length > 0) {
          $('#crowdjet-container').css("position", "relative");
          $('#crowdjet-expand-container').css("position", "absolute");
          $('#crowdin-widget').show();
          clearInterval(checkExist);
        }
      }, 1000);
    });

- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        = I18n.t('acknowledgments.acknowledgments_title')

.row.mt-4
  .col-12.col-md-6.mb-3
    .card
      .card-header.border-bottom
        %h4
          = I18n.t('acknowledgments.taxon_silhouettes')
      .card-body.mt-3
        %p
          Die Silhouettenbilder der taxonomischen Familien stammen vom erstaunlichen
          = link_to "PhyloPic", "http://phylopic.org/"
          – entwickelt und unterhalten von Mike Keesey.
        .text-center
          %a{href: "http://phylopic.org/image/cb9f4a84-068b-4ac4-b0ca-1b6da752817a/"}
            %img.p-2{src:"/images/a79e6610-2a32-4797-8281-02e8640f3b57.128.png", alt:"PhyloPic-Silhouette"}
          %a{href: "http://phylopic.org/image/ef34e872-7ba3-4836-bbd3-844351d895c2/"}
            %img.p-2{src:"/images/ef34e872-7ba3-4836-bbd3-844351d895c2.128.png", alt:"PhyloPic-Silhouette"}
          %a{href: "http://phylopic.org/image/7ebbf05d-2084-4204-ad4c-2c0d6cbcdde1/"}
            %img.p-2{src:"/images/7ebbf05d-2084-4204-ad4c-2c0d6cbcdde1.128.png", alt:"PhyloPic-Silhouette"}
          %a{href: "http://phylopic.org/image/7e3829c6-6587-4df7-a514-29e3f8f2c40d/"}
            %img.p-2{src:"/images/7e3829c6-6587-4df7-a514-29e3f8f2c40d.128.png", alt:"Phylopic-Silhouette"}

  .col-12.col-md-6.mb-3
    .card
      .card-header.border-bottom
        %h4
          = I18n.t('acknowledgments.translations')
      .card-body.mt-3
        %p
          Besonderer Dank geht an
          = link_to "Jennifer C. Girón Duque", url('/0000-0002-0851-6883')
          %a{href:"https://orcid.org/0000-0002-0851-6883"}
            %i.fab.fa-orcid
            https://orcid.org/0000-0002-0851-6883
          (Übersetzung der Schnittstelle und des Inhalts ins Spanische),
          %a{href: url('/0000-0003-4401-5530')} Marianna Simões
          %a{href:"https://orcid.org/0000-0003-4401-5530"}
            %i.fab.fa-orcid
            https://orcid.org/0000-0003-4401-5530
          (Übersetzung der Schnittstelle ins Portugiesische) sowie
          = link_to "Patrick Mates", "https://crowdin.com/profile/patmat99"
          (Übersetzung ins Deutsche über Crowdin).
        %p
          .d-block.mb-3
            %a{title: "Crowdin",target: "_blank", href: "https://crowdin.com/project/bionomia"}
              %img{src: "https://badges.crowdin.net/bionomia/localized.svg"}
          Sie möchten auch bei der Übersetzung in andere Sprachen helfen? Besuchen Sie
          = link_to "https://translate.bionomia.net", "https://translate.bionomia.net"
          oder klicken Sie auf das Crowdin-Widget:
        #crowdin-widget{style:"position:relative;min-height:5em;padding-bottom:80px;display:none;"}
          #crowdjet-container{"data-project-id": 462580, style:"position:absolute;top:80px;left:0px;"}
          #crowdjet-expand-container{style:"position:absolute;top:0px;left:0px;"}
