- content_for :title, I18n.t('acknowledgments.acknowledgments_title')
- content_for :scripts do
  %script{src: "//crowdin.com/js/crowdjet/crowdjet.js"}
  :javascript
    $(function() {
      var checkExist = setInterval(function() {
        if ($('#crowdjet-expand-container').children().length > 0) {
          $('#crowdjet-container').css("position", "relative");
          $('#crowdjet-expand-container').css("position", "absolute");
          $('#crowdin-widget').show();
          clearInterval(checkExist);
        }
      }, 1000);
      Application.init();
    });

- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        = I18n.t('acknowledgments.acknowledgments_title')

.row
  .col-12.col-md-6.mb-3
    .card
      .card-header.border-bottom
        %h4.card-title Biological Collections in Ecology and Evolution Network (BCEENET)
      .card-body.mt-3
        %a{href: "https://bceenetwork.org"}
          %img.img-fluid.float-left.mr-3{src:"/images/bceenet_logo.png", alt:"BCEENET", width:"30%"}
        %p.lead.card-text
          Proud to announce that the 
          %a{href: "https://bceenetwork.org"} Biological Collections in Ecology and Evolution Network 
          (BCEENET) has made a contribution to Bionomia operations that helps ensure it will remain vibrant and active for the 2024 calendar year.
        %p.card-text
          BCEENET brings together undergraduate educators, natural history collections professionals, education experts, data experts, and researchers to support the development, implementation, and assessment of Course-based Undergraduate Research Experiences (CUREs) using digitized natural history collections data. BCEENET CUREs increase the accessibility of undergraduate research experiences by using open access data and programs, allowing implementation with student access to only a computer and the internet. This helps expand access to CUREs at all institution types, better reaching historically excluded and underrepresented students in STEM.
        %p.card-text
          See the BCEENET teaching resources on 
          %a{href: "https://qubeshub.org/community/groups/bceenet/teaching_resources"}
            Quantitative Undergraduate Biology Education and Synthesis
          (QUBES).
  .col-12.col-md-6.mb-3
    .card
      .card-header.border-bottom
        %h4.card-title Ebbe Nielsen Challenge
      .card-body.mt-3
        %a{href: "https://www.gbif.org/news/EQgUzZ4YA75BSeLs1naI9/belgian-built-gbif-alert-system-wins-the-2023-ebbe-nielsen-challenge"}
          %img.img-fluid.float-left.mr-3{src:"/images/ebbe_nielsen_2023.png", alt: "Ebbe Nielsen 2023", width:"30%"}
        %p.card-text
          The enhancements made to the automated Frictionless Data packages for datasets was awarded 2nd place in the Global Biodiversity Information Facilitiy's
          %a{href: "https://www.gbif.org/news/EQgUzZ4YA75BSeLs1naI9/belgian-built-gbif-alert-system-wins-the-2023-ebbe-nielsen-challenge"} 2023 Ebbe Nielsen Challenge.
          Thanks to the jury who recognized this work in support of round tripping activities and congratulations to all other winners.

.row
  .col-12.col-md-6.mb-3
    .card
      .card-header.border-bottom
        %h4
          = I18n.t('acknowledgments.taxon_silhouettes')
      .card-body.mt-3
        %p
          Silhouette images of taxonomic Families originate from the amazing
          = link_to "PhyloPic", "http://phylopic.org/"
          developed and maintained by Mike Keesey.
        .text-center
          %a{href: "http://phylopic.org/image/cb9f4a84-068b-4ac4-b0ca-1b6da752817a/"}
            %img.p-2{src:"/images/a79e6610-2a32-4797-8281-02e8640f3b57.128.png", alt:"PhyloPic Silhouette"}
          %a{href: "http://phylopic.org/image/ef34e872-7ba3-4836-bbd3-844351d895c2/"}
            %img.p-2{src:"/images/ef34e872-7ba3-4836-bbd3-844351d895c2.128.png", alt:"PhyloPic Silhouette"}
          %a{href: "http://phylopic.org/image/7ebbf05d-2084-4204-ad4c-2c0d6cbcdde1/"}
            %img.p-2{src:"/images/7ebbf05d-2084-4204-ad4c-2c0d6cbcdde1.128.png", alt:"PhyloPic Silhouette"}
          %a{href: "http://phylopic.org/image/7e3829c6-6587-4df7-a514-29e3f8f2c40d/"}
            %img.p-2{src:"/images/7e3829c6-6587-4df7-a514-29e3f8f2c40d.128.png", alt:"Phylopic Silhouette"}

  .col-12.col-md-6.mb-3
    .card
      .card-header.border-bottom
        %h4
          = I18n.t('acknowledgments.translations')
      .card-body.mt-3
        %p
          Special thanks to
          = link_to "Jennifer C. Girón Duque", url('/0000-0002-0851-6883')
          %a{href:"https://orcid.org/0000-0002-0851-6883"}
            %i.fab.fa-orcid
            https://orcid.org/0000-0002-0851-6883
          who translated the interface and content into Spanish,
          %a{href: url('/0000-0003-4401-5530')} Marianna Simões
          %a{href:"https://orcid.org/0000-0003-4401-5530"}
            %i.fab.fa-orcid
            https://orcid.org/0000-0003-4401-5530
          who translated the interface into Portuguese, and
          = link_to "Patrick Mates", "https://crowdin.com/profile/patmat99"
          into German through Crowdin.
        %p
          .d-block.mb-3
            %a{title: "Crowdin",target: "_blank", href: "https://crowdin.com/project/bionomia"}
              %img{src: "https://badges.crowdin.net/bionomia/localized.svg"}
          Want to help translate into other languages? Visit
          = link_to "https://translate.bionomia.net", "https://translate.bionomia.net"
          or click the Crowdin widget below.
        #crowdin-widget{style:"position:relative;min-height:5em;padding-bottom:80px;display:none;"}
          #crowdjet-container{"data-project-id": 462580, "data-language-code": "es-ES", style:"position:absolute;top:80px;left:0px;"}
          #crowdjet-expand-container{style:"position:absolute;top:0px;left:0px;"}
