- identified = locals[:stats][:specimens][:top_family_identified]
- recorded = locals[:stats][:specimens][:top_family_recorded]

- if identified && recorded
  - statement = "#{I18n.t('card.identified_collected', identified: identified, collected: recorded)}"
- elsif identified
  - statement = "#{I18n.t('card.identified', family: identified)}"
- elsif recorded
  - statement = "#{I18n.t('card.collected', family: recorded)}"
- else
  - statement = nil

.card.card-profile.my-3
  - if locals[:user].image_url
    .card-header.d-flex
      %div
        %img.card-img-profile.mr-2{src:"#{profile_image(locals[:user], 'medium')}", alt:"#{locals[:user].fullname}", width:48, height:48}
      .flex-grow-1
        %h5
          // Do not use url method here because caching breaks language-based subdomains
          %a{href: "/#{locals[:user].identifier}"} #{locals[:user].fullname_reverse}
        - if locals[:user].wikidata
          %p.small.text-muted.mt-0.mb-0= format_lifespan(locals[:user])
        - if locals[:user].country
          %p.small.text-muted.mt-0.mb-0
            - country_codes = locals[:user].country_code.split("|") rescue []
            - countries = locals[:user].country.split("|") rescue []
            - countries.each_with_index do |v,i|
              = succeed (countries[i+1]) ? '; ' : '' do
                - if !country_codes[i].nil? && !country_codes[i].empty?
                  #{country_name(country_codes[i])}
                - else
                  #{v}
      - if locals[:stats][:specimens][:top_family_recorded]
        - image = taxon_image(locals[:stats][:specimens][:top_family_recorded], 'thumbnail')
        - if !image.nil?
          .flex
            %img.mr-2{src:"#{image}", alt:"#{locals[:stats][:specimens][:top_family_recorded]}", style:"width:24px;max-height:64px;opacity:0.5"}
  - else
    .card-header.d-flex
      .flex-grow-1
        %h5
          // Do not use url method here becase caching breaks language-based subdomains
          %a{href: "/#{locals[:user].identifier}"} #{locals[:user].fullname_reverse}
        - if locals[:user].wikidata
          %p.small.text-muted.mt-0.mb-0= format_lifespan(locals[:user])
        - if locals[:user].country
          %p.small.text-muted.mt-0.mb-0
            - country_codes = locals[:user].country_code.split("|") rescue []
            - countries = locals[:user].country.split("|") rescue []
            - countries.each_with_index do |v,i|
              = succeed (countries[i+1]) ? '; ' : '' do
                - if !country_codes[i].nil? && !country_codes[i].empty?
                  #{country_name(country_codes[i])}
                - else
                  #{v}
      - if locals[:stats][:specimens][:top_family_recorded]
        - image = taxon_image(locals[:stats][:specimens][:top_family_recorded], 'thumbnail')
        - if !image.nil?
          .flex
            %img.mr-2{src:"#{image}", alt:"#{locals[:stats][:specimens][:top_family_recorded]}", style:"width:24px;max-height:64px;opacity:0.5"}

  .card-body
    %p.card-text.mt-2 #{statement}
  .card-footer.d-flex
    - if !locals[:user].is_public?
      .small.text-right.text-muted.mr-2
        %i.fas.fa-lock
    .small.text-left.text-muted.mr-2
      %span.badge.badge-light #{number_with_delimiter(locals[:stats][:specimens][:total])}
      #{I18n.t('card.claimed', count: locals[:stats][:specimens][:total])}
