- content_for :scripts do
  %script{src: "/js/jquery.collapser.min.js"}
  :javascript
    $(function() {
      $('.truncate').show().collapser({
        mode: 'lines',
        truncate: 3,
        showText: '[Show more...]',
        hideText: '[Hide]'
      });
    });

.col-12.col-lg-4.text-center.sidebar{itemscope: true, itemtype: "http://schema.org/Person"}
  - if @viewed_user.image_url
    #profile-image.mx-auto.d-block.align-self-center.align-items-center
      %img.rounded.mx-auto.d-block.img-fluid.align-top.m-2{src:"#{profile_image(@viewed_user)}", itemprop:"image", alt:"#{@viewed_user.fullname}"}

  %h1.mt-3.h2{itemprop: "name"} #{@viewed_user.fullname}

  - if !@viewed_user.other_names.blank?
    %p.text-center.text-muted.p-0.mt-1.mb-1.truncate #{@viewed_user.other_names.split("|").join("; ")}

  - if @viewed_user.wikidata
    %p.text-center.text-muted.p-0.mt-1.mb-1= format_lifespan(@viewed_user)

  - if !@viewed_user.keywords.blank?
    %p.text-center.text-muted.font-italic.pt-0.mt-1.mb-1
      #{@viewed_user.keywords.split("|").join(", ")}

  - if @viewed_user.signature_url
    #signature-image.mx-auto.d-block.align-self-center.align-items-center
      %img.mx-auto.d-block.img-fluid{src:"#{signature_image(@viewed_user)}", itemprop:"image", alt:"#{@viewed_user.fullname} signature"}

  - if !@viewed_user.description.nil?
    %p.text-lg-left.p-0.mt-3.mb-1
      #{h(@viewed_user.description.truncate(255))}

  %p.orcid.text-lg-left.p-0.mt-3.mb-1
    - if @viewed_user.orcid
      %a{href: "https://orcid.org/#{@viewed_user.orcid}", itemprop:"sameAs"}
        %i.fab.fa-orcid
        https://orcid.org/#{@viewed_user.orcid}
    - else
      %img{src: "/images/wikidata_18x12.svg", alt:"Wikidata iD"}
      %a{href: "https://www.wikidata.org/wiki/#{@viewed_user.wikidata}", itemprop:"sameAs"}
        https://www.wikidata.org/wiki/#{@viewed_user.wikidata}

  - if !@viewed_user.wiki_sitelinks.nil? && @viewed_user.wiki_sitelinks["#{I18n.locale}wiki"]
    %p.orcid.text-lg-left.p-0.mt-0.mb-1
      - wiki_url = "https://#{I18n.locale}.wikipedia.org/wiki/#{@viewed_user.wiki_sitelinks["#{I18n.locale}wiki"]["title"].gsub(/\s/, "_")}"
      %a{href: "#{wiki_url}", "data-toggle": "modal", "data-target": "#wiki_content" }
        %i.fab.fa-wikipedia-w
        #{wiki_url}
      #wiki_content.modal.fade
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable.modal-xl{style: "height:100%"}
          .modal-content{style: "height:90%"}
            .modal-header
              %h5.modal-title #{@viewed_user.wiki_sitelinks["#{I18n.locale}wiki"]["title"]}
              %button.close{type: "button", "data-dismiss": "modal", "aria-label": "#{I18n.t('help.close')}"}
                %span{"aria-hidden": true} &times;
            .modal-body{style: "height:100%;"}
              %iframe{src: "#{wiki_url}", frameborder: 0, width: "100%", height: "100%"}
            .modal-footer
              %button.btn.btn-secondary{type: "button", "data-dismiss": "modal"}= I18n.t('help.close')

  - if !@viewed_user.current_organization.nil?
    %p.text-lg-left.p-0.mt-1.mb-1
      - path = @viewed_user.current_organization.identifier
      %i.fas.fa-building
      - if @viewed_user.current_organization.address
        = succeed "," do
          = link_to @viewed_user.current_organization.name, url("/organization/#{path}")
      - else
        = link_to @viewed_user.current_organization.name, url("/organization/#{path}")
      #{@viewed_user.current_organization.address}

  - if !@viewed_user.country.blank?
    %p.text-lg-left.p-0.mt-1.mb-1
      - country_codes = @viewed_user.country_code.split("|") rescue []
      - countries = @viewed_user.country.split("|") rescue []
      - countries.each_with_index do |v,i|
        %span.mr-1.text-nowrap
          - if !country_codes[i].nil? && !country_codes[i].empty?
            %i.fas.fa-globe
            = link_to country_name(country_codes[i]), url("/country/#{country_codes[i]}")
          - else
            %i.fas.fa-globe
            #{v}

  - if @viewed_user.zenodo_doi
    %p.citation.text-lg-left.mt-3.small
      #{@viewed_user.fullname_reverse}. #{DateTime.now.year}. Natural history specimens collected and/or identified and deposited. [Data set]. Zenodo.
      = link_to "https://doi.org/#{@viewed_user.zenodo_concept_doi}", "https://doi.org/#{@viewed_user.zenodo_concept_doi}"
    %p
      %a{href:"https://doi.org/#{@viewed_user.zenodo_concept_doi}"}
        %img{src:"/images/#{@viewed_user.zenodo_concept_doi}.svg", alt:"DOI badge"}

  - if @viewed_user.youtube_id
    = haml :'youtube', layout: false, locals: { youtube_id: @viewed_user.youtube_id }

  - if authorized?
    .mt-3.pt-3.border-top
      - if @user.identifier != @viewed_user.identifier
        %a.mr-2.mb-2.text-nowrap{href: url("/help-others/#{@viewed_user.identifier}")}
          %i.fas.fa-hands-helping
          = I18n.t('general.help_attribute')
      - else
        %a.mr-2.mb-2.text-nowrap{href: url("/profile")}
          %i.fas.fa-user
          = I18n.t('home.your_profile')

      - if locals[:active_page] == "overview"
        %a.profile-flush.mr-2.mb-2.text-nowrap{href: url("/#{@viewed_user.identifier}/refresh-stats.json")}
          %i.fas.fa-sync-alt
          = I18n.t('general.refresh_stats')

        %a.profile-flush.mr-2.mb-2.text-nowrap{href: url("/#{@viewed_user.identifier}/refresh.json")}
          %i.fas.fa-sync-alt
          = I18n.t('general.refresh_profile')
          - if @viewed_user.orcid
            %i.fab.fa-orcid
          - else
            %img{src: "/images/wikidata_18x12.svg", alt:"Wikidata iD", width:"18px"}

      - if admin_authorized?
        %a.mb-2.text-nowrap{href: url("/admin/user/#{@viewed_user.identifier}/settings")}
          %i.fas.fa-cog
          = I18n.t('general.settings')

    #flush-message.alert.alert-success.alert-dismissible.fade.show.text-center{role: "alert"}
      = I18n.t("user.caches_rebuilt")
      %button.close{type:"button", "data-dismiss":"alert", "aria-label":"Close"}
        %span{"aria-hidden":"true"} &times;
