%nav{id:"network-nav", class:"navbar navbar-light navbar-expand bg-light overflow-auto"}
  %ul{class:"navbar-nav"}
    %li{class:"nav-item"}
      %a{class:"nav-link#{locals[:active_tab] == "co_collectors" ? " active" : nil}", href:"/#{@viewed_user.identifier}/co-collectors"}= I18n.t('user.co_collectors')
    %li{class:"nav-item"}
      %a{class:"nav-link#{locals[:active_tab] == "identified_for" ? " active" : nil}", href:"/#{@viewed_user.identifier}/identified-for"}= I18n.t('user.identified_for')
    %li{class:"nav-item"}
      %a{class:"nav-link#{locals[:active_tab] == "identifications_by" ? " active" : nil}", href:"/#{@viewed_user.identifier}/identifications-by"}= I18n.t('user.identifications_by')
