.p-2
  %form#form-helper-wrapper.form-inline.helpers{method: :get, action: "/roster", "accept-charset": "UTF-8"}
    .form-group.w-65.w-md-75
      - username = @viewed_user ? @viewed_user.fullname : "Mary Smith"
      %input#typeahead-user.typeahead.help-search{type: :text, name: "q", placeholder: "#{username}", value: "#{h(params[:q])}", size:"25", autocomplete:"off"}
    .btn-group
      %input.btn.btn-success.medium-margins.mr-0{type: :submit, value:"#{I18n.t('general.search')}"}
      %button.btn.btn-success.dropdown-toggle.dropdown-toggle-split{type: :button, "data-toggle": :dropdown}
        %span.sr-only Toggle Dropdown
      .dropdown-menu
        .form-check.justify-content-start.ml-2
          - if params[:is_public]
            %input#is_public.form-check-input{type: :checkbox, name: "is_public", checked: true}
          - else
            %input#is_public.form-check-input{type: :checkbox, name: "is_public"}
          %label.form-check-label{for: "is_public"}= I18n.t('general.is_public')
        .form-check.justify-content-start.ml-2
          - if params[:has_occurrences]
            %input#has_occurrences.form-check-input{type: :checkbox, name: "has_occurrences", checked: true}
          - else
            %input#has_occurrences.form-check-input{type: :checkbox, name: "has_occurrences"}
          %label.form-check-label{for: "has_occurrences"}= I18n.t('general.has_occurrences')

%script#result-template{type:"text/x-handlebars-template"}
  .d-flex
    %div
      %img{class:"rounded", src:"{{thumbnail}}", width:24, height:24}
    .ml-2.flex-grow-1.small
      %h5.m-0.p-0 {{fullname_reverse}}
      .m-0.p-0.small.muted{style:"line-height:1.2rem"} {{{lifespan}}}
      .m-0.p-0.small{style:"line-height:1.2rem"} {{{description}}}

%script#empty-template{type:"text/x-handlebars-template"}
  .m-2.tt-no-result= I18n.t('general.search_dropdown_no_users')
