.card{"data-identifier": "#{locals[:user].identifier}"}
  - if locals[:user].image_url
    .card-header.d-flex
      %div
        %img.card-img-profile.mr-2{src:"#{profile_image(locals[:user], 'medium')}", alt:"#{locals[:user].fullname}", width:48, height:48}
      .flex-grow-1
        %h5.text-nowrap
          #{locals[:user].fullname_reverse}
        - if locals[:user].wikidata
          %p.text-muted.mt-0.mb-0.text-nowrap= format_lifespan(locals[:user])
        - if locals[:user].country
          %p.text-muted.mt-0.mb-0
            - country_codes = locals[:user].country_code.split("|") rescue []
            - countries = locals[:user].country.split("|") rescue []
            - countries.each_with_index do |v,i|
              = succeed (countries[i+1]) ? '; ' : '' do
                - if !country_codes[i].nil? && !country_codes[i].empty?
                  #{country_name(country_codes[i])}
                - else
                  #{v}
  - else
    .card-header
      %h5.text-nowrap
        #{locals[:user].fullname_reverse}
      - if locals[:user].wikidata
        %p.text-muted.mt-0.mb-0.text-nowrap= format_lifespan(locals[:user])
      - if locals[:user].country
        %p.text-muted.mt-0.mb-0
          - country_codes = locals[:user].country_code.split("|") rescue []
          - countries = locals[:user].country.split("|") rescue []
          - countries.each_with_index do |v,i|
            = succeed (countries[i+1]) ? '; ' : '' do
              - if !country_codes[i].nil? && !country_codes[i].empty?
                #{country_name(country_codes[i])}
              - else
                #{v}

  .card-body
    %p.card-text.mt-2.text-nowrap.range
  .card-footer.d-flex
    - if !locals[:user].is_public?
      .text-right.text-muted.mr-2
        %i.fas.fa-lock
    .text-left.text-muted.text-nowrap.mr-2
