%div{class: "card"}
  - if locals[:user].image_url
    %div{class: "card-header d-flex"}
      %div
        %img{src:"#{profile_image(locals[:user], 'medium')}", alt:"#{locals[:user].fullname}", class:"card-img-profile mr-2", width:48, height:48}
      %div{class:"flex-grow-1"}
        %h5{class:"text-nowrap"}
          #{locals[:user].fullname_reverse}
        - if locals[:user].wikidata
          %p{class:"text-muted mt-0 mb-0 text-nowrap"}= format_lifespan(locals[:user])
        - if locals[:user].country
          %p{class:"small text-muted mt-0 mb-0"}
            - country_codes = locals[:user].country_code.split("|") rescue []
            - countries = locals[:user].country.split("|") rescue []
            - countries.each_with_index do |v,i|
              = succeed (countries[i+1]) ? '; ' : '' do
                - if !country_codes[i].nil? && !country_codes[i].empty?
                  #{country_name(country_codes[i])}
                - else
                  #{v}
  - else
    %div{class: "card-header"}
      %h5{class:"text-nowrap"}
        #{locals[:user].fullname_reverse}
      - if locals[:user].wikidata
        %p{class:"text-muted mt-0 mb-0 text-nowrap"}= format_lifespan(locals[:user])
      - if locals[:user].country
        %p{class:"small text-muted mt-0 mb-0"}
          - country_codes = locals[:user].country_code.split("|") rescue []
          - countries = locals[:user].country.split("|") rescue []
          - countries.each_with_index do |v,i|
            = succeed (countries[i+1]) ? '; ' : '' do
              - if !country_codes[i].nil? && !country_codes[i].empty?
                #{country_name(country_codes[i])}
              - else
                #{v}

  %div{class: "card-body"}
    - range = (locals[:stats].min_eventDate.year == locals[:stats].max_eventDate.year) ? locals[:stats].min_eventDate.year : locals[:stats].min_eventDate.year.to_s + " – " + locals[:stats].max_eventDate.year.to_s
    %p{class:"card-text mt-2 text-nowrap"} #{range}
