- content_for :title, I18n.t('article.article_title')
- content_for :scripts do
  %script{src: "https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"}
  :javascript
    $(function() {
      Application.init(#{@user.id}, "POST", "/admin");
    });

-content_for :jumbotron do
  .jumbotron.jumbotron-fluid.alert-warning
    %h1.h2= I18n.t('article.article_title')

- if flash[:updated]
  .alert.alert-success.alert-dismissible.fade.show.d-block{role: "alert"}
    %div
      Article metadata was updated.
    %button.close{type:"button", "data-dismiss":"alert", "aria-label":"Close"}
      %span{"aria-hidden":"true"} &times;

%form.helpers#form-org-wrapper{method: "POST", action: "/admin/article/#{@article.id}", "accept-charset": "UTF-8"}

  .card
    .card-header
      %p.citation.card-title #{h(@article.citation)}
    .card-body
      %dl.row
        %dt.col-sm-2 Created:
        %dd.col-sm-10 #{@article.created}
        %dt.col-sm-2 Processed:
        %dd.col-sm-10
          - if @article.processed
            %span.text-success #{@article.processed}
          - elsif !@article.processed && @article.process_status == 1
            %span.text-warning Processing...
          - else
            .form-check
              %input.form-check-input#processed{type: "checkbox", name: "processed"}
              %label.form-check-label{for: "processed"} Flag as processed
            .mt-2
              %a.btn.btn-sm.btn-outline-success.article-process{href: url("/admin/article/#{@article.id}/process.json"), role:"button"}
                %i.fas.fa-sync-alt
                Process

            .alert.alert-article-process.alert-success.alert-dismissible.fade.show.text-center{role: "alert"}
              Article data are being downloaded and processed.
              %button.close{type:"button", "data-dismiss":"alert", "aria-label":"Close"}
                %span{"aria-hidden":"true"} &times;

        %dt.col-sm-2 DOI:
        %dd.col-sm-10
          %a{href: "https://doi.org/#{@article.doi}"} #{@article.doi}
        %dt.col-sm-2 Abstract:
        %dd.col-sm-10.text-muted #{h(@article.abstract)}
        %dt.col-sm-2 Specimens used:
        %dd.col-sm-10
          %span.badge.badge-light.badge-pill.citation-correction #{number_with_delimiter(@article.article_occurrences.count)}
        %dt.col-sm-2 Specimens claimed:
        %dd.col-sm-10
          %span.badge.badge-light.badge-pill.citation-correction #{number_with_delimiter(@article.claimed_specimen_count)}
        %dt.col-sm-2 Claimants:
        %dd.col-sm-10
          - @article.claimants.sort_by{|u| u.orcid || u.wikidata }.each do |u|
            %span.mr-2
              - if u.orcid
                %a{href: url("/#{u.identifier}")}
                  %i.fab.fa-orcid
                  #{u.fullname}
              - else
                %img{src: "/images/wikidata_16x10.svg", alt:"Wikidata iD"}
                  %a{href: url("/#{u.identifier}")}
                    #{u.fullname}

        %dt.col-sm-2 All data in study:
        %dd.col-sm-10
          - @article.gbif_dois.each do |doi|
            %a.badge.badge-light.citation-correction{href: "https://doi.org/#{doi}"} #{doi}

      .altmetric-embed.mb-4{"data-badge-popover":"right", "data-badge-type":"donut", "data-doi":"#{@article.doi}", "data-hide-no-mentions":"true", style:"width:64px; height:64px"}

      %button.btn.btn-success{type:"submit"} Update
      %button.btn.btn-danger{type: "button", "data-toggle": "modal", "data-target": "#deleteModal"} Delete
      %input{type: :hidden, name:"authenticity_token", value:"#{env['rack.session'][:csrf]}"}

#deleteModal.modal.fade{tabindex:"-1", role:"dialog", "aria-labelledby":"deleteModal", "aria-hidden":"true"}
  .modal-dialog{role:"document"}
    .modal-content
      .modal-header
        %h5.modal-title{id:"deleteLabel"} Delete Article
        %button.close{type:"button", "data-dismiss":"modal", "aria-label":"Close"}
          %span{"aria-hidden":"true"} &times;
      .modal-body
        Are you sure you want to delete this article?
      .modal-footer
        %form{action: "/admin/article/#{@article.id}", method: :post}
          %button.btn.btn-sm.btn-outline-secondary{type:"button", "data-dismiss":"modal"} Cancel
          %input{type: :hidden, name: "_method", value: 'DELETE'}
          %input{type: :hidden, name:"authenticity_token", value:"#{env['rack.session'][:csrf]}"}
          %input.btn.btn-sm.btn-outline-danger{type: :submit, value:"Delete"}
