- content_for :title do
  #{@admin_user.fullname} Candidate Specimens

- content_for :scripts do
  %script{src:"/js/application.js"}
  %script{src:"/js/profile.js"}
  :javascript
    $(function() {
      var BULK_ERROR_MESSAGE = "#{locals[:bulk_error]}";
      Application.init(#{@admin_user.id}, "POST", "/admin", "#{@admin_user.identifier}");
      Profile.init("/admin/user/#{@admin_user.identifier}");
      if (BULK_ERROR_MESSAGE) {
        $("#bot_claims").modal("show");
      }
    });

- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.alert-warning
    .row
      .col-12.col-lg-4.alert-warning.mb-2
        %h1.h3= @admin_user.fullname
      .col-12.col-lg-8.mt-2
        = haml :'partials/admin/user_tabs', layout: false, locals: { active_page: "specimens" }
        = haml :'partials/admin/subtabs_specimens', layout: false, locals: { active_tab: "candidates"}

  - if @agent
    = haml :'partials/admin/bot_claim_modal', layout: false, locals: { user: @admin_user, agent: @agent, bulk_error: "#{locals[:bulk_error]}" }

= haml :'partials/advanced_search_filter', layout: false, locals: { url: "/admin/user/#{@admin_user.identifier}/candidates" }

- if @results.size == 0
  .alert.alert-info.row.tiny-margins{role:"alert"}
    .col.col-12.col-md-8.p-0
      Bionomia did not find any specimens indexed by
      %a{href:"https://gbif.org"} GBIF
      that were collected or identified

      .form-check.d-inline-flex
        - checked = params[:relaxed] == "1" ? "checked" : nil
        %input.form-check-input#relaxed{type:"checkbox", checked: checked }
        %label.relaxed{for:"relaxed"} Make less exact
    .col.col-12.col-md-4.p-0.text-md-right
      %a{href: url("/admin/user/#{@admin_user.identifier}/advanced-search")}
        %i.fas.fa-search-plus
        Advanced Search & Filter
- else
  = haml :'partials/admin/fixed_navbar', layout: false
  #helper-info.alert.alert-info.row.candidates-alert.tiny-margins{role: "alert"}
    .col.col-12.col-md-8.p-0
      Bionomia found #{number_with_delimiter(@total, delimeter: ",")} specimens.
      - if @agent
        Attribute with the
        = succeed "." do
          %a{href: "#", "data-toggle":"modal", "data-target":"#bot_claims"} Bionomia Bot
      Choose
      %img{src:"/images/net-unselected.png", alt:"Collected", title:"Collected", width:18}
      collected,
      %img{src:"/images/microscope-unselected.png", alt:"Collected", title:"Collected", width:18}
      identified, or Both.
      - if !@dataset && !@agent && !@taxon
        .form-check.d-inline-flex
          - checked = params[:relaxed] == "1" ? "checked" : nil
          %input.form-check-input#relaxed{type:"checkbox", checked: checked }
          %label.relaxed{for:"relaxed"} Make less exact

    .col.col-12.col-md-4.p-0.text-md-right
      %a{href: url("/admin/user/#{@admin_user.identifier}/advanced-search")}
        %i.fas.fa-search-plus
        Advanced Search & Filter

  = haml :'partials/tables/candidates', layout: false, locals: { user_scope: "other" }
