-content_for :title do
  #{@admin_user.fullname} Citations

-content_for :scripts do
  %script{src: "https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"}
  %script{src:"/js/application.js"}
  %script{src:"/js/profile.js"}
  :javascript
    $(function() {
      Application.init(#{@admin_user.id}, "PUT", "/admin", "#{@admin_user.identifier}");
      Profile.init("/admin/user/#{@admin_user.identifier}");
    });

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid alert-warning"}
    %div{class:"row"}
      %div{class:"col-12 col-lg-4 alert-warning mb-2"}
        %h1{class:"h3"}= @admin_user.fullname
      %div{class:"col-12 col-lg-8 mt-2"}
        = haml :'partials/admin/user_tabs', layout: false, locals: { active_page: "citations" }

- if @pagy.count == 0
  %div{class: "alert alert-info tiny-margins", role: "alert"}
    Publications that made use of #{@admin_user.fullname}'s specimen data have not yet been recorded by
    %a{href:"https://gbif.org"} GBIF
- else
  = haml :'partials/admin/fixed_navbar', layout: false
  %div{id: "helper-info", class: "alert alert-info tiny-margins", role: "alert"}
    At least #{number_with_delimiter(@total)} #{'publication'.pluralize(@total)} used specimen records within downloads recorded by
    %a{href:"https://gbif.org"} GBIF

  %div{class:"citation-wrapper"}
    %h4 Specimen Data Used in Published Research
    - @results.each do |article|
      %div{class: "card"}
        %div{class: "card-header"}
          %p{class: "citation card-title"}
            #{h(article.citation)}
            %a{href: "https://doi.org/#{article.doi}"} https://doi.org/#{article.doi}
        %div{class: "card-body"}
          %div{"data-badge-popover":"right", "data-badge-type":"donut", "data-doi":"#{article.doi}", "data-hide-no-mentions":"true", class:"altmetric-embed pull-left mr-2 float-left"}
          %p{class:"card-text text-muted"} #{h(article.abstract)}
        %div{class: "card-footer d-flex"}
          %div{class:"mr-2", style:"min-width:5rem;"}
            %div{class: "small"}
              %span{class: "badge badge-light badge-pill citation-correction"} #{number_with_delimiter(article.user_specimen_count(@admin_user.id))}
              %a{href: "/admin/user/#{@admin_user.identifier}/citation/#{article.id}", class:"ml-1"} View
          %div
            - article.gbif_dois.each do |doi|
              %a{href: "https://doi.org/#{doi}", class: "badge badge-light citation-correction"} #{doi}

    = pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
