- content_for :title do
  #{@admin_user.viewname} Ignored Specimens
- content_for :scripts do
  %script{src:"/js/profile.js"}
  :javascript
    $(function() {
      Application.init(#{@admin_user.id}, "PUT", "/admin", "#{@admin_user.identifier}");
      Profile.init("/admin/user/#{@admin_user.identifier}");
    });
- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.alert-warning
    .row
      .col-12.col-lg-4.alert-warning.mb-2
        %h1.h3= @admin_user.viewname
      .col-12.col-lg-8.mt-2
        = haml :'partials/admin/user_tabs', layout: false, locals: { active_page: "specimens" }
        = haml :'partials/admin/subtabs_specimens', layout: false, locals: { active_tab: "ignored"}

- if @pagy.count == 0
  .alert.alert-info.tiny-margins{role: "alert"}
    Specimens have not been ignored.

- else
  = haml :'partials/admin/fixed_navbar', layout: false
  #helper-info.alert.alert-info.tiny-margins{role: "alert"}
    Choose
    %img{src:"/images/net-unselected.png", alt:"Collected", title:"Collected", width:18}
    collected,
    %img{src:"/images/microscope-unselected.png", alt:"Collected", title:"Collected", width:18}
    identified, or Both to claim specimens mistakenly marked as "Not me"

  = haml :'partials/tables/ignored', layout: false
