-content_for :title do
  Thanks Received for #{@admin_user.fullname}

-content_for :scripts do
  %script{src:"/js/application.js"}
  %script{src:"/js/profile.js"}
  :javascript
    $(function() {
        Application.init(#{@admin_user.id}, "PUT", "/admin", "#{@admin_user.identifier}");
        Profile.init("/admin/user/#{@admin_user.identifier}");
    });

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid alert-warning"}
    %div{class:"row"}
      %div{class:"col-12 col-lg-4 alert-warning mb-2"}
        %h1{class:"h3"}= @admin_user.fullname
      %div{class:"col-12 col-lg-8 mt-2"}
        = haml :'partials/admin/user_tabs', layout: false, locals: { active_page: "helped" }
        = haml :'partials/admin/subtabs_helped', layout: false, locals: { active_tab: "messages"}

- if @pagy.count == 0
  %div{class: "alert alert-info tiny-margins", role: "alert"}
    Other people have not yet sent their thanks for helping to attribute their specimen records.

- else
  = haml :'partials/admin/fixed_navbar', layout: false
  %div{id: "helper-info", class: "alert alert-info row tiny-margins", role: "alert"}
    Binomia scribes have sent their appreciation.

  - @results.in_groups_of(3).each do |group|
    %div{class: "card-deck"}
      - group.each do |m|
        - if m.nil?
          %div{class:"card border-0"}
        - else
          - u = User.find(m[:user_id])
          %div{class: "card card-profile my-3"}
            - if u.image_url
              %div{class: "card-header d-flex"}
                %div
                  %img{src:"#{profile_image(u, 'medium')}", alt:"#{u.fullname}", class:"card-img-profile mr-2"}
                %div{class:"flex-grow-1"}
                  %h5
                    %a{href: "/#{u.identifier}"} #{u.fullname_reverse}
                  - if u.wikidata
                    %p{class:"small text-muted mt-0 mb-0"}= format_lifespan(u)
                  - if u.country
                    %p{class:"small text-muted mt-0 mb-0"} #{u.country.split("|").join("; ")}
            - else
              %div{class: "card-header"}
                %h5
                  %a{href: "/#{u.identifier}"} #{u.fullname_reverse}
                - if u.wikidata
                  %p{class:"small text-muted mt-0 mb-0"}= format_lifespan(u)
                - if u.country
                  %p{class:"small text-muted mt-0 mb-0"} #{u.country.split("|").join("; ")}

            %div{class: "card-body"}

            %div{class: "card-footer d-flex"}
              - if !u.is_public?
                %div{class: "small text-right text-muted mr-2"}
                  %i{class:"fas fa-lock"}
              %div{class: "small text-left text-muted mr-2"}
                %span{class:"badge badge-light"}
                  #{u.messages_by_recipient(m[:recipient_id]).count}
                %span{class:"text-danger"}
                  %i{class:"fas fa-heart"}
              %div{class:"small ml-auto text-muted"}
                Latest at #{m[:latest]}

  = pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
