-content_for :title do
  Organizations

-content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init("", "POST", "/admin");
    });

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid alert-warning d-flex flex-wrap"}
    %div{class:"mr-auto"}
      %h1{class:"h2"} Organizations
    = haml :'partials/admin/organization_search', layout: false

- if flash[:destroyed]
  %div{class:"alert alert-danger alert-dismissible fade show d-block", role: "alert"}
    %div
      #{flash[:destroyed].truncate(25)} was destroyed.
    %button{type:"button", class:"close", "data-dismiss":"alert", "aria-label":"Close"}
      %span{"aria-hidden":"true"} &times;

- sort = locals[:sort] == "asc" ? "desc" : "asc"
%div{class:"table-responsive-lg"}
  %table{class:"table table-hover table-sm"}
    %thead{class: "thead-light"}
      %tr
        %th{scope: "col"}
          %a{href: "/admin/organizations?order=name&sort=#{sort}"} Name
        %th{scope: "col"} Address
        %th{scope: "col"}
          %a{href: "/admin/organizations?order=isni&sort=#{sort}"} ISNI
        %th{scope: "col"}
          %a{href: "/admin/organizations?order=ringgold&sort=#{sort}"} Ringgold
        %th{scope: "col"}
          %a{href: "/admin/organizations?order=grid&sort=#{sort}"} GRID
        %th{scope: "col"}
          %a{href: "/admin/organizations?order=wikidata&sort=#{sort}"} Wikidata

    %tbody
      - @results.each do |o|
        %tr
          %td
            %a{href: "/admin/organization/#{o.id}"} #{o.name}
          %td #{o.address}
          %td
            - if !o.isni.blank?
              %a{href:"http://www.isni.org/isni/#{o.isni}"} #{o.isni}
          %td #{o.ringgold}
          %td
            - if !o.grid.blank?
              %a{href: "https://www.grid.ac/institutes/#{o.grid}"} #{o.grid}
          %td
            - if !o.wikidata.blank?
              %a{href: "https://www.wikidata.org/wiki/#{o.wikidata}"} #{o.wikidata}


= pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
