- content_for :title do
  #{@organization.name}
- content_for :scripts do
  %script{src:"/js/application.js"}
  :javascript
    $(function() {
      Application.init(#{@user.id}, "POST", "/admin");
    });
- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.alert-warning
    %h1.h2 #{@organization.name}

%p.text-right
  %a{href: "https://ror.org/search?query=#{Addressable::URI.encode(@organization.name)}", target: "_blank"}
    Search
  for organization on ROR
  %br
  %a{href: "https://www.wikidata.org/w/index.php?search=#{Addressable::URI.encode(@organization.name)}", target: "_blank"}
    Search
  for organization on Wikidata

- if flash[:updated]
  .alert.alert-success.alert-dismissible.fade.show.d-block{role: "alert"}
    %div
      Organization metadata was updated.
    %button.close{type:"button", "data-dismiss":"alert", "aria-label":"Close"}
      %span{"aria-hidden":"true"} &times;

%form.helpers#form-org-wrapper{method: "POST", action: "/admin/organization/#{@organization.id}", "accept-charset": "UTF-8"}

  .form-group
    %label{for:"name"} Name
    %input.form-control#name{type:"text", value:"#{@organization.name}", name:"name"}
  .form-group
    %label{for:"name"} Address
    %input.form-control#address{type:"text", value:"#{@organization.address}", name:"address"}
  .form-group
    %label{for:"isni"} ISNI
    %input.form-control#isni{type:"text", value:"#{@organization.isni}", name:"isni"}
    - if !@organization.isni.blank?
      %small.form-text.text-muted#isni-link
        View known
        %a{href: "http://www.isni.org/isni/#{@organization.isni.gsub(/[[:space:]]+/, "")}", target:"_blank"} ISNI
  .form-group
    %label{for:"ror"} ROR
    %input.form-control#ror{type:"text", value:"#{@organization.ror}", name:"ror"}
    - if !@organization.ror.blank?
      %small.form-text.text-muted#ror-link
        View known
        %a{href: "https://ror.org/#{@organization.ror}", target:"_blank"} ROR
  .form-group
    %label{for:"ringgold"} Ringgold
    %input.form-control#ringgold{type:"text", value:"#{@organization.ringgold}", name:"ringgold"}
  .form-group
    %label{for:"ringgold"} GRID
    %input.form-control#ringgold{type:"text", value:"#{@organization.grid}", name:"grid"}
    - if !@organization.grid.blank?
      %small.form-text-text-muted#ringgold-link
        View known
        %a{href: "https://www.grid.ac/institutes/#{@organization.grid}", target:"_blank"} GRID
  .form-group
    %label{for:"wikidata"} Wikidata
    %input.form-control#wikidata{type:"text", value:"#{@organization.wikidata}", name:"wikidata"}
    - if !@organization.wikidata.blank?
      %small.form-text.text-muted#ringgold-link
        %a{href: "https://www.wikidata.org/wiki/#{@organization.wikidata}"}
          %img{src: "/images/wikidata_24x24.png", alt:"Wikidata iD"}
        %a{href: "https://www.wikidata.org/wiki/#{@organization.wikidata}", target:"_blank"} https://www.wikidata.org/wiki/#{@organization.wikidata}
      %a.btn.btn-sm.btn-outline-success.organization-refresh{href: url("/admin/organization/#{@organization.id}/refresh.json"), role:"button"}
        %i.fas.fa-sync-alt
        Refresh
        %img{src: "/images/wikidata_24x24.png", alt:"Wikidata iD", width:"18px"}

      .alert.alert-success.alert-dismissible.fade.show.text-center{role: "alert"}
        Data from Wikidata was refreshed.
        %button.close{type:"button", "data-dismiss":"alert", "aria-label":"Close"}
          %span{"aria-hidden":"true"} &times;
  .form-group
    %label{for:"institution_codes"} Institution Codes
    %textarea.form-control#institution_codes{type:"text", name:"institution_codes"}= "#{@organization.institution_codes.join("|")}"
    %small.form-text.text-muted
      Use pipe-separated values.
  %button.btn.btn-success{type: "submit"} Submit
  %button.btn.btn-danger{type: "button", "data-toggle": "modal", "data-target": "#deleteModal"} Delete
  %input{type: :hidden, name:"authenticity_token", value:"#{env['rack.session'][:csrf]}"}

.modal.fade#deleteModal{tabindex:"-1", role:"dialog", "aria-labelledby":"deleteModal", "aria-hidden":"true"}
  .modal-dialog{role:"document"}
    .modal-content
      .modal-header
        %h5.modal-title#deleteLabel Delete Account
        %button{type:"button", class:"close", "data-dismiss":"modal", "aria-label":"Close"}
          %span{"aria-hidden":"true"} &times;
      .modal-body
        Are you sure you want to delete this organization? Any links to users will be orphaned.
      .modal-footer
        %form{action: "/admin/organization/#{@organization.id}", method: :post}
          %button.btn.btn-sm.btn-outline-secondary{type:"button", "data-dismiss":"modal"} Cancel
          %input{type: :hidden, name: "_method", value: "DELETE"}
          %input{type: :hidden, name:"authenticity_token", value:"#{env['rack.session'][:csrf]}"}
          %input.btn.btn-sm.btn-outline-danger{type: :submit, value:"Delete"}
