- content_for :title do
  Organizations
- content_for :scripts do
  :javascript
    $(function() {
      Application.init("", "POST", "/admin");
    });
- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.alert-warning.d-flex.flex-wrap
    .mr-auto
      %h1.h2 Organizations
    = haml :'partials/admin/organization_search', layout: false

%p.text-right
  %a{href: url("/admin/organizations/duplicates")}
    View
  candidate duplicates.

- if flash[:destroyed]
  .alert.alert-danger.alert-dismissible.fade.show.d-block{role: "alert"}
    %div
      #{flash[:destroyed].truncate(25)} was destroyed.
    %button.close{type:"button", "data-dismiss":"alert", "aria-label":"Close"}
      %span{"aria-hidden":"true"} &times;

- if flash[:error] || flash[:success]
  - alert_type = flash[:error] ? "danger" : "success"
  .alert.alert-dismissible.fade.show.d-block{role: "alert", class:"alert-#{alert_type}"}
    %div
      #{flash[:error] || flash[:success]}
    %button.close{type:"button", "data-dismiss":"alert", "aria-label":"Close"}
      %span{"aria-hidden":"true"} &times;

%form{method: :post, action: url("/admin/organizations/merge")}
  %input{type: :hidden, name: "_method", value: 'PUT'}
  %input{type: :hidden, name: "authenticity_token", value:"#{env['rack.session'][:csrf]}"}

  - sort = locals[:sort] == "asc" ? "desc" : "asc"
  .table-responsive-lg
    %table.table.table-hover.table-sm
      %thead.thead-light
        %tr
          %th.text-center{scope: "col"}
            %input.btn.btn-sm.btn-danger{value: "Merge", style:"width:60px", type: :submit}
          %th{scope: "col"}
            %a{href: url("/admin/organizations?order=name&sort=#{sort}")} Name
          %th{scope: "col"} Affiliates
          %th{scope: "col"} Address
          %th{scope: "col"}
            %a{href: url("/admin/organizations?order=isni&sort=#{sort}")} ISNI
          %th{scope: "col"}
            %a{href: url("/admin/organizations?order=ror&sort=#{sort}")} ROR
          %th{scope: "col"}
            %a{href: url("/admin/organizations?order=ringgold&sort=#{sort}")} Ringgold
          %th{scope: "col"}
            %a{href: url("/admin/organizations?order=grid&sort=#{sort}")} GRID
          %th{scope: "col"}
            %a{href: url("/admin/organizations?order=wikidata&sort=#{sort}")} Wikidata

      %tbody
        - @results.each do |o|
          %tr
            %td.text-center
              .form-group.form-check
                %input.form-check-input{type: "checkbox", name: "merge-#{o.id}"}
            %td
              %a{href: url("/admin/organization/#{o.id}")} #{o.name}
            %td #{o.user_organizations.count}
            %td #{o.address}
            %td
              - if !o.isni.blank?
                %a{href:"http://www.isni.org/isni/#{o.isni.delete(' ')}"} #{o.isni}
            %td
              - if !o.ror.blank?
                %a{href:"https://ror.org/#{o.ror}"} #{o.ror}
            %td #{o.ringgold}
            %td
              - if !o.grid.blank?
                %a{href: "https://www.grid.ac/institutes/#{o.grid}"} #{o.grid}
            %td
              - if !o.wikidata.blank?
                %a{href: "https://www.wikidata.org/wiki/#{o.wikidata}"} #{o.wikidata}

= pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
