- content_for :title do
  Organizations
- content_for :scripts do
  :javascript
    $(function() {
      Application.init(#{@user.id}, "POST", "/admin");
    });
- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.alert-warning.d-flex.flex-wrap
    .mr-auto
      %h1.h2 Organizations
    = haml :'partials/admin/organization_search', layout: false

- if @results.size == 0
  .alert.alert-warning.tiny-margins{role: "alert"}
    No organizations found.
- else
  %form{method: :post, action: url("/admin/organizations/merge")}
    %input{type: :hidden, name: "_method", value: 'PUT'}
    %input{type: :hidden, name: "authenticity_token", value:"#{env['rack.session'][:csrf]}"}

    .table-responsive-lg
      %table.table.table-hover.table-sm
        %thead.thead-light
          %tr
            %th.text-center{scope: "col"}
              %input.btn.btn-sm.btn-danger{value: "Merge", style:"width:60px", type: :submit}
            %th{scope: "col"} Name
            %th{scope: "col"} Affiliates
            %th{scope: "col"} Address
            %th{scope: "col"} ISNI
            %th{scope: "col"} ROR
            %th{scope: "col"} Ringgold
            %th{scope: "col"} GRID
            %th{scope: "col"} Wikidata

        %tbody
          - @results.each do |o|
            - o = Organization.find(o[:_id].to_i)
            %tr
              %td.text-center
                .form-group.form-check
                  %input.form-check-input{type: "checkbox", name: "merge-#{o.id}"}
              %td
                %a{href: url("/admin/organization/#{o.id}")} #{o.name}
              %td #{o.user_organizations.count}
              %td #{o.address}
              %td
                - if !o.isni.blank?
                  %a{href:"http://www.isni.org/isni/#{o.isni.delete(' ')}"} #{o.isni}
              %td
                - if !o.ror.blank?
                  %a{href:"https://ror.org/#{o.ror}"} #{o.ror}
              %td #{o.ringgold}
              %td
                - if !o.grid.blank?
                  %a{href: "https://www.grid.ac/institutes/#{o.grid}"} #{o.grid}
              %td
                - if !o.wikidata.blank?
                  %a{href: "https://www.wikidata.org/wiki/#{o.wikidata}"} #{o.wikidata}

  = pagy_bootstrap_nav(@pagy) if @pagy && @pagy.pages > 1
