- content_for :title do
  All Accounts
- content_for :scripts do
  %script{src: "https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"}
  :javascript
    $(function() {
      Application.init("", "POST", "/admin");
    });
- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.alert-warning.d-flex.flex-wrap
    .mr-auto
      %h1.h2 All People
    = haml :'partials/admin/user_search', layout: false

- if flash[:destroyed]
  .alert.alert-danger.alert-dismissible.fade.show.d-block{role: "alert"}
    %div
      #{flash[:destroyed]} was destroyed and all claims, attributions, and messages were deleted.
    %button.close{type:"button", "data-dismiss":"alert", "aria-label":"Close"}
      %span{"aria-hidden":"true"} &times;

- sort = locals[:sort] == "asc" ? "desc" : "asc"
.table-responsive-lg
  %table.table.table-hover.table-sm
    %thead.thead-light
      %tr
        %th.text-nowrap{scope: "col"}
          %a{href: url("/admin/users?order=family&sort=#{sort}")}
            Person
            = sort_icon("family", sort)
        %th.text-nowrap{scope: "col"}
          %a{href: url("/admin/users?order=country&sort=#{sort}")}
            Country
            = sort_icon("country", sort)
        %th.text-nowrap{scope: "col"}
          %a{href: url("/admin/users?order=is_public&sort=#{sort}")}
            Public
            = sort_icon("is_public", sort)
        %th.text-nowrap{scope: "col"}
          %a{href: url("/admin/users?order=wants_mail&sort=#{sort}")}
            Email
            = sort_icon("wants_mail", sort)
        %th.text-nowrap{scope: "col"}
          %a{href: url("/admin/users?order=zenodo_concept_doi&sort=#{sort}")}
            DOI
            = sort_icon("zenodo_concept_doi", sort)
        %th.text-nowrap{scope: "col"}
          %a{href: url("/admin/users?order=image_url&sort=#{sort}")}
            Photo
            = sort_icon("image_url", sort)
        %th.text-nowrap{scope: "col"}
          %a{href: url("/admin/users?order=youtube_id&sort=#{sort}")}
            Video
            = sort_icon("youtube_id", sort)
        %th.text-nowrap{scope: "col"}
          %a{href: url("/admin/users?order=visited&sort=#{sort}")}
            Last Login
            = sort_icon("visited", sort)
        %th.text-nowrap{scope: "col"}
          %a{href: url("/admin/users?order=created&sort=#{sort}")}
            Created
            = sort_icon("created", sort)

    %tbody
      - @results.each do |u|
        %tr
          %td
            - if u.orcid
              %i.fab.fa-orcid
            - else
              %img{src: "/images/wikidata_18x12.svg", alt:"Wikidata iD"}
            %a{href: url("/admin/user/#{u.identifier}")} #{u.label}
          %td #{u.country}
          %td
            - if u.is_public?
              %span.text-success #{u.is_public}
            - else
              #{u.is_public}
          %td
            - if u.wants_mail?
              %span.text-success #{u.wants_mail}
            - else
              #{u.wants_mail}
          %td
            - if u.zenodo_concept_doi
              %a{href: "https://doi.org/#{u.zenodo_concept_doi}"} #{u.zenodo_concept_doi}
          %td
            - if u.image_url
              %span.text-success true
            - else
              false
          %td
            - if u.youtube_id
              %span.text-success true
            - else
              false
          %td #{u.visited}
          %td #{u.created}

= pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
