- content_for :title do
  #{@admin_user.viewname} Specimens

- content_for :scripts do
  %script{src:"/js/profile.js"}
  :javascript
    $(function() {
      Application.init(#{@admin_user.id}, "PUT", "/admin", "#{@admin_user.identifier}");
      Profile.init("/admin/user/#{@admin_user.identifier}");
    });

- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.alert-warning
    .row
      .col-12.col-lg-4.alert-warning.mb-2
        %h1.h3= @admin_user.viewname
      .col-12.col-lg-8.mt-2
        = haml :'partials/admin/user_tabs', layout: false, locals: { active_page: "specimens" }
        = haml :'partials/admin/subtabs_specimens', layout: false, locals: { active_tab: "specimens"}

= haml :'partials/filter', layout: false, locals: { url: "/admin/user/#{@admin_user.identifier}/specimens" }

- if @pagy.count == 0
  .alert.alert-info.tiny-margins{role: "alert"}
    Specimens have not yet been claimed.

- else
  = haml :'partials/admin/fixed_navbar', layout: false
  #helper-info.alert.alert-info.row.tiny-margins{role: "alert"}
    .col-12.col-md-8.p-0
      - if @filter.length > 0
        #{@admin_user.viewname} has claimed #{number_with_delimiter(@pagy.count)} specimens with this filter.
      - else
        #{@admin_user.viewname} has claimed #{number_with_delimiter(@total)} specimens.
      Choose
      %img{src:"/images/net-unselected.png", alt:"Collected", title:"Collected", width:18}
      collected,
      %img{src:"/images/microscope-unselected.png", alt:"Collected", title:"Collected", width:18}
      identified, or Both.
    .col-12.col-md-4.p-0.text-md-right
      %a{href: url("/admin/user/#{@admin_user.identifier}/specimens.csv"), class:"mr-2"}
        %i.fas.fa-file-csv.text-dark.h5.m-0.p-1
        CSV
      %a{href: url("/admin/user/#{@admin_user.identifier}/specimens.jsonld")}
        %i.fas.fa-file-code.text-dark.h5.m-0.p-1
        JSON-LD

  = haml :'partials/admin/specimens', layout: false, locals: { user: @admin_user }
