- content_for :title do
  #{@admin_user.viewname} Help Received

- content_for :scripts do
  :javascript
    $(function() {
      Application.init(#{@admin_user.id}, "PUT", "/admin", "#{@admin_user.identifier}");
    });

- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.alert-warning
    .row
      .col-12.col-lg-4.alert-warning.mb-2
        %h1.h3= @admin_user.viewname
      .col-12.col-lg-8.mt-2
        = haml :'partials/admin/user_tabs', layout: false, locals: { active_page: "specimens" }
        = haml :'partials/admin/subtabs_specimens', layout: false, locals: { active_tab: "support"}

- if @pagy.count == 0
  .alert.alert-info.tiny-margins{role: "alert"}
    This Bionomia scribe has not helped claim this user's specimens.

- else
  = haml :'partials/admin/fixed_navbar', layout: false
  #helper-info.alert.alert-info.row.tiny-margins{role: "alert"}
    .col.col-12
      Choose
      %img{src:"/images/net-unselected.png", alt:"Collected", title:"Collected", width:18}
      collected,
      %img{src:"/images/microscope-unselected.png", alt:"Collected", title:"Collected", width:18}
      identified, or Both or the Remove button to refine attributions made by
      %span.font-weight-bold
        #{@helped_user.viewname}

  .table-responsive-lg.overflow-auto
    %table.table.table-hover.table-sm
      %thead.thead-light
        %tr
          %th.text-nowrap{scope: "col", class:"selector"}
            = haml :'partials/bulk_selector_top', layout: false
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.scientific_name')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.collected_by')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.identified_by')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.date_collected')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.date_identified')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.family')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.institution')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.catalog_number')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.type_status')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.basis_record')
          %th.text-nowrap

      %tbody
        - @results.each do |uo|
          - o = uo.occurrence
          - next if o.nil?
          %tr
            %td.selector
              = haml :'partials/single_selector_preselected', layout: false, locals: { occurrence: uo, user_id: @admin_user.id }
            %td
              - scientific_name = o.scientificName.nil? ? "not recorded" : o.scientificName
              %a{href: gbif_occurrence_url(o.id), target:"_blank"}
                #{h(scientific_name)}
              - if o.has_image?
                %i.fas.fa-image.ml-1{"data-toggle":"popover", "data-gbifid":"#{o.id}"}
            %td #{h(o.recordedBy)}
            %td #{h(o.identifiedBy)}
            %td #{h(o.eventDate || o.year)}
            %td #{h(o.dateIdentified)}
            %td #{h(o.family)}
            %td #{h(o.institutionCode)}
            %td #{h(o.catalogNumber)}
            %td #{h(o.typeStatus)}
            %td #{h(o.basisOfRecord)}
            %td
              %button.btn.btn-sm.btn-danger.remove{type:"button", "data-occurrence-id":"#{uo.user_occurrence_id}"} Remove

      - if @total > 25
        %tfoot.thead-light
          %tr
            %th.text-nowrap.selector{scope: "col"}
              = haml :'partials/bulk_selector_bottom', layout: false
            %th.text-nowrap{scope: "col"}= I18n.t('specimen.scientific_name')
            %th.text-nowrap{scope: "col"}= I18n.t('specimen.collected_by')
            %th.text-nowrap{scope: "col"}= I18n.t('specimen.identified_by')
            %th.text-nowrap{scope: "col"}= I18n.t('specimen.date_collected')
            %th.text-nowrap{scope: "col"}= I18n.t('specimen.date_identified')
            %th.text-nowrap{scope: "col"}= I18n.t('specimen.family')
            %th.text-nowrap{scope: "col"}= I18n.t('specimen.institution')
            %th.text-nowrap{scope: "col"}= I18n.t('specimen.catalog_number')
            %th.text-nowrap{scope: "col"}= I18n.t('specimen.type_status')
            %th.text-nowrap{scope: "col"}= I18n.t('specimen.basis_record')
            %th.text-nowrap

  - if @total > 25
    = haml :'partials/page_size', layout: false

  = pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
