-content_for :title do
  #{@admin_user.fullname} Help Received

-content_for :scripts do
  %script{src:"/js/application.js"}
  %script{src:"/js/profile.js"}
  :javascript
    $(function() {
        Application.init(#{@admin_user.id}, "PUT", "/admin", "#{@admin_user.identifier}");
        Profile.init("/admin/user/#{@admin_user.identifier}");
    });

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid alert-warning"}
    %div{class:"row"}
      %div{class:"col-12 col-lg-4 alert-warning mb-2"}
        %h1{class:"h3"}= @admin_user.fullname
      %div{class:"col-12 col-lg-8 mt-2"}
        = haml :'partials/admin/user_tabs', layout: false, locals: { active_page: "specimens" }
        = haml :'partials/admin/subtabs_specimens', layout: false, locals: { active_tab: "support"}

- if @pagy.count == 0
  %div{class: "alert alert-info tiny-margins", role: "alert"}
    Bionomia scribes have not yet helped claim specimens.

- else
  = haml :'partials/admin/fixed_navbar', layout: false

  %div{class: "alert alert-info tiny-margins", role: "alert"}
    Bionomia scribes have helped claim specimens.

  - @results.in_groups_of(3).each do |group|
    %div{class: "card-deck"}
      - group.each do |u|
        - if u.nil?
          %div{class:"card border-0"}
        - else
          %div{class: "card card-profile my-3"}
            - if u[:user].image_url
              %div{class: "card-header d-flex"}
                %div
                  %img{src:"#{profile_image(u[:user], 'medium')}", alt:"#{u[:user].fullname}", class:"card-img-profile mr-2"}
                %div{class:"flex-grow-1"}
                  %h5
                    %a{href: "/admin/user/#{@admin_user.identifier}/support/#{u[:user].identifier}"}
                      - if u[:user].is_bot?
                        #{u[:user].fullname}
                      - else
                        #{u[:user].fullname_reverse}
                  - if u[:user].country
                    %p{class:"small text-muted mt-0 mb-0"} #{u[:user].country.split("|").join("; ")}
            - else
              %div{class: "card-header"}
                %h5
                  %a{href: "/admin/user/#{@admin_user.identifier}/support/#{u[:user].identifier}"}
                    - if u[:user].is_bot?
                      #{u[:user].fullname}
                    - else
                      #{u[:user].fullname_reverse}
                - if u[:user].country
                  %p{class:"small text-muted mt-0 mb-0"} #{u[:user].country.split("|").join("; ")}

            %div{class: "card-body"}

            %div{class: "card-footer d-flex"}
              - if !u[:user].is_public?
                %div{class: "small text-right text-muted mr-2"}
                  %i{class:"fas fa-lock"}
              %div{class: "small text-left text-muted mr-2"}
                %span{class:"badge badge-light"}
                  #{number_with_delimiter(u[:total])}
                %a{href: "/admin/user/#{@admin_user.identifier}/support/#{u[:user].identifier}"}
                  #{'specimen'.pluralize(u[:total])} attributed

  - if @total > 25
    = haml :'partials/page_size', layout: false

  = pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
