- content_for :title do
  #{@admin_user.viewname} Help Received

- content_for :scripts do
  %script{src:"/js/profile.js"}
  :javascript
    $(function() {
      Application.init(#{@admin_user.id}, "PUT", "/admin", "#{@admin_user.identifier}");
      Profile.init("/admin/user/#{@admin_user.identifier}");
    });

- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.alert-warning
    .row
      .col-12.col-lg-4.alert-warning.mb-2
        %h1.h3= @admin_user.viewname
      .col-12.col-lg-8.mt-2
        = haml :'partials/admin/user_tabs', layout: false, locals: { active_page: "specimens" }
        = haml :'partials/admin/subtabs_specimens', layout: false, locals: { active_tab: "support"}

- if @pagy.count == 0
  .alert.alert-info.tiny-margins{role: "alert"}
    Bionomia scribes have not yet helped claim specimens.

- else
  = haml :'partials/admin/fixed_navbar', layout: false

  .alert.alert-info.tiny-margins{role: "alert"}
    Bionomia scribes have helped claim specimens.

  - @results.in_groups_of(3).each do |group|
    .card-deck
      - group.each do |u|
        - if u.nil?
          .card.border-0
        - else
          .card.card-profile.my-3
            - if u[:user].image_url
              .card-header.d-flex
                %div
                  %img.card-img-profile.mr-2{src:"#{profile_image(u[:user], 'medium')}", alt:"#{u[:user].viewname}", width:48, height:48, loading:"lazy"}
                .flex-grow-1
                  %h5
                    %a{href: url("/admin/user/#{@admin_user.identifier}/support/#{u[:user].identifier}")}
                      - if u[:user].is_bot?
                        #{u[:user].fullname}
                      - else
                        #{u[:user].viewname}
                  - if u[:user].country
                    %p.small.text-muted.mt-0.mb-0 #{u[:user].country.split("|").join("; ")}
            - else
              .card-header
                %h5
                  %a{href: url("/admin/user/#{@admin_user.identifier}/support/#{u[:user].identifier}")}
                    - if u[:user].is_bot?
                      #{u[:user].fullname}
                    - else
                      #{u[:user].viewname}
                - if u[:user].country
                  %p.small.text-muted.mt-0.mb-0 #{u[:user].country.split("|").join("; ")}

            .card-body
            .card-footer.d-flex
              - if !u[:user].is_public?
                .small.text-right.text-muted.mr-2
                  %i.fas.fa-lock
              .small.text-left.text-muted.mr-2
                %span.badge.badge-light
                  #{number_with_delimiter(u[:total])}
                %a{href: url("/admin/user/#{@admin_user.identifier}/support/#{u[:user].identifier}")}
                  #{'specimen'.pluralize(u[:total])} attributed

  - if @total > 25
    = haml :'partials/page_size', layout: false

  = pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
