- content_for :title do
  Taxa

- content_for :scripts do
  :javascript
    $(function() {
      Application.init(#{@user.id}, "POST", "/admin");
    });

- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.alert-warning.d-flex.flex-wrap
    .mr-auto
      %h1.h2 Taxa
    = haml :'partials/admin/taxon_search', layout: false

- if @pagy && @pagy.count == 0
  .alert.alert-info.tiny-margins{role: "alert"}
    Taxa are not available.
- elsif @pagy && !params[:q]
  .table-responsive-lg
    %table.table.table-hover.table-sm.w-lg-50
      %thead.thead-light
        %tr
          %th{scope: "col"} Taxon
          %th{scope: "col"} Silhouette
          %th{scope: "col"} Credit
          %th{scope: "col"} Update
      %tbody
        - @results.each do |taxon|
          %tr
            %td
              %a{href: url("/admin/taxon/#{taxon.family}")} #{taxon.family}
            %td
              - if taxon.has_image?
                - image = taxon_image(taxon.family, 'thumbnail')
                - if !image.nil?
                  %img{src:"#{image}", alt:"#{taxon.family}"}
              - else
                #{taxon.has_image?}
            %td
              - if taxon.has_image?
                #{taxon.image.credit}
            %td
              %a.btn.btn-sm.btn-outline-success.taxon-process{href: url("/admin/taxon/#{taxon.family}/process.json"), role:"button"}
                %i.fas.fa-sync-alt
                Update

  = pagy_bootstrap_nav(@pagy) if @pagy.pages > 1

- else
  .alert.alert-info.tiny-margins{role: "alert"}
    #{number_to_human(@pagy.count, units: :'taxa.search_found', delimiter: ",", precision: 0)}
    %span.font-weight-bold
      #{h(params[:q])}

  .row
    - @taxon_results.in_groups_of(25, false).each do |group|
      .col-12.col-md-3.mb-3
        %ul.list-group.m-2
          - group.each do |o|
            %li.list-group-item.border-0
              - image = taxon_image(o[:name], 'thumbnail')
              - if !image.nil?
                %img.mr-2{src:"#{image}", alt:"#{o[:name]}"}
              - else
                %span.d-inline-block.mr-2{style:"width:24px;"}
              %a{href: url("/admin/taxon/#{o[:name]}")} #{o[:name]}
