- content_for :title do
  #{@taxon.family}

- content_for :scripts do
  :javascript
    $(function() {
      Application.init(#{@user.id}, "POST", "/admin");
    });

- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.alert-warning
    %h1.h2 #{@taxon.family}

- if flash[:updated]
  .alert.alert-success.alert-dismissible.fade.show.d-block{role: "alert"}
    %div
      Taxon metadata was updated.
    %button.close{type:"button", "data-dismiss":"alert", "aria-label":"Close"}
      %span{"aria-hidden":"true"} &times;

%form#form-org-wrapper.helpers{method: "POST", action: "/admin/taxon/#{@taxon.family}", "accept-charset": "UTF-8"}

  .card
    .card-body.mt-3
      %dl.row
        %dt.col-sm-2 Silhouette:
        %dd.col-sm-10
          - if @taxon.has_image?
            %img{src:"/images/taxa/#{@taxon.image.file_name}"}
          - else
            None
        %dt.col-sm-2 Credit:
        %dd.col-sm-10
          - if @taxon.has_image?
            #{@taxon.image.credit}
          - else
            N/A
        %dt.col-sm-2 License:
        %dd.col-sm-10
          - if @taxon.has_image?
            #{@taxon.image.licenseURL}
          - else
            N/A
        %dt.col-sm-2 URL:
        %dd.col-sm-10
          - if @taxon.has_image?
            %a{href:"http://phylopic.org/image/#{@taxon.image.file_name.split(".").first}/", target:"_blank"}
              http://phylopic.org/image/#{@taxon.image.file_name.split(".").first}/
          - else
            N/A
        %dt.col-sm-2 Update:
        %dd.col-sm-10
          %a.btn.btn-sm.btn-outline-success.taxon-process{href: url("/admin/taxon/#{@taxon.family}/process.json"), role:"button"}
            %i.fas.fa-sync-alt
            Update

          .alert.alert-taxon-process.alert-success.alert-dismissible.fade.show.text-center{role: "alert"}
            Taxon silhouette was searched and processed.
            %span#taxon-search-result
            %button.close{type:"button", "data-dismiss":"alert", "aria-label":"Close"}
              %span{"aria-hidden":"true"} &times;

      %input{type: :hidden, name:"authenticity_token", value:"#{env['rack.session'][:csrf]}"}
