-content_for :title do
  #{@taxon.family}

-content_for :scripts do
  %script{src:"/js/application.js"}
  :javascript
    $(function() {
      Application.init(#{@user.id}, "POST", "/admin");
    });

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid alert-warning"}
    %h1{class:"h2"} #{@taxon.family}

- if flash[:updated]
  %div{class:"alert alert-success alert-dismissible fade show d-block", role: "alert"}
    %div
      Taxon metadata was updated.
    %button{type:"button", class:"close", "data-dismiss":"alert", "aria-label":"Close"}
      %span{"aria-hidden":"true"} &times;

%form{id:"form-org-wrapper", method: "POST", action: "/admin/taxon/#{@taxon.family}", "accept-charset" => "UTF-8", class: "helpers"}

  %div{class: "card"}
    %div{class: "card-body mt-3"}
      %dl{class: "row"}
        %dt{class: "col-sm-2"} Silhouette:
        %dd{class: "col-sm-10"}
          - if @taxon.has_image?
            %img{src:"/images/taxa/#{@taxon.image.file_name}"}
          - else
            None
        %dt{class: "col-sm-2"} Credit:
        %dd{class: "col-sm-10"}
          - if @taxon.has_image?
            #{@taxon.image.credit}
          - else
            N/A
        %dt{class: "col-sm-2"} License:
        %dd{class: "col-sm-10"}
          - if @taxon.has_image?
            #{@taxon.image.licenseURL}
          - else
            N/A
        %dt{class: "col-sm-2"} Update:
        %dd{class: "col-sm-10"}
          %a{href: url("/admin/taxon/#{@taxon.family}/process.json"), role:"button", class:"btn btn-sm btn-outline-success taxon-process"}
            %i{class: "fas fa-sync-alt"}
            Update

          %div{class:"alert alert-taxon-process alert-success alert-dismissible fade show text-center", role: "alert"}
            Taxon silhouette was searched and processed.
            %span{id:"taxon-search-result"}
            %button{type:"button", class:"close", "data-dismiss":"alert", "aria-label":"Close"}
              %span{"aria-hidden":"true"} &times;

      %input{type: :hidden, name:"authenticity_token", value:"#{env['rack.session'][:csrf]}"}
