%nav{id:"specimen-nav", class:"navbar navbar-light navbar-expand bg-light overflow-auto"}
  %ul{class:"navbar-nav"}
    %li{class:"nav-item"}
      %a{class:"nav-link#{locals[:active_tab] == "specimens" ? " active" : nil}", href:"/profile/specimens"}= I18n.t('profile.claimed')
    %li{class:"nav-item"}
      %a{class:"nav-link#{locals[:active_tab] == "candidates" ? " active" : nil}", href:"/profile/candidates"}= I18n.t('profile.discovered')
    %li{class:"nav-item"}
      %a{class:"nav-link#{locals[:active_tab] == "upload" ? " active" : nil}", href:"/profile/upload"}= I18n.t('profile.bulk_claim')
    %li{class:"nav-item"}
      %a{class:"nav-link#{locals[:active_tab] == "ignored" ? " active" : nil}", href:"/profile/ignored"}= I18n.t('profile.ignored')
    %li{class: "nav-item"}
      %a{class: "nav-link#{locals[:active_tab] == "support" ? " active" : nil}", href: "/profile/support"}= I18n.t('profile.help_received')
