%ul.nav.nav-tabs.pl-2
  %li.nav-item
    %a{class: "text-nowrap nav-link#{locals[:active_page] == "profile" ? " active" : nil}", href: url("/profile")}
      %i.fa-solid.fa-user
      = I18n.t('profile.overview')
  %li.nav-item.badge-item
    %a{class: "text-nowrap nav-link#{locals[:active_page] == "specimens" ? " active" : nil}", href: url("/profile/specimens")}
      %i.fa-solid.fa-th
      = I18n.t('profile.specimens')
    %span{id: "specimen-counter-#{@user.identifier}", class: "badge-notify badge badge-success badge-pill"}
  %li.nav-item.badge-item
    %a{class: "text-nowrap nav-link#{locals[:active_page] == "helped" ? " active" : nil}", href: url("/profile/helped")}
      %i.fa-solid.fa-hands-helping
      = I18n.t('profile.people_helped')
    %span#message-counter.badge-notify.badge.badge-info.badge-pill
  %li.nav-item
    %a{class: "text-nowrap nav-link#{locals[:active_page] == "citations" ? " active" : nil}", href: url("/profile/citations")}
      %i.fa-solid.fa-flask
      = I18n.t('profile.science_enabled')
