%nav#network-nav.navbar.navbar-light.navbar-expand.bg-light.overflow-auto
  %ul.navbar-nav
    %li.nav-item
      %a{class:"nav-link#{locals[:active_subtab] == "default" ? " active" : nil}", href: url("/article/#{@article.doi}/agents")}= I18n.t('article.alphabetical')
    %li.nav-item
      %a{class:"nav-link#{locals[:active_subtab] == "counts" ? " active" : nil}", href: url("/article/#{@article.doi}/agents/counts")}= I18n.t('article.counts')
    %li.nav-item
      %a{class:"nav-link#{locals[:active_subtab] == "unclaimed" ? " active" : nil}", href: url("/article/#{@article.doi}/agents/unclaimed")}= I18n.t('article.unclaimed')
