-content_for :title, I18n.t('profile.candidates_title')

-content_for :scripts do
  = haml :'partials/profile/scripts', layout: false, locals: { action_type: "POST" }

%div{class:"row"}
  %div{class:"col-12 col-lg-4"}
    %h1{class:"h3"}= @user.fullname
  %div{class:"col-12 col-lg-8 mt-2"}
    = haml :'partials/profile/tabs', layout: false, locals: { active_page: "specimens" }
    = haml :'partials/profile/subtabs_specimens', layout: false, locals: { active_tab: "candidates"}

- checked = params[:relaxed] == "1" ? "checked" : nil

= haml :'partials/advanced_search_filter', layout: false, locals: { url: "/profile/candidates" }

- if @results.size == 0
  %div{class: "alert alert-info row tiny-margins", role:"alert"}
    %div{class: "col col-12 col-md-8 p-0"}
      = I18n.t('profile.no_candidates_alert')
      - if !@dataset && !@agent && !@taxon
        %div{class:"form-check d-inline-flex ml-2"}
          %input{type:"checkbox", class:"form-check-input", id:"relaxed", checked: checked }
          %label{for:"relaxed", class:"relaxed"}= I18n.t('help.less_exact')
    %div{class:"col col-12 col-md-4 p-0 text-md-right"}
      %a{href: url("/profile/advanced-search")}
        %i{class:"fas fa-search-plus"}
        #{I18n.t('profile.advanced_search')}
- else
  %div{class: "alert alert-info row candidates-alert tiny-margins", role: "alert"}
    %div{class: "col col-12 col-md-8 p-0"}
      #{I18n.t('profile.candidate_count', count: number_with_delimiter(@total))}
      = haml :'partials/choose_instructions', layout: false
      - if !@dataset && !@agent && !@taxon
        %div{class:"form-check d-inline-flex ml-2"}
          %input{type:"checkbox", class:"form-check-input", id:"relaxed", checked: checked }
          %label{for:"relaxed", class:"relaxed"}= I18n.t('help.less_exact')

    %div{class:"col col-12 col-md-4 p-0 text-md-right"}
      %a{href: url("/profile/advanced-search")}
        %i{class:"fas fa-search-plus"}
        #{I18n.t('profile.advanced_search')}

  = haml :'partials/tables/candidates', layout: false, locals: { user_scope: "self" }
