-content_for :title do
  = I18n.t('profile.candidates_title')

-content_for :scripts do
  = haml :'partials/profile/scripts', layout: false, locals: { action_type: "POST" }

%div{class:"row"}
  %div{class:"col-12 col-lg-4"}
    %h1{class:"h3"}= @user.fullname
  %div{class:"col-12 col-lg-8 mt-2"}
    = haml :'partials/profile/tabs', layout: false, locals: { active_page: "specimens" }
    = haml :'partials/profile/subtabs_specimens', layout: false, locals: { active_tab: "candidates"}

- alert_class = "info"
- placeholder = @user.fullname
- if !@searched_user.nil?
  - alert_class = "warning"
  - placeholder = @searched_user.fullname

- if @pagy.count == 0
  %div{class: "alert alert-info row tiny-margins", role:"alert"}
    %div{class: "col col-12 col-sm-12 col-md-8 col-lg-8"}
      = I18n.t('profile.no_candidates_alert')

      %div{class:"form-check d-inline-flex"}
        - checked = params[:relaxed] == "1" ? "checked" : nil
        %input{type:"checkbox", class:"form-check-input", id:"relaxed", checked: checked }
        %label{for:"relaxed", class:"relaxed"} Make less exact
    %div{class:"col col-12 col-sm-8 col-md-6 col-lg-4"}
      %form{id:"#form-wrapper", method: "get", action: "/", "accept-charset" => "UTF-8", class: "form-inline"}
        %div{class: "inputs search-agent form-group"}
          %label{for: "typeahead", class:"font-weight-bold col-form-label mr-2"}= I18n.t('general.search')
          %input{id: "typeahead-agent", type: :text, name: "q", placeholder: "#{placeholder}", value: "#{params[:q]}", class:"typeahead"}
- else
  %div{class: "alert alert-#{alert_class} row candidates-alert tiny-margins", role: "alert"}
    %div{class: "col col-12 col-sm-12 col-md-6 col-lg-8"}
      = succeed "." do
        Found #{number_with_delimiter(@total, delimeter: ",")} specimens for
        %span{class:"font-weight-bold"} #{placeholder}
      - if @searched_user.nil?
        %div{class:"form-check d-inline-flex"}
          - checked = params[:relaxed] == "1" ? "checked" : nil
          %input{type:"checkbox", class:"form-check-input", id:"relaxed", checked: checked }
          %label{for:"relaxed", class:"relaxed"} Make less exact
      %br
      Choose
      %img{src:"/images/net-unselected.png", alt:"Collected", title:"Collected", width:18}
      collected,
      %img{src:"/images/microscope-unselected.png", alt:"Collected", title:"Collected", width:18}
      identified, or Both.
      - if !@searched_user.nil?
        Claim the following specimen records
        %span{class:"font-weight-bold"}
          as your own.

    %div{class:"col col-12 col-sm-8 col-md-6 col-lg-4"}
      %form{id:"#form-wrapper", method: "get", action: "/", "accept-charset" => "UTF-8", class: "form-inline"}
        %div{class: "inputs search-agent form-group"}
          %label{for: "typeahead", class:"font-weight-bold col-form-label mr-2"}= "Search"
          %input{id: "typeahead-agent", type: :text, name: "q", placeholder: "#{placeholder}", value: "#{params[:q]}", class:"typeahead"}

  = haml :'partials/tables/candidates', layout: false, locals: { user_scope: "self" }
