-content_for :title do
  = I18n.t('profile.overview')

-content_for :scripts do
  = haml :'partials/profile/scripts', layout: false, locals: { action_type: "POST" }
  = haml :'partials/viz_scripts', layout: false, locals: { path: "/profile" }

%div{class:"row"}
  = haml :'partials/profile/jumbotron', layout: false
  %div{class:"col-12 col-lg-8 mt-2"}
    = haml :'partials/profile/tabs', layout: false, locals: { active_page: "profile" }

    %div{class:"mt-3"}

      - if @stats[:specimens][:identified] == 0 && @stats[:specimens][:recorded] == 0 && @stats[:attributions][:helped] == 0
        %div{class: "alert alert-info tiny-margins", role: "alert"}
          Claim your discovered specimens under the
          %a{href: url("/profile/specimens")}
            Specimens
          tab to build your profile and start tracking your citations. Acknowledge your peers, mentors, or anyone who inspires you by attributing specimens under
          = succeed "." do
            %a{href: url("/help-others")}
              Help Others
      - else
        %div{class: "d-flex flex-row mt-3 alert alert-info justify-content-between", role: "alert"}
          %div
            %ul{class:"list-unstyled"}
              = haml :'partials/user_stats', layout: false

          - if @stats[:specimens][:recorded] > 0 || @stats[:specimens][:identified] > 0
            %div{class:"col-4 col-md-2"}
              = I18n.t('user.progress')
              %div{class:"progress progress-border"}
                %div{id:"progress-bar_#{@user.identifier}", class:"progress-bar bg-info", role:"progressbar", style:"width: 0%;", "aria-valuenow":"0", "aria-valuemin":"0", "aria-valuemax":"100"}

      - if @stats[:specimens][:identified] > 0 || @stats[:specimens][:recorded] > 0
        %div{class:"row d-flex mt-3"}
          %div{class:"col-10 col-md-6"}
            = haml :'partials/map_list_identified', layout: false, locals: { path: "/profile" }
          %div{class:"col-10 col-md-6"}
            = haml :'partials/map_list_collected', layout: false, locals: { path: "/profile" }
      - else
        #map-identified{style:"width: 0%; height: 0%; display: none;"}
        #map-collected{style:"width: 0%; height: 0%; display: none;"}

      - if @stats[:activity_dates].length > 0
        %h4= I18n.t('profile.dates_identified_collected')
        %div{id: "chart"}
      - else
        %div{id: "chart", style:"width: 0%; height: 0%; display:none;"}

      %div{class: "row mt-4"}
        %div{class: "col-12 col-lg-6 mb-3"}
          - if @families_recorded.empty? && !@families_identified.empty?
            %h4{class: "d-flex justify-content-between mt-0"}
              = I18n.t('user.families_identified')
              %span{class: "badge badge-light badge-secondary"} #{number_with_delimiter(@families_identified.count)}
            %ul{class: "list-group mt-3 truncate"}
              - @families_identified.each do |k,v|
                %li{class: "list-group-item d-flex justify-content-between align-items-center"}
                  %a{href: url("/profile/specimens?action=identified&family=#{ERB::Util.url_encode(k)}")} #{k}
                  %span{class: "badge badge-light badge-pill"} #{number_with_delimiter(v)}
          - elsif !@families_recorded.empty?
            %h4{class: "d-flex justify-content-between mt-0"}
              = I18n.t('user.families_collected')
              %span{class: "badge badge-light badge-secondary"} #{number_with_delimiter(@families_recorded.count)}
            %ul{class: "list-group mt-3 truncate"}
              - @families_recorded.each do |k,v|
                %li{class: "list-group-item d-flex justify-content-between align-items-center"}
                  %a{href: url("/profile/specimens?action=collected&family=#{ERB::Util.url_encode(k)}")} #{k}
                  %span{class: "badge badge-light badge-pill"} #{number_with_delimiter(v)}
        %div{class: "col-12 col-lg-6 mb-3"}
          - if !@families_recorded.empty? && !@families_identified.empty?
            %h4{class: "d-flex justify-content-between mt-0"}
              = I18n.t('user.families_identified')
              %span{class: "badge badge-light badge-secondary"} #{number_with_delimiter(@families_identified.count)}
            %ul{class: "list-group mt-3 truncate"}
              - @families_identified.each do |k,v|
                %li{class: "list-group-item d-flex justify-content-between align-items-center"}
                  %a{href: url("/profile/specimens?action=identified&family=#{ERB::Util.url_encode(k)}")} #{k}
                  %span{class: "badge badge-light badge-pill"} #{number_with_delimiter(v)}

      - if @user.zenodo_concept_doi
        %h4= I18n.t('profile.resume')
        %p{class:"citation"}
          #{@user.fullname_reverse}. #{DateTime.now.year}. Natural history specimens collected and/or identified and deposited. [Data set]. Zenodo.
          %a{href: "https://doi.org/#{@user.zenodo_concept_doi}"}
            https://doi.org/#{@user.zenodo_concept_doi}
        %h5 HTML
        %div{class:"alert alert-secondary"}
          %pre{class:"p-0 m-0"}
            &lt;a href="https://doi.org/#{@user.zenodo_concept_doi}"&gt;&lt;img src="https://zenodo.org/badge/DOI/#{@user.zenodo_concept_doi}.svg" alt="DOI"&gt;&lt;/a&gt;
        %a{href:"https://doi.org/#{@user.zenodo_concept_doi}"}
          %img{src:"/images/#{@user.zenodo_concept_doi}.svg"}
