-content_for :title, I18n.t('profile.settings')

-content_for :scripts do
  = haml :'partials/profile/scripts', layout: false, locals: { action_type: "POST" }

%div{class:"row"}
  = haml :'partials/profile/jumbotron', layout: false, locals: { active_page: "settings" }
  %div{class:"col-12 col-lg-8 mt-2"}
    = haml :'partials/profile/tabs', layout: false, locals: { active_page: nil }

    %div{class:"citation-wrapper mt-3"}
      %h4= I18n.t('profile.settings')
      %div{class:"card-deck"}

        %div{class:"card"}
          %h5{class:"card-header"}= I18n.t('profile.public_availability')
          %div{class:"card-body"}
            %p{class:"card-text"}= I18n.t('profile.make_public_message')
            %div{class:"row"}
              %div{class:"col"}
                %input{type:"checkbox", id: "toggle-public", "data-toggle":"toggle", "data-on":"#{I18n.t('profile.public')}", "data-off":"#{I18n.t('profile.private')}", "data-onstyle": "success", "data-size": "small", checked: @user.is_public?, class:"btn-claim", "data-url": "/profile/visibility.json" }
              %div{class:"col text-right"}
                - if @user.is_public?
                  %a{href: url("/#{@user.orcid}")}
                    = I18n.t('profile.public_profile')
                    %i{class:"fas fa-users"}

        %div{class:"card"}
          %h5{class:"card-header"}
            %i{class:"fab fa-orcid"}
            ORCID
          %div{class:"card-body"}
            %p{class:"card-text"}= I18n.t('profile.orcid_updates')
            %p
              %a{href: url("/profile/refresh.json"), role:"button", class:"btn btn-sm btn-outline-success profile-refresh"}
                %i{class: "fas fa-sync-alt"}
                = I18n.t('profile.refresh')
                %i{class:"fab fa-orcid"}

            %div{id:"refresh-message", class:"alert alert-success alert-dismissible fade show text-center", role: "alert"}
              = I18n.t('profile.orcid_refreshed')
              %button{type:"button", class:"close", "data-dismiss":"alert", "aria-label":"Close"}
                %span{"aria-hidden":"true"} &times;

      %div{class:"card-deck"}
        %div{class:"card"}
          %h5{class:"card-header"}= I18n.t('profile.make_citable')
          %div{class:"card-body"}
            - if !@user.made_claim?
              %p{class:"card-text"}= I18n.t('profile.connect_zenodo_claim')
            - else
              - if @user.zenodo_access_token.empty?
                %p{class:"card-text"}= I18n.t('profile.connect_zenodo')
                %form{action: "/auth/zenodo", method: "POST" }
                  %p{class:"card-text"}
                    %button{class: "btn btn-sm btn-outline-info"}= I18n.t('profile.integrate_zenodo')
                    %input{type:"hidden", name:"authenticity_token", value:"#{env['rack.session'][:csrf]}"}
              - else
                - if @user.zenodo_concept_doi
                  %p{class:"card-text"}
                    Your profile is linked to
                    %a{href:"https://doi.org/#{@user.zenodo_concept_doi}", target:"_blank"}
                      Zenodo
                      %i{class:"fas fa-external-link-alt"}
                    and your claims are versioned and archived.
                  %p
                    %a{href:"https://doi.org/#{@user.zenodo_concept_doi}"}
                      %img{src:"/images/#{@user.zenodo_concept_doi}.svg"}
                  %p
                    %button{type: "button", class:"btn btn-sm btn-outline-danger", "data-toggle": "modal", "data-target": "#zenodoModal"}= I18n.t('profile.disconnect')

                  %div{class:"modal fade", id:"zenodoModal", tabindex:"-1", role:"dialog", "aria-labelledby":"zenodoModal", "aria-hidden":"true"}
                    %div{class:"modal-dialog", role:"document"}
                      %div{class:"modal-content"}
                        %div{class:"modal-header"}
                          %h5{class:"modal-title", id:"zenodoLabel"}= I18n.t('profile.disconnect_zenodo')
                          %button{type:"button", class:"close", "data-dismiss":"modal", "aria-label":"Close"}
                            %span{"aria-hidden":"true"} &times;
                        %div{class:"modal-body"}= I18n.t('profile.disconnect_warning')
                        %div{class:"modal-footer"}
                          %button{type:"button", class:"btn btn-sm btn-outline-secondary", "data-dismiss":"modal"}= I18n.t('profile.cancel')
                          %button{type:"button", class:"btn btn-sm btn-outline-danger", id:"zenodo-disconnect"}= I18n.t('profile.disconnect')
                - else
                  %p{class:"card-text"}= I18n.t('profile.connect_zenodo')
                  %p{class:"alert alert-success"}
                    %i{class:"fas fa-check-circle"}
                    = I18n.t('profile.zenodo_linked')

        %div{class:"card"}
          %h5{class:"card-header"}= I18n.t('profile.email_notifications')
          %div{class:"card-body"}
            - if @user.email && !@user.email.empty?
              %p{class:"card-text"}= I18n.t('profile.email_procedure', email: @user.email)
              %p
                %input{type:"checkbox", id: "toggle-mail", "data-toggle":"toggle", "data-on":"#{I18n.t('profile.active')}", "data-off":"#{I18n.t('profile.inactive')}", "data-onstyle": "success", "data-size": "small", checked: @user.wants_mail?, class:"btn-claim" }
            - else
              %p{class:"card-text"}= I18n.t('profile.email_instructions')

      %div{class:"card-deck"}

        %div{class:"card"}
          %h5{class:"card-header"}= I18n.t('profile.delete_account')
          %div{class:"card-body"}
            %p{class:"card-text"}= I18n.t('profile.permanent_delete')
            %button{type: "button", class:"btn btn-sm btn-outline-danger", "data-toggle": "modal", "data-target": "#deleteModal"}= I18n.t('profile.delete')

            %div{class:"modal fade", id:"deleteModal", tabindex:"-1", role:"dialog", "aria-labelledby":"deleteModal", "aria-hidden":"true"}
              %div{class:"modal-dialog", role:"document"}
                %div{class:"modal-content"}
                  %div{class:"modal-header"}
                    %h5{class:"modal-title", id:"deleteLabel"}= I18n.t('profile.delete_account')
                    %button{type:"button", class:"close", "data-dismiss":"modal", "aria-label":"Close"}
                      %span{"aria-hidden":"true"} &times;
                  %div{class:"modal-body"}= I18n.t('profile.delete_warning')
                  %div{class:"modal-footer"}
                    %form{action: "/profile/destroy", method: :post}
                      %button{type:"button", class:"btn btn-sm btn-outline-secondary", "data-dismiss":"modal"}= I18n.t('profile.cancel')
                      %input{type: :hidden, name: "_method", value: 'DELETE'}
                      %input{type: :hidden, name:"authenticity_token", value:"#{env['rack.session'][:csrf]}"}
                      %input{type: :submit, class:"btn btn-sm btn-outline-danger", value:"#{I18n.t('profile.delete')}"}

        %div{class:"card border-0"}
