%nav{id:"network-nav", class:"navbar navbar-light navbar-expand bg-light overflow-auto"}
  %ul{class:"navbar-nav"}
    %li{class:"nav-item"}
      %a{class:"nav-link#{locals[:active_subtab] == "default" ? " active" : nil}", href:"/taxon/#{@taxon.family}/agents"}= I18n.t('taxa.alphabetical')
    %li{class:"nav-item"}
      %a{class:"nav-link#{locals[:active_subtab] == "counts" ? " active" : nil}", href:"/taxon/#{@taxon.family}/agents/counts"}= I18n.t('taxa.counts')
    %li{class:"nav-item"}
      %a{class:"nav-link#{locals[:active_subtab] == "unclaimed" ? " active" : nil}", href:"/taxon/#{@taxon.family}/agents/unclaimed"}= I18n.t('taxa.unclaimed')
