.jumbotron.jumbotron-fluid.d-flex.flex-wrap
  .mr-auto.p-2
    - if @taxon.has_image?
      .media
        %img.mr-4{src: "/images/taxa/#{@taxon.image.file_name}", alt:"#{@taxon.family}"}
        .media-body
          %h1.h2.mt-0 #{@taxon.family}
          %p.lead.text-muted
            - if @pagy && @pagy.count > 0
              #{number_to_human(@pagy.count, units: :"taxa.number_#{@action}", delimiter: ",", precision: 0)}
            - else
              - if @action == "collected"
                = I18n.t('taxa.none_collected', taxon: h(@taxon.family))
              - else
                = I18n.t('taxa.none_identified', taxon: h(@taxon.family))
      %p.small.text-muted.mb-0.mt-2
        - if @taxon.image.credit
          #{@taxon.image.credit}
          %br
        - if @taxon.image.licenseURL
          = link_to @taxon.image.licenseURL, @taxon.image.licenseURL
    - else
      %h1.h2.mt-0 #{@taxon.family}
      %p.lead.text-muted
        - if @pagy && @pagy.count > 0
          #{number_to_human(@pagy.count, units: :"taxa.number_#{@action}", delimiter: ",", precision: 0)}
        - else
          - if @action == "collected"
            = I18n.t('taxa.none_collected', taxon: h(@taxon.family))
          - else
            = I18n.t('taxa.none_identified', taxon: h(@taxon.family))

  = haml :'partials/taxa/search', layout: false

- if admin_authorized?
  .m-2.text-center
    %a.text-nowrap{href: url("/admin/taxon/#{@taxon.family}")}
      %i.fas.fa-cog
      = I18n.t('general.settings')
