- content_for :title, I18n.t('layout.parse')
- content_for :scripts do
  %script{src: "/js/csvExport.min.js"}
  :javascript
    $(function() {
      var ele = $("#bionomia-parse-results"),
          textarea = $('textarea[name="names"]'),
          sample = "Miss Anna von Hoff; Dr. MA Smith Jr.; Groom Q\nBro. Aimé (coll. 2002-VI-06)\nSmith, Jackson & Peters\nK. and G.E. Ball";
      $("#csv-export").on("click", function(e) {
        e.preventDefault();
        ele.csvExport({ title: ele.attr("id") + ".csv" });
        return false;
      });
      $("#try-some").on("click", function(e) {
        e.preventDefault();
        textarea.val(sample);
        return false;
      });
      $("#reset").on("click", function(e) {
        textarea.val('').text('');
      });
    });

-content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        = I18n.t('layout.parse')

%p
  Paste list of human names (limited to first 1,000 rows) as typically seen in the Darwin Core terms,
  = link_to "recordedBy", "https://dwc.tdwg.org/terms/#dwc:recordedBy"
  or
  = link_to "identifiedBy", "https://dwc.tdwg.org/terms/#dwc:identifiedBy"
  where each line is a new entry. See the
  = link_to "Ruby gem", url("/developers/code")
  used for this service and documentation for the
  = succeed "." do
    = link_to "API", url("/developers/parse")
  = succeed "." do
    %a{href:"#", id:"try-some"} Try some

%form{action:"/parse", method: :post}
  .form-group
    %textarea.form-control{name: "names", rows: 5}= params[:names]
  %input{type: :hidden, name:"authenticity_token", value:"#{env['rack.session'][:csrf]}"}
  %button.btn.btn-success{type: :submit}= I18n.t('general.submit')
  %button.btn.btn-warning#reset{type: :reset}= I18n.t('general.reset')

- if !@output.empty?

  - klass = @output.size >= 300 ? "warning" : "success"
  %div{class:"alert alert-#{klass} mt-4"}
    .row
      .col.col-12.col-lg-10
        Parsed results are limited to the first 1,000 rows.
      .col.col-12.col-lg-2.text-lg-right.pr-3
        %a{href:"#", id:"csv-export"}
          %i.fas.fa-file-csv.h5.text-dark.m-0.p-1
          CSV

  .table-responsive.mt-4
    %table.table.table-hover.table-sm.border-bottom#bionomia-parse-results
      %thead.thead-light
        %tr
          %th.text-nowrap.border-right{scope:"col"} Original
          - (1..@columns).each do |col|
            %th.text-nowrap{scope:"col"} Title
            %th.text-nowrap{scope:"col"} Appellation
            %th.text-nowrap{scope:"col"} Given
            %th.text-nowrap{scope:"col"} Particle
            %th.text-nowrap{scope:"col"} Family
            %th.text-nowrap.border-right{scope:"col"} Suffix
      %tbody
        - @output.each_with_index do |row, index|
          %tr
            %td.text-nowrap.small.border-right.font-weight-bold{scope:"row"}
              #{row[index][:original]}
            - row[index][:parsed].each do |col|
              %td #{col.title}
              %td #{col.appellation}
              %td #{col.given}
              %td #{col.particle}
              %td #{col.family}
              %td.border-right #{col.suffix}
            - (1..@columns - row[index][:parsed].size).each do |col|
              %td
              %td
              %td
              %td
              %td
              %td.border-right
