%ul.nav.nav-pills.custom-pills.mt-1.mb-3{role:"tablist"}
  %li.nav-item
    %a.nav-link.active{"data-toggle":"tab", href: "#country-map-wrapper"}= I18n.t('user.map')
  %li.nav-item
    %a.nav-link{"data-toggle":"tab", href: "#country-list"}= I18n.t('user.list')

.tab-content
  #country-map-wrapper.tab-pane.fade.show.active{role:"tabpanel"}
    #country-map{style:"width: 100%;"}
  #country-list.tab-pane.fade{role:"tabpanel"}
    - @countries.each do |k, group|
      %h3 #{k}
      %ul.list-inline
        - group.each do |country|
          %li.list-inline-item
            %a.btn.btn-outline-dark.btn-sm.mb-2{href: url("/help-others/country/#{country[0]}")} #{country_name(country[0])}
