%nav#helped-nav.navbar.navbar-light.navbar-expand.bg-light.overflow-auto
  %ul.navbar-nav
    %li.nav-item
      %a{class:"nav-link#{locals[:active_subtab] == "specimens" ? " active" : nil}", href: url("/help-others/#{@viewed_user.identifier}/specimens")}= I18n.t('help.specimens')
    %li.nav-item
      %a{class:"nav-link#{locals[:active_subtab] == "visualizations" ? " active" : nil}", href: url("/help-others/#{@viewed_user.identifier}/visualizations")}= I18n.t('help.visualizations')
    %li.nav-item
      %a{class:"nav-link#{locals[:active_subtab] == "specialties" ? " active" : nil}", href: url("/help-others/#{@viewed_user.identifier}/specialties")}= I18n.t('help.specialties')
    %li.nav-item
      %a{class:"nav-link#{locals[:active_subtab] == "co_collectors" ? " active" : nil}", href: url("/help-others/#{@viewed_user.identifier}/co-collectors")}= I18n.t('help.co-collectors')
    %li.nav-item
      %a{class:"nav-link#{locals[:active_subtab] == "support" ? " active" : nil}", href: url("/help-others/#{@viewed_user.identifier}/support")}= I18n.t('help.support')
