%nav#network-nav.navbar.navbar-light.navbar-expand.bg-light.overflow-auto
  %ul.navbar-nav
    %li.nav-item
      %a{class:"text-nowrap nav-link#{locals[:active_subtab] == "default" ? " active" : nil}", href: url("/dataset/#{@dataset.uuid}/agents")}= I18n.t('dataset.alphabetical')
    %li.nav-item
      %a{class:"text-nowrap nav-link#{locals[:active_subtab] == "counts" ? " active" : nil}", href: url("/dataset/#{@dataset.uuid}/agents/counts")}= I18n.t('dataset.counts')
    %li.nav-item
      %a{class:"text-nowrap nav-link#{locals[:active_subtab] == "unclaimed" ? " active" : nil}", href: url("/dataset/#{@dataset.uuid}/agents/unclaimed")}= I18n.t('dataset.unclaimed')
