.col-12.col-lg-4.text-center.sidebar
  %h1.mt-3.h2 #{h(@dataset.title)}

  %p
    = link_to "https://gbif.org/dataset/#{@dataset.uuid}", "https://gbif.org/dataset/#{@dataset.uuid}"

  - if @dataset.image_url
    .m-1
      %img.rounded.mx-auto.img-fluid{src:"https://abekpgaoen.cloudimg.io/bound/350x200/q100/#{@dataset.image_url}", style:"max-height:200px;", alt:"#{@dataset.title}"}

  - if @dataset.description
    %p.text-muted.text-left
      #{h(Sanitize.fragment(@dataset.description))}

  - if @dataset.license && @dataset.license_icon
    %p.mb-1
      %a{href: "#{@dataset.license}"}
        %img{src:"#{@dataset.license_icon}", alt: ""}

  - if @dataset.doi
    %p.mb-1
      %a{href: "https://doi.org/#{@dataset.doi}"}
        %img{src:"/images/#{@dataset.doi}.svg", alt: ""}

  %p.mb-1
    %img{src: "/dataset/#{@dataset.uuid}/badge.svg", alt: "Click to get badge html", width:"200", height:"20"}
    %a{href: "#", "data-toggle": "modal", "data-target": "#badge_content", "data-keyboard": "true", "data-focus": "true"}
      %i.fas.fa-info-circle{"data-toggle":"tooltip", title: "#{I18n.t('dataset.badge_tooltip')}"}
  #badge_content.modal.fade{tabindex: "-1"}
    .modal-dialog.modal-dialog-centered.modal-dialog-scrollable.modal-xl{style: "height:100%"}
      .modal-content{style: "height:60%"}
        .modal-header
          %h5.modal-title= I18n.t('dataset.badge_modal')
          %button.close{type: "button", "data-dismiss": "modal", "aria-label": "#{I18n.t('help.close')}"}
            %span{"aria-hidden": true} &times;
        .modal-body.h-100.w-100
          %pre.pre-scrollable.text-left
            %code
              :preserve
                &lt;a href="https://bionomia.net/dataset/#{@dataset.uuid}"&gt;
                  &lt;img src="https://api.bionomia.net/dataset/#{@dataset.uuid}/badge.svg" alt="Bionomia dataset badge" width="200" height="20"&gt;
                &lt;/a&gt;
        .modal-footer
          %button.btn.btn-secondary{type: "button", "data-dismiss": "modal"}= I18n.t('help.close')

  - if authorized?
    .mt-3.pt-3.border-top
      %a.profile-flush.mr-2.mb-2.text-nowrap{href: url("/dataset/#{@dataset.uuid}/refresh.json")}
        %i.fas.fa-sync-alt
        = I18n.t('general.refresh_profile')
        %img{src: "/images/gbif_18x18.svg", alt:"GBIF", width:"18px"}

      - if admin_authorized?
        %a.mr-2.mb-2.text-nowrap{href: url("/admin/dataset/#{@dataset.uuid}")}
          %i.fas.fa-cog
          = I18n.t('general.settings')

    #flush-message.alert.alert-success.alert-dismissible.fade.show.text-center{role: "alert"}
      = I18n.t("user.caches_rebuilt")
      %button.close{type:"button", "data-dismiss":"alert", "aria-label":"Close"}
        %span{"aria-hidden":"true"} &times;
