- if @dataset || @agent || @taxon
  %div{class: "alert alert-warning", role: "alert"}
    - if @dataset
      %div
        %i{class:"fas fa-filter"}
        Filtered by
        %span{class:"font-weight-bold mr-2"}
          #{@dataset.title.truncate(125, separator: ' ')}
        %a{href: "#{@dataset.license}", itemprop: "license"}
          %img{src:"#{@dataset.license_icon("small")}"}
        %a{href: url("#{locals[:url]}?&datasetKey=&agent_id=#{params[:agent_id]}&taxon_id=#{params[:taxon_id]}"), class:"ml-2 text-danger"}
          %i{class:"fas fa-minus-circle"}
          Remove
    - if @agent
      %div
        %i{class:"fas fa-search"}
        Searched for
        %span{class:"font-weight-bold mr-2"}
          #{@agent.fullname_reverse}
        %a{href: url("#{locals[:url]}?datasetKey=#{params[:datasetKey]}&agent_id=&taxon_id=#{params[:taxon_id]}"), class:"ml-2 text-danger"}
          %i{class:"fas fa-minus-circle"}
          Remove
    - if @taxon
      %div
        %i{class:"fas fa-filter"}
        Filtered by
        %span{class:"font-weight-bold mr-2"}
          #{@taxon.family}
        %a{href: url("#{locals[:url]}?datasetKey=#{params[:datasetKey]}&agent_id=#{params[:agent_id]}&taxon_id="), class:"ml-2 text-danger"}
          %i{class:"fas fa-minus-circle"}
          Remove
