- if @dataset || @agent || @taxon || @kingdom
  .alert.alert-warning{role: "alert"}
    - if @dataset
      %div
        %i.fas.fa-filter
        Filtered by
        %span.font-weight-bold.mr-2
          #{@dataset.title.truncate(125, separator: ' ')}
        %a{href: "#{@dataset.license}", itemprop: "license"}
          %img{src:"#{@dataset.license_icon("small")}"}
        %a.ml-2.text-danger{href: url("#{locals[:url]}?agent_id=#{params[:agent_id]}&taxon_id=#{params[:taxon_id]}&kingdom=#{params[:kingdom]}&datasetKey=")}
          %i.fas.fa-minus-circle
          = I18n.t('general.remove')
    - if @agent
      %div
        %i.fas.fa-search
        Searched for
        %span.font-weight-bold.mr-2
          #{@agent.fullname_reverse}
        %a.ml-2.text-danger{href: url("#{locals[:url]}?datasetKey=#{params[:datasetKey]}&taxon_id=#{params[:taxon_id]}&kingdom=#{params[:kingdom]}&agent_id=")}
          %i.fas.fa-minus-circle
          = I18n.t('general.remove')
    - if @kingdom
      %div
        %i.fas.fa-filter
        Filtered by
        %span.font-weight-bold.mr-2
          #{@kingdom}
        %a.ml-2.text-danger{href: url("#{locals[:url]}?datasetKey=#{params[:datasetKey]}&agent_id=#{params[:agent_id]}&taxon_id=#{params[:taxon_id]}&kingdom=")}
          %i.fas.fa-minus-circle
          = I18n.t('general.remove')
    - if @taxon
      %div
        %i.fas.fa-filter
        Filtered by
        %span.font-weight-bold.mr-2
          #{@taxon.family}
        %a.ml-2.text-danger{href: url("#{locals[:url]}?datasetKey=#{params[:datasetKey]}&agent_id=#{params[:agent_id]}&kingdom=#{params[:kingdom]}&taxon_id=")}
          %i.fas.fa-minus-circle
          = I18n.t('general.remove')
