.alert.alert-info.tiny-margins.row{role: "alert"}
  .col.col-12.col-md-8.p-0
  .col.col-12.col-md-4.p-0.text-md-right
    %a{href: url("#{locals[:dest]}")}
      %i.fas.fa-search-minus
      = I18n.t('help.close')

.mt-3
  %h4= I18n.t('help.advanced_search_title')

  %form{method: :post, action: "#{locals[:url]}/advanced-search", "accept-charset": "UTF-8"}

    .form-group
      %label.font-weight-bold{for: "kingdom"}= I18n.t("help.kingdom_string")
      .col-8.col-md-4.pl-0
        - if @kingdom.nil?
          %select#kingdom.form-control{name:"kingdom"}
            %option
            - Taxon::KINGDOMS.each do |kingdom|
              %option #{kingdom}

        - else
          - q = params.except("id", "authenticity_token", "agent", "dataset", "taxon", "kingdom").to_query
          %span
            %a.text-danger{href: url("#{locals[:url]}/advanced-search?#{q}")}
              %i.fas.fa-minus-circle
              = I18n.t('general.remove')
          %span
            #{@kingdom}
          %input{type: :hidden, name: "kingdom", value: params[:kingdom]}

    .form-group
      %label.font-weight-bold{for: "typeahead-taxon"}= I18n.t('help.taxon_string')
      .col-12.col-md-8.pl-0
        - if @taxon.nil?
          %input#typeahead-taxon.typeahead{type: :text, name: "taxon", value: "#{params[:taxon]}", autocomplete:"off"}
        - else
          - q = params.except("id", "authenticity_token", "agent", "dataset", "taxon", "taxon_id").to_query
          %span
            %a{href: url("#{locals[:url]}/advanced-search?#{q}"), class:"text-danger"}
              %i.fas.fa-minus-circle
              = I18n.t('general.remove')
          %span
            #{@taxon.family}
          %input{type: :hidden, name: "taxon_id", value: params[:taxon_id]}

    .form-group
      %label.font-weight-bold{for: "typeahead-dataset"}= I18n.t("help.dataset")
      .col-12.col-md-8.pl-0
        - if @dataset.nil?
          %input#typeahead-dataset.typeahead{type: :text, name: "dataset", value: "#{params[:dataset]}", autocomplete:"off"}
        - else
          - q = params.except("id", "authenticity_token", "agent", "dataset", "taxon", "datasetKey").to_query
          %span
            %a.text-danger{href: url("#{locals[:url]}/advanced-search?#{q}")}
              %i.fas.fa-minus-circle
              = I18n.t('general.remove')
          %span
            #{@dataset.title}
          %input{type: :hidden, name: "datasetKey", value: params[:datasetKey]}

    .form-group
      %label.font-weight-bold{for: "typeahead-agent"}= I18n.t('help.agent_string')
      .col-12.col-md-8.pl-0
        - if @agent.nil?
          %input#typeahead-agent.typeahead{type: :text, name: "agent", value: "#{params[:agent]}", autocomplete:"off"}
        - else
          - q = params.except("id", "authenticity_token", "agent", "dataset", "taxon", "agent_id").to_query
          %span
            %a{href: url("#{locals[:url]}/advanced-search?#{q}"), class:"text-danger"}
              %i.fas.fa-minus-circle
              = I18n.t('general.remove')
          %span
            #{@agent.fullname_reverse}
          %input{type: :hidden, name: "agent_id", value: params[:agent_id]}

    .form-group
      %label.font-weight-bold{for: "country_code"}= I18n.t("help.country")
      .col-8.col-md-4.pl-0
        - if @country_code.nil?
          %select#country.form-control{name:"country_code"}
            %option
            - I18nData.countries(I18n.locale).sort_by{|a| a[1]}.each do |country|
              %option{label: "#{country[1]}"} #{country[0]}

        - else
          - q = params.except("id", "authenticity_token", "agent", "dataset", "taxon", "country_code").to_query
          %span
            %a.text-danger{href: url("#{locals[:url]}/advanced-search?#{q}")}
              %i.fas.fa-minus-circle
              = I18n.t('general.remove')
          %span
            #{I18nData.countries(I18n.locale).slice(@country_code.upcase).flatten.last}
          %input{type: :hidden, name: "country_code", value: params[:country_code]}

    %input{type:"hidden", name:"authenticity_token", value:"#{env['rack.session'][:csrf]}"}
    %button.btn.btn-success{type:"submit"}= I18n.t('general.search')

    - if @agent || @dataset || @taxon || @kingdom || @country_code
      - q = params.except("id", "authenticity_token", "agent", "dataset", "taxon").to_query
      %a.btn.btn-info{href: url("#{locals[:dest]}?#{q}")}= I18n.t('general.apply')

- if params[:dataset] && params[:dataset].size > 0 && !@dataset_results.empty? && params[:agent] && params[:agent].size > 0 && !@agent_results.empty? && params[:taxon] && params[:taxon].size > 0 && !@taxon_results.empty?
  %p.mt-3
    %a{href: "#datasets"}
      = I18n.t('help.datasets')
    |
    %a{href:"#taxa"}
      = I18n.t('help.taxa')
    |
    %a{href:"#agents"}
      = I18n.t('help.agents')

- if params[:dataset] && params[:dataset].size > 0 && !@dataset_results.empty?
  %a{name: "datasets"}
  .alert.alert-info.tiny-margins{role: "alert"}
    Search results for
    = succeed "." do
      %span.font-weight-bold #{h(params[:dataset])}
    Click dataset card below to add a filter.

  - @dataset_results.in_groups_of(3) do |group|
    .card-deck
      - group.each do |d|
        - if d.nil?
          .card.border-0
        - else
          - dataset = Dataset.find(d[:id].to_i) rescue nil
          - if !dataset.nil?
            .card.card-profile.m-3
              - if dataset.image_url
                .card-header.d-flex
                  %div
                    %img.mr-2.rounded{src:"https://abekpgaoen.cloudimg.io/crop/48x48/n/#{dataset.image_url}", style:"max-width:48px;max-height:48px;", alt:"#{dataset.title}"}
                  .flex-grow-1
                    %h5
                      = link_to dataset.title, url("#{locals[:url]}/advanced-search?datasetKey=#{dataset.uuid}&agent_id=#{params[:agent_id]}&kingdom=#{params[:kingdom]}&taxon_id=#{params[:taxon_id]}")
                    %p.text-muted
              - else
                .card-header
                  %h5
                    = link_to dataset.title, url("#{locals[:url]}/advanced-search?datasetKey=#{dataset.uuid}&agent_id=#{params[:agent_id]}&kingdom=#{params[:kingdom]}&taxon_id=#{params[:taxon_id]}")
                  %p.text-muted
              .card-body
              .card-footer
                .col.small.text-left.text-muted
                .col.small.text-right.text-muted
                  %a{href: "#{dataset.license}"}
                    %img{src:"#{dataset.license_icon("small")}"}

- elsif params[:dataset] && params[:dataset].size > 0 && @dataset_results.empty?
  .alert.alert-warning.tiny-margins{role: "alert"}
    = I18n.t('dataset.none_found', searched: h(params[:dataset]))

- if @taxon_results && !@taxon_results.empty?
  %a{name: "taxa"}
  .alert.alert-info.tiny-margins{role: "alert"}
    Search results for
    = succeed "." do
      %span.font-weight-bold #{h(params[:taxon])}
    Click Family below to add a filter.

  .row
    - @taxon_results.each_slice(25) do |group|
      .col-12.col-md-3.mb-3
        %ul.list-unstyled.m-2
          - group.each do |o|
            %li
              = link_to o[:name], url("#{locals[:url]}/advanced-search?datasetKey=#{params[:datasetKey]}&agent_id=#{params[:agent_id]}&kingdom=#{params[:kingdom]}&taxon_id=#{o[:id]}")

- elsif params[:taxon] && params[:taxon].size > 0 && @taxon_results.empty?
  .alert.alert-warning.tiny-margins{role: "alert"}
    = I18n.t('taxa.none_found', searched: h(params[:taxon]))

- if @agent_results && !@agent_results.empty?
  %a{name: "agents"}
  .alert.alert-info.tiny-margins{role: "alert"}
    Search results for
    = succeed "." do
      %span.font-weight-bold #{h(params[:agent])}
    Click agent string below to add a search.

  .row
    - @agent_results.each_slice(25) do |group|
      .col-12.col-md-3.mb-3
        %ul.list-unstyled.m-2
          - group.each do |a|
            %li
              = link_to a[:fullname_reverse], url("#{locals[:url]}/advanced-search?datasetKey=#{params[:datasetKey]}&agent_id=#{a[:id]}&kingdom=#{params[:kingdom]}&taxon_id=#{params[:taxon_id]}")

- elsif params[:agent] && params[:agent].size > 0 && @agent_results.empty?
  .alert.alert-warning.tiny-margins{role: "alert"}
    = I18n.t('agent.search_none', searched: h(params[:agent]))
