%div{class: "alert alert-info tiny-margins row", role: "alert"}
  %div{class: "col col-12 col-md-8 p-0"}
  %div{class:"col col-12 col-md-4 p-0 text-md-right"}
    %a{href: url("#{locals[:dest]}")}
      %i{class:"fas fa-search-minus"}
      = I18n.t('help.close')

%div{class:"mt-3"}
  %h4= I18n.t('help.advanced_search_title')

  %form{method: :post, action: "#{locals[:url]}/advanced-search", "accept-charset" => "UTF-8"}

    %div{class: "form-group"}
      %label{for: "kingdom", class:"font-weight-bold"}= I18n.t("help.kingdom_string")
      %div{class:"col-8 col-md-4 pl-0"}
        - if @kingdom.nil?
          %select{class:"form-control", id:"kingdom", name:"kingdom"}
            %option
            - Taxon::KINGDOMS.each do |kingdom|
              %option #{kingdom}

        - else
          - q = params.except("id", "authenticity_token", "agent", "dataset", "taxon", "kingdom").to_query
          %span
            %a{href: url("#{locals[:url]}/advanced-search?#{q}"), class:"text-danger"}
              %i{class:"fas fa-minus-circle"}
              = I18n.t('general.remove')
          %span
            #{@kingdom}
          %input{type: :hidden, name: "kingdom", value: params[:kingdom]}

    %div{class: "form-group"}
      %label{for: "typeahead-taxon", class:"font-weight-bold"}= I18n.t('help.taxon_string')
      %div{class:"col-12 col-md-8 pl-0"}
        - if @taxon.nil?
          %input{id: "typeahead-taxon", type: :text, name: "taxon", value: "#{params[:taxon]}", class:"typeahead", autocomplete:"off"}
        - else
          - q = params.except("id", "authenticity_token", "agent", "dataset", "taxon", "taxon_id").to_query
          %span
            %a{href: url("#{locals[:url]}/advanced-search?#{q}"), class:"text-danger"}
              %i{class:"fas fa-minus-circle"}
              = I18n.t('general.remove')
          %span
            #{@taxon.family}
          %input{type: :hidden, name: "taxon_id", value: params[:taxon_id]}

    %div{class: "form-group"}
      %label{for: "typeahead-dataset", class:"font-weight-bold"}= I18n.t("help.dataset")
      %div{class:"col-12 col-md-8 pl-0"}
        - if @dataset.nil?
          %input{id: "typeahead-dataset", type: :text, name: "dataset", value: "#{params[:dataset]}", class:"typeahead", autocomplete:"off"}
        - else
          - q = params.except("id", "authenticity_token", "agent", "dataset", "taxon", "datasetKey").to_query
          %span
            %a{href: url("#{locals[:url]}/advanced-search?#{q}"), class:"text-danger"}
              %i{class:"fas fa-minus-circle"}
              = I18n.t('general.remove')
          %span
            #{@dataset.title}
          %input{type: :hidden, name: "datasetKey", value: params[:datasetKey]}

    %div{class: "form-group"}
      %label{for: "typeahead-agent", class:"font-weight-bold"}= I18n.t('help.agent_string')
      %div{class:"col-12 col-md-8 pl-0"}
        - if @agent.nil?
          %input{id: "typeahead-agent", type: :text, name: "agent", value: "#{params[:agent]}", class:"typeahead", autocomplete:"off"}
        - else
          - q = params.except("id", "authenticity_token", "agent", "dataset", "taxon", "agent_id").to_query
          %span
            %a{href: url("#{locals[:url]}/advanced-search?#{q}"), class:"text-danger"}
              %i{class:"fas fa-minus-circle"}
              = I18n.t('general.remove')
          %span
            #{@agent.fullname_reverse}
          %input{type: :hidden, name: "agent_id", value: params[:agent_id]}

    %input{type:"hidden", name:"authenticity_token", value:"#{env['rack.session'][:csrf]}"}
    %button{type:"submit", class:"btn btn-success"}= I18n.t('general.search')

    - if @agent || @dataset || @taxon || @kingdom
      - q = params.except("id", "authenticity_token", "agent", "dataset", "taxon").to_query
      %a{href: url("#{locals[:dest]}?#{q}"), class:"btn btn-info"}= I18n.t('general.apply')

- if params[:dataset] && params[:dataset].size > 0 && !@dataset_results.empty? && params[:agent] && params[:agent].size > 0 && !@agent_results.empty? && params[:taxon] && params[:taxon].size > 0 && !@taxon_results.empty?
  %p{class:"mt-3"}
    %a{href: "#datasets"}
      = I18n.t('help.datasets')
    |
    %a{href:"#taxa"}
      = I18n.t('help.taxa')
    |
    %a{href:"#agents"}
      = I18n.t('help.agents')

- if params[:dataset] && params[:dataset].size > 0 && !@dataset_results.empty?
  %a{name: "datasets"}
  %div{class: "alert alert-info tiny-margins", role: "alert"}
    Search results for
    = succeed "." do
      %span{class: "font-weight-bold"} #{h(params[:dataset])}
    Click dataset card below to add a filter.

  - @dataset_results.in_groups_of(3).each do |group|
    %div{class: "card-deck"}
      - group.each do |d|
        - if d.nil?
          %div{class:"card border-0"}
        - else
          - dataset = Dataset.find(d[:id].to_i) rescue nil
          - if !dataset.nil?
            %div{class: "card card-profile m-3"}
              - if dataset.image_url
                %div{class: "card-header d-flex"}
                  %div
                    %img{src:"#{organization_image(dataset, 'medium')}", alt:"#{dataset.title}", class:"mr-2 rounded"}
                  %div{class:"flex-grow-1"}
                    %h5
                      %a{href: url("#{locals[:url]}/advanced-search?datasetKey=#{dataset.datasetKey}&agent_id=#{params[:agent_id]}&kingdom=#{params[:kingdom]}&taxon_id=#{params[:taxon_id]}")} #{dataset.title}
                    %p{class:"text-muted"}
              - else
                %div{class: "card-header"}
                  %h5
                    %a{href: url("#{locals[:url]}/advanced-search?datasetKey=#{dataset.datasetKey}&agent_id=#{params[:agent_id]}&kingdom=#{params[:kingdom]}&taxon_id=#{params[:taxon_id]}")} #{dataset.title}
                  %p{class:"text-muted"}
              %div{class: "card-body"}

              %div{class: "card-footer"}
                %div{class: "col small text-left text-muted"}
                %div{class: "col small text-right text-muted"}
                  %a{href: "#{dataset.license}"}
                    %img{src:"#{dataset.license_icon("small")}"}

- elsif params[:dataset] && params[:dataset].size > 0 && @dataset_results.empty?
  %div{class: "alert alert-warning tiny-margins", role: "alert"}
    = I18n.t('dataset.none_found', searched: h(params[:dataset]))

- if @taxon_results && !@taxon_results.empty?
  %a{name: "taxa"}
  %div{class: "alert alert-info tiny-margins", role: "alert"}
    Search results for
    = succeed "." do
      %span{class: "font-weight-bold"} #{h(params[:taxon])}
    Click Family below to add a filter.

  %div{class: "row"}
    - @taxon_results.in_groups_of(25, false).each do |group|
      %div{class: "col-12 col-md-3 mb-3"}
        %ul{class: "list-unstyled m-2"}
          - group.each do |o|
            %li
              %a{href: url("#{locals[:url]}/advanced-search?datasetKey=#{params[:datasetKey]}&agent_id=#{params[:agent_id]}&kingdom=#{params[:kingdom]}&taxon_id=#{o[:id]}")} #{o[:name]}

- elsif params[:taxon] && params[:taxon].size > 0 && @taxon_results.empty?
  %div{class: "alert alert-warning tiny-margins", role: "alert"}
    = I18n.t('taxa.none_found', searched: h(params[:taxon]))

- if @agent_results && !@agent_results.empty?
  %a{name: "agents"}
  %div{class: "alert alert-info tiny-margins", role: "alert"}
    Search results for
    = succeed "." do
      %span{class: "font-weight-bold"} #{h(params[:agent])}
    Click agent string below to add a search.

  %div{class: "row"}
    - @agent_results.in_groups_of(25, false).each do |group|
      %div{class: "col-12 col-md-3 mb-3"}
        %ul{class: "list-unstyled m-2"}
          - group.each do |o|
            %li
              %a{href: url("#{locals[:url]}/advanced-search?datasetKey=#{params[:datasetKey]}&agent_id=#{o[:id]}&kingdom=#{params[:kingdom]}&taxon_id=#{params[:taxon_id]}")} #{o[:fullname_reverse]}

- elsif params[:agent] && params[:agent].size > 0 && @agent_results.empty?
  %div{class: "alert alert-warning tiny-margins", role: "alert"}
    = I18n.t('agent.search_none', searched: h(params[:agent]))
