%h4= I18n.t('user.dates_identified')
%ul.nav.nav-pills.custom-pills.mt-3{role:"tablist"}
  %li.nav-item
    %a.nav-link.active{"data-toggle":"tab", href: "#chart-identified-wrapper"}= I18n.t('user.chart')
  %li.nav-item
    %a.nav-link{"data-toggle":"tab", href: "#chart-list-identified"}= I18n.t('user.list')

.tab-content.mb-3
  #chart-identified-wrapper.tab-pane.fade.show.active{role:"tabpanel"}
    #chart-identified
  #chart-list-identified.tab-pane.fade.col-12.col-lg-6{role:"tabpanel"}
    %ul.list-group.mt-3
      - @stats[:identified_bins].each do |bin|
        %li.list-group-item.d-flex.justify-content-between.align-items-center
          = link_to "#{bin[0]} – #{bin[0].to_i + 5}", "#{locals[:path]}/specimens?action=identified&start_year=#{bin[0]}&end_year=#{bin[0].to_i + 5}"
          %span.badge.badge-light.badge-pill #{number_with_delimiter(bin[1])}
