%form#form-taxon-visualization.form-inline.mt-3{method: :get, action: "#{locals[:url]}", "accept-charset": "UTF-8"}
  .input-group.input-group-sm.col-4.col-md-3.col-lg-2.pl-0.mb-2
    .input-group-prepend
      %span.input-group-text= I18n.t('taxa.start_year')
    %input.form-control{type:"text", name:"start_year", value:"#{locals[:params][:start_year]}"}
  .input-group.input-group-sm.col-4.col-md-3.col-lg-2.pl-0.mb-2
    .input-group-prepend
      %span.input-group-text= I18n.t('taxa.end_year')
    %input.form-control{type:"text", name:"end_year", value:"#{locals[:params][:end_year]}"}
  %input{type: :hidden, name: "action", value: "#{@action}"}
  %input.btn.btn-success.btn-sm.medium-margins.align-self-start{type: :submit, value:"#{I18n.t('general.search')}"}
