- content_for :scripts do
  %script{src: "//www.gstatic.com/charts/loader.js"}
  %script{src: "/js/jquery.throttledresize.js"}

  :javascript
    $.fn.outerHTML = function(s) {
    return (s)
      ? this.before(s).remove()
      : jQuery("<p>").append(this.eq(0).clone()).html();
    }

    $(function() {
      Application.init("", "GET", "/taxa");

      var timeline = #{@timeline};

      function range(a, b) {
        if (a === b) {
          return a.toString();
        } else {
          return a + " – " + b;
        }
      }

      function popup(html, range) {
        return $(html).find(".range").text(range).parents(".card").outerHTML();
      }

      function parseDateString(s) {
        var b = s.split(/\D+/);
        return new Date(b[0], --b[1], b[2]);
      }

      function timeLine() {
        var part = [];
        $.each(timeline, function() {
          var startDate = parseDateString(this[3]);
          var endDate = parseDateString(this[4]);
          var startYear = startDate.getFullYear();
          var endYear = endDate.getFullYear();
          var birthDate = (this[5] !== "") ? parseDateString(this[5]) : "";
          var deathDate = (this[6] !== "") ? parseDateString(this[6]) : "";
          if (birthDate && deathDate) {
            var proper_order = [ birthDate, startDate, endDate, deathDate ];
            var sorted_order = proper_order.slice().sort(function(a,b) { return a - b; });
            var birthYear = birthDate.getFullYear();
            var deathYear = deathDate.getFullYear();
            if (JSON.stringify(proper_order) === JSON.stringify(sorted_order)) {
              part.push({ c: [ { v: this[1], p: { data: this[1] } }, { v: range(startYear, endYear) }, { v: popup(this[2], range(startYear, endYear)) }, { v: 'fill-color:#3a7179;' }, { v: startDate }, { v: endDate } ] });
            } else {
              if (birthDate >= endDate) {
                part.push({ c: [ { v: this[1] }, { v: range(startYear, endYear) }, { v: popup(this[2], range(startYear, endYear)) }, { v: 'fill-color:#dc3545;' }, { v: startDate }, { v: endDate } ] });
              } else if (deathDate <= startDate) {
                part.push({ c: [ { v: this[1] }, { v: range(startYear, endYear) }, { v: popup(this[2], range(startYear, endYear)) }, { v: 'fill-color:#dc3545;' }, { v: startDate }, { v: endDate } ] });
              } else if (birthDate >= startDate && endDate <= deathDate) {
                part.push({ c: [ { v: this[1] }, { v: range(startYear, birthYear) }, { v: popup(this[2], range(startYear, birthYear)) }, { v: 'fill-color:#dc3545;' }, { v: startDate }, { v: birthDate } ] });
                part.push({ c: [ { v: this[1] }, { v: range(birthYear, endYear) }, { v: popup(this[2], range(birthYear, endYear)) }, { v: 'fill-color:#3a7179;' }, { v: birthDate }, { v: endDate } ] });
              } else if (birthDate >= startDate && endDate > deathDate) {
                part.push({ c: [ { v: this[1] }, { v: range(startYear, birthYear) }, { v: popup(this[2], range(startYear, birthYear)) }, { v: 'fill-color:#dc3545;' }, { v: startDate }, { v: birthDate } ] });
                part.push({ c: [ { v: this[1] }, { v: range(birthYear, deathYear) }, { v: popup(this[2], range(birthYear, deathYear)) }, { v: 'fill-color:#3a7179;' }, { v: birthDate }, { v: deathDate } ] });
                part.push({ c: [ { v: this[1] }, { v: range(deathYear, endYear) }, { v: popup(this[2], range(deathYear, endYear)) }, { v: 'fill-color:#dc3545;' }, { v: deathDate }, { v: endDate } ] });
              } else if (birthDate < startDate && endDate >= deathDate) {
                part.push({ c: [ { v: this[1] }, { v: range(startYear, deathYear) }, { v: popup(this[2], range(startYear, deathYear)) }, { v: 'fill-color:#3a7179;' }, { v: startDate }, { v: deathDate } ] });
                part.push({ c: [ { v: this[1] }, { v: range(deathYear, endYear) }, { v: popup(this[2], range(deathYear, endYear)) }, { v: 'fill-color:#dc3545;' }, { v: deathDate }, { v: endDate } ] });
              }
            }
          } else if ( !birthDate && !deathDate) {
            if (endYear - startYear >= 120 ) {
              part.push({ c: [ { v: this[1] }, { v: range(startYear, endYear) }, { v: popup(this[2], range(startYear, endYear)) }, { v: 'fill-color:#dc3545;' }, { v: startDate }, { v: endDate } ] });
            } else {
              part.push({ c: [ { v: this[1] }, { v: range(startYear, endYear) }, { v: popup(this[2], range(startYear, endYear)) }, { v: 'fill-color:#3a7179;' }, { v: startDate }, { v: endDate } ] });
            }
          } else {
            if(!deathDate && birthDate >= endDate) {
              part.push({ c: [ { v: this[1] }, { v: range(startYear, endYear) }, { v: popup(this[2], range(startYear, endYear)) }, { v: 'fill-color:#dc3545;' }, { v: startDate }, { v: endDate } ] });
            } else if (!deathDate && birthDate >= startDate) {
              var birthYear = birthDate.getFullYear();
              part.push({ c: [ { v: this[1] }, { v: range(startYear, birthYear) }, { v: popup(this[2], range(startYear, birthYear)) }, { v: 'fill-color:#dc3545;' }, { v: startDate }, { v: birthDate } ] });
              part.push({ c: [ { v: this[1] }, { v: range(birthYear, endYear) }, { v: popup(this[2], range(birthYear, endYear)) }, { v: 'fill-color:#3a7179;' }, { v: birthDate }, { v: endDate } ] });
            } else if (!deathDate && birthDate < startDate) {
              part.push({ c: [ { v: this[1] }, { v: range(startYear, endYear) }, { v: popup(this[2], range(startYear, endYear)) }, { v: 'fill-color:#3a7179;' }, { v: startDate }, { v: endDate } ] });
            }
            if(!birthDate && deathDate <= startDate) {
              part.push({ c: [ { v: this[1] }, { v: range(startYear, endYear) }, { v: popup(this[2], range(startYear, endYear)) }, { v: 'fill-color:#dc3545;' }, { v: startDate }, { v: endDate } ] });
            } else if (!birthDate && deathDate <= endDate) {
              var deathYear = deathDate.getFullYear();
              part.push({ c: [ { v: this[1] }, { v: range(startYear, deathYear) }, { v: popup(this[2], range(startYear, deathYear)) }, { v: 'fill-color:#3a7179;' }, { v: startDate }, { v: deathDate } ] });
              part.push({ c: [ { v: this[1] }, { v: range(deathYear, endYear) }, { v: popup(this[2], range(deathYear, endYear)) }, { v: 'fill-color:#dc3545;' }, { v: deathDate }, { v: endDate } ] });
            } else if (!birthDate && deathDate > endDate) {
              part.push({ c: [ { v: this[1] }, { v: range(startYear, endYear) }, { v: popup(this[2], range(startYear, endYear)) }, { v: 'fill-color:#3a7179;' }, { v: startDate }, { v: endDate } ] });
            }
          }
        });
        return part;
      }

      function drawVisualizations() {
        var container = $('#timeline')[0],
            chart = new google.visualization.Timeline(container),
            rowHeight = 41,
            options = {};

        if (timeline.length == 1) {
          return;
        }

        if (timeline.length > 1) {
          var dataTable = new google.visualization.DataTable({
            cols: [
              { type: 'string', id: 'Fullname' },
              { type: 'string', id: 'Bar label' },
              { type: 'string', role: 'tooltip' },
              { type: 'string', role: 'style' },
              { type: 'date', id: 'Start' },
              { type: 'date', id: 'End' }
            ],
            rows: timeLine()
          });
          options = {
            height: (timeline.length * rowHeight) + 50,
            timeline: {
              groupByRowLabel: true,
              avoidOverlappingGridLines: false
            }
          };

          google.visualization.events.addListener(chart, 'onmouseover', function(e) {
            if (e.row !== null) { $('#timeline').css('cursor','pointer'); }
          });
          google.visualization.events.addListener(chart, 'onmouseout', function() { $('#timeline').css('cursor','default'); });
          google.visualization.events.addListener(chart, 'select', function() {
            var sel = chart.getSelection()[0];
            var id = $(dataTable.getValue(sel.row, 2)).attr("data-identifier");
            var start_year = dataTable.getValue(sel.row, 4).getFullYear();
            var end_year = dataTable.getValue(sel.row, 5).getFullYear();
            var extra_param = ""
            if (typeof sel.row !== "undefined" && sel.row !== null) {
              window.location = "/" + id + "/specimens?action=#{@action}&start_year=" + start_year + "&end_year=" + end_year + "#{locals[:extra_param]}";
            }
          });

          chart.draw(dataTable, options);
        }
      }

      google.charts.load('current', {
        packages: ['timeline'],
        language: '#{I18n.locale.to_s}',
        mapsApiKey: "#{Settings.google.api_key}"
      });
      google.charts.setOnLoadCallback(drawVisualizations);

      $(window).on("throttledresize", function(event) {
        drawVisualizations();
      });

    });
