= haml :'partials/organization/twitter_img', layout: false

- content_for :title, "#{@organization.name}"

- content_for :stylesheets do
  - if @organization.latitude
    %link{href: "https://unpkg.com/leaflet@1.4.0/dist/leaflet.css", rel: "stylesheet", type: "text/css"}

- content_for :scripts do
  %script{src: "https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"}
  = haml :'partials/organization/jumbotron_scripts', layout:false

.row
  = haml :'partials/organization/jumbotron', layout:false

  .col-12.col-lg-8.mt-2
    = haml :'partials/organization/tabs', layout:false, locals: { active_tab: 'organization-articles' }

    %h4.mt-3= I18n.t('organization.science_enabled')

    - if @pagy.count == 0
      .alert.alert-info.tiny-margins{role: "alert"}= I18n.t('organization.affiliation_none_alert')
    - else
      .alert.alert-info.tiny-margins{role: "alert"}= I18n.t('organization.affiliation_alert', count: number_with_delimiter(@pagy.count), org_name: @organization.name)

      .citation-wrapper
        - @results.each do |article|
          .card
            .card-header
              %p.citation.card-title
                #{h(article.citation)}
                = link_to "https://doi.org/#{article.doi}", "https://doi.org/#{article.doi}"
            .card-body
              .altmetric-embed.pull-left.mr-2.float-left{"data-badge-popover":"right", "data-badge-type":"donut", "data-doi":"#{article.doi}", "data-hide-no-mentions":"true", style:"width:64px; height:64px"}
              %p.card-text.text-muted #{h(article.abstract)}
            .card-footer.d-flex
              %p.m-0.p-0
                = I18n.t('organization.collected_by')
                - article.user_ids.split(",").each_with_index do |user_id, index|
                  - user = User.find(user_id)
                  %span
                    - if index != article.user_ids.split(",").size - 1
                      = succeed ", " do
                        = link_to user.viewname, url("/#{user.identifier}")
                    - else
                      = link_to user.viewname, url("/#{user.identifier}")

      - if @pagy.pages > 1
        .overflow-auto
          = pagy_bootstrap_nav(@pagy)
