= haml :'partials/organization/twitter_img', layout: false

-content_for :title do
  #{@organization.name}

-content_for :stylesheets do
  - if @organization.latitude
    %link{href: "https://unpkg.com/leaflet@1.4.0/dist/leaflet.css", rel: "stylesheet", type: "text/css"}

-content_for :scripts do
  = haml :'partials/organization/jumbotron_scripts', layout:false

%div{class:"row"}
  = haml :'partials/organization/jumbotron', layout:false

  %div{class:"col-12 col-lg-8 mt-2"}
    = haml :'partials/organization/tabs', layout:false, locals: { active_tab: 'organization-metrics' }

    %h4{class:"mt-3"}= I18n.t('organization.impact')

    - if @others_recorded.empty? && @others_identified.empty? && @year.nil?
      %div{class: "alert alert-info tiny-margins", role: "alert"}= I18n.t('organization.no_metric_alert', org_name: @organization.name)
    - else
      %div{class: "alert alert-info tiny-margins", role: "alert"}= I18n.t('organization.metric_alert', org_name: @organization.name)

      %div{class:"dropdown"}
        %button{class:"btn btn-info btn-secondary dropdown-toggle", type:"button", id:"dropdownMenuButton", "data-toggle":"dropdown", "aria-haspopup":"true", "aria-expanded":"false"}
          - if Organization::METRICS_YEAR_RANGE.to_a.include?(@year.to_i)
            #{@year}
          - else
            = I18n.t('organization.all_years')
        %div{class:"dropdown-menu", "aria-labelledby":"dropdownMenuButton"}
          %a{class:"dropdown-item", href:"?year="} All years
          - Organization::METRICS_YEAR_RANGE.reverse_each do |y|
            %a{class:"dropdown-item", href:"?year=#{y}"} #{y}

        - if @others_recorded.empty? && @others_identified.empty?
          %div{class: "alert alert-warning tiny-margins", role: "alert"}= I18n.t('organization.none_collected_alert', year: @year)
        - else
          %div{class: "row"}
            %div{class: "col"}
              - if @others_recorded.empty? && !@others_identified.empty?
                %h4{class: "d-flex justify-content-between list-header"}= I18n.t('organization.specimens_identified')
                %div{class: "d-flex justify-content-between list-header h5"}
                  %div
                    %span{class: "badge badge-light badge-secondary"}
                      #{number_with_delimiter(@others_identified.count)}
                    %span{class:"small"}
                      = I18n.t('organization.organizations')
                  %div
                    %span{class: "badge badge-light badge-secondary"}
                      #{number_with_delimiter(@others_identified.values.inject(0){|sum,x| sum + x })}
                    %span{class:"small"}
                      = I18n.t('organization.specimens')
                %ul{class: "list-group"}
                  - @others_identified.each do |k,v|
                    %li{class: "list-group-item d-flex justify-content-between align-items-center"}
                      #{k}
                      %span{class: "badge badge-light badge-pill"} #{number_with_delimiter(v)}
              - elsif !@others_recorded.empty?
                %h4{class: "d-flex justify-content-between list-header"}= I18n.t('organization.specimens_collected')
                %div{class: "d-flex justify-content-between list-header h5"}
                  %div
                    %span{class: "badge badge-light badge-secondary"}
                      #{number_with_delimiter(@others_recorded.count)}
                    %span{class:"small"}
                      = I18n.t('organization.organizations')
                  %div
                    %span{class: "badge badge-light badge-secondary"}
                      #{number_with_delimiter(@others_recorded.values.inject(0){|sum,x| sum + x })}
                    %span{class:"small"}
                      = I18n.t('organization.specimens')
                %ul{class: "list-group"}
                  - @others_recorded.each do |k,v|
                    %li{class: "list-group-item d-flex justify-content-between align-items-center"}
                      #{k}
                      %span{class: "badge badge-light badge-pill"} #{number_with_delimiter(v)}
            %div{class: "col"}
              - if !@others_recorded.empty? && !@others_identified.empty?
                %h4{class: "d-flex justify-content-between list-header"}= I18n.t('organization.specimens_identified')
                %div{class: "d-flex justify-content-between list-header h5"}
                  %div
                    %span{class: "badge badge-light badge-secondary"}
                      #{number_with_delimiter(@others_identified.count)}
                    %span{class:"small"}
                      = I18n.t('organization.organizations')
                  %div
                    %span{class: "badge badge-light badge-secondary"}
                      #{number_with_delimiter(@others_identified.values.inject(0){|sum,x| sum + x })}
                    %span{class:"small"}
                      = I18n.t('organization.specimens')
                %ul{class: "list-group"}
                  - @others_identified.each do |k,v|
                    %li{class: "list-group-item d-flex justify-content-between align-items-center"}
                      #{k}
                      %span{class: "badge badge-light badge-pill"} #{number_with_delimiter(v)}
