= haml :'partials/organization/twitter_img', layout: false

- content_for :title, "#{@organization.name}"

- content_for :stylesheets do
  - if @organization.latitude
    %link{href: "https://unpkg.com/leaflet@1.4.0/dist/leaflet.css", rel: "stylesheet", type: "text/css"}

- content_for :scripts do
  = haml :'partials/organization/jumbotron_scripts', layout: false

.row
  = haml :'partials/organization/jumbotron', layout: false, locals: { active_tab: 'organization-metrics' }

  .col-12.col-lg-8.mt-2
    = haml :'partials/organization/tabs', layout: false, locals: { active_tab: 'organization-metrics' }

    %h4.mt-3= I18n.t('organization.impact')

    - if @others_recorded.empty? && @others_identified.empty? && @year.nil?
      .alert.alert-info.tiny-margins{role: "alert"}= I18n.t('organization.no_metric_alert', org_name: @organization.name)
    - else
      .alert.alert-info.tiny-margins{role: "alert"}= I18n.t('organization.metric_alert', org_name: @organization.name)

      .dropdown
        %button.btn.btn-info.btn-secondary.dropdown-toggle{type:"button", id:"dropdownMenuButton", "data-toggle":"dropdown", "aria-haspopup":"true", "aria-expanded":"false"}
          - if Organization::METRICS_YEAR_RANGE.to_a.include?(@year.to_i)
            #{@year}
          - else
            = I18n.t('organization.all_years')
        .dropdown-menu{"aria-labelledby":"dropdownMenuButton"}
          %a.dropdown-item{href:"?year="} All years
          - Organization::METRICS_YEAR_RANGE.reverse_each do |y|
            %a.dropdown-item{href:"?year=#{y}"} #{y}

        - if @others_recorded.empty? && @others_identified.empty?
          .alert.alert-warning.tiny-margins{role: "alert"}= I18n.t('organization.none_collected_alert', year: @year)
        - else
          .row
            .col
              - if @others_recorded.empty? && !@others_identified.empty?
                %h4.d-flex.justify-content-between.list-header= I18n.t('organization.specimens_identified')
                .d-flex.justify-content-between.list-header.h5
                  %div
                    %span.badge.badge-light.badge-secondary
                      #{number_with_delimiter(@others_identified.count)}
                    %span.small
                      = I18n.t('organization.organizations')
                  %div
                    %span.badge.badge-light.badge-secondary
                      #{number_with_delimiter(@others_identified.values.inject(0){|sum,x| sum + x })}
                    %span.small
                      = I18n.t('organization.specimens')
                %ul.list-group
                  - @others_identified.each do |k,v|
                    %li.list-group-item.d-flex.justify-content-between.align-items-center
                      #{k}
                      %span.badge.badge-light.badge-pill #{number_with_delimiter(v)}
              - elsif !@others_recorded.empty?
                %h4.d-flex.justify-content-between.list-header= I18n.t('organization.specimens_collected')
                .d-flex.justify-content-between.list-header.h5
                  %div
                    %span.badge.badge-light.badge-secondary
                      #{number_with_delimiter(@others_recorded.count)}
                    %span.small
                      = I18n.t('organization.organizations')
                  %div
                    %span.badge.badge-light.badge-secondary
                      #{number_with_delimiter(@others_recorded.values.inject(0){|sum,x| sum + x })}
                    %span.small
                      = I18n.t('organization.specimens')
                %ul.list-group
                  - @others_recorded.each do |k,v|
                    %li.list-group-item.d-flex.justify-content-between.align-items-center
                      #{k}
                      %span.badge.badge-light.badge-pill #{number_with_delimiter(v)}
            .col
              - if !@others_recorded.empty? && !@others_identified.empty?
                %h4.d-flex.justify-content-between.list-header= I18n.t('organization.specimens_identified')
                .d-flex.justify-content-between.list-header.h5
                  %div
                    %span.badge.badge-light.badge-secondary
                      #{number_with_delimiter(@others_identified.count)}
                    %span.small
                      = I18n.t('organization.organizations')
                  %div
                    %span.badge.badge-light.badge-secondary
                      #{number_with_delimiter(@others_identified.values.inject(0){|sum,x| sum + x })}
                    %span.small
                      = I18n.t('organization.specimens')
                %ul.list-group
                  - @others_identified.each do |k,v|
                    %li.list-group-item.d-flex.justify-content-between.align-items-center
                      #{k}
                      %span.badge.badge-light.badge-pill #{number_with_delimiter(v)}
