- content_for :title, I18n.t('agent.agent_title')
- content_for :scripts do
  :javascript
    $(function() {
      Application.init("", "GET", "/agents");
    });

- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        = I18n.t('agent.search_title')
      %p.lead.text-muted
        #{number_to_human(@count, units: :'agent.lede', delimiter: ",", precision: 0)}

    = haml :'partials/agent/search', layout: false

= haml :'partials/agent/tabs', layout: false, locals: { active_tab: "random" }

- if params[:q] && !params[:q].empty? && @formatted_results.empty?
  .alert.alert-warning.tiny-margins.mt-4.d-flex.flex-wrap{role: "alert"}
    %div
      = I18n.t('agent.search_none', searched: h(params[:q]))
    .ml-auto.text-right
      %a.text-danger{href: url("/agents")}
        %i.fa-solid.fa-minus-circle
        #{I18n.t('general.remove')}
- elsif @pagy && @pagy.count > 0
  .alert.alert-info.tiny-margins.mt-4.d-flex.flex-wrap{role: "alert"}
    %div
      #{number_to_human(@pagy.count, units: :'agent.search_count', delimiter: ",", precision: 0)}
      %span #{h(params[:q])}
    .ml-auto.text-right
      %a.text-danger{href: url("/agents")}
        %i.fa-solid.fa-minus-circle
        #{I18n.t('general.remove')}

  .row
    - @formatted_results.each_slice(25) do |group|
      .col-12.col-md-3.mb-3
        %ul.list-unstyled.m-2
          - group.each do |o|
            %li
              = link_to o[:fullname_reverse], url("/agent/#{o[:id]}")

  - if @pagy.pages > 1
    .overflow-auto
      = pagy_bootstrap_nav(@pagy)

- else
  .row.mt-3
    - format_agents.each_slice(25) do |group|
      .col-12.col-sm-3.mb-3
        %ul.list-unstyled.m-2
          - group.each do |a|
            %li
              = link_to a[:fullname_reverse], url("/agent/#{a[:id]}")
