-content_for :title do
  = I18n.t('agent.agent_title')

-content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init("", "GET", "/agents");
    });

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class:"mr-auto p-2"}
      %h1{class:"h2"}= I18n.t('agent.search_title')
      %p{class: "lead text-muted"}
        #{number_to_human(@count, units: :'agent.lede', delimiter: ",", precision: 0)}

    = haml :'partials/agent/search', layout: false

- if params[:q] && !params[:q].empty? && @formatted_results.empty?
  %div{class: "alert alert-warning tiny-margins mt-0", role: "alert"}
    = I18n.t('agent.search_none')
    %span{class: "font-weight-bold"} #{h(params[:q])}
- elsif @pagy && @pagy.count > 0
  %div{class: "alert alert-info tiny-margins mt-0", role: "alert"}
    #{number_to_human(@pagy.count, units: :'agent.search_count', delimiter: ",", precision: 0)}
    %span{class: "font-weight-bold"} #{h(params[:q])}

  %div{class: "row"}
    - @formatted_results.in_groups_of(25, false).each do |group|
      %div{class: "col-12 col-md-3 mb-3"}
        %ul{class: "list-unstyled m-2"}
          - group.each do |o|
            %li
              %a{href: "/agent/#{o[:id]}"} #{o[:fullname_reverse]}

  - if @pagy.pages > 1
    %div{style:"overflow-y:scroll"}
      = pagy_bootstrap_nav(@pagy)

- else
  %div{class: "alert alert-warning tiny-margins mt-0", role: "alert"}
    %span{class:"font-weight-bold"}= I18n.t('agent.warning')
    = I18n.t('agent.warning_statement')
