= haml :'partials/dataset/twitter_img', layout: false

- content_for :title, "#{@dataset.title}: #{I18n.t('dataset.agents')}"
- content_for :scripts do
  :javascript
    $(function() {
      Application.init();
    });

.row
  = haml :'partials/dataset/jumbotron', layout:false

  .col-12.col-lg-8.mt-2
    = haml :'partials/dataset/tabs', layout: false, locals: { active_tab: locals[:active_tab] }
    = haml :'partials/dataset/agent_nav', layout: false, locals: { active_subtab: locals[:active_subtab] }

    - if @pagy.count == 0
      .alert.alert-info.tiny-margins{role: "alert"}= I18n.t('dataset.no_agents_alert')
    - else
      .alert.alert-info.tiny-margins{role: "alert"}
        #{number_to_human(@pagy.count, units: :'dataset.agents_alert', delimiter: ",", precision: 0)}
      .row
        - @results.each_slice(25) do |group|
          .col-12.col-sm-3.mb-3
            %ul.list-unstyled.m-2
              - group.each do |a|
                %li
                  = link_to a.fullname_reverse, url("/agent/#{a.id}?datasetKey=#{@dataset.uuid}")

      - if @pagy.pages > 1
        .overflow-auto
          = @pagy.series_nav(:bootstrap)
