-content_for :title do
  = I18n.t('dataset.dataset_title')

-content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init();
    });

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class:"mr-auto p-2"}
      %h1{class:"h2"}= I18n.t('dataset.dataset_title')
      %p{class: "lead text-muted"}
        #{number_to_human(Dataset.count, units: :'dataset.lede', delimiter: ",", precision: 0)}
    = haml :'partials/dataset/search', layout: false

- @results.in_groups_of(3).each do |group|
  %div{class: "card-deck"}
    - group.each do |dataset|
      - if dataset.nil?
        %div{class:"card border-0"}
      - else
        %div{class: "card card-profile m-3"}
          - if dataset.image_url
            %div{class: "card-header d-flex"}
              %div
                %img{src:"#{organization_image(dataset, 'medium')}", alt:"#{dataset.title}", class:"mr-2 rounded"}
              %div{class:"flex-grow-1"}
                %h5
                  %a{href: url("/dataset/#{dataset.datasetKey}")} #{dataset.title}
                %p{class:"text-muted"}
          - else
            %div{class: "card-header"}
              %h5
                %a{href: url("/dataset/#{dataset.datasetKey}")} #{dataset.title}
              %p{class:"text-muted"}
          %div{class: "card-body"}

          %div{class: "card-footer"}
            %div{class: "col small text-left text-muted"}
            %div{class: "col small text-right text-muted"}
              %a{href: "#{dataset.license}"}
                %img{src:"#{dataset.license_icon("small")}"}

- if @pagy.pages > 1
  %div{style:"overflow-y:scroll"}
    = pagy_bootstrap_nav(@pagy)
