= haml :'partials/dataset/twitter_img', layout: false

- content_for :title, "#{@dataset.title}: #{I18n.t('dataset.scribes_title')}"
- content_for :scripts do
  :javascript
    $(function() {
      Application.init();
    });

.row
  = haml :'partials/dataset/jumbotron', layout: false

  .col-12.col-lg-8.mt-2
    = haml :'partials/dataset/tabs', layout: false, locals: { active_tab: locals[:active_tab] }

    - if @pagy.count == 0
      .alert.alert-info.tiny-margins{role: "alert"}= I18n.t('dataset.no_scribes_alert')
    - else
      .alert.alert-info.tiny-margins{role: "alert"}
        #{number_to_human(@pagy.count, units: :'dataset.scribes_alert', delimiter: ",", precision: 0)}

      - @results.in_groups_of(3).each do |group|
        .card-deck
          - group.each do |u|
            - if u.nil?
              .card.border-0
            - else
              - stats = cache_block("#{u.identifier}-stats") { user_stats(u) }
              = haml :'partials/user/card-scribe', layout: false, locals: { user: u, stats: stats }

      - if @pagy.pages > 1
        .y-scroll
          = pagy_bootstrap_nav(@pagy)
