= haml :'partials/dataset/twitter_img', layout: false

- content_for :title, "#{@dataset.title}: #{I18n.t('dataset.people')}"
- content_for :scripts do
  %script{type: "application/ld+json"}
    = dataset_json_ld.to_json
  %script{src: "/js/progress-bar.js"}
  :javascript
    $(function() {
      Application.init();
      ProgressBar.init("#{@dataset.uuid}", "dataset");
    });

.row
  = haml :'partials/dataset/jumbotron', layout:false

  .col-12.col-lg-8.mt-2
    = haml :'partials/dataset/tabs', layout:false, locals: { active_tab: locals[:active_tab] }

    - if @pagy.count == 0
      .alert.alert-info.tiny-margins{role: "alert"}= I18n.t('dataset.no_users_alert')
    - else
      .d-flex.flex-row.mt-3.alert.alert-info.justify-content-between{role: "alert"}
        %div
          - if @pagy.count.nil?
            %em
              = I18n.t('dataset.not_all_features')
          - else
            #{number_to_human(@pagy.count, units: :'dataset.users_alert', delimiter: ",", precision: 0)}

        .col-4.col-md-2
          = I18n.t('user.progress')
          .progress.progress-border
            .progress-bar.bg-info{id:"progress-bar_#{@dataset.uuid}", role:"progressbar", style:"width: 0%;", "aria-valuenow":"0", "aria-valuemin":"0", "aria-valuemax":"100", "aria-label":"#{I18n.t('user.progress')}"}

      - if @frictionless_data
        - links = "<ul class=\"list-unstyled\"><li class=\"mb-2\"><a href=\"" + url("/dataset/#{@dataset.uuid}/datapackage.json") + "\">Descriptor</a> (JSON)</li>" + format_frictionless_links(@frictionless_data) + "</ul>"
        %p{class:"text-right m-0"}
          %button.btn.btn-sm.btn-light{title: "Frictionless Data", "data-toggle": "popover", "data-content": "#{links}<div><small>Created #{@dataset.frictionless_created_at}</small></div>", "data-trigger": "click", "data-placement": "bottom"}
            %img{src:"/images/frictionless.png", alt:"Frictionless Data"}
            Frictionless Data

      - @results.in_groups_of(3).each do |group|
        .card-deck
          - group.each do |u|
            - if u.nil?
              .card.border-0
            - else
              - stats = cache_block("#{u.identifier}-stats") { user_stats(u) }
              = haml :'partials/user/card', layout: false, locals: { user: u, stats: stats }

      - if @pagy.pages > 1
        .y-scroll
          = pagy_bootstrap_nav(@pagy)
