.table-responsive-lg.overflow-auto
  %table.table.table-hover.table-sm
    %thead.thead-light
      %tr
        %th.text-nowrap.selector{scope: "col"}
          = haml :'partials/bulk_selector_top', layout: false, locals: { klass: "restore-ignored" }
        %th.text-nowrap{scope: "col"}= I18n.t('specimen.scientific_name')
        %th.text-nowrap{scope: "col"}= I18n.t('specimen.collected_by')
        %th.text-nowrap{scope: "col"}= I18n.t('specimen.identified_by')
        %th.text-nowrap{scope: "col"}= I18n.t('specimen.date_collected')
        %th.text-nowrap{scope: "col"}= I18n.t('specimen.date_identified')
        %th.text-nowrap{scope: "col"}= I18n.t('specimen.family')
        %th.text-nowrap{scope: "col"}= I18n.t('specimen.institution')
        %th.text-nowrap{scope: "col"}= I18n.t('specimen.catalog_number')
        %th.text-nowrap{scope: "col"}= I18n.t('specimen.type_status')
        %th.text-nowrap{scope: "col"}= I18n.t('specimen.basis_record')
        %th.text-nowrap{scope: "col"}= I18n.t('specimen.scribe')

    %tbody
      - user_id = nil
      - user_id = @viewed_user ? @viewed_user.id : nil
      - user_id = @admin_user ? @admin_user.id : nil
      - @results.each do |uo|
        - o = uo.occurrence
        %tr
          %td.selector
            = haml :'partials/single_selector_preselected', layout: false, locals: { occurrence: uo, klass: "restore-ignored", user_id: user_id }
          %td
            - scientific_name = o.scientificName.nil? ? "#{I18n.t('specimen.not_recorded')}" : o.scientificName
            %a{href: gbif_occurrence_url(o.id), target:"_blank"}
              #{h(scientific_name)}
            - if o.hasImage?
              %i.fas.fa-image.ml-1{"data-toggle":"popover", "data-gbifid":"#{o.id}"}
          %td #{h(o.recordedBy)}
          %td #{h(o.identifiedBy)}
          %td #{h(o.eventDate || o.year)}
          %td #{h(o.dateIdentified)}
          %td #{h(o.family)}
          %td #{h(o.institutionCode)}
          %td #{h(o.catalogNumber)}
          %td #{h(o.typeStatus)}
          %td #{h(o.basisOfRecord)}
          %td
            - if uo.claimant.is_bot?
              #{uo.claimant.fullname}
            - else
              = link_to uo.claimant.fullname_reverse, url("/#{uo.claimant.orcid}")

    - if @total > 25
      %tfoot.thead-light
        %tr
          %th.text-nowrap.selector{scope: "col"}
            = haml :'partials/bulk_selector_bottom', layout: false, locals: { klass: "restore-ignored" }
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.scientific_name')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.collected_by')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.identified_by')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.date_collected')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.date_identified')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.family')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.institution')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.catalog_number')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.type_status')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.basis_record')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.scribe')

- if @total > 25
  = haml :'partials/page_size', layout: false

- if @pagy.pages > 1
  .y-scroll
    = pagy_bootstrap_nav(@pagy)
