%nav.navbar.navbar-expand-sm.navbar-dark.bg-dark.px-2.py-1
  %a.navbar-brand.mr-1{href: url("/"), "aria-label": "Home"}
    %svg{xmlns: "http://www.w3.org/2000/svg", width:"42px", height:"42px", viewBox: "0 0 16 16"}
      %g
        %path{style: "stroke:none;fill-rule:nonzero;fill:rgb(12.156863%,44.313725%,17.254902%);fill-opacity:1;", d: "M 16 8 C 16 12.417969 12.417969 16 8 16 C 3.582031 16 0 12.417969 0 8 C 0 3.582031 3.582031 0 8 0 C 12.417969 0 16 3.582031 16 8 Z M 16 8 "}
        %path{style: "stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;", d: "M 4.59375 13.625 L 4.625 13.625 C 5.042969 12.621094 5.601562 11.660156 6.085938 10.6875 C 6.21875 10.417969 6.402344 9.78125 6.664062 9.625 C 6.769531 9.5625 6.941406 9.597656 7.0625 9.59375 C 7.304688 9.585938 7.574219 9.554688 7.8125 9.503906 C 8.777344 9.292969 9.6875 8.933594 10.46875 8.3125 C 10.722656 8.109375 11.035156 7.886719 11.1875 7.59375 L 8.6875 7.59375 L 9.84375 6.894531 L 12.1875 5.5625 L 12.1875 5.53125 L 9.71875 5.53125 L 10.78125 4.605469 L 12.71875 3 C 12.53125 2.921875 12.261719 2.96875 12.0625 2.96875 C 11.421875 2.96875 10.753906 3.074219 10.125 3.199219 C 9.53125 3.320312 8.914062 3.496094 8.375 3.777344 C 4.855469 5.628906 4.59375 10.097656 4.59375 13.625 Z M 4.59375 13.625 "}
  %button.navbar-toggler{type:"button", "data-toggle":"collapse", "data-target":"#navbarSupportedContent", "aria-controls":"navbarSupportedContent", "aria-expanded":"false", "aria-label":"Toggle navigation"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-sm-auto
      %li.nav-item
        %a{href: url("/roster"), class:"nav-link#{locals[:active_page] == "roster" ? " active" : nil}", "aria-label": "#{I18n.t('layout.profiles')}", "data-toggle": "tooltip", title: I18n.t('layout.profiles') }
          %i.fa-solid.fa-users.fa-fw
          %span.d-inline-block.d-sm-none.d-xxl-inline-block
            = I18n.t('layout.profiles')
      %li.nav-item
        %a{href: url("/scribes"), class: "nav-link#{locals[:active_page] == "scribes" ? " active" : nil}", "aria-label": "#{I18n.t('layout.scribes')}", "data-toggle": "tooltip", title: I18n.t('layout.scribes')}
          %i.fa-solid.fa-feather-pointed.fa-fw
          %span.d-inline-block.d-sm-none.d-xxl-inline-block
            = I18n.t('layout.scribes')
      %li.nav-item
        %a{href: url("/organizations"), class:"nav-link#{locals[:active_page] == "organizations" ? " active" : nil}", "aria-label": "#{I18n.t('layout.organizations')}", "data-toggle": "tooltip", title: I18n.t('layout.organizations') }
          %i.fa-solid.fa-building.fa-fw
          %span.d-inline-block.d-sm-none.d-xxl-inline-block
            = I18n.t('layout.organizations')
      %li.nav-item
        %a{href: url("/datasets"), class:"nav-link#{locals[:active_page] == "datasets" ? " active" : nil}", "aria-label": "#{I18n.t('layout.datasets')}", "data-toggle": "tooltip", title: I18n.t('layout.datasets') }
          %i.fa-solid.fa-database.fa-fw
          %span.d-inline-block.d-sm-none.d-xxl-inline-block
            = I18n.t('layout.datasets')
      %li.nav-item
        %a{href: url("/articles"), class:"nav-link#{locals[:active_page] == "articles" ? " active" : nil}", "aria-label": "#{I18n.t('layout.articles')}", "data-toggle": "tooltip", title: I18n.t('layout.articles') }
          %i.fa-solid.fa-file-lines.fa-fw
          %span.d-inline-block.d-sm-none.d-xxl-inline-block
            = I18n.t('layout.articles')
      %li.nav-item
        %a{href: url("/countries"), class:"nav-link#{locals[:active_page] == "countries" ? " active" : nil}", "aria-label": "#{I18n.t('layout.countries')}", "data-toggle": "tooltip", title: I18n.t('layout.countries') }
          %i.fa-solid.fa-globe.fa-fw
          %span.d-inline-block.d-sm-none.d-xxl-inline-block
            = I18n.t('layout.countries')
      %li.nav-item
        %a{href: url("/taxa"), class: "nav-link#{locals[:active_page] == "taxa" ? " active" : nil}", "aria-label": "#{I18n.t('layout.taxa')}", "data-toggle": "tooltip", title: I18n.t('layout.taxa') }
          %i.fa-brands.fa-pagelines.fa-fw
          %span.d-inline-block.d-sm-none.d-xxl-inline-block
            = I18n.t('layout.taxa')
      %li.nav-item
        %a{href: url("/agents"), class: "nav-link#{locals[:active_page] == "agents" ? " active" : nil}", "aria-label": "#{I18n.t('layout.agent_strings')}", "data-toggle": "tooltip", title: I18n.t('layout.agent_strings') }
          %i.fa-solid.fa-signature.fa-fw
          %span.d-inline-block.d-sm-none.d-xxl-inline-block
            = I18n.t('layout.agent_strings')
    %ul.navbar-nav
      - if authorized?
        %li.nav-item
          %a{href: url("/help-others"), class: "nav-link#{locals[:active_page] == "help" ? " active" : nil}", "aria-label": "#{I18n.t('layout.help_others')}", "data-toggle": "tooltip", title: I18n.t('layout.help_others')}
            %i.fa-solid.fa-hands-helping.fa-fw
            %span.d-inline-block.d-sm-none.d-md-inline-block
              = I18n.t('layout.help_others')

      %li.nav-item
        .btn-group
          %button.btn.dropdown-toggle.text-white-50{type:"button", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false"}
            %i.fa-solid.fa-language.fa-fw
            %span.sr-only
              = I18n.t('layout.toggle_dropdown')
          .dropdown-menu.dropdown-menu-right
            - if user_browser_locale(env["HTTP_ACCEPT_LANGUAGE"]).to_s != "en" || authorized?
              %a.dropdown-item{href: "#{Settings.base_url.sub("://", "://en.")}#{request.fullpath}"} English
            - else
              %a.dropdown-item{href: "#{Settings.base_url}#{request.fullpath}"} English
            - locale_name_pairs.each do |lang|
              - next if lang[0] == "en"
              %a.dropdown-item{href: "#{Settings.base_url.sub("://", "://#{lang[0]}.")}#{request.fullpath}"} #{lang[1]}

      - if authorized?
        %li.nav-item
          .btn-group
            %a{class:"btn btn-outline-light#{locals[:active_page] == "profile" ? " active" : " text-muted"}", href: url("/profile"), role:"button"}
              - if @user.image_url
                - if locals[:active_page] == "profile"
                  %img{src:"#{profile_image(@user, 'thumbnail')}", alt:"#{@user.viewname}", width:24, height:24}
                - else
                  %img{src:"#{profile_image(@user, 'thumbnail_grey')}", alt:"#{@user.viewname}", width:24, height:24}
              - else
                %i.fa-solid.fa-user.fa-fw{alt:"#{@user.viewname}"}
            %button.btn.btn-outline-light.dropdown-toggle{type:"button", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false"}
              %span.sr-only
                = I18n.t('layout.toggle_dropdown')
            .dropdown-menu.dropdown-menu-right
              %a.dropdown-item{href: url("/profile"), "aria-label": "#{I18n.t('layout.overview')}"}
                %i.fa-solid.fa-user.fa-fw
                = I18n.t('layout.overview')
              %a.dropdown-item{href: url("/profile/specimens"), "aria-label": "#{I18n.t('layout.specimens')}"}
                %i.fa-solid.fa-table-cells.fa-fw
                = I18n.t('layout.specimens')
              %a.dropdown-item{href: url("/profile/helped"), "aria-label": "#{I18n.t('layout.people_helped')}"}
                %i.fa-solid.fa-hands-helping.fa-fw
                = I18n.t('layout.people_helped')
              %a.dropdown-item{href: url("/profile/citations"), "aria-label": "#{I18n.t('layout.science_enabled')}"}
                %i.fa-solid.fa-flask.fa-fw
                = I18n.t('layout.science_enabled')
              %a.dropdown-item{href: url("/profile/settings"), "aria-label": "#{I18n.t('layout.settings')}"}
                %i.fa-solid.fa-cog.fa-fw
                = I18n.t('layout.settings')
              - if admin_authorized?
                %a.dropdown-item{href: url("/admin"), "aria-label": "#{I18n.t('layout.administration')}"}
                  %i.fa-solid.fa-users-cog.fa-fw
                  = I18n.t('layout.administration')
              %a.dropdown-item{href: url("/logout"), "aria-label": "#{I18n.t('layout.logout')}"}
                %i.fa-solid.fa-right-from-bracket.fa-fw
                = I18n.t('layout.logout')
      - else
        %li
          %form{action: "/auth/orcid?lang=#{I18n.locale}", method: :post }
            %button.btn.btn-outline-light.connect-orcid-button
              %i.fa-brands.fa-orcid
              = I18n.t('home.orcid_login')
            %input{type:"hidden", name:"authenticity_token", value:"#{env['rack.session'][:csrf]}"}
