.px-3
  %h5= I18n.t('layout.resources')
  %ul.list-unstyled.text-small
    %li
      %a.text-muted{href: url("/help")}= I18n.t('layout.help')
    %li
      %a.text-muted{href: url("/workshops")}= I18n.t('layout.workshops')
    %li
      %a.text-muted{href: url("/collection-data-managers")}= I18n.t('layout.for_data_managers')
    %li
      %a.text-muted{href: url("/on-this-day")}= I18n.t('layout.on_this_day')

.px-3
  %h5= I18n.t('layout.tools')
  %ul.list-unstyled.text-small
    %li
      %a.text-muted{href: url("/parse")}= I18n.t('layout.parse')
    %li
      %a.text-muted{href: url("/reconcile")}= I18n.t('layout.reconcile')
    %li
      %a.text-muted{href: url("/developers")}= I18n.t('layout.for_developers')
    %li
      %a.text-muted{href: url("/integrations")}= I18n.t('layout.integrations')

.px-3
  %h5= I18n.t('layout.policies')
  %ul.list-unstyled.text-small
    %li
      %a.text-muted{href: url("/privacy")}= I18n.t('layout.privacy')
    %li
      %a.text-muted{href: url("/terms-of-service")}= I18n.t('layout.terms_service')

.px-3
  %h5= I18n.t('layout.about')
  %ul.list-unstyled.text-small
    %li
      %a.text-muted{href: url("/how-it-works")}= I18n.t('layout.how_works')
    %li
      %a.text-muted{href: url("/about")}= I18n.t('layout.rationale')
    %li
      %a.text-muted{href: url("/history")}= I18n.t('layout.history')
    %li
      %a.text-muted{href: url("/statistics")}= I18n.t('layout.stats')
    %li
      %a.text-muted{href: url("/acknowledgments")}= I18n.t('layout.acknowledgments')

.px-3
  %ul.list-unstyled.text-small.list-group.flex-md-column.flex-row.list-group-flush
    %li.text-center.list-group-item.my-0.py-0.border-0.bg-transparent
      %a.mt-2.github{href: "https://github.com/bionomia/bionomia"}
        %i.fab.fa-github
    %li.text-center.list-group-item.my-0.py-0.border-0.bg-transparent
      %a.mt-2.twitter{href: "https://twitter.com/BionomiaTrack"}
        %i.fab.fa-twitter
    %li.text-center.list-group-item.my-0.py-0.border-0.bg-transparent
      %a.mt-2.crowdin{href: "https://translate.bionomia.net/"}
        %img{src: "/images/crowdin.svg", alt: "Crowdin"}
