%div{class:"px-3"}
  %h5= I18n.t('layout.resources')
  %ul{class: "list-unstyled text-small"}
    %li
      %a{href: url("/help"), class: "text-muted"}= I18n.t('layout.help')
    %li
      %a{href: url("/collection-data-managers"), class: "text-muted"}= I18n.t('layout.for_data_managers')
    %li
      %a{href: url("/on-this-day"), class: "text-muted"}= I18n.t('layout.on_this_day')


%div{class:"px-3"}
  %h5= I18n.t('layout.tools')
  %ul{class: "list-unstyled text-small"}
    %li
      %a{href: url("/parse"), class: "text-muted"}= I18n.t('layout.parse')
    %li
      %a{href: url("/reconcile"), class: "text-muted"}= I18n.t('layout.reconcile')
    %li
      %a{href: url("/developers"), class: "text-muted"}= I18n.t('layout.for_developers')
    %li
      %a{href: url("/integrations"), class: "text-muted"}= I18n.t('layout.integrations')

%div{class:"px-3"}
  %h5= I18n.t('layout.policies')
  %ul{class: "list-unstyled text-small"}
    %li
      %a{href: url("/privacy"), class: "text-muted"}= I18n.t('layout.privacy')
    %li
      %a{href: url("/terms-of-service"), class: "text-muted"}= I18n.t('layout.terms_service')

%div{class: "px-3"}
  %h5= I18n.t('layout.about')
  %ul{class: "list-unstyled text-small"}
    %li
      %a{href: url("/how-it-works"), class: "text-muted"}= I18n.t('layout.how_works')
    %li
      %a{href: url("/about"), class: "text-muted"}= I18n.t('layout.rationale')
    %li
      %a{href: url("/history"), class: "text-muted"}= I18n.t('layout.history')
    %li
      %a{href: url("/acknowledgments"), class: "text-muted"}= I18n.t('layout.acknowledgments')

%div{class:"px-3"}
  %ul{class: "list-unstyled text-small"}
    %li{class:"text-center"}
      %a{ href: url("/donate"), role: "button", class: "btn btn-sm btn-success" }= I18n.t('layout.support')
    %li{class:"text-center"}
      %a{href: "https://twitter.com/BionomiaTrack", class:"mt-2 twitter"}
        %i{class:"fab fa-twitter"}
    %li{class:"text-center"}
      %a{href: "https://github.com/bionomia/bionomia", class:"mt-2 github"}
        %i{class:"fab fa-github"}
