%nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
  %a.navbar-brand.mr-1{href: url("/")}
    %img{src: "/images/site-logo.png", height:48, width:48, alt: "Bionomia"}
  %button.navbar-toggler{type:"button", "data-toggle":"collapse", "data-target":"#navbarSupportedContent", "aria-controls":"navbarSupportedContent", "aria-expanded":"false", "aria-label":"Toggle navigation"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-sm-auto
      %li.nav-item
        %a{href: url("/roster"), class:"nav-link#{locals[:active_page] == "roster" ? " active" : nil}", "aria-label": "#{I18n.t('layout.profiles')}", "data-toggle": "tooltip", title: I18n.t('layout.profiles') }
          %i.fas.fa-users
          %span.d-inline-block.d-sm-none.d-xxl-inline-block
            = I18n.t('layout.profiles')
      %li.nav-item
        %a{href: url("/scribes"), class: "nav-link#{locals[:active_page] == "scribes" ? " active" : nil}", "aria-label": "#{I18n.t('layout.scribes')}", "data-toggle": "tooltip", title: I18n.t('layout.scribes')}
          %i.fas.fa-feather-alt
          %span.d-inline-block.d-sm-none.d-xxl-inline-block
            = I18n.t('layout.scribes')
      %li.nav-item
        %a{href: url("/organizations"), class:"nav-link#{locals[:active_page] == "organizations" ? " active" : nil}", "aria-label": "#{I18n.t('layout.organizations')}", "data-toggle": "tooltip", title: I18n.t('layout.organizations') }
          %i.fas.fa-building
          %span.d-inline-block.d-sm-none.d-xxl-inline-block
            = I18n.t('layout.organizations')
      %li.nav-item
        %a{href: url("/datasets"), class:"nav-link#{locals[:active_page] == "datasets" ? " active" : nil}", "aria-label": "#{I18n.t('layout.datasets')}", "data-toggle": "tooltip", title: I18n.t('layout.datasets') }
          %i.fas.fa-database
          %span.d-inline-block.d-sm-none.d-xxl-inline-block
            = I18n.t('layout.datasets')
      %li.nav-item
        %a{href: url("/articles"), class:"nav-link#{locals[:active_page] == "articles" ? " active" : nil}", "aria-label": "#{I18n.t('layout.articles')}", "data-toggle": "tooltip", title: I18n.t('layout.articles') }
          %i.fas.fa-file-alt
          %span.d-inline-block.d-sm-none.d-xxl-inline-block
            = I18n.t('layout.articles')
      %li.nav-item
        %a{href: url("/countries"), class:"nav-link#{locals[:active_page] == "countries" ? " active" : nil}", "aria-label": "#{I18n.t('layout.countries')}", "data-toggle": "tooltip", title: I18n.t('layout.countries') }
          %i.fas.fa-globe
          %span.d-inline-block.d-sm-none.d-xxl-inline-block
            = I18n.t('layout.countries')
      %li.nav-item
        %a{href: url("/taxa"), class: "nav-link#{locals[:active_page] == "taxa" ? " active" : nil}", "aria-label": "#{I18n.t('layout.taxa')}", "data-toggle": "tooltip", title: I18n.t('layout.taxa') }
          %i.fab.fa-pagelines
          %span.d-inline-block.d-sm-none.d-xxl-inline-block
            = I18n.t('layout.taxa')
      %li.nav-item
        %a{href: url("/agents"), class: "nav-link#{locals[:active_page] == "agents" ? " active" : nil}", "aria-label": "#{I18n.t('layout.agent_strings')}", "data-toggle": "tooltip", title: I18n.t('layout.agent_strings') }
          %i.fas.fa-signature
          %span.d-inline-block.d-sm-none.d-xxl-inline-block
            = I18n.t('layout.agent_strings')
    %ul.navbar-nav
      - if authorized?
        %li.nav-item
          %a{href: url("/help-others"), class: "nav-link#{locals[:active_page] == "help" ? " active" : nil}", "aria-label": "#{I18n.t('layout.help_others')}", "data-toggle": "tooltip", title: I18n.t('layout.help_others')}
            %i.fas.fa-hands-helping
            %span.d-inline-block.d-sm-none.d-md-inline-block
              = I18n.t('layout.help_others')

      %li.nav-item
        .btn-group
          %button.btn.dropdown-toggle.text-white-50{type:"button", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false"}
            %i.fas.fa-language
            %span.sr-only
              = I18n.t('layout.toggle_dropdown')
          .dropdown-menu.dropdown-menu-right
            - if user_browser_locale(env["HTTP_ACCEPT_LANGUAGE"]).to_s != "en" || authorized?
              %a.dropdown-item{href: "#{Settings.base_url.sub("://", "://en.")}#{request.fullpath}"} English
            - else
              %a.dropdown-item{href: "#{Settings.base_url}#{request.fullpath}"} English
            - locale_name_pairs.each do |lang|
              - next if lang[0] == "en"
              %a.dropdown-item{href: "#{Settings.base_url.sub("://", "://#{lang[0]}.")}#{request.fullpath}"} #{lang[1]}

      - if authorized?
        %li.nav-item
          .btn-group
            %a{class:"btn btn-outline-light#{locals[:active_page] == "profile" ? " active" : " text-muted"}", href: url("/profile"), role:"button"}
              - if @user.image_url
                - if locals[:active_page] == "profile"
                  %img{src:"#{profile_image(@user, 'thumbnail')}", alt:"#{@user.fullname}"}
                - else
                  %img{src:"#{profile_image(@user, 'thumbnail_grey')}", alt:"#{@user.fullname}"}
              - else
                %i.fas.fa-user{alt:"#{@user.fullname}"}
            %button.btn.btn-outline-light.dropdown-toggle{type:"button", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false"}
              %span.sr-only
                = I18n.t('layout.toggle_dropdown')
            .dropdown-menu.dropdown-menu-right
              %a.dropdown-item{href: url("/profile"), "arial-label": "#{I18n.t('layout.overview')}"}
                %i.fas.fa-user
                = I18n.t('layout.overview')
              %a.dropdown-item{href: url("/profile/specimens"), "aria-label": "#{I18n.t('layout.specimens')}"}
                %i.fas.fa-th
                = I18n.t('layout.specimens')
              %a.dropdown-item{href: url("/profile/helped"), "aria-label": "#{I18n.t('layout.people_helped')}"}
                %i.fas.fa-hands-helping
                = I18n.t('layout.people_helped')
              %a.dropdown-item{href: url("/profile/citations"), "aria-label": "#{I18n.t('layout.science_enabled')}"}
                %i.fas.fa-flask
                = I18n.t('layout.science_enabled')
              %a.dropdown-item{href: url("/profile/settings"), "aria-label": "#{I18n.t('layout.settings')}"}
                %i.fas.fa-cog
                = I18n.t('layout.settings')
              - if admin_authorized?
                %a.dropdown-item{href: url("/admin"), "aria-label": "#{I18n.t('layout.administration')}"}
                  %i.fas.fa-users-cog
                  = I18n.t('layout.administration')
              %a.dropdown-item{href: url("/logout"), "aria-label": "#{I18n.t('layout.logout')}"}
                %i.fas.fa-sign-out-alt
                = I18n.t('layout.logout')
      - else
        %li
          %form{action: "/auth/orcid?lang=#{I18n.locale}", method: :post }
            %button.btn.btn-outline-light.connect-orcid-button
              %i.fab.fa-orcid
              = I18n.t('home.orcid_login')
            %input{type:"hidden", name:"authenticity_token", value:"#{env['rack.session'][:csrf]}"}
