- content_for :title, "Bionomia"
- content_for :stylesheets do
  %link{href: "/font/subset-LovelyHome.otf", rel:"preload", as:"font", type:"font/otf", crossorigin: true}
- content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init("", "GET", "/roster");
    });
  %script{type: "application/ld+json"}
    :plain
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "url": "#{Settings.base_url}",
        "image": "#{Settings.base_url}/images/logo.png",
        "keywords": "credit,specimens,natural,history,collection,museum,attribution,tracker,tracking,gbif",
        "potentialAction": [{
          "@type": "SearchAction",
          "target": {
            "@type": "EntryPoint",
            "urlTemplate": "#{Settings.base_url}/roster?q={search_term_string}"
          },
          "query-input": "required name=search_term_string"
        }]
      }

- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap#home-jumbotron
    .mr-auto.p-2
      %h1 Bionomia>
    = haml :'partials/user/search', layout: false

  %p.lead.tagline.ml-4.mt-3
    = I18n.t('home.tagline')
  %form{action: "/auth/orcid?lang=#{I18n.locale}", method: :post}
    %p.ml-4#profile-buttons
      %a.btn.btn-lg.btn-success{href: url("/get-started"), role: "button"}
        #{I18n.t('home.get_started')} »
      - if !authorized?
        %button.btn.btn-lg.btn-outline-dark.button-login.connect-orcid-button
          %i.fab.fa-orcid
          = I18n.t('home.orcid_login')
        %input{type:"hidden", name:"authenticity_token", value:"#{env['rack.session'][:csrf]}"}
      - else
        %a.btn.btn-lg.btn-outline-dark#candidates-button{ href:"/profile", role: "button"}= I18n.t('home.your_profile')

%h2.text-center
  = I18n.t('home.sample_profiles')

- cache_fragment("homepage_profiles_#{I18n.locale}") do
  - example_profiles.in_groups_of(3).each do |group|
    .card-deck
      - group.each do |u|
        - if !u.nil?
          - stats = cache_block("#{u.identifier}-stats") { user_stats(u) }
          = haml :'partials/user/card', layout: false, locals: { user: u, stats: stats }
