!!! 5
%html{lang: "en", prefix: "og: http://ogp.me/ns#"}
  %head
    %meta{charset: "UTF-8" }/
    %meta{name:"description", content:"#{I18n.t('home.tagline')}"}/
    %meta{name:"keywords", content:"credit,specimens,natural,history,orcid,gbif,wikidata"}/
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}/
    %meta{name:"twitter:card", content:"summary"}/
    %meta{name:"twitter:site" ,content:"@BionomiaTrack"}/
    %meta{name:"twitter:description", content:"#{I18n.t('home.tagline')}"}/
    %meta{name:"twitter:creator", content:"@BionomiaTrack"}/
    %meta{name:"twitter:image", content:"#{base_url}/images/screenshot.png"}/
    %meta{property:"og:title", content:"#{yield_content(:title)}"}/
    %meta{property:"og:description", content:"#{I18n.t('home.tagline')}"}/
    %meta{property:"og:locale", content:"en_US"}/
    %meta{property:"og:type", content:"website"}/
    %meta{property:"og:url", content:"#{base_url}"}/
    %meta{property:"og:image", content:"#{base_url}/images/screenshot.png"}/

    %title Bionomia - Timeout

    %link{href: "/favicon.ico", rel:"shortcut icon", type:"image/x-icon"}
    %link{href: "/favicon.ico", rel:"icon", type:"image/x-icon"}
    %link{href: "/css/bootstrap.min.css", rel: "stylesheet", type: "text/css", crossorigin: "anonymous"}
    %link{href: "/css/application.css", rel: "stylesheet", type: "text/css"}

  %body.d-flex.flex-column
    %header
      %nav.navbar.navbar-expand-md.navbar-dark.bg-dark.px-2.py-1
        %a.navbar-brand.mr-1{href: url("/")}
          %svg{xmlns: "http://www.w3.org/2000/svg", width:"42px", height:"42px", viewBox: "0 0 16 16"}
            %g
              %path{style: "stroke:none;fill-rule:nonzero;fill:rgb(12.156863%,44.313725%,17.254902%);fill-opacity:1;", d: "M 16 8 C 16 12.417969 12.417969 16 8 16 C 3.582031 16 0 12.417969 0 8 C 0 3.582031 3.582031 0 8 0 C 12.417969 0 16 3.582031 16 8 Z M 16 8 "}
              %path{style: "stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;", d: "M 4.59375 13.625 L 4.625 13.625 C 5.042969 12.621094 5.601562 11.660156 6.085938 10.6875 C 6.21875 10.417969 6.402344 9.78125 6.664062 9.625 C 6.769531 9.5625 6.941406 9.597656 7.0625 9.59375 C 7.304688 9.585938 7.574219 9.554688 7.8125 9.503906 C 8.777344 9.292969 9.6875 8.933594 10.46875 8.3125 C 10.722656 8.109375 11.035156 7.886719 11.1875 7.59375 L 8.6875 7.59375 L 9.84375 6.894531 L 12.1875 5.5625 L 12.1875 5.53125 L 9.71875 5.53125 L 10.78125 4.605469 L 12.71875 3 C 12.53125 2.921875 12.261719 2.96875 12.0625 2.96875 C 11.421875 2.96875 10.753906 3.074219 10.125 3.199219 C 9.53125 3.320312 8.914062 3.496094 8.375 3.777344 C 4.855469 5.628906 4.59375 10.097656 4.59375 13.625 Z M 4.59375 13.625 "}

    .jumbotron.jumbotron-fluid.d-flex.flex-wrap#home-jumbotron
      .mr-auto.p-2
        %h1 Bionomia>

    %main#main.mb-5{role:"main"}
      .container-fluid
        .alert.alert-warning.row.tiny-margins{role:"alert"}
          Bionomia is experiencing heavy load. Check back again soon.
