- content_for :title, I18n.t('workshops.title')
- content_for :scripts do
  :javascript
    $(function() {
      Application.init();
    });
- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        = I18n.t('workshops.title')

%h3.mt-4
  = I18n.l Date.parse("December 6, 2023"), format: :long

%h4 People Identifiers Roundtrip to Collection Management Systems

%p
  %img{src: "/images/roundtrip.png", alt: "Bionomia roundtrip", class:"img-fluid pull-left float-left mr-2", width: "150px", height: "150px"}
  Put the disambiguation of people's names into practice with a particular focus on collections management systems. The purpose is for you to share how you or your colleagues do this (or intend to do this) in the software you use at your respective institutions through incorporation of logic, scripts, and/or persistent and unique identifiers. We will discuss and demonstrate how the Frictionless Data Packages available on Bionomia might facilitate this process. We will set the stage with a broader discussion about the purpose of person identifiers, where they can be found, and our motivations for applying, using, and sharing them.

%p.font-italic
  Questions & Answers as well as Breakout Groups are not recorded.
  %br
  Presenters may have additional content such as links to their slides included under their YouTube videos, each linked below. 

%h5 Agenda

.table-responsive-lg.overflow-auto
  %table.table.table-sm
    %thead
      %tr.table-success
        %th.text-nowrap{scope: "col"} Time (UTC)
        %th.text-nowrap{scope: "col"} Title
        %th.text-nowrap{scope: "col"} Presenter
    %tbody
      %tr
        %td 13:00 – 13:05
        %td Welcome, Agenda, Code of Conduct
        %td
          %a{href: "https://orcid.org/0000-0001-7618-5230"} David Shorthouse
      %tr
        %td 13:05 – 13:15
        %td
          %a{href: "https://youtu.be/Ks8D8YrSrUU", target: "_blank"}
            Bionomia: Mission, Integrations, and Updates
            %i.fas.fa-external-link-alt
        %td
          %a{href: "https://orcid.org/0000-0001-7618-5230"} David Shorthouse
      %tr
        %td 13:15 – 13:25
        %td
          %a{href: "https://youtu.be/u9uFfeoLz6g", target: "_blank"}
            Collecting ORCIDs from the Research Landscape
            %i.fas.fa-external-link-alt
        %td
          %a{href: "https://orcid.org/0009-0005-6221-4682"} Shivendra Naidoo
      %tr
        %td 13:25 – 13:35
        %td
          %a{href: "https://youtu.be/5iN9nFS3Soo", target: "_blank"}
            Wikidata: The Rosetta Stone of the Linked Data Web
            %i.fas.fa-external-link-alt
        %td
          %a{href: "https://orcid.org/0000-0002-3939-2115"} Lydia Pintscher
      %tr.table-info
        %td 13:35 – 13:45
        %td Questions & Answers
        %td
      %tr
        %td 13:45 – 13:55
        %td
          %a{href: "https://youtu.be/UsF6_ABaD4A", target: "_blank"}
            The Impact of Who: in the database, in the wild
            %i.fas.fa-external-link-alt
        %td
          %a{href: "https://orcid.org/0000-0003-2639-7520"} Deborah Paul
      %tr
        %td 13:55 – 14:15
        %td Disambiguation Exhibition
        %td
      %tr
        %td 
        %td
          %a{href: "https://youtu.be/Sa8vdtdOwwY", target: "_blank"}
            The Tower of Babel in international collections
            %i.fas.fa-external-link-alt
        %td
          %a{href: "https://orcid.org/0000-0002-5313-8674"} Krisztina Lohonya
      %tr
        %td
        %td
          %a{href: "https://youtu.be/IPRB3YJhgy0", target: "_blank"}
            Betty Johnson: A disambiguation example
            %i.fas.fa-external-link-alt
        %td
          %a{href: "https://orcid.org/0000-0002-5398-7721"} Siobhan Leachman
      %tr
        %td
        %td
          %a{href: "https://youtu.be/MHgHXHFrkJg", target: "_blank"}
            The Gandalf Effect
            %i.fas.fa-external-link-alt
        %td
          %a{href: "https://orcid.org/0000-0003-2982-7792"} Sabine von Mering
      %tr.table-secondary
        %td 14:15 – 14:30
        %td Break
        %td
      %tr
        %td 14:30 – 14:40
        %td
          %a{href: "https://youtu.be/1ceH_muMcQY", target: "_blank"}
            TaxonWorks, GBIF, and Bionomia: how can we move from a one-way to a roundtrip?
            %i.fas.fa-external-link-alt
        %td
          %a{href: "https://orcid.org/0000-0003-0390-4227"} Tommy McElrath
      %tr
        %td 14:40 – 14:50
        %td
          %a{href: "https://youtu.be/6Y75mBmad5M", target: "_blank"}
            A workflow for working with three CMS's and an intern at RBGE.
            %i.fas.fa-external-link-alt
        %td
          %a{href: "https://orcid.org/0000-0001-7902-3843 "} Robert Cubey
      %tr
        %td 14:50 – 15:00
        %td
          %a{href: "https://youtu.be/bbpf3r7EzFc", target: "_blank"}
            Disambiguating and roundtripping with EMu and Wikidata at Te Papa
            %i.fas.fa-external-link-alt
        %td Gareth Watkins
      %tr
        %td 15:00 – 15:10
        %td
          %a{href: "https://youtu.be/Cm3oP3xRL6o", target: "_blank"}
            EarthCape CMS Demo
            %i.fas.fa-external-link-alt
        %td
          %a{href: "https://orcid.org/0000-0003-1986-2631"} Evgeniy Meyke
      %tr
        %td 15:10 – 15:20
        %td
          %a{href: "https://youtu.be/kPwW4rXlUg8", target: "_blank"}
            Roundtripping through Wikidata and Darwin Core
            %i.fas.fa-external-link-alt
        %td
          %a{href: "https://orcid.org/0000-0002-3973-1252"} Mathias Dillen
      %tr
        %td.align-top 15:20 – 15:35
        %td.align-top
          %a{href: "https://youtu.be/GGItWAveWB8", target: "_blank"}
            Specify agents data model and identifiers
            %br
            Semi-automatically adding identifiers from frictionless data to SPECIFY CMS
            %i.fas.fa-external-link-alt
        %td.align-top
          Grant Fitzsimmons
          %br
          %a{href: "https://orcid.org/0000-0002-2160-4968"} Joaquim Santos
      %tr
        %td 15:35 – 15:45
        %td
          %a{href: "https://youtu.be/hn6qkkFHZVk", target: "_blank"}
            Roundtripping at the University of Oslo
            %i.fas.fa-external-link-alt
        %td
          %a{href: "https://orcid.org/0000-0002-2857-2276"} Rukaya Johaadien
      %tr.table-info
        %td 15:45 – 16:00
        %td Questions & Answers
        %td
      %tr.table-secondary
        %td 16:00 – 16:15
        %td Break
        %td
      %tr
        %td 16:15 – 16:45
        %td Breakout Groups
        %td
      %tr
        %td 16:45 – 16:55
        %td Breakout Group Reports
        %td
      %tr
        %td 16:55 – 17:00
        %td Wrap-Up & Next steps
        %td
          %a{href: "https://orcid.org/0000-0001-7618-5230"} David Shorthouse

%h3.mt-4
  = I18n.l Date.parse("November 27, 2023"), format: :long

%h4 Systematikdagarna 2023
%p
  %a{href: "https://systematikforeningen.se/systematikdagarna-2023/"}
    %img{src: "/images/systematiklogga.png", alt: "Systematikdagarna 2023", class: "img-fluid", width: "400px", height: "86px"}
%p
  Linking natural history specimens to the world's collectors,
  %a{href: "https://systematikforeningen.se/systematikdagarna-2023/"}
    https://systematikforeningen.se/systematikdagarna-2023/
  in collaboration with
  = succeed "." do
    %a{href: "https://tettris.eu/"}
      TETTRIs

%hr

%h3.mt-4
  = I18n.l Date.parse("November 4, 2023"), format: :long

%h4
  Entomological Collections Network 2023
  %a{href: "/0000-0002-5398-7721"} Siobhan Leachman
  ;
  %a{href: "/0000-0002-5398-7721"} David Shorthouse
  and
  %a{href: "/0000-0003-2639-7520"} Deborah Paul

.row
  .col-12.col-md-6.embed-responsive.embed-responsive-4by3
    %iframe.embed-responsive-item.p-3{src:"https://www.youtube.com/embed/kWp9Yi4v87c", frameborder:"0", allow:"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true}
  .col-12.col-md-6.embed-responsive.embed-responsive-4by3
    %iframe.embed-responsive-item.p-3{src:"https://www.youtube.com/embed/9L2BimRt2hE", frameborder:"0", allow:"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true}

%h3.mt-4
  = I18n.l Date.parse("July 28, 2023"), format: :long

%h4.mt-4
  Claiming specimens from NEON fieldwork,
  %a{href: "/0000-0002-0166-6985"} Andrew Johnston

.row
  .col-12.col-md-6.embed-responsive.embed-responsive-4by3
    %iframe.embed-responsive-item.p-3{src:"https://www.youtube.com/embed/DJJlmol9HtE", frameborder:"0", allow:"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true}

%hr

%h3.mt-4
  = I18n.l Date.parse("July 23, 2023"), format: :long

%h4.mt-4
  Supporting inclusive and sustainable research infrastructure for systematics (SISRIS)
%p
  %img{src: "/images/sisris.jpg", alt: "SISRIS logo", class:"img-fluid pull-left float-left mr-2", width: "150px", height: "150px"}
  Supported by a conference grant from the US National Science Foundation to Dr. Andrea Weeks (George Mason University; Ted R. Bradley Herbarium), and Drs. Shawn Zeringue-Krosnick and Twanelle Majors (Tennessee Tech University; Hollister Herbarium). It supports two US-based workshops and symposia at the 2023 annual meetings of the 
  %a{href: "https://www.sebiologists.org/asb-2023.html"} Association of Southeastern Biologists
  and
  = succeed "." do
    %a{href: "https://2023.botanyconference.org/"} Botany 2023
  The purpose of the work is to share new practices that improve attribution of natural history specimens and highlight research advances in systematics that can be made as a consequence of improved people-data within biodiversity informatics databases.
  %ul.list-inline.clearfix
    %li.list-inline-item
      %a{href: "https://github.com/aweeks3/SISRIS"}
        Agenda
    %li.list-inline-item
      %a{href: "https://doi.org/10.5281/zenodo.7767332"}
        Documents

%hr

%h3.mt-4
  = I18n.l Date.parse("June 30, 2023"), format: :long

%h4.mt-4
  Connecting Te Papa natural history collectors and identifiers,
  %a{href: "/0000-0002-5398-7721"} Siobhan Leachman

.row.mt-4
  .col-12.col-md-6
    %a{href: "https://doi.org/10.5281/zenodo.8097988", target:"_blank"}
      %img{src:"/images/Leachman-2023-06-30.png", alt:"Connecting Te Papa natural history collectors and identifiers", class:"img-fluid"}

%ul.list-unstyled.mt-3
  %li
    %i.far.fa-file-powerpoint
    %a{href:"https://doi.org/10.5281/zenodo.8097988", title:"Connecting Te Papa natural history collectors and identifiers", target:"_blank"}
      PowerPoint slides

%hr

%h3.mt-4
  = I18n.l Date.parse("March 24, 2023"), format: :long

%h4.mt-4
  Supporting inclusive and sustainable research infrastructure for systematics (SISRIS)
%p.mt-4
  %img{src: "/images/sisris.jpg", alt: "SISRIS logo", class:"img-fluid pull-left float-left mr-2", width: "150px", height: "150px"}
  Supported by a conference grant from the US National Science Foundation to Dr. Andrea Weeks (George Mason University; Ted R. Bradley Herbarium), and Drs. Shawn Zeringue-Krosnick and Twanelle Majors (Tennessee Tech University; Hollister Herbarium). It supports two US-based workshops and symposia at the 2023 annual meetings of the 
  %a{href: "https://www.sebiologists.org/asb-2023.html"} Association of Southeastern Biologists
  and
  = succeed "." do
    %a{href: "https://2023.botanyconference.org/"} Botany 2023
  The purpose of the work is to share new practices that improve attribution of natural history specimens and highlight research advances in systematics that can be made as a consequence of improved people-data within biodiversity informatics databases.
  %ul.list-inline.clearfix
    %li.list-inline-item
      %a{href: "https://github.com/aweeks3/SISRIS"}
        Agenda
    %li.list-inline-item
      %a{href: "https://doi.org/10.5281/zenodo.7767332"}
        Documents

%hr

%h3.mt-4
  = I18n.l Date.parse("April 12, 2022"), format: :long

%h4.mt-4
  Arctos Webinar: Intro to Bionomia (external web service for agent data)

.row
  .col-12.col-md-6.embed-responsive.embed-responsive-4by3
    %iframe.embed-responsive-item.p-3{src:"https://www.youtube.com/embed/2N7w7KxmPdI?start=78", frameborder:"0", allow:"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true}

%hr

%h3.mt-4
  = I18n.l Date.parse("November 2, 2021"), format: :long

%h4.mt-4
  Uso de Bionomia,
  %a{href: "/0000-0003-0449-7352"} Zabdi Lopez

.row
  .col-12.col-md-6.embed-responsive.embed-responsive-4by3
    %iframe.embed-responsive-item.p-3{src:"https://www.youtube.com/embed/VYKSQi0OSD4", frameborder:"0", allow:"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true}

%hr

%h3.mt-4
  = I18n.l Date.parse("September 7, 2021"), format: :long

%h4.mt-4
  LD4 Wikidata Affinity Group

.row.mt-4
  .col-12.col-md-6
    %a{href: "https://stanford.zoom.us/rec/play/zf35SCRXEPitpYg08G-ZnePxqtIQwspUlETXRqmS6o0m8ux2a3H2pCnCZAdhjP-IOAN2-TeNRmkP5Zdf.sD0Pb9OP54Y1kNqs?canPlayFromShare=true&from=share_recording_detail&startTime=1632239572000&componentName=rec-play&originRequestUrl=https%3A%2F%2Fstanford.zoom.us%2Frec%2Fshare%2Fuyi9G7wePH2-efoSumfq-Vz7kzlQCcE9b6xTNFpY7U123n8QO5GLYN4O3KGcIP0H.HY9o6Qo3ngtln4Zy%3FstartTime%3D1632239572000", target:"_blank"}
      %img{src:"/images/Shorthouse-2021-09-07.png", alt:"LD4 Wikidata Affinity Group", class:"img-fluid"}


%h3.mt-4
  = I18n.l Date.parse("April 15, 2021"), format: :long

%h4.mt-4
  Serie de webinars SiB Colombia - 2021,
  %a{href: "/0000-0002-0851-6883"} Jennifer Girón
  e
  %a{href: "/0000-0001-7618-5230"} David Shorthouse

.row
  .col-12.col-md-6.embed-responsive.embed-responsive-4by3
    %iframe.embed-responsive-item.p-3{src:"https://www.youtube.com/embed/kXWXDWz6pEs?start=512", frameborder:"0", allow:"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true}

%ul.list-unstyled.mt-3
  %li
    %i.far.fa-file-pdf
    = link_to "PDF slides", "/documents/Giron_Shorthouse_SiBColombia_2021.04.15.pdf"
    (3.7MB)

%hr

%h3.mt-4
  = I18n.l Date.parse("December 1, 2020"), format: :long

%h4.mt-4 The "Who" in Collections: Revealing the Network of Collectors and Determiners of Bat Specimens

.row
  .col-12.col-md-6.embed-responsive.embed-responsive-4by3
    %iframe.embed-responsive-item.p-3{src:"//widgets.figshare.com/articles/22297384/embed?show_title=1", frameborder:"0", scrolling:"no", allowfullscreen: true}
  .col-12.col-md-6.embed-responsive.embed-responsive-4by3
    %iframe.embed-responsive-item.p-3{src:"https://www.youtube.com/embed/PL_feKhrwMQ", frameborder:"0", allow:"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true}

.row
  .col-12.col-md-6.embed-responsive.embed-responsive-4by3
    %iframe.embed-responsive-item.p-3{src:"https://www.youtube.com/embed/BYvoXKBSGA8", frameborder:"0", allow:"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true}
  .col-12.col-md-6.embed-responsive.embed-responsive-4by3

%ul.list-unstyled.mt-3
  %li
    %i.far.fa-file-pdf
    = link_to "Background & Agenda", "/documents/WorkshopAgenda_Revealing_Who_Bat_Collecting.2020.12.01.pdf"
    (280KB)
  %li
    %i.far.fa-file-powerpoint
    %a{href:"https://doi.org/10.6084/m9.figshare.22297384.v1", title:"The Who in Collections: Revealing the Network of Collectors and Determiners of Bat Specimens", target:"_blank"}
      PowerPoint slides