- content_for :title, I18n.t('workshops.title')
- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        = I18n.t('workshops.title')

%h3.mt-4
  = I18n.l Date.parse("April 12, 2022"), format: :long

%h4.mt-4
  Arctos Webinar: Intro to Bionomia (external web service for agent data)

.row
  .col-12.col-md-6.embed-responsive.embed-responsive-4by3
    %iframe.embed-responsive-item.p-3{src:"https://www.youtube.com/embed/2N7w7KxmPdI?start=78", frameborder:"0", allow:"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true}

%hr

%h3.mt-4
  = I18n.l Date.parse("November 2, 2021"), format: :long

%h4.mt-4
  Uso de Bionomia,
  %a{href: "/0000-0003-0449-7352"} Zabdi Lopez

.row
  .col-12.col-md-6.embed-responsive.embed-responsive-4by3
    %iframe.embed-responsive-item.p-3{src:"https://www.youtube.com/embed/VYKSQi0OSD4", frameborder:"0", allow:"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true}

%hr

%h3.mt-4
  = I18n.l Date.parse("April 15, 2021"), format: :long

%h4.mt-4
  Serie de webinars SiB Colombia - 2021

%ul.list-unstyled.mt-3
  %li
    %i.far.fa-file-pdf
    = link_to "PDF Slides", "/documents/Giron_Shorthouse_SiBColombia_2021.04.15.pdf"
    (3.7MB)

.row
  .col-12.col-md-6.embed-responsive.embed-responsive-4by3
    %iframe.embed-responsive-item.p-3{src:"https://www.youtube.com/embed/kXWXDWz6pEs?start=512", frameborder:"0", allow:"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true}

%hr

%h3.mt-4
  = I18n.l Date.parse("December 1, 2020"), format: :long

%h4.mt-4 The "Who" in Collections: Revealing the Network of Collectors and Determiners of Bat Specimens

%ul.list-unstyled.mt-3
  %li
    %i.far.fa-file-pdf
    = link_to "Background & Agenda", "/documents/WorkshopAgenda_Revealing_Who_Bat_Collecting.2020.12.01.pdf"
    (280KB)
  %li
    %i.far.fa-file-powerpoint
    %a{href:"//www.slideshare.net/DavidShorthouse/the-who-in-collections-revealing-the-network-of-collectors-and-determiners-of-bat-specimens", title:"The Who in Collections: Revealing the Network of Collectors and Determiners of Bat Specimens", target:"_blank"}
      PowerPoint slides

.row
  .col-12.col-md-6.embed-responsive.embed-responsive-4by3
    %iframe.embed-responsive-item.p-3{src:"//www.slideshare.net/slideshow/embed_code/key/4Q3YPulKTtgYUe", frameborder:"0", scrolling:"no", allowfullscreen: true}
  .col-12.col-md-6.embed-responsive.embed-responsive-4by3
    %iframe.embed-responsive-item.p-3{src:"https://www.youtube.com/embed/PL_feKhrwMQ", frameborder:"0", allow:"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true}

.row
  .col-12.col-md-6.embed-responsive.embed-responsive-4by3
    %iframe.embed-responsive-item.p-3{src:"https://www.youtube.com/embed/BYvoXKBSGA8", frameborder:"0", allow:"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true}
  .col-12.col-md-6.embed-responsive.embed-responsive-4by3
