.col-12.col-lg-4.text-center.sidebar{itemscope: true, itemtype: "http://schema.org/Organization"}
  %h1.mt-3.h2{itemprop: "name"} #{@organization.name}
  %p.text-muted{itemprop: "address"} #{@organization.address}
  - if @organization.website
    %p
      %a{href: "#{@organization.website}", itemprop: "url"} #{@organization.website}

  - if @organization.image_url || @organization.latitude
    - if @organization.image_url
      .m-1
        %img.rounded.mx-auto.img-fluid{src:"#{organization_image(@organization, "large")}", style:"max-height:200px;", alt:"#{@organization.name}"}
    - if @organization.latitude
      .m-1.mx-auto{style:"max-width:350px; height:200px;"}
        #mapid.w-100.h-100
  - if @organization.wikidata
    %p
      %a{href: "https://www.wikidata.org/wiki/#{@organization.wikidata}"}
        %img{src: "/images/wikidata_18x12.svg", alt:"Wikidata iD"}
      %a{href: "https://www.wikidata.org/wiki/#{@organization.wikidata}"} https://www.wikidata.org/wiki/#{@organization.wikidata}

  - if (authorized? && @organization.wikidata) || admin_authorized?
    .mt-3.pt-3.border-top
      - if @organization.wikidata
        %a.profile-flush.mr-2.mb-2.text-nowrap{href: url("/organization/#{@organization.identifier}/refresh.json")}
          %i.fas.fa-sync-alt
          = I18n.t('general.refresh_profile')
          %img{src: "/images/wikidata_18x12.svg", alt:"Wikidata iD", width:"18px"}

      - if admin_authorized?
        %a.mr-2.mb-2.text-nowrap{href: url("/admin/organization/#{@organization.id}")}
          %i.fas.fa-cog
          = I18n.t('general.settings')

    #flush-message.alert.alert-success.alert-dismissible.fade.show.text-center{role: "alert"}
      = I18n.t("user.caches_rebuilt")
      %button.close{type:"button", "data-dismiss":"alert", "aria-label":"Close"}
        %span{"aria-hidden":"true"} &times;
