.col-12.col-lg-4.text-center.sidebar{itemscope: true, itemtype: "http://schema.org/Organization"}
  %h1.mt-3.h2{itemprop: "name"} #{@organization.name}
  %p.text-muted{itemprop: "address"} #{@organization.address}
  - if @organization.website
    %p
      %a{href: "#{@organization.website}", itemprop: "url"} #{@organization.website}

  - if @organization.image_url || @organization.latitude
    - if @organization.image_url
      .m-1
        %img.rounded.mx-auto.img-fluid{src:"#{organization_image(@organization, "large")}", alt:"#{@organization.name}"}
    - if @organization.latitude
      .m-1.mx-auto{style:"max-width:350px; height:200px;"}
        #mapid.w-100.h-100
  - if @organization.wikidata
    %p
      %a{href: "https://www.wikidata.org/wiki/#{@organization.wikidata}"}
        %img{src: "/images/wikidata_24x24.png", alt:"Wikidata iD"}
      %a{href: "https://www.wikidata.org/wiki/#{@organization.wikidata}"} https://www.wikidata.org/wiki/#{@organization.wikidata}

  - if admin_authorized?
    .mt-3.pt-3.border-top
      %a{href: url("/admin/organization/#{@organization.id}")}
        %i.fas.fa-cog
        = I18n.t('general.settings')
