- content_for :title, I18n.t('on_this_day.collected_title')
- content_for :stylesheets do
  %link{href:"/css/bootstrap-datepicker3.standalone.min.css", rel:"stylesheet", type:"text/css"}
- content_for :scripts do
  %script{src: "/js/bootstrap-datepicker.min.js"}
  :javascript
    $(function() {
      var browser_today = new Date(),
          browser_date = browser_today.getFullYear()+'-'+('0'+(browser_today.getMonth()+1)).slice(-2)+'-'+('0'+browser_today.getDate()).slice(-2),
          server_date = "#{@date.strftime("%Y-%m-%d")}",
          date_param = function() {
            return window.location.href.search("[?&]date=") != -1;
          };
      if (!date_param() && server_date !== browser_date) {
        window.location = "/on-this-day/collected?date=" + browser_date;
      }
      Application.init("", "GET", "/on-this-day");
      $('#datepicker').datepicker({
        format: 'yyyy-mm-dd'
      }).on("changeDate", function(e) {
        var selected_date = e.format(0, "yyyy-mm-dd");
        window.location = "/on-this-day/collected?date=" + selected_date;
      });
    });

- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        = I18n.t('on_this_day.global_title')

.row
  .col-12.col-sm-8.col-lg-9
    %h3.ml-2 #{I18n.l(@date.to_date, format: :month_and_day)}
  .col-12.col-sm-4.col-lg-3
    .form-group
      #datepicker.input-group.date{"date-provide":"datepicker"}
        .input-group-prepend
          .input-group-text
            %i.fa-solid.fa-calendar-alt
        %input.form-control{type:"text", placeholder:"#{@date.strftime("%Y-%m-%d")}", size:"12"}

= haml :'partials/on_this_day/tabs', layout: false, locals: { active_tab: "specimens" }

- if @pagy.count == 0
  .alert.alert-warning.tiny-margins{role: "alert"}= I18n.t('on_this_day.no_types_alert', date: @date.strftime("%B %-d"))
- else
  .alert.alert-info.tiny-margins{role: "alert"}= I18n.t('on_this_day.limit_alert')

  .table-responsive-lg.overflow-auto
    %table.table.table-hover.table-sm
      %thead.thead-light
        %tr
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.scientific_name')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.collected_by')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.identified_by')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.date_collected')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.date_identified')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.family')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.institution')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.catalog_number')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.type_status')
          %th.text-nowrap{scope: "col"}= I18n.t('specimen.basis_record')

      %tbody
        - @results.each do |o|
          %tr
            %td
              - scientific_name = o.scientificName.nil? ? "not recorded" : o.scientificName
              %a{href: gbif_occurrence_url(o.id), target:"_blank"}= h(scientific_name)
              %a{href: "/occurrence/#{o.id}"}
                %i.fa-solid.fa-feather.text-muted
              - if o.has_image?
                %i.fa-solid.fa-image.ml-1.text-muted{"data-toggle":"popover", "data-gbifid":"#{o.id}"}
            %td #{h(o.recordedBy)}
            %td #{h(o.identifiedBy)}
            %td #{h(o.eventDate || o.year)}
            %td #{h(o.dateIdentified)}
            %td #{h(o.family)}
            %td #{h(o.institutionCode)}
            %td #{h(o.catalogNumber)}
            %td #{h(o.typeStatus)}
            %td #{h(o.basisOfRecord)}
