- content_for :title, "Geschichte"
- content_for :scripts do
  :javascript
    $(function() {
      Application.init();
    });
- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        Geschichte

.row.mt-4
  .col-12.col-xl-6.mb-3
    .card
      .card-header.border-bottom
        %h4
          Ein Rebranding
      .card-body.mt-3
        %p 15. Juni 2020
        %p Freunde,
        %p
          ich muss Bloodhound Tracker einen neuen Namen geben, einschließlich eines neuen Domainnamens. Ich bin im Juni 2020 über einen Artikel einer Zeitschrift gestolpert und bitte Sie, sich rund eine Stunde Zeit zu nehmen, um ihn zu lesen:
        %p
          Parry, T. D. & Yingling, C. W. (2020). Slave Hounds and Abolition in the Americas.
          = succeed ", " do
            %em Past & Present
          = succeed "(1), " do
            %em 246
          69–108.
          = link_to "https://doi.org/10.1093/pastj/gtz020", "https://doi.org/10.1093/pastj/gtz020"
        %p.clearfix
          %img.float-left.mr-3{src:"/images/bloodhound_logo.png", alt:"Bloodhound Tracker"}
          Ich bin entsetzt über die Ereignisse in diesem Artikel und schäme mich für meine Naivität. Bloodhound als Marke und ihr Logo sind unentschuldbar. Naturkundemuseen in aller Welt haben sich zu ihrer
          = succeed "." do
            = link_to "Rolle im Kolonialismus und im transatlantischen Sklavenhandel bekannt", "https://www.nhm.ac.uk/discover/news/2019/july/are-natural-history-museums-inherently-racist.html"
          Ich lehne jede Beschönigung dieser Vergangenheit ab. Alle Schwarzen und indigenen People of Colour müssen sich wohl fühlen und die Möglichkeit haben, hier zu sein, teilzunehmen, zu lernen und zu führen.
        %p
          Alle Links von Bloodhound Tracker leiten zu Bionomia weiter. Am 1. Dezember 2020 wird die Bloodhound Tracker-Website vollständig abgeschaltet, so dass Suchmaschinen und Websites genügend Zeit haben, um Links zu aktualisieren und das neue Logo zu verwenden.
        %p
          David P. Shorthouse
