- content_for :title, I18n.t('article.agent_title')
- content_for :scripts do
  %script{src: "https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"}
  :javascript
    $(function() {
      Application.init();
    });

- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        = I18n.t('article.article_title')
    = haml :'partials/article/search', layout: false

= haml :'partials/article/title', layout: false
= haml :'partials/article/tabs', layout: false, locals: { active_tab: locals[:active_tab] }
= haml :'partials/article/agent_tabs', layout: false, locals: { active_subtab: locals[:active_subtab] }

- if @pagy.count == 0
  .alert.alert-info.tiny-margins{role: "alert"}= I18n.t('article.no_agent_strings_alert')
- else
  .alert.alert-info.tiny-margins{role: "alert"}
    #{number_to_human(@pagy.count, units: :'article.agent_strings_alert', delimiter: ",", precision: 0)}
  .row
    - @results.each_slice(25) do |group|
      .col-12.col-sm-3.mb-3
        %ul.list-unstyled.m-2
          - group.each do |a|
            %li
              = link_to a.fullname_reverse, url("/agent/#{a.id}")

  - if @pagy.pages > 1
    .overflow-auto
      = @pagy.series_nav(:bootstrap)
