- content_for :title, I18n.t('article.articles_title')
- content_for :scripts do
  %script{src: "https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"}
  :javascript
    $(function() {
      Application.init("", "GET", "/articles");
    });

- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        = I18n.t('article.articles_title')
      %p.lead.text-muted
        #{number_to_human(Article.count, units: :'article.articles_lede', delimiter: ",", precision: 0)}

    = haml :'partials/article/search', layout: false

- if @pagy && @pagy.count == 0
  .alert.alert-warning.tiny-margins.d-flex.flex-wrap{role: "alert"}
    %div
      = I18n.t('article.no_search_alert')
      %span= h(params[:q])
    .ml-auto.text-right
      %a.text-danger{href: url("/articles")}
        %i.fa-solid.fa-minus-circle
        #{I18n.t('general.remove')}
- elsif @pagy && @pagy.count > 0
  .alert.alert-info.tiny-margins.d-flex.flex-wrap{role: "alert"}
    %div
      #{number_to_human(@pagy.count, units: :'article.search_alert', delimiter: ",", precision: 0)}
      %span #{h(params[:q])}
    .ml-auto.text-right
      %a.text-danger{href: url("/articles")}
        %i.fa-solid.fa-minus-circle
        #{I18n.t('general.remove')}

  - @results.each do |d|
    - article = Article.find(d[:_id].to_i) rescue nil
    - if !article.nil?
      %p.citation.mt-2.mb-1
        - if !article.citation
          %span.text-muted
            [NO TITLE AVAILABLE]
        - else
          - if d[:highlight].has_key?(:citation)
            #{d[:highlight][:citation].first}
          - else
            #{h(article.citation)}
        %br
        = link_to "https://doi.org/#{article.doi}", "https://doi.org/#{article.doi}"
      - if d[:highlight].has_key?(:abstract)
        - d[:highlight][:abstract].each do |highlight|
          .small.pl-2.ml-2
            &hellip;#{highlight}&hellip;
      .small.text-muted.pl-4.ml-2.mb-4
        %span.mr-2
          %a{href: "/article/#{article.doi}"}
            %i{class:"fas fa-users"}
            = I18n.t('article.people')
        - stats = cache_block("article-#{article.id}-stats") { article_stats(article) }
        %span.badge.badge-light.badge-pill.citation-correction #{number_with_delimiter(stats[:claimed_count])}
        %span.text-muted= I18n.t('article.claims')
        %span.badge.badge-light.badge-pill.citation-correction #{number_with_delimiter(stats[:occurrence_count])}
        %span.text-muted= I18n.t('article.specimens')

  - if @pagy.pages > 1
    .overflow-auto
      = pagy_bootstrap_nav(@pagy)
