- content_for :title, "Los geht’s"
- content_for :scripts do
  :javascript
    $(function() {
      Application.init();
    });
- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        Los geht’s
      %p.lead.text-muted
        Vier Schritte, um die von Ihnen gesammelten oder identifizierten Exemplare für sich zu beanspruchen und um Ihre Kollegen, Mentoren und Organisationen zu würdigen.


%h3 Schritt 1: Authentifizieren Sie sich über ORCID
.ml-3.mt-4
  .media.mb-3.mt-3.d-flex.flex-wrap.flex-column.flex-md-row
    %img.mb-3.mr-3{src:"/images/orcid-logo.png", alt:"ORCID"}
    .media-body
      ist eine gemeinnützige Organisation, die dazu beiträgt, eine Welt zu schaffen, in der alle an Forschung, Wissenschaft und Innovation Beteiligten eindeutig identifiziert und mit ihren Beiträgen und Zugehörigkeiten in Verbindung gebracht werden können – über Disziplinen, Grenzen und Zeit hinweg.

  - if !authorized?
    %form{action: "/auth/orcid?lang=#{I18n.locale}", method: "POST" }
      %p
        %button.btn.btn-lg.btn-outline-dark
          %i.fab.fa-orcid
          = I18n.t('home.orcid_login')
        %input{type:"hidden", name:"authenticity_token", value:"#{env['rack.session'][:csrf]}"}

  %p Folgende Angaben sollten Sie in Ihrem ORCID-Konto öffentlich sichtbar machen:

  %ul
    %li
      Vollständiger Name
      %small
        %sup a
    %li
      Veröffentlichter Name
      %small
        %sup a
    %li
      = succeed "-Namen" do
        %em Auch-bekannt-als
      %small
        %sup a b
    %li
      Biografie
      %small
        %sup a
    %li
      Land
      %small
        %sup a
    %li
      Schlüsselwörter
      %small
        %sup a
    %li
      Beschäftigung
      %small
        %sup a c
    %li
      Ausbildung und Qualifikationen
      %small
        %sup a c

  .bd-callout.bd-callout-bionomia
    %div
      %small
        %sup a
        Regelmäßig und automatisch in Bionomia aktualisiert.
    %div
      %small
        %sup b
        Alternative Namen, einschließlich Spitznamen und Familiennamen, sind nützlich, damit Bionomia Ihre Exemplare finden kann, bspw. Miles Zhang, Y. Miles Zhang, Yuanmeng Zhang.
    %div
      %small
        %sup c
        Wenn Sie Anfangs- und Enddaten für die Beschäftigung und/oder Ausbildung und Qualifikationen angeben, werden diese mit den Daten der von Ihnen gesammelten oder identifizierten Exemplare abgeglichen, was Ihren Organisationen hilft, ihre Wirkung zu messen. Stellen Sie bei der Auswahl Ihrer Organisationen sicher, dass deren
        = succeed "," do
          %strong Organisationskennungen
        z. B. ROR, Ringgold oder GRID, in Ihrem ORCID-Konto erfasst wurden.

%h3
  Schritt 2: Besuchen Sie die Registerkarte „Exemplare“

.ml-3.mt-4
  %img.mb-3.img-fluid{src:"/images/profile-tabs.de.png", alt:"Profil-Registerkarten auf Bionomia"}
  %p
    Nach der Authentifizierung über ORCID zeigt Ihnen Bionomia zunächst eine
    - if !authorized?
      Übersicht
    - else
      = link_to "Übersicht", url("/profile")
    über Ihr Profil. Sie bezieht Ihren vollständigen Namen und andere Details (siehe oben) aus Ihrem ORCID-Konto, das Sie jederzeit aktualisieren können, ein. Klicken Sie die Registerkarte
    = surround "„", "“" do
      - if !authorized?
        Entdeckt
      - else
        = link_to "Entdeckt", url("/profile/candidates")
    an, um eine Liste der infrage kommenden Exemplare zu sehen. Ähnlich wie ein E-Mail-Posteingang zeigt Bionomia die Anzahl der Exemplare an, die auf eine Bearbeitung warten.
    Die Daten zu den Exemplaren werden von der
    = link_to "Global Biodiversity Information Facility", "https://gbif.org"
    alle zwei Wochen vollständig aktualisiert.

%h3
  Schritt 3: Beanspruchen Sie Ihre Exemplare

.ml-3.mt-4
  %p
    Auf der Seite
    = surround "„", "“" do
      - if !authorized?
        Entdeckt
      - else
        = link_to "Entdeckt", url("/profile/candidates")
    der Registerkarte „Exemplare“ können Sie
    %em alle sichtbaren Zeilen
    von Exemplaren als Massenbeanspruchung oder auch nur einzelne Reihen durch Anklicken anfordern:
    %ul.list-unstyled
      %li
        %img{src:"/images/net-unselected.png", alt:"„Gesammelt“-Symbol", width:"18"}
        für von Ihnen gesammelte Exemplare oder
      %li
        %img{src:"/images/microscope-unselected.png", alt:"„Identifiziert“-Symbol", width:"18"}
        für von Ihnen identifizierte Exemplare oder
      %li
        %strong
          Beides
        für von Ihnen gesammelte und identifizierte Exemplare
    %img.mb-3.img-fluid{src:"/images/button-selectors.de.png", alt:"Bionomia-Buttons"}

  %p
    Klicken Sie auf die „Nicht ich“-Schaltflächen, um
    %em alle sichtbaren Zeilen
    oder einzelne Zeilen von Exemplar-Datensätzen zu ignorieren. Sie haben sich vertan? Besuchen Sie andere Seiten auf der Registerkarte „Exemplare“, z. B.
    = surround "„", "“" do
      - if !authorized?
        Beansprucht
      - else
        = link_to "Beansprucht", url("/profile/specimens")
    oder
    = surround "„", "“," do
      - if !authorized?
        Ignoriert
      - else
        = link_to "Ignoriert", url("/profile/ignored")
    um Ihre Auswahl zu korrigieren oder anzupassen.
  .bd-callout.bd-callout-bionomia
    Sie haben zu viele Exemplar-Datensätze oder möchten nach Spalten sortieren und/oder nach Inhalt filtern? Klicken Sie auf die Seite „Massenbeanspruchung“ auf der Registerkarte „Exemplare“, um Hinweise zum Herunterladen, zum Hinzufügen von Beanspruchungen in einem Tabellenblatt und zum anschließenden Hochladen einer vollständigen CSV-Datei anzuzeigen.

%h3
  Schritt 4: Ordnen Sie Exemplare anderen Personen zu

.ml-3.mt-4
  %p
    Während Sie über ORCID authentifiziert sind, können Sie die Seite
    = surround "„", "“" do
      - if authorized?
        = link_to "Anderen helfen", url("/help-others")
      - else
        Anderen helfen
    besuchen, um nach Ihren Kollegen, Mentoren oder anderen Personen zu suchen, die Sie inspirieren. Weisen Sie ihnen Exemplare zu, so wie Sie Ihre eigenen Exemplare beansprucht haben. Wenn auch sie eine ORCID-ID haben, können sie Ihnen ein kurzes Dankeschön schicken, das auf der Registerkarte „Dank erhalten“ erscheint.
