- content_for :title, "Get Started"
- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        Get Started
      %p.lead.text-muted
        Four steps to claim the specimens you collected or identified and to help acknowledge your peers, mentors, and organizations.


%h3 Step 1: Authenticate via ORCID
.ml-3.mt-4
  .media.mb-3.mt-3.d-flex.flex-wrap.flex-column.flex-md-row
    %img.mb-3.mr-3{src:"/images/orcid-logo.png", alt:"ORCID"}
    .media-body
      is a nonprofit organization helping create a world in which all who participate in research, scholarship and innovation are uniquely identified and connected to their contributions and affiliations, across disciplines, borders, and time.

  - if !authorized?
    %form{action: "/auth/orcid?lang=#{I18n.locale}", method: "POST" }
      %p
        %button.btn.btn-lg.btn-outline-dark
          %i.fab.fa-orcid
          = I18n.t('home.orcid_login')
        %input{type:"hidden", name:"authenticity_token", value:"#{env['rack.session'][:csrf]}"}

  %p Suggested details to make publicly visible in your ORCID account

  %ul
    %li
      Full name
      %small
        %sup a
    %li
      %em Also known as
      names
      %small
        %sup a,b
    %li
      Biography
      %small
        %sup a
    %li
      Country
      %small
        %sup a
    %li
      Keywords
      %small
        %sup a
    %li
      Employment
      %small
        %sup a,c
    %li
      Education and qualifications
      %small
        %sup a,c

  .bd-callout.bd-callout-bionomia
    %div
      %small
        %sup a
        Periodically and automatically refreshed in Bionomia.
    %div
      %small
        %sup b
        Alternate names, inclusive of nicknames and family names are useful to help Bionomia find your specimens,
        %em eg
        Miles Zhang, Y. Miles Zhang, Yuanmeng	Zhang
    %div
      %small
        %sup c
        If you include start and end dates for Employment and/or Education and qualifications, these are cross-referenced against dates on specimens you collected or identified and help your organizations measure their impact. When selecting your organizations, ensure that their
        %strong Organization Identifiers
        %em eg
        ROR, Ringgold or GRID have been captured in your ORCID account.

%h3
  Step 2: Visit the Specimens tab

.ml-3.mt-4
  %img.mb-3.img-fluid{src:"/images/profile-tabs.png", alt:"Bionomia profile tabs"}
  %p
    Once authenticated via ORCID, Bionomia first shows you an
    - if !authorized?
      Overview
    - else
      = link_to "Overview", url("/profile")
    of your profile. It pulls your full name and other details (see above) from your ORCID account, which you may refresh at any time. Click the
    - if !authorized?
      Discovered
    - else
      = link_to "Discovered", url("/profile/candidates")
    tab to see a list of candidate specimens. Much like an email inbox, Bionomia shows the number of specimens that await action.
    Specimen data are fully refreshed from the
    = link_to "Global Biodiversity Information Facility", "https://gbif.org"
    every two weeks.

%h3
  Step 3: Claim your specimens

.ml-3.mt-4
  %p
    Under the
    - if !authorized?
      Discovered
    - else
      = link_to "Discovered", url("/profile/candidates")
    page of your Specimens tab, you may bulk claim
    %em all visible rows
    of specimens or claim single rows by clicking:
    %ul{class:"list-unstyled"}
      %li
        %img{src:"/images/net-unselected.png", alt:"Collected icon", width:"18"}
        for specimens you collected or,
      %li
        %img{src:"/images/microscope-unselected.png", alt:"Identified icon", width:"18"}
        for specimens you identified or,
      %li
        %strong
          Both
        for specimens you collected & identified
    %img.mb-3.img-fluid{src:"/images/button-selectors.png", alt:"Bionomia buttons"}

  %p
    Click the "Not me" buttons to ignore
    %em all visible rows
    or single rows of specimen records. Make a mistake? Visit other pages in your Specimens tab such as
    - if !authorized?
      Claimed
    - else
      = link_to "Claimed", url("/profile/specimens")
    or
    - if !authorized?
      Ignored
    - else
      = link_to "Ignored", url("/profile/ignored")
    to repair or adjust your selections.
  .bd-callout.bd-callout-bionomia
    Too many specimen records or want to sort by columns and/or filter by content? Click the "Bulk Claim" page on your Specimens tab to view instructions on how to download, add claims in a spreadsheet, then upload a completed csv file.

%h3
  Step 4: Attribute specimens to others

.ml-3.mt-4
  %p
    While authenticated via ORCID, visit
    - if authorized?
      = link_to "Help Others", url("/help-others")
    - else
      Help Others
    to search for your peers, mentors, or anyone who inspires you. Attribute specimens to them just as you claimed your own specimens. If they too have an ORCID ID, they may send you a quick thanks and these will appear in your Thanks Received tab.
