-content_for :title do
  #{@taxon.family} Agent Counts

- content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init("", "GET", "/taxa");
    });

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class:"mr-auto p-2"}
      %h1{class:"h2"} #{@taxon.family}
      %p{class: "lead text-muted"}
        - if @pagy && @pagy.count > 0
          #{number_to_human(@pagy.count, units: :"taxa.number_agents", delimiter: ",", precision: 0)}
    = haml :'partials/taxa/search', layout: false

= haml :'partials/taxa/tabs', layout:false, locals: { active_tab: locals[:active_tab] }
= haml :'partials/taxa/agent_nav', layout: false, locals: { active_subtab: locals[:active_subtab] }

- if @results.size == 0
  %div{class: "alert alert-warning tiny-margins", role: "alert"}
    No agents have collected or identified for
    %span{class:"font-weight-bold"}
      #{h(@taxon.family)}
- else
  %div{class: "row"}
    - @results.in_groups_of(25, false).each do |group|
      %div{class: "col-12 col-sm-3 mb-3"}
        %ul{class: "list-unstyled m-2"}
          - group.each do |a|
            - agent = Agent.find(a[0])
            %li
              %a{href: url("/agent/#{agent.id}?taxon=#{@taxon.family}")} #{agent.fullname_reverse}
              %span{class:"badge badge-light"} #{number_with_delimiter(a[1])}

  - if @pagy.pages > 1
    %div{style:"overflow-y:scroll"}
      = pagy_bootstrap_nav(@pagy)
