- content_for :title, I18n.t('taxa.search_title')
- content_for :scripts do
  :javascript
    $(function() {
      Application.init("", "GET", "/taxa");
    });

- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        = I18n.t('taxa.search_title')
      %p.lead.text-muted
        #{number_to_human(@count, units: :'taxa.lede', delimiter: ",", precision: 0)}
    = haml :'partials/taxa/search', layout: false

- if !@pagy
  %h3= I18n.t('taxa.example_families')
  .row
    - @results.in_groups_of(25, false).each do |group|
      .col-12.col-sm-3.mb-3
        %ul.list-group.m-2
          - group.each do |t|
            %li.list-group-item.border-0
              - image = taxon_image(t.family, 'thumbnail')
              - if !image.nil?
                %img.mr-2{src:"#{image}", alt:"#{t.family}", loading:"lazy", width:24, style:"max-height:64px;"}
              - else
                %span.d-inline-block.mr-2{style:"width:24px;"}
              = link_to t.family, url("/taxon/#{t.family}")

- if @pagy && @pagy.count == 0
  .alert.alert-warning.tiny-margins.d-flex.flex-wrap{role: "alert"}
    %div
      = I18n.t('taxa.none_found', searched: h(params[:q]))
    .ml-auto.text-right
      %a.text-danger{href: url("/taxa")}
        %i.fas.fa-minus-circle
        #{I18n.t('general.remove')}
- elsif @pagy && @pagy.count > 0
  .alert.alert-info.tiny-margins.d-flex.flex-wrap{role: "alert"}
    %div
      #{number_to_human(@pagy.count, units: :'taxa.search_found', delimiter: ",", precision: 0)}
      %span #{h(params[:q])}
    .ml-auto.text-right
      %a.text-danger{href: url("/taxa")}
        %i.fas.fa-minus-circle
        #{I18n.t('general.remove')}

  .row
    - @taxon_results.in_groups_of(25, false).each do |group|
      .col-12.col-md-3.mb-3
        %ul.list-group.m-2
          - group.each do |o|
            %li.list-group-item.border-0
              - image = taxon_image(o[:name], 'thumbnail')
              - if !image.nil?
                %img.mr-2{src:"#{image}", alt:"#{o[:name]}", loading:"lazy", width:24, style:"max-height:64px;"}
              - else
                %span.d-inline-block.mr-2{style:"width:24px;"}
              = link_to o[:name], url("/taxon/#{o[:name]}")
