-content_for :title do
  #{@taxon.family} #{I18n.t('taxa.visualizations')}

- content_for :scripts do
  %script{src: "/js/application.js"}
  %script{src: "//www.gstatic.com/charts/loader.js"}
  %script{src: "/js/jquery.throttledresize.js"}

  :javascript
    $(function() {
      Application.init("", "GET", "/taxa");

      var timeline = #{@timeline};

      function timeLine() {
        var tooltip = "",
            startDate = "",
            endDate = "";
        arr = $.map(timeline, function( n, i ) {
          startDate = new Date(n[3]);
          endDate = new Date(n[4]);
          return [[ n[1], null, n[2], startDate, endDate ]];
        });
        return arr;
      }

      function drawVisualizations() {
        var container = $('#timeline')[0],
            chart = new google.visualization.Timeline(container),
            dataTable = new google.visualization.DataTable(),
            rowHeight = 41,
            options = {};

        if (timeline.length == 1) {
          return;
        }

        if (timeline.length > 1) {
          dataTable.addColumn({ type: 'string', id: 'Fullname' });
          dataTable.addColumn({ type: 'string', id: 'Bar label' });
          dataTable.addColumn({ type: 'string', role: 'tooltip' });
          dataTable.addColumn({ type: 'date', id: 'Start' });
          dataTable.addColumn({ type: 'date', id: 'End' });
          dataTable.addRows(timeLine());

          options = {
            height: dataTable.getNumberOfRows() * rowHeight + 50,
            timeline: {
              singleColor: '#3A7179'
            }
          };

          google.visualization.events.addListener(chart, 'onmouseover', function(e) {
            if (e.row !== null) { $('#timeline').css('cursor','pointer'); }
          });
          google.visualization.events.addListener(chart, 'onmouseout', function() { $('#timeline').css('cursor','default'); });
          google.visualization.events.addListener(chart, 'select', function() {
            var sel = chart.getSelection()[0];
            if (typeof sel.row !== "undefined" && sel.row !== null) {
              window.location = "/" + timeline[sel.row][0] + "/specimens?action=#{@action}&family=#{@taxon.family}";
            }
          });

          chart.draw(dataTable, options);
        }
      }

      google.charts.load('current', {
        packages: ['timeline'],
        language: '#{I18n.locale.to_s}',
        mapsApiKey: "#{Settings.google.api_key}"
      });
      google.charts.setOnLoadCallback(drawVisualizations);

      $(window).on("throttledresize", function(event) {
        drawVisualizations();
      });

    });

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class:"mr-auto p-2"}
      - if @taxon.has_image?
        %div{class:"media"}
          %img{src: "/images/taxa/#{@taxon.image.file_name}", alt:"#{@taxon.family}", class:"mr-4"}
          %div{class:"media-body"}
            %h1{class:"h2 mt-0"} #{@taxon.family}
            %p{class: "lead text-muted"}
              - if @pagy && @pagy.count > 0
                #{number_to_human(@pagy.count, units: :"taxa.number_#{@action}", delimiter: ",", precision: 0)}
              - else
                - if @action == "collected"
                  = I18n.t('taxa.none_collected', taxon: h(@taxon.family))
                - else
                  = I18n.t('taxa.none_identified', taxon: h(@taxon.family))
        %p{class:"small text-muted mb-0 mt-2"}
          - if @taxon.image.credit
            #{@taxon.image.credit}
            %br
          - if @taxon.image.licenseURL
            %a{href: "#{@taxon.image.licenseURL}"}= @taxon.image.licenseURL
      - else
        %h1{class:"h2 mt-0"} #{@taxon.family}
        %p{class: "lead text-muted"}
          - if @pagy && @pagy.count > 0
            #{number_to_human(@pagy.count, units: :"taxa.number_#{@action}", delimiter: ",", precision: 0)}
          - else
            - if @action == "collected"
              = I18n.t('taxa.none_collected', taxon: h(@taxon.family))
            - else
              = I18n.t('taxa.none_identified', taxon: h(@taxon.family))

    = haml :'partials/taxa/search', layout: false

- if admin_authorized?
  %div{class:"mt-3 mb-3 pt-3 border-top text-center"}
    %a{href: url("/admin/taxon/#{@taxon.family}")}
      %i{class:"fas fa-cog"}
      = I18n.t('general.settings')

= haml :'partials/taxa/tabs', layout:false, locals: { active_tab: locals[:active_tab] }
= haml :'partials/taxa/people_viz_nav', layout: false, locals: { active_subtab: locals[:active_subtab] }

%h3{class:"mt-3"}= I18n.t('taxa.timeline')

- if @timeline.size == 0
  %div{class: "alert alert-warning tiny-margins", role: "alert"}
    - if @action == "collected"
      = I18n.t('taxa.none_collected_timeline', taxon: h(@taxon.family))
    - else
      = I18n.t('taxa.none_identified_timeline', taxon: h(@taxon.family))

- elsif @timeline.size == 1
  %ul{class:"list-unstyled"}
    %li
      %a{href: "/#{@timeline[0][0]}/specimens?family=#{@taxon.family}&action=#{@action}"}
        #{@timeline[0][1]}
      (#{Date.parse(@timeline[0][3]).strftime("%F")} – #{Date.parse(@timeline[0][4]).strftime("%F")})

- else
  %form{id:"form-taxon-visualization", method: "get", action: "/taxon/#{@taxon.family}/visualizations", "accept-charset" => "UTF-8", class: "form-inline mt-3"}
    %div{class:"input-group input-group-sm col-4 col-md-3 col-lg-2 pl-0 mb-2"}
      %div{class:"input-group-prepend"}
        %span{class:"input-group-text"}= I18n.t('taxa.start_year')
      %input{type:"text", class:"form-control", name:"start_year", value:"#{params[:start_year]}"}
    %div{class:"input-group input-group-sm col-4 col-md-3 col-lg-2 pl-0 mb-2"}
      %div{class:"input-group-prepend"}
        %span{class:"input-group-text"}= I18n.t('taxa.end_year')
      %input{type:"text", class:"form-control", name:"end_year", value:"#{params[:end_year]}"}
    %input{type: :hidden, name: "action", value: "#{@action}"}
    %input{type: :submit, class:"btn btn-success btn-sm medium-margins align-self-start", value:"#{I18n.t('general.search')}"}

%div{id: "timeline", style:"height:100%;", class:"mt-4"}
