- content_for :title, "For Developers: Search"
- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        = I18n.t('developer.title')

= haml :'partials/developers/tabs', layout:false, locals: { active_tab: locals[:active_tab] }

%h3.mt-4.mb-3
  = I18n.t('developer.autocomplete_widget')

%p
  %img{src:"/images/search_widget.png", alt:"Autocomplete Widget"}

%dl
  %dt Base URL
  %dd.pl-2 https://api.bionomia.net/user.json

  %dt ?q=
  %dd.pl-2 part of a human name (required)

  %dt &limit=
  %dd.pl-2 integer to limit how many results are returned (optional)

  %dt Response
  %dd
    %pre.pre-scrollable.bg-dark.text-white.border.rounded.p-3
      %code
        :preserve
          [
            {
              <span class="token property">"id"</span>:<span class="token number">41338</span>,
              <span class="token property">"score"</span>:<span class="token number">53.074413</span>,
              <span class="token property">"orcid"</span>:<span class="token symbol">null</span>,
              <span class="token property">"wikidata"</span>:<span class="token string">"Q230491"</span>,
              <span class="token property">"fullname"</span>:<span class="token string">"Mary Anning"</span>,
              <span class="token property">"fullname_reverse"</span>:<span class="token string">"Anning, Mary"</span>,
              <span class="token property">"thumbnail"</span>:<span class="token string">"https://abekpgaoen.cloudimg.io/crop/24x24/n/https://commons.wikimedia.org/wiki/Special:FilePath/Mary%20Anning%20painting.jpg"</span>,
              <span class="token property">"lifespan"</span>:<span class="token string">"* May 21, 1799 &ndash; March 09, 1847 †"</span>,
              <span class="token property">"description"</span>:<span class="token string">"British fossil collector, dealer, and paleontol..."</span>
            }
          ]

%p
  A
  %a{href:"https://github.com/ericgio/react-bootstrap-typeahead"}
    %i.fab.fa-react
    React.js widget
  or a
  %a{href:"https://github.com/alexurquhart/vue-bootstrap-typeahead"}
    %i.fab.fa-vuejs
    Vue.js widget
  both based on Bootstrap styling could be modified to make use of the same Base URL in the jQuery example below.

%h4 jQuery

%p
  Using
  = succeed ", " do
    = link_to "typeahead.js", "https://twitter.github.io/typeahead.js/"
  = succeed ", " do
    = link_to "handlebars.js", "https://handlebarsjs.com/"
  and
  = succeed "." do
    = link_to "Bootstrap", "https://getbootstrap.com/"
  A javascript callback entitled
  %strong typeahead:select
  is fired when a user selects a name in the dropdown and the response produces either an ORCID ID or a Wikidata Q number.

%ul.nav.nav-tabs{role:"tablist"}
  %li.nav-item
    %a#javascript-tab.nav-link.active{href:"#javascript", "data-toggle":"tab", role:"tab", "aria-controls":"javascript", "aria-selected": true} Javascript
  %li.nav-item
    %a#html-tab.nav-link{href:"#html", "data-toggle":"tab", role:"tab", "aria-controls":"html", "aria-selected": false} HTML
  %li.nav-item
    %a#css-tab.nav-link{href:"#css", "data-toggle":"tab", role:"tab", "aria-controls":"css", "aria-selected": false} CSS

.tab-content
  #javascript.tab-pane.fade.show.active.mt-3{role:"tabpanel", "arial-labelledby":"javascript-tab"}
    %pre.bg-light.border.rounded.p-3
      :escaped
        // jQuery, typeahead.js and handlebars.js from a CDN
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>

        <script>
          $(function() {

            var collectors = new Bloodhound({
              datumTokenizer: Bloodhound.tokenizers.whitespace,
              queryTokenizer: Bloodhound.tokenizers.whitespace,
              sufficient: 10,
              remote: {
                url: 'https://api.bionomia.net/user.json?q=%QUERY',
                wildcard: '%QUERY',
                transform : function(r) {
                  return $.map(r, function (v) { v.type = "user"; return v; });
                }
              }
            });

            $('#collector-search .typeahead').typeahead({
                minLength: 3,
                highlight: true
              },
              {
                name: 'user',
                limit: 10,
                source: collectors,
                display: 'fullname_reverse',
                templates: {
                  suggestion: Handlebars.compile($("#result-template").html()),
                  empty: Handlebars.compile($("#empty-template").html())
                }
              }
            ).on("typeahead:select", function(obj, datum) {
              var identifier = datum.orcid || datum.wikidata;
              console.log(identifier);
              // DO SOMETHING WITH THE IDENTIFIER WHEN THE ITEM IS SELECTED
              /*
                 The identifier will appear either in the form
                 0000-0002-4286-147X or Q10293705.
                 Recommended best practice is to show the user the identifier they
                 chose by rendering an active link to either
                 https://orcid.org/{{identifier}} or https://www.wikidata.org/wiki/{{identifier}}
               */
            });
          });
        </script>

  #html.tab-pane.fade.show.mt-3{role:"tabpanel", "arial-labelledby":"html-tab"}
    %pre.bg-light.border.rounded.p-3
      :escaped
        <div id="collector-search" class="m-2">
          <input class="typeahead" type="text" placeholder="Mary Anning" size="50">
        </div>

        <!-- Result template -->
        <script id='result-template' type='text/x-handlebars-template'>
          <div class='d-flex'>
            <div>
              <img class='rounded' src='{{thumbnail}}'>
            </div>
            <div class='ml-2 flex-grow-1 small'>
              <h5 class='m-0 p-0'>{{fullname_reverse}}</h5>
              <div class='m-0 p-0 small muted'>{{{lifespan}}}</div>
              <div class='m-0 p-0 small muted'>{{{description}}}</div>
            </div>
          </div>
        </script>

        <!-- Non-result template -->
        <script id='empty-template' type='text/x-handlebars-template'>
          <div class='m-2 tt-no-result'>Your search turned up 0 results.</div>
        </script>

  #css.tab-pane.fade.show.mt-3{role:"tabpanel", "arial-labelledby":"css-tab"}
    %pre.bg-light.border.rounded.p-3
      :escaped
        /* Bootstrap from a CDN */
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        /* Customizations */
        <style>
          .twitter-typeahead { line-height:1em; }
          .typeahead, .tt-query, .tt-hint {
            width: 100%;
            height: 1rem;
            padding: 1rem;
            font-size: 1rem;
            line-height: 1rem;
            border: 2px solid #ccc;
            border-radius: 8px;
            outline: none;
          }
        .typeahead { background-color: #fff; width:300px; }
        .typeahead:focus { border: 2px solid #40924F; }
        .tt-query { box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
        .tt-hint { color: #999; }
        .tt-menu {
          width: 100%;
          margin: 5px 0;
          padding: 8px 0;
          background-color: #fff;
          border: 1px solid rgba(0, 0, 0, 0.2);
          border-radius: 8px;
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
          z-index:10000 !important;
        }
        .tt-suggestion, .tt-no-result {
          padding: 3px 10px;
          font-size: 1rem;
          line-height: 1.1rem;
          color:#495057;
        }
        .tt-suggestion:hover {
          cursor: pointer;
          color: #fff;
          background-color: #40924F;
        }
        .tt-suggestion.tt-cursor { color: #fff; background-color: #40924F; }
        .tt-suggestion p { margin: 0; }
        .tt-menu-header {
          margin: 0 10px 5px 10px;
          padding: 3px 0;
          border-bottom: 1px solid #a8a7a5;
          font-size:1em;
        }
        .dropdown-menu{
          border-radius:0px !important;
          font-size:1rem !important;
        }
        </style>

%h3.mt-4.mb-3= I18n.t('developer.json_ld_search')

%p.mb-4
  Search for people is exposed as JSON-LD documents with Cross-Origin Resource Sharing (CORS) using elements from
  = link_to "https://schema.org", "https://schema.org"
  as type
  = succeed ", " do
    = link_to "DataFeed", "https://schema.org/DataFeed"
  OpenSearch, and
  = succeed "." do
    = link_to "W3C ActivityStreams", "https://www.w3.org/ns/activitystreams"

%dl
  %dt Base URL
  %dd.pl-2 https://api.bionomia.net/users/search

  %dt ?q=
  %dd.pl-2 single human name (required)

  %dt &families_collected=
  %dd.pl-2 comma-separated list of taxonomic families collected (optional)

  %dt &families_identified=
  %dd.pl-2 comma-separated list of taxonomic families identified (optional)

  %dt &date=
  %dd.pl-2 a date expressed as YYYY-MM-DD, YYYY-MM, or YYYY (optional)

  %dt &page=
  %dd.pl-2 page number; there is a fixed 30 items per page (optional)

  %dt &strict=
  %dd.pl-2 boolean for MUST (=true) vs SHOULD (=false) on families_identified, families_collected, and date when any are present (optional)

  %dt &callback=
  %dd.pl-2 A string to produce a JSONP response instead of a JSON-LD response (optional)

  %dt.mt-3 Example
  %dd.pl-2
    https://api.bionomia.net/users/search?q=smith&families_collected=scarabaeidae&strict=true

  %dt Response
  %dd
    %pre.pre-scrollable.bg-dark.text-white.border.rounded.p-3
      %code
        :preserve
          {
            <span class="token property">"@context"</span>: {
              <span class="token property">"@vocab"</span>: <span class="token string">"http://schema.org"</span>,
              <span class="token property">"opensearch"</span>: <span class="token string">"http://a9.com/-/spec/opensearch/1.1/"</span>,
              <span class="token property">"as"</span>: <span class="token string">"https://www.w3.org/ns/activitystreams#"</span>
            },
            <span class="token property">"@type"</span>: <span class="token string">"DataFeed"</span>,
            <span class="token property">"opensearch:totalResults"</span>: <span class="token number">1</span>,
            <span class="token property">"opensearch:itemsPerPage"</span>: <span class="token number">1</span>,
            <span class="token property">"as:first"</span>: <span class="token string">"https://api.bionomia.net/users/search?q=smith&families_collected=curculionidae&strict=true&page=1"</span>,
            <span class="token property">"as:prev"</span>: <span class="token symbol">null</span>,
            <span class="token property">"as:current"</span>: <span class="token string">"https://api.bionomia.net/users/search?q=smith&families_collected=curculionidae&strict=true"</span>,
            <span class="token property">"as:next"</span>: <span class="token symbol">null</span>,
            <span class="token property">"as:last"</span>: <span class="token string">"https://api.bionomia.net/users/search?q=smith&families_collected=curculionidae&strict=true&page=1"</span>,
            <span class="token property">"name"</span>: <span class="token string">"Bionomia user search results"</span>,
            <span class="token property">"description"</span>: <span class="token string">"Bionomia user search results expressed as a schema.org JSON-LD DataFeed.
              q={name} is a search by human name;
              families_identified={families_identified} is a comma-separated list of taxonomic families identified;
              families_collected={families_collected} is a comma-separated list of taxonomic families collected;
              date={date} is a date in the form YYYY, YYYY-MM, or YYYY-MM-DD and is compared to birth and death dates;
              page={page} is the page number and there is a fixed 30 items per page;
              strict={true|false} is a boolean for MUST vs SHOULD on families_identified, families_collected, and date"</span>,
            <span class="token property">"license"</span>: <span class="token string">"https://creativecommons.org/publicdomain/zero/1.0/"</span>,
            <span class="token property">"potentialAction"</span>: {
              <span class="token property">"@type"</span>: <span class="token string">"SearchAction"</span>,
              <span class="token property">"target"</span>: <span class="token string">"https://api.bionomia.net/users/search?q={name}&families_identified={families_identified}&families_collected={families_collected}&date={date}&page={page}&strict={true|false}"</span>
            },
            <span class="token property">"dataFeedElement"</span>: [
              {
                <span class="token property">"@type"</span>: <span class="token string">"DataFeedItem"</span>,
                <span class="token property">"item"</span>: {
                  <span class="token property">"@type"</span>: <span class="token string">"Person"</span>,
                  <span class="token property">"@id"</span>: <span class="token string">"https://bionomia.net/0000-0002-8059-5133"</span>,
                  <span class="token property">"name"</span>: <span class="token string">"Andrew B.T. Smith"</span>,
                  <span class="token property">"givenName"</span>: <span class="token string">"Andrew B.T."</span>,
                  <span class="token property">"familyName"</span>: <span class="token string">"Smith"</span>,
                  <span class="token property">"alternateName"</span>: [
                    <span class="token string">"Smith, Andrew B.T."</span>
                  ],
                  <span class="token property">"knowsAbout"</span>: [
                    {
                      <span class="token property">"@type"</span>: <span class="token string">"ItemList"</span>,
                      <span class="token property">"name"</span>: <span class="token string">"families_identified"</span>,
                      <span class="token property">"itemListElement"</span>: [
                        {
                          <span class="token property">"@type"</span>: <span class="token string">"ListItem"</span>,
                          <span class="token property">"name"</span>: <span class="token string">"Carabidae"</span>
                        }
                      ]
                    },
                    {
                      <span class="token property">"@type"</span>: <span class="token string">"ItemList"</span>,
                      <span class="token property">"name"</span>: <span class="token string">"families_collected"</span>,
                      <span class="token property">"itemListElement"</span>: [
                        {
                          <span class="token property">"@type"</span>: <span class="token string">"ListItem"</span>,
                          <span class="token property">"name"</span>: <span class="token string">"Scarabaeidae"</span>
                        },
                        {
                          <span class="token property">"@type"</span>: <span class="token string">"ListItem"</span>,
                          <span class="token property">"name"</span>: <span class="token string">"Curculionidae"</span>
                        },
                        ...
                      ]
                    }
                  ],
                  <span class="token property">"sameAs"</span>: <span class="token string">"https://orcid.org/0000-0002-8059-5133"</span>
                }
              }
            ]
          }

%h3.mt-4.mb-3= I18n.t('developer.json_ld_occurrence_search')

%p.mb-4
  Search occurrences as JSON-LD documents with Cross-Origin Resource Sharing (CORS) using elements from
  = link_to "https://schema.org", "https://schema.org"
  as type
  = succeed ". " do
    = link_to "DataFeed", "https://schema.org/DataFeed"

%dl
  %dt Base URL
  %dd.pl-2 https://bionomia.net/occurrences/search

  %dt &datasetKey=
  %dd.pl-2 registered UUID provided by the Global Biodiversity Information Facility (GBIF) (required)

  %dt &occurrenceID=
  %dd.pl-2 from the provider (required)

  %dt &callback=
  %dd.pl-2 A string to produce a JSONP response instead of a JSON-LD response (optional)

  %dt.mt-3 Example
  %dd.pl-2
    https://bionomia.net/occurrences/search?datasetKey=f86a681d-7db8-483b-819a-248def18b70a&occurrenceID=7a1daa39-8d7c-d7c4-968f-799d58b3c7b0

  %dt Response
  %dd
    %pre.pre-scrollable.bg-dark.text-white.border.rounded.p-3
      %code
        :preserve
          {
            <span class="token property">"@context"</span>: {
              <span class="token property">"@vocab"</span>: <span class="token string">"http://schema.org/"</span>,
              <span class="token property">"identified"</span>: <span class="token string">"http://rs.tdwg.org/dwc/iri/identifiedBy"</span>,
              <span class="token property">"recorded"</span>: <span class="token string">"http://rs.tdwg.org/dwc/iri/recordedBy"</span>,
              <span class="token property">"associatedReferences"</span>: <span class="token string">"http://rs.tdwg.org/dwc/terms/associatedReferences"</span>,
              <span class="token property">"PreservedSpecimen"</span>: <span class="token string">"http://rs.tdwg.org/dwc/terms/PreservedSpecimen"</span>,
              <span class="token property">"creator"</span>: <span class="token string">"http://purl.org/dc/terms/creator"</span>,
              <span class="token property">"created"</span>: <span class="token string">"http://purl.org/dc/terms/created"</span>,
              <span class="token property">"modified"</span>: <span class="token string">"http://purl.org/dc/terms/modified"</span>,
              <span class="token property">"datasetKey"</span>: <span class="token string">"http://rs.tdwg.org/dwc/terms/datasetKey"</span>,
              <span class="token property">"occurrenceID"</span>: <span class="token string">"http://rs.tdwg.org/dwc/terms/occurrenceID"</span>,
              <span class="token property">"dateIdentified"</span>: <span class="token string">"http://rs.tdwg.org/dwc/terms/dateIdentified"</span>,
              <span class="token property">"decimalLatitude"</span>: <span class="token string">"http://rs.tdwg.org/dwc/terms/decimalLatitude"</span>,
              <span class="token property">"decimalLongitude"</span>: <span class="token string">"http://rs.tdwg.org/dwc/terms/decimalLongitude"</span>,
              <span class="token property">"country"</span>: <span class="token string">"http://rs.tdwg.org/dwc/terms/country"</span>,
              <span class="token property">"countryCode"</span>: <span class="token string">"http://rs.tdwg.org/dwc/terms/countryCode"</span>,
              <span class="token property">"eventDate"</span>: <span class="token string">"http://rs.tdwg.org/dwc/terms/eventDate"</span>,
              <span class="token property">"year"</span>: <span class="token string">"http://rs.tdwg.org/dwc/terms/year"</span>,
              <span class="token property">"kingdom"</span>: <span class="token string">"http://rs.tdwg.org/dwc/terms/kingdom"</span>,
              <span class="token property">"family"</span>: <span class="token string">"http://rs.tdwg.org/dwc/terms/family"</span>,
              <span class="token property">"identifiedBy"</span>: <span class="token string">"http://rs.tdwg.org/dwc/terms/identifiedBy"</span>,
              <span class="token property">"institutionCode"</span>: <span class="token string">"http://rs.tdwg.org/dwc/terms/institutionCode"</span>,
              <span class="token property">"collectionCode"</span>: <span class="token string">"http://rs.tdwg.org/dwc/terms/collectionCode"</span>,
              <span class="token property">"catalogNumber"</span>: <span class="token string">"http://rs.tdwg.org/dwc/terms/catalogNumber"</span>,
              <span class="token property">"recordedBy"</span>: <span class="token string">"http://rs.tdwg.org/dwc/terms/recordedBy"</span>,
              <span class="token property">"scientificName"</span>: <span class="token string">"http://rs.tdwg.org/dwc/terms/scientificName"</span>,
              <span class="token property">"typeStatus"</span>: <span class="token string">"http://rs.tdwg.org/dwc/terms/typeStatus"</span>,
              <span class="token property">"opensearch"</span>: <span class="token string">"http://a9.com/-/spec/opensearch/1.1/"</span>
            },
            <span class="token property">"@type"</span>: <span class="token string">"DataFeed"</span>,
            <span class="token property">"opensearch:totalResults"</span>: <span class="token number">1</span>,
            <span class="token property">"opensearch:itemsPerPage"</span>: <span class="token number">1</span>,
            <span class="token property">"name"</span>: <span class="token string">"Bionomia occurrence search results"</span>,
            <span class="token property">"description"</span>: <span class="token string">"Bionomia occurrence search results expressed as a schema.org JSON-LD DataFeed."</span>,
            <span class="token property">"license"</span>: <span class="token string">"https://creativecommons.org/publicdomain/zero/1.0/"</span>,
            <span class="token property">"potentialAction"</span>: {
              <span class="token property">"@type"</span>: <span class="token string">"SearchAction"</span>,
              <span class="token property">"target"</span>: <span class="token string">"https://bionomia.net/occurrences/search?datasetKey={datasetKey}&occurrenceID={occurrenceID}"</span>
            },
            <span class="token property">"dataFeedElement"</span>: [
              {
                <span class="token property">"@type"</span>: <span class="token string">"DataFeedItem"</span>,
                <span class="token property">"item"</span>: {
                  <span class="token property">"@type"</span>: <span class="token string">"PreservedSpecimen"</span>,
                  <span class="token property">"@id"</span>: <span class="token string">"https://bionomia.net/occurrence/1804069383"</span>,
                  <span class="token property">"sameAs"</span>: <span class="token string">"https://gbif.org/occurrence/1804069383"</span>,
                  <span class="token property">"recorded"</span>: [
                    {
                      <span class="token property">"@type"</span>: <span class="token string">"Person"</span>,
                      <span class="token property">"@id"</span>: <span class="token string">"https://bionomia.net/Q3446775"</span>,
                      <span class="token property">"sameAs"</span>: <span class="token string">"http://www.wikidata.org/entity/Q3446775"</span>,
                      <span class="token property">"givenName"</span>: <span class="token string">"Rudolph Martin"</span>,
                      <span class="token property">"familyName"</span>: <span class="token string">"Anderson"</span>,
                      <span class="token property">"name"</span>: <span class="token string">"Rudolph Martin Anderson"</span>,
                      <span class="token property">"alternateName"</span>: [
                      ],
                      <span class="token property">creator</span>: {
                        <span class="token property">"@type"</span>: <span class="token string">"Person"</span>,
                        <span class="token property">"@id"</span>: <span class="token string">"https://bionomia.net/0000-0001-7618-5230"</span>,
                        <span class="token property">"sameAs"</span>: <span class="token string">"https://orcid.org/0000-0001-7618-5230"</span>,
                        <span class="token property">"givenName"</span>: <span class="token string">"David Peter"</span>,
                        <span class="token property">"familyName"</span>: <span class="token string">"Shorthouse"</span>,
                        <span class="token property">"name"</span>: <span class="token string">"David Peter Shorthouse"</span>
                        <span class="token property">"alternateName"</span>: [
                          <span class="token string">"David P. Shorthouse"</span>,
                          <span class="token string">"David Shorthouse"</span>,
                          <span class="token string">"David Peter Shorthouse"</span>
                        ]
                      },
                      <span class="token property">created</span>: <span class="token string">"2020-01-20T09:41:03-05:00"</span>,
                      <span class="token property">modified</span>: <span class="token symbol">null</span>
                    }
                  ],
                  <span class="token property">"identified"</span>: [
                  ],
                  <span class="token property">"associatedReferences"</span>: [
                    {
                      <span class="token property">"@type"</span>: <span class="token string">"ScholarlyArticle"</span>,
                      <span class="token property">"@id"</span>: <span class="token string">"https://doi.org/10.1016/j.mex.2020.101067"</span>,
                      <span class="token property">"sameAs"</span>: <span class="token string">"https://doi.org/10.1016/j.mex.2020.101067"</span>,
                      <span class="token property">"description"</span>: <span class="token string">"Li, X., Li, B., Wang, G., Zhan, X., & Holyoak, M. (2020). Deeply digging the interaction effect in multiple linear regressions using a fractional-power interaction term. MethodsX, 7, 101067. doi:10.1016/j.mex.2020.101067\n"</span>
                    }
                  ],
                  <span class="token property">"datasetKey"</span>: <span class="token string">"f86a681d-7db8-483b-819a-248def18b70a"</span>,
                  <span class="token property">"occurrenceID"</span>: <span class="token string">"7a1daa39-8d7c-d7c4-968f-799d58b3c7b0"</span>,
                  <span class="token property">"dateIdentified"</span>: <span class="token symbol">null</span>,
                  <span class="token property">"decimalLatitude"</span>: <span class="token string">"68.016667"</span>,
                  <span class="token property">"decimalLongitude"</span>: <span class="token string">"-110.083333"</span>,
                  <span class="token property">"country"</span>: <span class="token string">"Canada"</span>,
                  <span class="token property">"countryCode"</span>: <span class="token string">"CA"</span>,
                  <span class="token property">"eventDate"</span>: <span class="token string">"1915-08-14"</span>,
                  <span class="token property">"year"</span>: <span class="token symbol">null</span>,
                  <span class="token property">"kingdom"</span>: <span class="token string">"Animalia"</span>,
                  <span class="token property">"family"</span>: <span class="token string">"Leporidae"</span>,
                  <span class="token property">"identifiedBy"</span>: <span class="token symbol">null</span>,
                  <span class="token property">"institutionCode"</span>: <span class="token string">"CMN"</span>,
                  <span class="token property">"collectionCode"</span>: <span class="token string">"CMNMA"</span>,
                  <span class="token property">"catalogNumber"</span>: <span class="token string">"CMNMA 2859"</span>,
                  <span class="token property">"recordedBy"</span>: <span class="token string">"Anderson, Rudolph M."</span>,
                  <span class="token property">"scientificName"</span>: <span class="token string">"Lepus arcticus andersoni"</span>,
                  <span class="token property">"typeStatus"</span>: <span class="token string">"paratype"</span>
                }
              }
            ]
          }
