- query = "?#{request.params.to_query}"
%ul.nav.nav-pills.custom-pills
  %li.nav-item
    %a.nav-link{href: url("/country/#{@country[0]}#{query}"), class: locals[:active_tab] == "orcid" ? "active" : nil}= "ORCID"
  %li.nav-item
    %a.nav-link{href: url("/country/#{@country[0]}/wikidata#{query}"), class: locals[:active_tab] == "wikidata" ? "active" : nil}= "Wikidata"
