.p-2.ml-3
  - path = (@profile_type == "wikidata") ? "/wikidata" : ""
  %form#form-taxon-wrapper.helpers{method: :get, action: "/country/#{@country[0]}#{path}?action=#{@action}", "accept-charset": "UTF-8"}
    .row
      .col-12.col-sm-8.p-0
        .form-group.mb-2
          %input#typeahead-taxon.typeahead.search-taxon{type: :text, name: "q", placeholder: "#{I18n.t('taxa.taxon_string')}", value: "#{h(params[:q])}", size:"30", autocomplete:"off"}
        .form-group
          .form-check.form-check-inline
            - checked = (@action == "collected") ? "checked" : nil
            %input#taxon-collected.form-check-input{type: :radio, name: "action", value: "collected", checked: checked}
            %label.form-check-label{for:"taxon-collected"}= I18n.t('general.collected').downcase

          .form-check.form-check-inline
            - checked = (@action == "identified") ? "checked" : nil
            %input#taxon-identified.form-check-input{type: :radio, name: "action", value: "identified", checked: checked}
            %label.form-check-label{for:"taxon-identified"}= I18n.t('general.identified').downcase

          .form-check.form-check-inline
            - checked = @action.nil? ? "checked" : nil
            %input#taxon-either.form-check-input{type: :radio, name: "action", value: "", checked: checked}
            %label.form-check-label{for:"taxon-either"}= I18n.t('general.either').downcase
      .col-4.p-0
        %input.btn.btn-success.medium-margins.align-self-start{type: :submit, value:"#{I18n.t('general.search')}"}
