-content_for :title do
  - if @action
    #{@action.capitalize} in #{@country[1]}
  - else
    #{@country[1]}

- content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init();
    });

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class:"mr-auto p-2"}
      %h1{class:"h2"} #{@country[1]}
      %p{class: "lead text-muted"}
        #{I18n.t('country.lede')}
    = haml :'partials/countries/search', layout: false

- if @results.size == 0
  %div{class: "alert alert-warning tiny-margins", role: "alert"}
    - if @action || @family
      %i{class:"fas fa-filter"}
      - action = !@action.blank? ? @action : "collected or identified"
      No one has #{action}
      %span{class:"font-weight-bold"}
        #{h(@family)}
      from
      %span{class:"font-weight-bold"}
        #{@country[1]}
      %a{href: url("/country/#{@country[0]}"), class:"text-danger ml-2"}
        %i{class:"fas fa-minus-circle"}
        #{I18n.t('general.remove')}
    - else
      #{I18n.t('country.no_one_message', country: @country[1])}
- else
  %div{class:"alert alert-info tiny-margins", role: "alert"}
    - if @action || @family
      %i{class:"fas fa-filter"}
      - action = !@action.blank? ? @action.capitalize : "Collected or identified"
      #{action}
      %span{class:"font-weight-bold"}
        #{h(@family)}
      from
      %span{class:"font-weight-bold"}
        #{@country[1]}.
      %a{href: url("/country/#{@country[0]}"), class:"text-danger ml-2"}
        %i{class:"fas fa-minus-circle"}
        #{I18n.t('general.remove')}
    - else
      #{I18n.t('country.intro')}
  - @results.in_groups_of(3).each do |group|
    %div{class: "card-deck"}
      - group.each do |u|
        - if u.nil?
          %div{class:"card border-0"}
        - else
          - if @action || @family
            - u = User.find(u[:_id])
          - stats = cache_block("#{u.identifier}-stats") { user_stats(u) }
          = haml :'partials/user/card', layout: false, locals: { user: u, stats: stats }

  - if @pagy.pages > 1
    %div{style:"overflow-y:scroll"}
      = pagy_bootstrap_nav(@pagy)
