-content_for :title, I18n.t('country.country_title')

- content_for :scripts do
  %script{src: "/js/jquery.throttledresize.js"}
  %script{src: "/js/geochart-hierarchy.js"}
  %script{src: "//www.gstatic.com/charts/loader.js"}
  - countries = @country_counts.map{|k,v| [ k, country_name(k), v ] }.unshift(["Country", "Country Name", "#{I18n.t('charts.people')}"])
  :javascript
    $(function() {
      var countries = #{countries}, map;

      google.charts.load('current', {
        packages: ['geochart'],
        mapsApiKey: "#{Settings.google.api_key}"
      });

      function drawVisualizations() {
        var mapOptions = {
              chartArea: { left: 0 },
              colorAxis: { colors: ['#B9D4D8', '#3A7179'] },
              legend: 'none',
              region: 'world'
            };
        map = new google.visualization.GeoChart($('#country-map')[0]);
        google.visualization.events.addListener(map, 'regionClick', function(e) {
          window.location = "/country/" + e.region;
        });
        map.draw(google.visualization.arrayToDataTable(countries), mapOptions);
      }

      google.charts.setOnLoadCallback(drawVisualizations);

      $(window).on("throttledresize", function(event) {
        map.clearChart();
        drawVisualizations();
      });
    });

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class:"mr-auto p-2"}
      %h1{class:"h2"}= I18n.t('country.country_title')
      %p{class: "lead text-muted"}= I18n.t('country.lede')

%ul{class: "nav nav-pills custom-pills mt-1 mb-3", role:"tablist"}
  %li{class: "nav-item"}
    %a{class: "nav-link active", "data-toggle":"tab", href: "#country-map-wrapper"}= I18n.t('user.map')
  %li{class: "nav-item"}
    %a{class: "nav-link", "data-toggle":"tab", href: "#country-list"}= I18n.t('user.list')

%div{class:"tab-content"}
  %div{class:"tab-pane fade show active", id:"country-map-wrapper", role:"tabpanel"}
    %div{id:"country-map", style:"width: 100%;"}
  %div{class:"tab-pane fade", id:"country-list", role:"tabpanel"}
    - @countries.each do |k,group|
      %h3 #{k}
      %ul{class:"list-inline"}
        - group.each do |country|
          %li{class:"list-inline-item"}
            %a{href: url("/country/#{country[0]}"), class:"btn btn-outline-dark btn-sm mb-2"} #{country[1]}
