- content_for :title, "#{@country[1]}"
- content_for :scripts do
  :javascript
    $(function() {
      Application.init();
    });

- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        #{@country[1]}
      %p.lead.text-muted
        #{I18n.t('country.lede')}
    = haml :'partials/countries/search', layout: false

= haml :'partials/countries/pills', layout: false, locals: locals

- path = (@profile_type == "wikidata") ? "/wikidata" : ""
- if @results.size == 0
  .alert.alert-warning.tiny-margins{role: "alert"}
    - if @action || @family
      %i.fa-solid.fa-filter
      - if @action == "collected"
        = I18n.t('country.no_one_collected_from', family: h(@family), country: @country[1])
      - elsif @action == "identified"
        = I18n.t('country.no_one_identified_from', family: h(@family), country: @country[1])
      - else
        = I18n.t('country.no_one_collected_identified_from', family: h(@family), country: @country[1])
      %a.text-danger.ml-2{href: url("/country/#{@country[0]}#{path}")}
        %i.fa-solid.fa-minus-circle
        #{I18n.t('general.remove')}
    - else
      #{I18n.t('country.no_one_message', country: @country[1])}
- else
  - if @action || @family
    .alert.alert-info.tiny-margins{role: "alert"}
      %i.fa-solid.fa-filter
      - if @action == "collected"
        = I18n.t('country.collected_from', family: h(@family), country: @country[1])
      - elsif @action === "identified"
        = I18n.t('country.identified_from', family: h(@family), country: @country[1])
      - else
        = I18n.t('country.collected_identified_from', family: h(@family), country: @country[1])
      %a.text-danger.ml-2{href: url("/country/#{@country[0]}#{path}")}
        %i.fa-solid.fa-minus-circle
        #{I18n.t('general.remove')}

  - @results.in_groups_of(3) do |group|
    .card-deck
      - group.each do |u|
        - if u.nil?
          .card.border-0
        - else
          - if @action || @family
            - u = User.find(u[:_id])
          - stats = cache_block("#{u.identifier}-stats") { user_stats(u) }
          = haml :'partials/user/card', layout: false, locals: { user: u, stats: stats }

  - if @pagy.pages > 1
    .overflow-auto
      = @pagy.series_nav(:bootstrap)
