- content_for :title, I18n.t('country.country_title')
- content_for :scripts do
  %script{src: "/js/jquery.throttledresize.js"}
  %script{src: "/js/geochart-hierarchy.js"}
  %script{src: "//www.gstatic.com/charts/loader.js"}
  - countries = @country_counts.map{|k,v| [ k, country_name(k), v ] if !country_name(k).nil? }.compact_blank.unshift(["Country", "Country Name", "#{I18n.t('charts.people')}"])
  :javascript
    $(function() {
      var countries = #{countries}, map;

      Application.init();

      google.charts.load('current', {
        packages: ['geochart'],
        mapsApiKey: "#{Settings.google.api_key}"
      });

      function drawVisualizations() {
        var mapOptions = {
              chartArea: { left: 0 },
              colorAxis: { colors: ['#B9D4D8', '#3A7179'] },
              legend: 'none',
              region: 'world'
            };
        map = new google.visualization.GeoChart($('#country-map')[0]);
        google.visualization.events.addListener(map, 'regionClick', function(e) {
          window.location = "/country/" + e.region;
        });
        map.draw(google.visualization.arrayToDataTable(countries), mapOptions);
      }

      google.charts.setOnLoadCallback(drawVisualizations);

      $(window).on("throttledresize", function(event) {
        map.clearChart();
        drawVisualizations();
      });
    });

- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        = I18n.t('country.country_title')
      %p.lead.text-muted= I18n.t('country.lede')

%ul.nav.nav-pills.custom-pills.mt-1.mb-3
  %li.nav-item
    %a.nav-link.active{"data-toggle":"tab", href: "#country-map-wrapper"}= I18n.t('user.map')
  %li.nav-item
    %a.nav-link{"data-toggle":"tab", href: "#country-list"}= I18n.t('user.list')

.tab-content
  #country-map-wrapper.tab-pane.fade.show.active{role:"tabpanel"}
    #country-map{style:"width: 100%;"}
  #country-list.tab-pane.fade{role:"tabpanel"}
    - @countries.each do |k,group|
      %h3 #{k}
      %ul.list-inline
        - group.sort_by{|a,b| b}.each do |country|
          %li.list-inline-item
            %a.btn.btn-outline-dark.btn-sm.mb-2{href: url("/country/#{country[0]}")} #{country[1]}
