- content_for :title, "Datenschutzbestimmungen"
- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        Datenschutzbestimmungen

%h3
  Was Bionomia erfasst

%p
  Bionomia benötigt bei der Erstellung eines Kontos einige grundlegende Informationen, die sich ausschließlich auf öffentlich zugängliche Angaben aus Ihrem
  = succeed "-Profil" do
    = link_to "ORCID", "https://orcid.org"
  beschränken.
  Weitere Einzelheiten finden Sie in den
  = succeed "." do
    = link_to "ORCID-Datenschutzbestimmungen", "https://info.orcid.org/de/privacy-policy/"
  Bionomia speichert Ihren vollständigen Namen, Ihre Beschäftigungs- und Bildungszugehörigkeit, Ihre Biografie und Ihre E-Mail-Adresse nur dann, wenn Sie diese Angaben in Ihrem ORCID-Profil öffentlich zugänglich gemacht haben.
  Diese Angaben werden in regelmäßigen Abständen von Ihrem ORCID-Profil aktualisiert, und Sie können eine Aktualisierung in Bionomia manuell auslösen, wann immer Sie dies wünschen. Wenn Sie später den Zugriff auf Details einschränken, die einst in Ihrem ORCID-Profil zugänglich waren,
  werden diese eingeschränkten Details durch eine Aktualisierung in Bionomia ebenfalls entfernt.
  Es werden keine anderen Informationen über Sie aus anderen Quellen abgerufen, verwendet oder gespeichert.

%p
  Wenn Sie sich dafür entscheiden, Versionen Ihrer Exemplardaten in
  = link_to "Zenodo", "https://zenodo.org"
  zu archivieren, speichert Bionomia ein eindeutiges Zugriffstoken für Ihr Zenodo-Konto. Dieses Token wird verwendet, um in Ihrem Namen neue Versionen Ihrer Exemplardaten in Ihr versioniertes Archiv zu übertragen. Wenn Sie die Integration mit Zenodo deaktivieren, wird das Zugriffstoken entfernt.

%h3
  Was Bionomia nicht erfasst

%p
  Bionomia sammelt weder private Informationen noch Passwörter aus Ihrem ORCID-Profil.
  Alle Informationen, die Sie in Ihrem ORCID-Profil als privat deklarieren, sind für Bionomia nicht zugänglich und können folglich nicht gespeichert werden.
  Jede Person, die ein Bionomia-Konto erstellen möchte, muss mindestens 13 Jahre alt sein – unabhängig davon, dass sie womöglich bereits ein ORCID-Konto besitzt. Bionomia sammelt nicht wissentlich Informationen von Kindern unter 13 Jahren und richtet seine Inhalte nicht speziell an diese.
  Wenn wir erfahren oder Grund zu der Annahme haben, dass Sie das 13. Lebensjahr noch nicht vollendet haben, müssen wir Ihr Konto schließen. Wir möchten Sie nicht davon abhalten, Erfahrungen zu sammeln, aber das sind die Regeln.
  Weitere Informationen über die Schließung von Konten finden Sie in unseren
  = succeed "." do
    = link_to "Nutzungsbedingungen", url("/terms-of-service")

%h3
  Wie Bionomia Ihre Informationen verwendet

%p
  Exemplar-Datensätze, die Sie anderen lebenden oder verstorbenen Personen zuordnen, werden verbreitet und öffentlich zugänglich gemacht; es sei denn, der lebende Nutzer, dem Sie diese zugeordnet haben, hat sein Profil nicht öffentlich zugänglich gemacht.
  Öffentlich zugängliche Zuschreibungen enthalten – zusätzlich zu den Details des Exemplar-Datensatzes – Ihren Namen aus Ihrem ORCID-Profil, Ihren ORCID-Identifikator und einen Datumsstempel, der angibt, wann die Zuordnung vorgenommen wurde.
  Die Zuordnungen werden über REST-APIs und Massendaten-Downloads offen zugänglich gemacht. Andere Informationen aus Ihrem ORCID-Profil werden über diese Produkte nicht weitergegeben.

%p
  Wenn Sie Ihre E-Mail-Adresse über Ihr ORCID-Profil öffentlich zugänglich machen, können Sie sich optional für E-Mail-Benachrichtigungen in Bionomia anmelden.
  Ihre E-Mail-Adresse wird, sofern sie über Ihr ORCID-Profil zugänglich ist, nicht verwendet; es sei denn, Sie möchten Benachrichtigungen über neue Veröffentlichungen abonnieren, die Ihre Exemplardaten verwenden.

%h3
  Kontakt zu Bionomia

%p
  Fragen zu dieser Datenschutzerklärung oder zu den Informationspraktiken richten Sie bitte an
  = succeed "." do
    = link_to "bionomia.tracker@gmail.com", "mailto:bionomia.tracker@gmail.com"
