- content_for :title, "Grundprinzipien"
- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        Grundprinzipien

%h3
  Fokus auf Menschen

%p
  Trotz der weltweiten Bedeutung naturkundlicher Sammlungen sind viele von ihnen gefährdet, weil sie kritisch unterfinanziert sind oder unterbewertet werden. Ein Faktor, der zu dieser offensichtlichen Vernachlässigung beiträgt, ist das Fehlen eines professionellen Entlohnungssystems, das die Breite und Tiefe des Fachwissens quantifiziert und veranschaulicht. Das ist erforderlich, um Exemplare zu sammeln und zu identifizieren, sie zu pflegen, ihre Beschriftungen zu digitalisieren, die Daten zu mobilisieren und diese Daten zu verbessern, wenn Fehler und Auslassungen von Interessengruppen festgestellt werden. Siehe Überlegungen von
  = succeed "," do
    = link_to "McDade et al. (2011)", "https://doi.org/10.1525/bio.2011.61.8.8"
  die beschreiben, welche Elemente für ein realistischeres professionelles Entlohnungssystem in der Biologie erforderlich sind. Wenn die Mitarbeiter in der gesamten Wertschöpfungskette naturhistorischer Sammlungen für ihre Arbeit eine professionelle Anerkennung erhielten, die idealerweise von ihren Verwaltern und Geldgebern anerkannt wird, würden sie traditionell unbelohnten Aufgaben Vorrang einräumen und könnten sich selbst überzeugend für ihre Arbeit einsetzen. Geeignete Methoden der Anerkennung sowohl auf individueller als auch auf institutioneller Ebene sind unerlässlich.

%p
  Die
  = link_to "Global Biodiversity Information Facility", "https://gbif.org"
  (GBIF) hat den Menschen in den Mittelpunkt gestellt. Der allererste geplante Punkt in ihrem
  = link_to "Umsetzungsplan für 2017–2021", "https://www.gbif.org/document/83029/gbif-implementation-plan-2017-2021-and-annual-work-programme-2017"
  und ihrem Jahresarbeitsprogramm besagt:
  .bd-callout.bd-callout-bionomia.font-italic
    „1.a.i: Entwicklung von Mechanismen zur Unterstützung und Berücksichtigung der Fähigkeiten, des Fachwissens und der Erfahrung von Einzelpersonen und Organisationen, die zum GBIF-Netzwerk beitragen, einschließlich der Überarbeitung des Identitätsmanagementsystems und der Integration von ORCID-Kennungen“

%h3
  Das Problem

%p
  Ein Engpass, der die vollständige Umsetzung des GBIF-Plans verhindert, ist die Tatsache, dass die von Naturkundemuseen weitergegebenen textbasierten Inhalte, in denen Personen oder Organisationen, die an den Exemplardaten beteiligt sind, mehrdeutig erfasst werden, schwer zu bewältigen sind und keine vorher festgelegten Links zu ORCID-Kennungen enthalten. Typische Inhalte, die von Naturkundemuseen unter den Darwin-Core-Begriffen
  = link_to "recordedBy", "https://dwc.tdwg.org/list/#dwc_recordedBy"
  (Sammler) und
  = link_to "identifiedBy", "https://dwc.tdwg.org/list/#dwc_identifiedBy"
  (Bestimmer oder Identifikatoren) freigegeben werden, sind unstrukturiert und variabel. Sie können unterschiedlich geordnete oder ungeordnete Personennamen enthalten, unter der Unempfindlichkeit gegenüber kulturellen Präferenzen leiden, zusätzlich vollständige oder abgekürzte Namen von Organisationen und Expeditionen oder andere Notizen und Markierungen enthalten, die zusammengenommen die Extraktion von Personennamen aus diesen Feldern extrem schwierig machen. Die vollständige Lösung erfordert mehrere Ansätze. Ein fortschrittlicher, moderner Ansatz verbindet ORCID- oder Wikidata-Kennungen mit Personen, die auf den digitalisierten Etiketten der Exemplare erwähnt werden. Ein retrospektiver Ansatz bindet Naturhistoriker mit einer offenen Schnittstelle ein, über die sie ihre Exemplare angeben oder sie anderen zuordnen können. Auf diese Weise können die Menschen schnell ihr umfangreiches Fachwissen und ihre Bemühungen unter Beweis stellen. Wenn eine ausreichende Anzahl von Personen ihre Exemplare beansprucht und sie anderen zuschreibt, können wir unwissentlich abgestimmte Autoritätsdateien entwickeln, die dem Museumspersonal dabei helfen, einen integrierten Ansatz zu verwenden, der die Suche nach nicht eindeutigen Personennamen einschließt.

%h3
  Kennzahlen zu Organisationen

.bd-callout.bd-callout-bionomia.font-italic
  Ein einziger Besuch einer Doktorandin in einem weit entfernten Museum, um Proben zu untersuchen und zu identifizieren, kann einen bedeutenden Einfluss auf ihre Karriere haben. Er bringt auch ihre Zugehörigkeit zu ihrer Graduiertenschule mit sich.

%p
  Organisationen tun sich schwer damit, die Auswirkungen ihrer Investitionen in die Digitalisierung und Verbreitung von naturkundlichen Beispieldaten zu messen. Eine Möglichkeit, die Reichweite einer Organisation zu bewerten, besteht darin, die Aktivitäten des Personals zu quantifizieren, die in den von anderen Organisationen bereitgestellten Exemplardaten erwähnt werden. Schenkungen, Kuratoren- oder Forschungsbesuche oder die Rückgabe von Leihgaben mit neuen Kommentaren oder Bestimmungen sind alles Aktivitäten, die Fachwissen verbreiten und die Interessen der Organisationen mit sich bringen.
%p
  Wenn Sie in Ihrem ORCID-Konto die Anfangs- und Enddaten für Ihre frühere und gegenwärtige Ausbildung und Beschäftigung angeben, werden diese Angaben mit den Daten und Institutionscodes in den von Ihnen gesammelten oder identifizierten Exemplaren abgeglichen. Das Ergebnis ist eine Darstellung des Einflussbereichs Ihrer Organisation auf formelle oder informelle Partnerorganisationen durch Ihre Aktivitäten. Obwohl die Qualität der Daten oft verbesserungswürdig ist, um dieses Maß an Reichweite vollständig zu erfassen, sind die notwendigen Elemente in den ORCID-Konten und den Daten der naturkundlichen Sammlungen, die mit der Global Biodiversity Information Facility geteilt werden, alle vorhanden. Dieser Ansatz bietet einen neuen Anreiz für Organisationen, darauf zu bestehen, dass die Exemplardaten schnell und offen weitergegeben werden, wenn ihre Mitarbeiter Exemplare spenden, andere Sammlungen besuchen, wo sie Exemplare in einem Rückstand identifizieren, oder ausgeliehene Exemplare mit neuen Anmerkungen oder Bestimmungen zurückgeben. Es unterstreicht auch die Erkenntnis, dass Sammlungen aller Größen und Fachrichtungen an nationalen und internationalen Netzwerken von Liebhabern und Experten teilnehmen. Bionomia versucht, diese Berichte für Organisationen transparent zu automatisieren und gleichzeitig das Fachwissen von Sammlern und Bestimmern naturhistorischer Exemplare zu präsentieren.

%h3
  Was bedeutet „Bionomia“?

%p
  %em Bionomia
  ist ein ungewöhnliches, exotisches Wort. Es wird gelegentlich von spanischsprachigen Biologen verwendet, bedeutet übersetzt
  %em Bionomie
  (die Gesetze des Lebens) und umfasst die Bereiche Verteilung und Ökologie. Seine erste Verwendung dürfte in
  %em The Lancet
  aus dem Jahre 1848 gewesen sein –
  = link_to "Bionomia; Or, the Law of Life", "https://www.sciencedirect.com/science/article/pii/S014067360272610X"
  –, in dem ΦΙΛΑΛΗΘΗΣ ihren neu geprägten Begriff als ein Zusammenspiel zwischen der potenziellen Energie der
  %em Erregbarkeit
  und einer physischen Manifestation als
  %em Erreger
  beschreibt. Doch der Autor beschwört auch eine subtile Mystik herauf, die über ein umständliches Abwägen von Gleichungen hinausgeht. Definieren wir
  %em Bionomia
  auch als Ehrfurcht, Staunen, Handlungsfähigkeit, Verfeinerung, Durchgang und die Energetik von Verbindungen.
  Das sind alles gute Worte, um das Verhalten eines Naturhistorikers zu beschreiben.
  Das Logo ist ein stilisierter Federkiel, der gerade dabei ist, sein Autogramm auf ein Blatt einer Pflanze zu schreiben.
