- content_for :title, "Rationale"
- content_for :jumbotron do
.jumbotron.jumbotron-fluid.d-flex.flex-wrap
  .mr-auto.p-2
    %h1.h2
      Rationale
%h3
  Un enfoque en las personas
%p
  Despite the world-wide importance of natural history collections, many are at risk because they are critically underfunded or undervalued. A contributing factor for this apparent neglect is the lack of a professional reward system that quantifies and illustrates the breadth and depth of expertise required to collect and identify specimens, maintain them, digitize their labels, mobilize the data, and enhance these data as errors and omissions are identified by stakeholders. See thoughts by
  = link_to "McDade et al. 2011", "https://doi.org/10.1525/bio.2011.61.8.8"
  who describe what are the necessary elements for a more realistic professional reward system in Biology. If people throughout the full value-chain in natural history collections received professional credit for their efforts, ideally recognized by their administrators and funding bodies, they would prioritize traditionally unrewarded tasks and could convincingly self-advocate. Proper methods of attribution at both the individual and institutional level are essential.
%p
  The
  = link_to "Global Biodiversity Information Facility", "https://gbif.org"
  (GBIF) has prioritized a focus on people. The very first planned item in their
  = link_to "Implementation Plan for 2017-2021", "https://www.gbif.org/document/83029/gbif-implementation-plan-2017-2021-and-annual-work-programme-2017"
  and Annual Work Programme states:
  .bd-callout.bd-callout-bionomia.font-italic
    "1.a.i: Develop mechanisms to support and reflect the skills, expertise and experience of individual and organizational contributions to the GBIF network, including revision of identity management system and integration of ORCID identifiers".
%h3
  El problema
%p
  A bottleneck that prevents the full execution of GBIF's plan is a legacy of intractable, text-based content shared from natural history museums that ambiguously record people or organizations implicated in specimen data, none of which include pre-determined links to ORCID identifiers. Typical content shared by natural history museums under the Darwin Core terms
  = link_to "recordedBy", "http://rs.tdwg.org/dwc/terms/#recordedBy"
  (collector) and
  = link_to "identifiedBy", "http://rs.tdwg.org/dwc/terms/#identifiedBy"
  (determiners or identifiers) is unstructured and variable. It may include variously ordered or unorderd people names, suffer from insensitivity to cultural preferences, additionally express full or abbreviated names of organizations and expeditions, or other notes and markings that collectively make extraction of people names from these fields extremely difficult. The full solution requires multiple approaches. A progressive, modern approach associates ORCID or wikidata identifiers with people mentioned on specimens as labels are digitized. A retrospective approach engages natural historians with an open interface used to claim their specimens or attribute them to others. In so doing, people may quickly showcase their breadth of expertise and efforts. If sufficient numbers of people claim their specimens and attribute them to others, we may unwittingly develop reconciled authority files to help museum staff employ an integrated approach that incorporates look-ups of disambiguated people names.
%h3
  M&#xE9;tricas sobre las organizaciones
.bd-callout.bd-callout-bionomia.font-italic
  A single visit to a distant museum by a graduate student to examine and identify specimens can have a significant impact on her career. Tambi&#xE9;n lleva consigo su afiliaci&#xF3;n con su escuela de posgrado.
%p
  Las organizaciones luchan por medir el impacto de sus inversiones en la digitalizaci&#xF3;n y distribuci&#xF3;n de datos de espec&#xED;menes de historia natural. Una forma de evaluar el alcance organizacional es cuantificar las actividades del personal mencionado en los datos de espec&#xED;menes compartidos por otras organizaciones. Las donaciones, las visitas curatoriales o de investigaci&#xF3;n, o la devoluci&#xF3;n de pr&#xE9;stamos con nuevas anotaciones o determinaciones son todas actividades que difunden la experiencia y llevan consigo los intereses de las organizaciones.
%p
  Cuando usted indica las fechas de inicio y finalizaci&#xF3;n de su educaci&#xF3;n y empleo pasados &#x200B;&#x200B;y presentes en su cuenta de ORCID, estos detalles se verifican con las fechas y los c&#xF3;digos de las instituciones en los espec&#xED;menes que usted colect&#xF3; o identific&#xF3;. El resultado es una descripci&#xF3;n de la esfera de influencia de su organizaci&#xF3;n en las organizaciones asociadas formal o informalmente a trav&#xE9;s de sus actividades. Aunque la calidad de los datos a menudo necesita mejorar para capturar completamente esta medida de alcance, todos los elementos necesarios est&#xE1;n presentes en las cuentas de ORCID y los datos de las colecciones de historia natural compartidos con el Global Biodiversity Information Facility (GBIF). Este enfoque ofrece un nuevo incentivo para que las organizaciones insistan en que los datos de los espec&#xED;menes se compartan r&#xE1;pida y abiertamente cuando su personal dona espec&#xED;menes, visita otras colecciones en las que identifican espec&#xED;menes acumulados y archivados o devuelve espec&#xED;menes prestadas con nuevas anotaciones o determinaciones. Tambi&#xE9;n subraya el reconocimiento de que colecciones de todos los tama&#xF1;os y especialidades participan en redes nacionales e internacionales de entusiastas y expertos. Bionom&#xED;a intenta automatizar de forma transparente estos informes para las organizaciones y, al mismo tiempo, muestra la experiencia de los colectores y determinadores de espec&#xED;menes de historia natural.
%h3
  Qu&#xE9; es una Bionom&#xED;a?
%p
  %em
    Bionomia
  is an unusual, exotic word. It is occasionally used by Spanish-speaking biologists and translates to
  %em
    bionomy
  \\&#x2013; the laws of life &#x2013; encompassing distribution and ecology. Its first use could have been in the Lancet in 1848,
  = link_to "Bionomia; Or, the Law of Life", "https://www.sciencedirect.com/science/article/pii/S014067360272610X"
  wherein &#x3A6;&#x399;&#x39B;&#x391;&#x39B;&#x397;&#x398;&#x397;&#x3A3; describes their newly coined term as an interplay between the potential energy of
  %em
    excitability
  and a physical manifestation as
  %em
    excitants.
  But, the author also evokes a subtle mysticism beyond a pedestrian balancing of equations. Let's also define
  %em
    Bionomia
  as reverence, wonder, agency, refinement, passage, and the energetics of connections.
  These are all good words to describe the manner of a natural historian.
  The logo is a stylized quill, caught in the act of signing its autograph on a signature plant leaf.
