- content_for :title, "Razonamiento"
- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        Razonamiento

%h3
  Un enfoque en las personas

%p
  A pesar de la importancia mundial de las colecciones de historia natural, muchas están en riesgo por estar críticamente subfinanciadas o subvaloradas. Un factor que contribuye a esta negligencia aparente es la falta de un sistema de recompensa profesional que cuantifique e ilustre la amplitud y profundidad de la experticia necesaria para colectar e identificar espécimenes, mantenerlos, digitalizar sus etiquetas, movilizar los datos, y mejorar la calidad de los datos cuando las partes interesadas identifican errores y omisiones. Vea los pensamientos de
  = link_to "McDade et al. 2011", "https://doi.org/10.1525/bio.2011.61.8.8"
  quienes describen los elementos necesarios para un sistema de recompensa profesional más realista en Biología. Si las personas a lo largo de la cadena de valor en colecciones de historia natural recibieran crédito profesional por sus esfuerzos, idealmente reconocidos por sus administradores y organismos de financiación, éstas priorizarían tareas tradicionalmente no recompensadas y podrían abogar por sí mismas de manera convincente. Métodos adecuados de atribución, tanto a nivel individual como institucional son esenciales.

%p
  La
  = link_to "Global Biodiversity Information Facility", "https://gbif.org"
  (GBIF) ha priorizado un enfoque en las personas. El primer elemento planeado en su
  = link_to "Implementation Plan for 2017-2021", "https://www.gbif.org/document/83029/gbif-implementation-plan-2017-2021-and-annual-work-programme-2017"
  y el Programa Anual de Trabajo establece:
  .bd-callout.bd-callout-bionomia.font-italic
    "1.a.i: Desarrollar mecanismos para apoyar y reflejar las habilidades, conocimientos y experiencia de las contribuciones individuales y organizacionales a la red GBIF, incluida la revisión del sistema de gestión de identidad y la integración de identificadores ORCID ".

%h3
  El problema

%p
  Un cuello de botella que impide la ejecución completa del plan de GBIF es un legado de contenido intratable y basado en texto compartido desde museos de historia natural que registran de manera ambigua a personas u organizaciones implicadas en datos de especímenes, ninguna de las cuales incluye enlaces predeterminados a identificadores ORCID. Contenido típico compartido por los museos de historia natural bajo los términos de Darwin Core
  = link_to "recordedBy", "http://rs.tdwg.org/dwc/terms/recordedBy"
  (colector) e
  = link_to "identifiedBy", "http://rs.tdwg.org/dwc/terms/identifiedBy"
  (determinadores o identificadores) carece de estructura y es variable. Puede incluir nombres de personas ordenados o desordenados de diversas maneras, sufrir de insensibilidad a las preferencias culturales, expresar adicionalmente nombres completos o abreviados de organizaciones y expediciones, u otras notas y marcas que colectivamente hacen que la extracción de nombres de personas de estos campos sea extremadamente difícil. La solución completa requiere múltiples enfoques. Un enfoque moderno y progresivo asocia los identificadores de ORCID o Wikidata con las personas mencionadas en los especímenes a medida que se digitalizan las etiquetas. Un enfoque retrospectivo involucra a los historiadores naturales con una interfaz abierta que se utiliza para reclamar especímenes o atribuirlos a otros. Al hacerlo, las personas pueden mostrar rápidamente la amplitud de su experiencia y esfuerzos. Si un número suficiente de personas reclaman sus especímenes y los atribuyen a otros, es posible que, sin saberlo, desarrollemos archivos de autoridad conciliados para ayudar al personal de museos a emplear un enfoque integrado que incorpore búsquedas de nombres de personas sin ambigüedad.

%h3
  Métricas sobre las organizaciones

.bd-callout.bd-callout-bionomia.font-italic
  Una sola visita a un museo distante por parte de un estudiante de posgrado para examinar e identificar especímenes puede tener un impacto significativo en su carrera. También lleva consigo su afiliación con su escuela de posgrado.

%p
  Las organizaciones luchan por medir el impacto de sus inversiones en la digitalización y distribución de datos de especímenes de historia natural. Una forma de evaluar el alcance organizacional es cuantificar las actividades del personal mencionado en los datos de especímenes compartidos por otras organizaciones. Las donaciones, las visitas curatoriales o de investigación, o la devolución de préstamos con nuevas anotaciones o determinaciones son todas actividades que difunden la experiencia y llevan consigo los intereses de las organizaciones.
%p
  Cuando usted indica las fechas de inicio y finalización de su educación y empleo pasados ​​y presentes en su cuenta de ORCID, estos detalles se verifican con las fechas y los códigos de las instituciones en los especímenes que usted colectó o identificó. El resultado es una descripción de la esfera de influencia de su organización en las organizaciones asociadas formal o informalmente a través de sus actividades. Aunque la calidad de los datos a menudo necesita mejorar para capturar completamente esta medida de alcance, todos los elementos necesarios están presentes en las cuentas de ORCID y los datos de las colecciones de historia natural compartidos con el Global Biodiversity Information Facility (GBIF). Este enfoque ofrece un nuevo incentivo para que las organizaciones insistan en que los datos de los especímenes se compartan rápida y abiertamente cuando su personal dona especímenes, visita otras colecciones en las que identifican especímenes acumulados y archivados o devuelve especímenes prestadas con nuevas anotaciones o determinaciones. También subraya el reconocimiento de que colecciones de todos los tamaños y especialidades participan en redes nacionales e internacionales de entusiastas y expertos. Bionomía intenta automatizar de forma transparente estos informes para las organizaciones y, al mismo tiempo, muestra la experiencia de los colectores y determinadores de especímenes de historia natural.

%h3 Qué es una Bionomía?

%p
  %em Bionomía
  es una palabra exótica e inusual. Es usada ocasionalmente por biólogos de habla hispana y se traduce como
  %em bionomía
  \– las leyes de la vida - abarcando la distribución y la ecología. Su primer uso podría haber sido en The Lancet en 1848,
  = link_to "Bionomia; Or, the Law of Life", "https://www.sciencedirect.com/science/article/pii/S014067360272610X"
  donde ΦΙΛΑΛΗΘΗΣ describe su término recién acuñado como una interacción entre la energía potencial de
  %em excitabilidad
  y una manifestación física como
  %em excitantes.
  Pero, el autor también evoca un misticismo sutil más allá de un vulgar equilibrio de ecuaciones. También definamos
  %em Bionomía
  como reverencia, asombro, agencia, refinamiento, pasaje y la energía de las conexiones.
  Todas estas son buenas palabras para describir la conducta de un historiador natural.
  El logo es una pluma estilizada, capturada en el acto de firmar su autógrafo en una hoja.
