- content_for :title, I18n.t('help.fix_title')
- content_for :scripts do
  :javascript
    $(function() {
      Application.init(#{@viewed_user.id}, "PUT", "/help-others", "#{@viewed_user.identifier}");
    });

- content_for :jumbotron do
  = haml :'partials/help/jumbotron', layout: false

= haml :'partials/help/tabs', layout: false, locals: { active_tab: "specimens" }
= haml :'partials/help/subtabs_fix', layout: false, locals: { active_subtab: "co_collectors" }

- if @pagy.count == 0
  .alert.alert-warning{role: "alert"}
    #{I18n.t('help.not_co_collector_name', { name: @co_collector.fullname })}
- else
  = haml :'partials/help/fixed_navbar', layout: false
  .alert.alert-warning{role: "alert"}
    #{I18n.t('help.co_collector_name', { name: @co_collector.fullname })}
    %span
      %i.fas.fa-random
      = link_to I18n.t('help.switch'), url("/help-others/#{@co_collector.identifier}/co-collector/#{@viewed_user.identifier}")
  #helper-info.alert.alert-info.tiny-margins{role: "alert"}
    = haml :'partials/choose_instructions', layout: false

  = haml :'partials/help/specimens', layout: false
