- content_for :title, I18n.t('help.country_title')
- content_for :scripts do
  %script{src: "/js/jquery.throttledresize.js"}
  %script{src: "/js/geochart-hierarchy.js"}
  %script{src: "//www.gstatic.com/charts/loader.js"}
  %script{src: "/js/progress-bar.js"}
  - country_counts = cache_block("country-counts") { user_country_counts }
  - countries = country_counts.map{|k,v| [ k, country_name(k), v ] if country_name(k) }.compact_blank.unshift(["Country", "Country Name", "#{I18n.t('charts.people')}"])
  :javascript
    $(function() {
      Application.init("", "GET", "/help-others");
      var ids = $.map($('.progress-bar'), function(obj) {
        if ( parseInt($(obj).parent().parent().find(".badge").text(), 10) > 0 ) {
          return $(obj).attr("id").split("_").pop();
        }
      });
      $.each(ids, function(key, id) {
        ProgressBar.init(id);
      });

      if ($('#country-map').length) {
        var countries = #{countries}, map;

        google.charts.load('current', {
          packages: ['geochart'],
          mapsApiKey: "#{Settings.google.api_key}"
        });

        function drawVisualizations() {
          var mapOptions = {
                chartArea: { left: 0 },
                colorAxis: { colors: ['#B9D4D8', '#3A7179'] },
                legend: 'none',
                region: 'world'
              };
          map = new google.visualization.GeoChart($('#country-map')[0]);
          google.visualization.events.addListener(map, 'regionClick', function(e) {
            window.location = "/help-others/country/" + e.region;
          });
          map.draw(google.visualization.arrayToDataTable(countries), mapOptions);
        }

        google.charts.setOnLoadCallback(drawVisualizations);

        $(window).on("throttledresize", function(event) {
          map.clearChart();
          drawVisualizations();
        });
      }
    });

- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2= I18n.t('help.country_title')
      %p.lead.text-muted= I18n.t('help.country_lede')
    = haml :'partials/help/search', layout: false

= haml :'partials/help/main_tabs', layout: false, locals: { active_main_tab: "country" }
= haml :'partials/help/countries', layout: false
  
