- content_for :title, "Reclaim Ignored for #{@viewed_user.fullname}"
- content_for :scripts do
  :javascript
    $(function() {
      Application.init(#{@viewed_user.id}, "PUT", "/help-others", "#{@viewed_user.identifier}");
    });

- content_for :jumbotron do
  = haml :'partials/help/jumbotron', layout: false

= haml :'partials/help/tabs', layout: false, locals: { active_tab: "ignored" }

- if @pagy.count == 0
  .alert.alert-info.tiny-margins{role: "alert"}= I18n.t('help.not_ignored_alert')
- else
  = haml :'partials/help/fixed_navbar', layout: false
  #helper-info.alert.alert-info.tiny-margins{role: "alert"}
    = haml :'partials/choose_instructions', layout: false

  = haml :'partials/tables/ignored', layout: false
