#occurrence-widget-item.card-deck.occurrence{"data-network": "#{@network}", "data-ignored": "#{@ignored}"}

  #event.card.mb-4
    .card-header.border-bottom
      %h5= I18n.t('occurrence.event')
    .card-body.mt-2
      %dl.dl-horizontal
        %dt eventDate
        %dd.py-1 #{h(@occurrence.eventDate)}
        %dd.line-break

        %dt year
        %dd.py-1 #{h(@occurrence.year)}
        %dd.line-break

        %dt recordedBy
        %dd.py-1 #{h(@occurrence.recordedBy)}
        %dd.line-break

        %dt recordedByID
        %dd.py-1 #{h(@occurrence.recordedByID)}
        %dd.line-break

        - if authorized?
          %dt Agent Strings
          %dd.py-1.pr-0
            %hr
            .mt-2
              %ul.list-unstyled
                - @occurrence.recorders.each do |agent_recorder|
                  %li.agent_recorders
                    %span
                      #{agent_recorder.fullname}
                    %i.fas.fa-spinner.fa-pulse
          %dd.line-break

        %dt Attributions
        %dd.py-1
          - if @occurrence.user_recordings.count > 0
            %hr
            .mt-2
              - @occurrence.user_recordings.each do |recorder|
                %p.orcid.text-lg-left.p-0.mt-1{"data-user-occurrence-id": "#{recorder.id}", "data-recorders": "#{recorder.user.identifier}", "data-user-id": "#{recorder.user.id}"}
                  - if recorder.user.orcid
                    #{recorder.user.label || recorder.user.fullname}
                    %br
                    %a{href: "https://orcid.org/#{recorder.user.orcid}"}
                      %i.fab.fa-orcid
                      https://orcid.org/#{recorder.user.orcid}
                  - else
                    #{recorder.user.label || recorder.user.fullname}
                    %small.muted.ml-2 #{format_lifespan(recorder.user)}
                    %br
                    %img{src: "/images/wikidata_18x12.svg", alt:"Wikidata iD"}
                    = link_to "http://www.wikidata.org/entity/#{recorder.user.wikidata}", "http://www.wikidata.org/entity/#{recorder.user.wikidata}"
                  - if recorder.claimant != recorder.user && !recorder.claimant.is_bot?
                    %span.d-block.ml-3.text-muted.small
                      Attributed by: #{recorder.claimant.label || recorder.claimant.fullname}
                      %a{href: "https://orcid.org/#{recorder.claimant.orcid}"}
                        %i.fab.fa-orcid
                        https://orcid.org/#{recorder.claimant.orcid}
        %dd.line-break

  #identification.card.mb-4
    .card-header.border-bottom
      %h5= I18n.t('occurrence.identification')
    .card-body.mt-2
      %dl.dl-horizontal
        %dt family
        %dd.py-1 #{h(@occurrence.family)}
        %dd.line-break

        %dt scientificName
        %dd.py-1 #{h(@occurrence.scientificName)}
        %dd.line-break

        %dt typeStatus
        %dd.py-1 #{h(@occurrence.typeStatus)}
        %dd.line-break

        %dt dateIdentified
        %dd.py-1 #{h(@occurrence.dateIdentified)}
        %dd.line-break

        %dt identifiedBy
        %dd.py-1 #{h(@occurrence.identifiedBy)}
        %dd.line-break

        %dt identifiedByID
        %dd.py-1 #{h(@occurrence.identifiedByID)}
        %dd.line-break

        - if authorized?
          %dt Agent Strings
          %dd.py-1.pr-0
            %hr
            .mt-2
              %ul.list-unstyled
                - @occurrence.determiners.each do |agent_determiner|
                  %li.agent_determiners
                    %span
                      #{agent_determiner.fullname}
                    %i.fas.fa-spinner.fa-pulse
          %dd.line-break

        %dt Attributions
        %dd.py-1
          - if @occurrence.user_identifications.count > 0
            %hr
            .mt-2
              - @occurrence.user_identifications.each do |determiner|
                %p.orcid.text-lg-left.p-0.mt-1{"data-user-occurrence-id": "#{determiner.id}", "data-determiners": "#{determiner.user.identifier}", "data-user-id": "#{determiner.user.id  }"}
                  - if determiner.user.orcid
                    #{determiner.user.label || determiner.user.fullname}
                    %br
                    %a{href: "https://orcid.org/#{determiner.user.orcid}"}
                      %i.fab.fa-orcid
                      https://orcid.org/#{determiner.user.orcid}
                  - else
                    #{determiner.user.label || determiner.user.fullname}
                    %small.muted.ml-2 #{format_lifespan(determiner.user)}
                    %br
                    %img{src: "/images/wikidata_18x12.svg", alt:"Wikidata iD"}
                    = link_to "http://www.wikidata.org/entity/#{determiner.user.wikidata}", "http://www.wikidata.org/entity/#{determiner.user.wikidata}"
                  - if determiner.claimant != determiner.user && !determiner.claimant.is_bot?
                    %span.d-block.ml-3.text-muted.small
                      Attributed by: #{determiner.claimant.label || determiner.claimant.fullname}
                      %a{href: "https://orcid.org/#{determiner.claimant.orcid}"}
                        %i.fab.fa-orcid
                        https://orcid.org/#{determiner.claimant.orcid}
        %dd.line-break

  #record.card.mb-4
    .card-header.border-bottom
      %h5= I18n.t('occurrence.record')
    .card-body.mt-2
      %dl.dl-horizontal
        %dt gbifID
        %dd.py-1
          %a{href: gbif_occurrence_url(@occurrence.id)}
            #{@occurrence.id}
        %dd.line-break

        %dt occurrenceID
        %dd.py-1
          - if @occurrence.occurrenceID && @occurrence.occurrenceID[0..3] == "http"
            %a{href: "#{@occurrence.occurrenceID}", target:"_blank"} #{@occurrence.occurrenceID}
          - else
            #{h(@occurrence.occurrenceID)}
        %dd.line-break

        %dt institutionCode
        %dd.py-1 #{h(@occurrence.institutionCode)}
        %dd.line-break

        %dt collectionCode
        %dd.py-1 #{h(@occurrence.collectionCode)}
        %dd.line-break

        %dt catalogNumber
        %dd.py-1 #{h(@occurrence.catalogNumber)}
        %dd.line-break

        %dt basisOfRecord
        %dd.py-1 #{h(@occurrence.basisOfRecord)}
        %dd.line-break

  #location.card.mb-4
    .card-header.border-bottom
      %h5= I18n.t('occurrence.location')
    .card-body.mt-2
      %dl.dl-horizontal
        %dt country
        %dd.py-1 #{h(@occurrence.country)}
        %dd.line-break

      - if !@occurrence.decimalLongitude.blank? && !@occurrence.decimalLatitude.blank?
        #map-wrapper{style:"height: 100%"}
          #map{style: "width:65%;", "data-latitude":"#{@occurrence.decimalLatitude}", "data-longitude":"#{@occurrence.decimalLongitude}"}

%script{id: "selector-template", type: "text/x-handlebars-template"}
  = haml :'partials/single_selector_template', layout: false, locals: { occurrence: @occurrence }
