-content_for :title do
  = I18n.t('help.country_title')

-content_for :scripts do
  %script{src: "https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"}
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init("", "GET", "/help-others");
    });

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap alert-warning-light"}
    %div{class: "mr-auto p-2"}
      %h1{class:"h2"}= I18n.t('help.country_title')
      %P{class:"lead text-muted"}= I18n.t('help.country_lede')
    = haml :'partials/help/search', layout: false

- if @results.empty? && params[:q] && !params[:q].empty?
  %div{class: "alert alert-warning tiny-margins", role: "alert"}
    No one found by the name
    = succeed "." do
      %span{class: "font-weight-bold"}
        #{h(params[:q])}
    See how to
    = succeed "." do
      %a{href: "/help-others/add"} add someone

- if @results.empty? || params[:q].nil?
  = haml :'partials/help/main_tabs', layout: false, locals: { active_main_tab: "country" }
  = haml :'partials/help/countries', layout: false

- else
  %div{class: "alert alert-info tiny-margins", role: "alert"}
    #{@pagy.count} search results for
    = succeed "." do
      %span{class: "font-weight-bold"} #{h(params[:q])}
    Not found? See how to
    = succeed "." do
      %a{href:"/help-others/add"} add someone

  %div
    - @results.in_groups_of(3).each do |group|
      %div{class: "card-deck"}
        - group.each do |user|
          - if user.nil?
            %div{class:"card border-0"}
          - else
            = haml :'partials/user/card_dynamic', layout: false, locals: { user: User.find(user[:_id]), path: "help-others" }

    - if @pagy.pages > 1
      %div{style:"overflow-y:scroll"}
        = pagy_bootstrap_nav(@pagy)
