- content_for :title, I18n.t('help.fix_title')
- content_for :scripts do
  :javascript
    $(function() {
      Application.init(#{@viewed_user.id}, "PUT", "/help-others", "#{@viewed_user.identifier}");
    });

- content_for :jumbotron do
  = haml :'partials/help/jumbotron', layout: false

= haml :'partials/help/tabs', layout: false, locals: { active_tab: "specimens" }
= haml :'partials/help/subtabs_fix', layout: false, locals: { active_subtab: "specimens" }
= haml :'partials/filter', layout: false, locals: { url: "/help-others/#{@viewed_user.identifier}/specimens" }

- if @pagy.count == 0 && @filter.length > 0
  .alert.alert-info.tiny-margins{role: "alert"}= I18n.t('help.no_filter_alert')
- elsif @pagy.count == 0 && @filter.length == 0
  .alert.alert-info.tiny-margins{role: "alert"}= I18n.t('help.not_helped_alert')
- else
  - sort = @sort == "asc" ? "desc" : "asc"
  - qry = Rack::Utils.build_nested_query(request.GET.except("order", "sort").merge({sort: sort}))

  = haml :'partials/help/fixed_navbar', layout: false
  #helper-info.alert.alert-info.tiny-margins{role: "alert"}
    = haml :'partials/choose_instructions', layout: false

  .table-responsive-lg.overflow-auto
    %table.table.table-hover.table-sm
      %thead.thead-light
        %tr
          %th.text-nowrap.selector{scope: "col"}
            = haml :'partials/bulk_selector_top', layout: false
          %th.text-nowrap{scope: "col"}
            %a{href: url(request.path + "?order=scientificName&#{qry}")}
              = I18n.t('specimen.scientific_name')
              = sort_icon("scientificName", sort)
          %th.text-nowrap{scope: "col"}
            %a{href: url(request.path + "?order=recordedBy&#{qry}")}
              = I18n.t('specimen.collected_by')
              = sort_icon("recordedBy", sort)
          %th.text-nowrap{scope: "col"}
            %a{href: url(request.path + "?order=identifiedBy&#{qry}")}
              = I18n.t('specimen.identified_by')
              = sort_icon("identifiedBy", sort)
          %th.text-nowrap{scope: "col"}
            %a{href: url(request.path + "?order=eventDate&#{qry}")}
              = I18n.t('specimen.date_collected')
              = sort_icon("eventDate", sort)
          %th.text-nowrap{scope: "col"}
            %a{href: url(request.path + "?order=dateIdentified&#{qry}")}
              = I18n.t('specimen.date_identified')
              = sort_icon("dateIdentified", sort)
          %th.text-nowrap{scope: "col"}
            %a{href: url(request.path + "?order=family&#{qry}")}
              = I18n.t('specimen.family')
              = sort_icon("family", sort)
          %th.text-nowrap{scope: "col"}
            %a{href: url(request.path + "?order=institutionCode&#{qry}")}
              = I18n.t('specimen.institution')
              = sort_icon("institutionCode", sort)
          %th.text-nowrap{scope: "col"}
            %a{href: url(request.path + "?order=catalogNumber&#{qry}")}
              = I18n.t('specimen.catalog_number')
              = sort_icon("catalogNumber", sort)
          %th.text-nowrap{scope: "col"}
            %a{href: url(request.path + "?order=typeStatus&#{qry}")}
              = I18n.t('specimen.type_status')
              = sort_icon("typeStatus", sort)
          %th.text-nowrap{scope: "col"}
            %a{href: url(request.path + "?order=basisOfRecord&#{qry}")}
              = I18n.t('specimen.basis_record')
              = sort_icon("basisOfRecord", sort)
          %th.text-nowrap.btn-selector-wide{scope: "col"}
            %button.btn.btn-sm.btn-warning.hide-all{type:"button", name:"notme-all"}= I18n.t('specimen.not_them')
          %th{scope: "col", class:"btn-selector-wide"}
            %button.btn.btn-sm.btn-danger.remove-all{type:"button", name:"remove-all"}= I18n.t('specimen.remove')
          %th{scope: "col"}= I18n.t('specimen.scribe')

      %tbody
        - @results.each do |uo|
          - o = uo.occurrence
          - next if o.nil?
          - disabled = (@viewed_user.id == uo.created_by) ? true : false
          %tr
            %td.selector
              = haml :'partials/single_selector_preselected', layout: false, locals: { occurrence: uo, user_id: @viewed_user.id }
            %td
              - scientific_name = o.scientificName.nil? ? "not recorded" : o.scientificName
              %a{href: gbif_occurrence_url(o.id), target:"_blank"}= h(scientific_name)
              %a{href: "/occurrence/#{o.id}"}
                %i.fas.fa-feather.text-muted
              - if o.has_image?
                %i.fas.fa-image.ml-1.text-muted{"data-toggle":"popover", "data-gbifid":"#{o.id}"}
            %td #{h(o.recordedBy)}
            %td #{h(o.identifiedBy)}
            %td #{h(o.eventDate || o.year)}
            %td #{h(o.dateIdentified)}
            %td #{h(o.family)}
            %td #{h(o.institutionCode)}
            %td #{h(o.catalogNumber)}
            %td #{h(o.typeStatus)}
            %td #{h(o.basisOfRecord)}
            %td
              %button.btn.btn-sm.btn-outline-warning.hide{type:"button", "data-occurrence-id":"#{uo.user_occurrence_id}", disabled: disabled}
                = I18n.t('specimen.not_them')
            %td
              %button.btn.btn-sm.btn-outline-danger.remove{type:"button", "data-occurrence-id":"#{uo.user_occurrence_id}", disabled: disabled}
                = I18n.t('specimen.remove')
            %td
              - if uo.claimant.is_bot?
                #{uo.claimant.fullname}
              - elsif uo.claimant.is_public?
                = link_to (uo.claimant.label || uo.claimant.fullname), url("/#{uo.claimant.orcid}")
              - elsif !uo.claimant.orcid.nil?
                = link_to (uo.claimant.label || uo.claimant.fullname), "https://orcid.org/#{uo.claimant.orcid}"
              - else
                #{uo.claimant.label || uo.claimant.fullname}

      - if @total > 25
        %tfoot.thead-light
          %tr
            %th.text-nowrap.selector{scope: "col"}
              = haml :'partials/bulk_selector_bottom', layout: false
            %th.text-nowrap{scope: "col"}= I18n.t('specimen.scientific_name')
            %th.text-nowrap{scope: "col"}= I18n.t('specimen.collected_by')
            %th.text-nowrap{scope: "col"}= I18n.t('specimen.identified_by')
            %th.text-nowrap{scope: "col"}= I18n.t('specimen.date_collected')
            %th.text-nowrap{scope: "col"}= I18n.t('specimen.date_identified')
            %th.text-nowrap{scope: "col"}= I18n.t('specimen.family')
            %th.text-nowrap{scope: "col"}= I18n.t('specimen.institution')
            %th.text-nowrap{scope: "col"}= I18n.t('specimen.catalog_number')
            %th.text-nowrap{scope: "col"}= I18n.t('specimen.type_status')
            %th.text-nowrap{scope: "col"}= I18n.t('specimen.basis_record')
            %th.text-nowrap
              %button.btn.btn-sm.btn-warning.hide-all{type:"button", name:"notme-all"}= I18n.t('specimen.not_them')
            %th.text-nowrap
              %button.btn.btn-sm.btn-danger.remove-all{type:"button", name:"remove-all"}= I18n.t('specimen.remove')
            %th.text-nowrap{scope: "col"}= I18n.t('specimen.scribe')

  - if @total > 25
    = haml :'partials/page_size', layout: false

  - if @pagy.pages > 1
    .y-scroll
      = pagy_bootstrap_nav(@pagy)
