- content_for :title, I18n.t('help.upload_user_title', name: @viewed_user.viewname)
- content_for :scripts do
  :javascript
    $(function() {
      Application.init(#{@viewed_user.id}, "PUT", "/help-others", "#{@viewed_user.identifier}");
    });

- content_for :jumbotron do
  = haml :'partials/help/jumbotron', layout: false

= haml :'partials/help/tabs', layout: false, locals: { active_tab: "upload" }
= haml :'partials/help/bulk', layout: false, locals: { active_subtab: "upload" }

- if @unattributed_count == 0
  .alert.alert-info.tiny-margins{role: "alert"}
    = I18n.t('help.no_unclaimed')
- else
  = haml :'partials/upload_instructions', layout: false

  %form#form-wrapper.form.mt-4{method: :post, action: "/help-others/#{@viewed_user.identifier}/upload-result", enctype: "multipart/form-data", "accept-charset": "UTF-8"}
    - relaxed = params[:relaxed] == "1" ? "?relaxed=1" : nil
    - checked = params[:relaxed] == "1" ? "checked" : nil
    .form-group.row#specimen-list{style: "display:flex;align-items:center;"}
      %label.col-sm-4.col-lg-3.col-form-label.text-left.text-sm-right{for:"relaxed"}= I18n.t('help.less_exact')
      .col-sm-8.col-lg-9
        %input#relaxed{type: "checkbox", checked: checked, style:"scale:1.5" }
    .form-group.row
      .col-sm-4.col-lg-3.col-form-label.text-left.text-sm-right= I18n.t('help.download_label')
      .col-sm-8.col-lg-9
        %a.btn.btn-primary{href: url("/help-others/#{@viewed_user.identifier}/candidates.csv#{relaxed}")}
          %i.fas.fa-file-csv.h4.m-0.p-0
          #{I18n.t('help.download')}
    .form-group.row
      %label.col-sm-4.col-lg-3.col-form-label.text-left.text-sm-right{for:"candidate-file"}= I18n.t('help.upload_label')
      .col-sm-8.col-lg-9
        %input#candidate-file.form-control-file{type:"file", name: "file"}
        %input{type: :hidden, name:"authenticity_token", value:"#{env['rack.session'][:csrf]}"}
        %button.btn.btn-success.mt-3{type:"submit"}= I18n.t('general.submit')
