- content_for :title do
  Helping #{@viewed_user.fullname}

- content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init(#{@viewed_user.id}, "POST", "/help-others", "#{@viewed_user.identifier}");
    });

- content_for :jumbotron do
  = haml :'partials/help/jumbotron', layout: false

- if !authorized?
  %p Want to help attribute specimens to #{@viewed_user.fullname}?

  %form{action: "/auth/orcid?lang=#{I18n.locale}", method: "POST" }
    %button{class: "btn btn-lg btn-outline-dark"}
      %i{class:"fab fa-orcid"}
      = I18n.t('home.orcid_login')
    %input{type:"hidden", name:"authenticity_token", value:"#{env['rack.session'][:csrf]}"}

  - if @viewed_user.is_public?
    %p{class:"mt-3"}
      View the
      = succeed "." do
        %a{href: url("/#{@viewed_user.identifier}")} public profile

- else

  - if flash[:public]
    %div{class:"alert alert-success alert-dismissible fade show d-block", role: "alert"}
      %div
        Thank you for your help!
        %a{href: url("/#{@viewed_user.identifier}")}
          #{@viewed_user.fullname}'s
        profile is now visible to the public.
      %button{type:"button", class:"close", "data-dismiss":"alert", "aria-label":"Close"}
        %span{"aria-hidden":"true"} &times;

  = haml :'partials/help/tabs', layout: false, locals: { active_tab: "discovered" }

  - placeholder = @dataset ? @dataset.title : ""
  - checked = params[:relaxed] == "1" ? "checked" : nil

  - if @dataset || @agent || @taxon
    %div{class: "alert alert-warning", role: "alert"}
      - if @dataset
        %div
          %a{href: url("/help-others/#{@viewed_user.identifier}?&datasetKey=&agent_id=#{params[:agent_id]}&taxon_id=#{params[:taxon_id]}"), class:"ml-2 text-danger"}
            %i{class:"fas fa-minus-circle"}
            Remove
          Filtered by
          %span{class:"font-weight-bold mr-2"}
            #{@dataset.title.truncate(125, separator: ' ')}
          %a{href: "#{@dataset.license}", itemprop: "license"}
            %img{src:"#{@dataset.license_icon("small")}"}
      - if @agent
        %div
          %a{href: url("/help-others/#{@viewed_user.identifier}?datasetKey=#{params[:datasetKey]}&agent_id=&taxon_id=#{params[:taxon_id]}"), class:"ml-2 text-danger"}
            %i{class:"fas fa-minus-circle"}
            Remove
          Searched for
          %span{class:"font-weight-bold mr-2"}
            #{@agent.fullname_reverse}
      - if @taxon
        %div
          %a{href: url("/help-others/#{@viewed_user.identifier}?datasetKey=#{params[:datasetKey]}&agent_id=#{params[:agent_id]}&taxon_id="), class:"ml-2 text-danger"}
            %i{class:"fas fa-minus-circle"}
            Remove
          Filtered by
          %span{class:"font-weight-bold mr-2"}
            #{@taxon.family}

  - if @pagy.count == 0
    %div{class: "alert alert-info tiny-margins row", role: "alert"}
      %div{class: "col col-12 col-md-8"}
        Bionomia did not find any unclaimed specimens.

        %div{class:"form-check d-inline-flex"}
          %input{type:"checkbox", class:"form-check-input", id:"relaxed", checked: checked }
          %label{for:"relaxed", class:"relaxed"} Make less exact.
      %div{class:"col col-12 col-md-4 text-md-right"}
        %a{href: url("/help-others/#{@viewed_user.identifier}/advanced-search")}
          %i{class:"fas fa-search-plus"}
          Advanced Search & Filter
  - else
    = haml :'partials/help/fixed_navbar', layout: false

    %div{id: "helper-info", class: "alert alert-info tiny-margins row", role: "alert"}
      %div{class: "col col-12 col-md-8"}
        Help attribute #{number_with_delimiter(@total, delimeter: ",")} #{'specimen'.pluralize(@total)}.
        Choose
        %img{src:"/images/net-unselected.png", alt:"#{I18n.t('general.collected')}", title:"#{I18n.t('general.collected')}", width:18}
        collected,
        %img{src:"/images/microscope-unselected.png", alt:"#{I18n.t('general.identified')}", title:"#{I18n.t('general.identified')}", width:18}
        identified, or Both.
        %div{class:"form-check d-inline-flex"}
          %input{type:"checkbox", class:"form-check-input", id:"relaxed", checked: checked }
          %label{for:"relaxed", class:"relaxed"} Make less exact.
      %div{class:"col col-12 col-md-4 text-md-right"}
        %a{href: url("/help-others/#{@viewed_user.identifier}/advanced-search")}
          %i{class:"fas fa-search-plus"}
          Advanced Search & Filter

  - if @pagy.count > 0
    = haml :'partials/tables/candidates', layout: false, locals: { user_scope: "other" }
