- content_for :title, "Für Daten-Manager"
- content_for :scripts do
  :javascript
    $(function() {
      Application.init();
    });
- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        Für Daten-Manager

%div.container-fluid

  %h3
    Hintergrund
  %p
    Die
    = link_to "Bearbeiter", url("/scribes")
    bei Bionomia ordnen die Belegexemplare den Sammlern und Bestimmern zu, die in Ihrem Datensatz bzw. Ihren Datensätzen vertreten sind, indem sie die Exemplare, die Sie in
    = link_to "GBIF", "https://gbif.org"
    veröffentlichen, mit ihren Q-Nummern in
    = link_to "Wikidata", "https://www.wikidata.org"
    oder
    = succeed "-IDs" do
      = link_to "ORCID", "https://orcid.org"
    verknüpfen. Personen mit ORCID-IDs beanspruchen auch Datensätze für die Exemplare, die sie selbst gesammelt oder identifiziert haben. Wikidata- und ORCID-Identifikatoren haben zugehörige Ressourcen und Dienste, die für Sammlungen zweifelsohne nützlich sind – von der eindeutigen Identifizierung von Personennamen bis hin zur Messung des Einflusses Ihrer Sammlung auf die wissenschaftliche Gemeinschaft.

  .row
    .col-12.col-md-6
      %h3
        Engagement in Ihrer Gemeinschaft

      %p
        Die Bionomia-Bearbeiter sind eine freundliche, internationale Gruppe von Enthusiasten, die Ihnen dabei helfen wollen, Exemplare den Sammlern und Bestimmern zuzuordnen, die in Ihrem Datensatz bzw. Ihren Datensätzen vertreten sind. Sie arbeiten unermüdlich daran, Einträge in
        = link_to "Wikidata", "https://www.wikidata.org"
        zu verbessern, indem sie Links und Attribute wie Geburts- und Sterbedaten zu verstorbenen Naturhistorikern hinzufügen. Sie sind auch Vertreter von
        = link_to "ORCID", "https://orcid.org"
        und können Ihnen dabei helfen, sich für dessen Einführung in Ihrer Einrichtung einzusetzen.

      %p
        %img.img-fluid{src:"/images/roundtrip.png", alt: "Datenrundreise"}

    .col-12.col-md-6
      %h3
        Einbindung von Verbesserungen

      %p
        Alle paar Wochen aktualisiert Bionomia eine Teilmenge der Darwin Core-Daten, die Sie in
        = link_to "GBIF", "https://gbif.org"
        veröffentlichen. Weitere Einzelheiten finden Sie auf der Seite
        = surround "„", "“." do
          = link_to "Wie es funktioniert", url("/how-it-works")

      .media.mb-3.mt-3.d-flex.flex-wrap.flex-column.flex-md-row
        %a{href:"https://frictionlessdata.io/"}
          %img.mb-3.mr-3{src:"/images/frictionless-color-logo.png", alt:"Frictionless Data"}
        .media-body
          %p
            Suchen Sie nach
            = link_to "Ihrem Datensatz bzw. Ihren Datensätzen", url("/datasets")
            und finden Sie den Link zu einem
            = succeed "-Paket." do
              = link_to "Frictionless Data", "https://frictionlessdata.io/"
            Diese gezippten, UTF-8-kodierten, relationalen Dateien ähneln den Darwin Core Archives, die Sie für GBIF erstellt haben. Der Unterschied besteht darin, dass sie
            = succeed "-Beziehungen" do
              %em many:many
            effizienter darstellen. Außerdem gibt es eine Vielzahl
            = link_to "offener Softwarebibliotheken", "https://frictionlessdata.io/universe/"
            in vielen Programmiersprachen, die Frictionless Data lesen, validieren und verarbeiten können. Sie können das gezippte Paket auch entpacken und die UTF-8-kodierten CSV-Dateien in eine beliebige Tabellenkalkulationssoftware importieren, sofern die Dateien nicht übermäßig groß sind.

      %p
        Die Pakete enthalten eine Standard-Metadaten-Datei
        %em datapackage.json
        und bis zu neun gezippte CSV-Dateien:
        %em users.csv.zip, occurrences.csv.zip, problem_collector_dates.csv.zip, citations.csv.zip, articles.csv.zip, attributions.csv.zip
        und
        %em missing_attributions.csv.zip, unresolved_users.csv.zip, und not_them_assertions.csv.zip
        (alle drei optional).
      %p
        Die Metadaten-Datei
        %em datapackage.json
        enthält einen „created“-Zeitstempel, der angibt, wann das Paket zuletzt erstellt wurde. Diese Pakete werden in der Regel alle paar Wochen neu erstellt, aber wenn Sie eine aktuellere Version wünschen,
        = succeed "." do
          = link_to "erstellen Sie bitte ein Ticket", "https://github.com/bionomia/bionomia/issues"
      %p
        Die Datei
        %em users.csv.zip
        enthält eine Liste eindeutiger Benutzer, die Exemplar-Datensätze in Ihrem Datensatz als ihre eigenen beansprucht haben oder ihnen zugeordnet wurden. Sie enthält auch ihre vollständigen Namen, Aliasnamen,
        = succeed "-IDs" do
          = link_to "ORCID", "https://orcid.org"
        oder Q-Nummern in
        = link_to "Wikidata", "https://www.wikidata.org"
        sowie Geburts- und Sterbedaten für Letztere.
        Die Datei
        %em occurrences.csv.zip
        enthält die Teilmenge der Darwin Core-Felder aus Ihren Exemplar-Datensätzen, für die Zuordnungen vorgenommen wurden.
        Die Datei
        %em problem_collector_dates.csv.zip
        enthält eine Liste der Auftretensdatensätze, deren eventDate vor dem birthDate (Geburtsdatum) eines Sammlers oder nach seinem deathDate (Sterbedatum) liegt.
        Schließlich ist die Datei
        %em attributions.csv.zip
        eine Verknüpfungstabelle für die beiden anderen CSV-Dateien und enthält ebenfalls Spalten für die Person, die die Zuordnung vorgenommen hat, ihre ORCID-ID und einen Zeitstempel für den Zeitpunkt, zu dem sie die Zuordnung vorgenommen hat.

  .row
    .col-12.col-md-6

      %h3
        Bewertung der Datenqualität

      %p
        Auf den „Anderen helfen“-Seiten, auf denen Exemplar-Datensätze Sammlern und Bestimmern zugeordnet sind, gibt es Registerkarten zur Korrektur und Visualisierung von Datensätzen.
        Hier werden die Geburts- und Sterbedaten eines Sammlers mit den Daten in seinen Exemplar-Datensätzen abgeglichen.
        Länder auf Karten und Datumsbereiche auf Diagrammen können ebenfalls angeklickt werden, um dynamische Filter auszuführen.
        Mit der Zeit und je mehr Zuordnungen vorgenommen werden, können Datenqualitätsberichte wie diese über Exemplar-Datensätze von Einzelpersonen zu Berichten auf Datensatzebene erweitert werden.

    .col-12.col-md-6
      = haml_i18n :'reconcile', layout: false
