- content_for :title, "Zur Zuordnung von Exemplaren beitragen"
- content_for :scripts do
  :javascript
    $(function() {
      Application.init("", "GET", "/help-others");
    });

- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        Zur Zuordnung von Exemplaren beitragen
      %p.lead.text-muted
        Eine noch nicht entdeckte Person hinzufügen
    = haml :'partials/help/search', layout: false

= haml :'partials/help/main_tabs', layout: false, locals: { active_main_tab: "add" }

.mt-4
  .alert.alert-info.tiny-margins{role: "alert"}
    Sie konnten jemanden nicht finden?
    %ul
      %li
        %strong
          Lebende:
        Bitten Sie sie, ein
        = link_to "ORCID-Konto", "https://orcid.org/register"
        mit einem öffentlich zugänglichen Namen einzurichten. Wenn sie sich selbst eines oder mehrere der Schlüsselwörter
        %span.font-italic #{Settings.orcid.keywords.join(", ")}
        in ihrem ORCID-Konto zuordnen, wird Bionomia sie bis zum nächsten Tag hinzufügen.
      %li
        %strong
          Verstorbene:
        Suchen Sie sie auf
        = link_to "Wikidata", "https://www.wikidata.org"
        und vergewissern Sie sich, dass sie ein Sterbedatum haben und es einen Wert für eine der Eigenschaften gibt:
        %span.font-italic #{::Bionomia::WikidataSearch::PEOPLE_PROPERTIES.keys.join(", ")}
        \. Bionomia fügt auch sie bis zum nächsten Tag hinzu.

%h4
  Eine Person hinzufügen

%form.helpers#form-user-wrapper{method: :post, action: "/help-others/add", "accept-charset": "UTF-8"}
  .d-flex.flex-sm-row.flex-column.mt-3
    .form-group
      %label.font-weight-bold{for: "identifier"} ORCID-Kennung oder Q-Nummer in Wikidata hinzufügen
      %input.orcid-add{type: :text, name: "identifier", placeholder: "Q1234567", size:"12"}
      %input{type: :hidden, name:"authenticity_token", value:"#{env['rack.session'][:csrf]}"}
      %input{type: :submit, class:"btn btn-success mt-3", value: "Hinzufügen"}

- if flash[:new_user]
  .row
    .col-sm-8.col-md-6.col-xl-6
      - if !flash[:new_user][:slug].nil?
        .alert.alert-success.tiny-margins.d-block{role: "alert"}
          %span.font-weight-bold
            = link_to flash[:new_user][:fullname], url("/help-others/#{flash[:new_user][:slug]}")
          wurde erstellt oder aktualisiert.
      - else
        .alert.alert-danger.tiny-margins.d-block{role: "alert"}
          %span.font-weight-bold #{h(flash[:new_user][:fullname])}
          wurde nicht erstellt, weil der Identifikator falsch formatiert wurde oder (im Fall von Wikidata) das Objekt kein Mensch ist, nicht verstorben ist, ein Familienname nicht gefunden wurde oder der Benutzer bereits mit einer ORCID-Kennung existiert. Es könnte auch bedeuten, dass der Identifikator zuvor aus Bionomia entfernt wurde und nun nicht manuell hinzugefügt werden kann.
