- content_for :title, "Help Attribute Specimens"
- content_for :scripts do
  :javascript
    $(function() {
      Application.init("", "GET", "/help-others");
    });

- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap.alert-warning
    .mr-auto.p-2
      %h1.h2
        Help Attribute Specimens
      %p.lead.text-muted
        Add someone not yet discovered
    = haml :'partials/help/search', layout: false

= haml :'partials/help/main_tabs', layout: false, locals: { active_main_tab: "add" }

.mt-4
  .alert.alert-info.tiny-margins{role: "alert"}
    Couldn't find someone?
    %ul
      %li
        %strong
          Living:
        Ask them to create an
        = link_to "ORCID account", "https://orcid.org/register"
        with a publicly available name. If they assign themselves one or more of the keywords
        %span.font-italic #{Settings.orcid.keywords.join(", ")}
        to their ORCID account, Bionomia will add them the following day
      %li
        %strong
          Deceased:
        Search on
        = link_to "Wikidata", "https://www.wikidata.org"
        and ensure they have a death date and there is a value for any of the properties:
        %span.font-italic #{::Bionomia::WikidataSearch::PEOPLE_PROPERTIES.keys.join(", ")}
        \. Bionomia will also add them by the following day.

%h4
  Add a Person

%form.helpers#form-user-wrapper{method: :post, action: "/help-others/add", "accept-charset": "UTF-8"}
  .d-flex.flex-sm-row.flex-column.mt-3
    .form-group
      %label.font-weight-bold{for: "identifier"} Add ORCID Identifier or Wikidata Q Number
      %input.orcid-add{type: :text, name: "identifier", placeholder: "Q1234567", size:"12"}
      %input{type: :hidden, name:"authenticity_token", value:"#{env['rack.session'][:csrf]}"}
      %input{type: :submit, class:"btn btn-success mt-3", value: "Add"}

- if flash[:new_user]
  .row
    .col-sm-8.col-md-6.col-xl-6
      - if !flash[:new_user][:slug].nil?
        .alert.alert-success.tiny-margins.d-block{role: "alert"}
          %span.font-weight-bold
            = link_to flash[:new_user][:fullname], url("/help-others/#{flash[:new_user][:slug]}")
          was created or updated.
      - else
        .alert.alert-danger.tiny-margins.d-block{role: "alert"}
          %span.font-weight-bold #{h(flash[:new_user][:fullname])}
          not created because the identifier was incorrectly formatted or in the case of wikidata, the item is not a human, is not deceased, a family name was not found, or the user already exists with an ORCID identifier. It could also mean that the identifier was previously removed from Bionomia and cannot now be manually added.
