- content_for :title, "Hilfedokumentation"
- content_for :scripts do
  :javascript
    $(function() {
      Application.init();
    });

- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        Hilfedokumentation

%h3.mt-4.mb-3
  Für neue Benutzer & Gruppeneinstellungen

.card{style:"max-width: 505px;"}
  %a{href: "http://doi.org/10.5281/zenodo.3908726"}
    %img.img-fluid.mx-auto.d-block{src:"/images/leachman_auckland_wmm.png", alt:"Leachmans Hilfedokumentation für Freiwillige"}
  .card-body
    %p.citation
      Siobhan Leachman. (26. Juni 2020). Auckland Museum Volunteer Instructions for Bionomia. Zenodo. 26 Seiten. PDF (englisch)
      = link_to "https://doi.org/10.5281/zenodo.3908726", "https://doi.org/10.5281/zenodo.3908726"

%h3.mt-4.mb-3
  Gezielte Aufgaben

%p.mt-4
  Die Bearbeiterin
  = link_to "Siobhan Leachman", url("/0000-0002-5398-7721")
  (siehe ihren
  = succeed ")" do
    = link_to "Twitter-Feed", "https://twitter.com/SiobhanLeachman"
  hat ebenfalls eine hilfreiche Reihe von Schritt-für-Schritt-Tweets verfasst. Diese werden im Folgenden mit geringfügigen Änderungen zu gezielten Aufgaben umgestaltet.

.row.mt-4
  .col-12.col-md-6.mb-3
    .card
      .card-header.border-bottom
        %h4
          Erste Schritte mit ORCID & Beanspruchen von Exemplar-Datensätzen
      .card-body.overflow-auto.mt-3{style: "max-height: 300px; min-height: 300px;"}
        %p
          Zunächst müssen Sie sich eine ORCID-Kennung zulegen. Dies ist erforderlich, weil Sie Daten erstellen und der Website hinzufügen werden. Wenn Sie also noch kein ORCID haben, rufen Sie
          = link_to "https://orcid.org/register", "https://orcid.org/register"
          auf und führen Sie die Registrierung durch. Bitte machen Sie einige Informationen, die Sie in ORCID eingeben, öffentlich (zum Beispiel Ihren Arbeitgeber) oder fügen Sie eine Ihrer Veröffentlichungen hinzu. Dadurch wird sichergestellt, dass man weiß, wer Sie sind.
          Auf der Seite
          = surround "„", "“" do
            = link_to "Los geht’s", url("/get-started")
          erfahren Sie, welche öffentlichen Informationen Bionomia von Ihrem ORCID-Konto abruft.
        %p
          Melden Sie sich dann bei Bionomia mit Ihrem ORCID-Konto an.
          %img.d-block.mt-3.mb-3{src:"/images/login.png", at: "Login-Button"}

          Sie werden zunächst zur Übersichtsseite Ihres Profils weitergeleitet.
          Wenn Sie Exemplare gesammelt haben, deren Metadaten in GBIF geladen wurden, können Sie diese auf der Registerkarte
          %em Exemplare
          beanspruchen.
          %img.d-block.mt-3.mb-3{src:"/images/profile-tabs.png", alt: "Registerkarten des Profils"}
        %p
          Dadurch werden Ihre Exemplare mit Ihrem ORCID-Identifikator verknüpft, was die Daten bereichert und dazu beiträgt, dass Ihre Arbeit beim Sammeln oder Identifizieren von Exemplaren anerkannt wird.
          Beanspruchen Sie Ihre Exemplare, indem Sie auf die Schaltfläche
          %em Kescher
          für die von Ihnen gesammelten Exemplare, auf die Schaltfläche
          %em Mikroskop
          für die von Ihnen identifizierten Exemplare oder auf
          %em Beides
          klicken, wenn Sie beides getan haben.
          Wenn Sie einen von Bionomia gefundenen Datensatz nicht selbst gesammelt oder identifiziert haben, wählen Sie
          %em Nicht ich
          aus.
        %p.mt-3.mb-3
          %img{src:"/images/button-selectors.png", alt: "Schaltflächen beim Beanspruchen von Exemplaren"}
          %img{src:"/images/not-me.png", alt: "„Nicht ich“-Schaltflächen"}

        %p
          Geraten Sie nicht in Panik, wenn Sie einen Fehler machen! Sie können ihn korrigieren.
          Gehen Sie zur Unterregisterkarte
          = succeed "," do
            %em Beansprucht
          um die Datensätze anzupassen, die Sie als identifiziert, gesammelt oder beides angegeben haben.
          Navigieren Sie zur Unterregisterkarte
          = succeed "," do
            %em Ignoriert
          um die Datensätze, die Sie als „Nicht ich“ angegeben haben, neu zu beanspruchen.

        %p
          Sobald Sie Ihre Exemplar-Datensätze beansprucht haben, klicken Sie auf die Registerkarte
          = succeed "." do
            %em Wissenschaftliche Werke
          Hier sehen Sie, welche Arbeiten Ihre Exemplar-Datensätze in ihren Analysen verwendet haben. Dies hängt davon ab, ob die Autoren dieser Arbeiten den Download-DOI des von ihnen verwendeten GBIF-Datensatzes angeben.

        %p
          Besuchen Sie
          = succeed "," do
            %em Einstellungen & Integrationen
          um Ihr Bionomia-Profil öffentlich zugänglich zu machen.
          %img.mt-3.mb-3{src:"/images/settings-integrations.png", alt:"Einstellungen & Integrationen"}
          %img.mt-3.mb-3{src:"/images/make-public.png", alt:"Profil öffentlich machen"}
      .card-footer.text-right
        %a.expand-collapse{href: "#"}
          %i.fas.fa-angle-double-down.mt-3

  .col-12.col-md-6.mb-3
    .card
      .card-header.border-bottom
        %h4
          Anderen helfen
      .card-body.overflow-auto.mt-3{style:"max-height: 300px; min-height: 300px;"}
        %p
          Ich fange also damit an, jemanden auszuwählen, dem ich helfen kann. Ich habe mich mit meiner ORCID-ID bei Bionomia angemeldet und oben rechts auf die Schaltfläche
          %em Anderen helfen
          geklickt. Jetzt wähle ich ein Land aus. Jawohl, Neuseeland! Ich wähle den Entomologen George Howes.
        %p.mt-3.mb-3
          %img{src:"/images/help-others-link.png", alt:"„Anderen helfen“-Schaltfläche"}
          %img{src:"/images/countries-help.png", alt:"Liste der Länder"}
          %img{src:"/images/help-new-zealand.png", alt:"Neuseeland helfen"}
          %img{src:"/images/george-howes.png", alt:"George Howes"}
        %p
          Der Grund, warum ich ihn ausgewählt habe, ist, dass ich seinen
          = link_to "Artikel in der englischsprachigen Wikipedia", "https://en.wikipedia.org/wiki/George_Howes_(entomologist)"
          begonnen habe. Ich finde, er war großartig und sollte für seine Sammelarbeit gewürdigt werden. Seine Bionomia-Seite sieht wie folgt aus.
          %img.d-block.mt-3.mb-3{src:"/images/helping-george-howes.png", alt:"George Howes"}
          Das erste Exemplar wurde von jemandem mit seinen Initialen zu einem passenden Zeitpunkt gesammelt und befindet sich in einer neuseeländischen Sammlung.
          Ich bin mir sicher, dass er es gesammelt hat. Also klicke ich auf den
          %em Kescher
          neben dem Exemplar.
          %img.d-block.mt-3.mb-3{src:"/images/fenwicki-net.png", alt:"P. fenwicki auswählen"}
          Wenn ich sicher gewesen wäre, dass er ALLE 25 Exemplare in dieser Ansicht gesammelt hatte, hätte ich auf den weißen
          %em Kescher
          mit schwarzem Hintergrund klicken können. Das würde ihm automatisch alle 25 Exemplar-Datensätze (nicht mehr, nicht weniger) zuordnen.
          Ich kann sogar die Anzahl der Exemplare auf der Seite auf bis zu 250 erhöhen (Dropdown-Liste unten links) und dann alle Exemplare einzeln zuordnen!
        %p.mt-3.mb-3
          %img{src:"/images/bulk-assignment.png", alt:"Schaltflächen der Massenzuordnung"}
          %img{src:"/images/per-page-dropdown.png", alt:"„Pro Seite“-Dropdown"}
        %p
          Aber in diesem Fall gibt es ein Stück weiter unten in der Reihe Exemplare, die von „G Howes“ im NHMUK (Naturhistorisches Museum des Vereinigten Königreichs) gesammelt wurden.
          Ich bin mir nicht sicher, ob es UNSER George Howes ist. Wenn ich mir nicht sicher bin, ob er es ist oder nicht, muss ich die Exemplare liegen lassen.
          %img.d-block.mt-3.mb-3{src:"/images/helping-unsure.png", alt:"Unsicher"}
          Um herauszufinden, ob es sich um George handelt, klicke ich auf den wissenschaftlichen Namen des Exemplars.
          Dies öffnet eine neue Registerkarte und führt mich zu den Details in GBIF. Hier kann ich sehen, dass es sich um ein Exemplar aus dem Leith Valley in Dunedin handelt, das 1922 von G. Howes gesammelt wurde.
          %img.d-block.mt-3.mb-3{src:"/images/helping-gbif.png", alt:"GBIF helfen"}
          Jawohl, das ist unser George! Also beanspruche ich diese Exemplare für ihn.

        %p
          ABER man muss trotzdem sehr vorsichtig sein. Ich achte auf das Datum. Auf der nächsten Seite sehe ich einen Datensatz, der nicht aus dem Jahr 1921 oder 1922 stammt.
          Es gibt ein Exemplar, das 1937 gesammelt wurde – noch zu Lebzeiten unseres George. Aber ich habe Zweifel wegen des Datums, also klicke ich zur Überprüfung.
          Dieses Exemplar wurde NICHT von George gesammelt. Es wurde in Bolivien gesammelt.
          %img.d-block.mt-3.mb-1{src:"/images/parvispina-dates.png", alt:"parvispina 1937"}
          %img.d-block.mb-3{src:"/images/parvispina-gbif.png", alt:"parvispina 1937"}
        %p
          Weiter unten sehe ich Exemplare von FishBase, aber George war Entomologe. Ich bestätige, dass er auch diese Exemplare nicht gesammelt hat. Also beanspruche ich die Exemplare, die er gesammelt hat, und klicke auf
          %em „Nicht er/sie“
          bei denjenigen Exemplaren, die er weder gesammelt noch identifiziert hat.
          %img.d-block.mt-3.mb-3{src:"/images/fishbase-not-them.png", alt:"parvispina 1937"}
      .card-footer.text-right
        %a.expand-collapse{href: "#"}
          %i.fas.fa-angle-double-down.mt-3

.row.mt-4
  .col-12.col-md-6.mb-3
    .card
      .card-header.border-bottom
        %h4
          Ein Wikidata-Objekt erstellen
      .card-body.overflow-auto.mt-3{style: "max-height: 300px; min-height: 300px;"}
        %p
          Wenn Sie die Kunst der Zuordnung von Exemplaren in Bionomia gemeistert haben, können Sie versuchen, anspruchsvollere Sammler wie Miss Blackler in Bionomia zu finden.
          Das ist mein Lieblingsarbeitsbereich, denn es ist wie eine Detektivjagd. Und ich habe viele Freunde, die mir dabei helfen!
          %blockquote.twitter-tweet
            %p{lang:"en", dir:"ltr"}
              So when I come across a collector with the name &quot;Miss xxx&quot; and very little else is known about her I try and get her into Wikidata. As
              = link_to "@idbdeb", "https://twitter.com/idbdeb?ref_src=twsrc%5Etfw"
              and I discovered yesterday there is often information about her in some archive or publication somewhere!
              = link_to "https://t.co/Eoi0rvs8Uh", "https://t.co/Eoi0rvs8Uh"
              = link_to "https://t.co/fEvLIqsTES", "https://pic.twitter.com/fEvLIqsTES"
            &mdash; Siobhan (@SiobhanLeachman)
            = link_to "3. Mai 2020", "https://twitter.com/SiobhanLeachman/status/1256769966335901696?ref_src=twsrc%5Etfw"
          %script{async: true, src:"https://platform.twitter.com/widgets.js", charset:"utf-8"}
        %p
          Ich bin auf „Miss Blackler“ gestoßen, da ich sie im Index of Botanists von
          = link_to "@HarvardHerbaria", "https://twitter.com/HarvardHerbaria"
          gesehen hatte.
          Sie sammelte in Oregon und Kalifornien. Ich habe ein Objekt in
          = link_to "@Wikidata", "https://twitter.com/wikidata"
          für sie erstellt und die HUH-Kennung („Harvard University Herbaria“) hinzugefügt.
        %p.mt-3.mb-3
          %img.mt-3.mb-3{src:"/images/huh.png", alt:"Harvard Index of Botanists"}
          %img.mt-3.mb-3{src:"/images/wikidata-screen.png", alt:"Wikidata-Screenshot"}
        %p
          Aber um sie zu Bionomia hinzuzufügen, brauche ich ein Sterbedatum. Und das ist der Punkt, an dem es knifflig werden kann. Unsere Miss Blackler hat in Olympia gesammelt, und
          = link_to "@metacoretechs", "https://twitter.com/metacoretechs"
          hat im Internet Archive einen Hinweis auf eine gewisse Lydia Hooper Blackler gefunden.
          %img.d-block.mt-3.mb-3{src:"/images/blackler-ia.png", alt:"Blackler im Internet Archive"}

        %p
          Nach den Informationen, die
          = link_to "@idbdeb", "https://twitter.com/idbdeb"
          gefunden hat, lebte Lydia Hooper Blackler in Olympia, blieb unverheiratet und reiste und lebte in Kalifornien, wo andere Exemplare von ihr gesammelt wurden –
          = succeed "." do
            = link_to "https://www.ashefamily.info/ashefamily/1874.htm", "https://www.ashefamily.info/ashefamily/1874.htm"
          Daher bin ich zuversichtlich, dass dies unsere „Miss Blackler“ ist. Sie ist auch in
          = succeed "." do
            = link_to "@FindaGrave", "https://twitter.com/FindaGrave"
          %img.d-block.mt-3.mb-3{src:"/images/find-grave.png", alt:"Find a Grave"}
          Also aktualisiere ich jetzt ihren Wikidata-Eintrag.
          Ich füge so viele Informationen hinzu, wie wir nur finden konnten, und beziehe so viele Referenzen wie möglich mit ein, damit andere Forscher nachvollziehen können, was wir getan haben.
          Ich ergänze außerdem das wichtige Sterbedatum.
          %img.d-block.mt-3.mb-3{src:"/images/wikidata-death.png", alt:"Wikidata Sterbedatum"}
          Ich habe auch ein gemeinfreies Bild von ihr über
          = link_to "@OrHist", "https://twitter.com/OrHist"
          gefunden:
          = link_to "https://digitalcollections.ohs.org/blackler-lydia-hooper", "https://digitalcollections.ohs.org/blackler-lydia-hooper"
          Bevor ich sie zu Bionomia hinzufüge, werde ich es herunterladen und auf
          = link_to "@Wikicommons", "https://twitter.com/WikiCommons"
          hochladen. Dann kann ich es zu ihrem Wikidata-Objekt hinzufügen. Dieser wiederum wird in Bionomia eingefügt, wenn ich sie der Site hinzufüge.
          %img.d-block.mt-3.mb-3{src:"/images/blackler-image.png", alt:"Foto von Blackler"}
        %p
          Jetzt füge ich sie zu Bionomia hinzu. Ich nehme ihr Wikidata-Objekt Q93018256 und gehe auf die Site.
          Ich klicke oben rechts auf die Schaltfläche
          %em Anderen helfen
          und dann auf die Registerkarte
          = succeed "." do
            %em Jemanden hinzufügen
          Ich gebe die Q-Nummer des Wikidata-Objekts ein und klicke auf die grüne Schaltfläche
          = succeed "." do
            %em Hinzufügen
        %p.mt-3.mb-3
          %img{src:"/images/help-others-link.png", alt:"„Anderen helfen“-Link"}
          %img{src:"/images/help-tabs.png", alt:"Registerkarten der Helfen-Seite"}
          %img{src:"/images/add-someone.png", alt:"„Jemanden hinzufügen“-Seite"}
        %p
          Sie wird dann zu Bionomia hinzugefügt. Sie müssen nur noch auf sie klicken und dann Exemplare zuordnen, wie wir es zuvor bei George Howes getan haben.
          %img.mt-3.mb-3{src:"/images/help-blackler.png", alt:"Blackler helfen"}
          Vergessen Sie nicht, auf
          %em Veröffentlichen
          zu klicken, sobald Sie einige Exemplare zugeordnet haben.
          %img.d-block.mt-3.mb-3{src:"/images/make-public-button.png"}
          Sie brauchen nicht 100 % zu erreichen, denn auch weniger ist immer noch besser als nichts.
      .card-footer.text-right
        %a.expand-collapse{href: "#"}
          %i.fas.fa-angle-double-down.mt-3

  .col-12.col-md-6.mb-3
    .card
      .card-header.border-bottom
        %h4
          Uploads für die Massenzuordnung von Datensätzen
      .card-body.overflow-auto.mt-3{style:"max-height: 300px; min-height: 300px;"}
        %p
          Heute möchte ich Ihnen eine Anleitung für Massenuploads geben.
          Nach nur einem Tag, an dem ich das gemacht habe, habe ich das Gefühl, dass ich die zusätzliche Übung brauche.
          Außerdem haben einige andere Leute erwähnt, dass sie das gerne mit mir versuchen würden, aber nicht wissen, wie das geht.
          Also los geht’s!
        %p
          Zuerst sollten Sie eine Person mit Exemplaren finden, die hochgeladen werden müssen.
          Ich entscheide mich für den fabelhaften Alexander Wetmore.
          Ich habe seine Fotoalben bereits mit
          = link_to "@TranscribeSI", "https://twitter.com/TranscribeSI"
          transkribiert. Er war ein produktiver Sammler und braucht etwas Liebe von
          = succeed "." do
            = link_to "@BionomiaTrack", "https://twitter.com/BionomiaTrack"
        %p.mt-3.mb-3
          %img.align-top{src:"/images/wetmore-jumbotron.png", alt: "Wetmore – Überblick"}
        %p
          Also gehe ich auf die Registerkarte „Massenattributionen“ auf seiner Profilseite und drücke dann auf die blaue Schaltfläche „Herunterladen“.
        %p.mt-3.mb-3
          %img.align-top{src:"/images/wetmore-download.png", alt:"Wetmore – Download"}
          %img.align-top{src:"/images/download-buttons.png", alt:"Download-Schaltflächen"}
        %p
          Damit wird eine CSV-Datei mit den Exemplardaten heruntergeladen.
          Ich öffne die Datei.
          Ich werde nun Excel verwenden, aber Sie können auch ein anderes Programm benutzen.
          Wenn die Datei geöffnet wird, sieht sie in Excel so aus.
        %p.mt-3.mb-3
          %img.align-top{src:"/images/excel-download.jpg", alt:"Excel-Download"}
        %p
          Ich werde die wichtigsten Spalten durchgehen.
          Die erste ist die „action“-Spalte.
          Hier tragen Sie „recorded“ ein, wenn das Exemplar von Alexander gesammelt wurde, oder „identified“, wenn es von ihm identifiziert wurde.
          Wenn er beides getan hat, fügen Sie „recorded, identified“ hinzu.
          Beachten Sie das Komma, das die beiden voneinander trennt!
        %p.mt-3.mb-3
          %img.align-top{src:"/images/recorded-identified.png", alt:"recorded/identified"}
        %p
          Sie können sehen, ob Alexander Exemplare erfasst oder identifiziert hat, indem Sie die Spalten „recordedBy“ oder „identifiedBy“ im Tabellenblatt überprüfen.
        %p.mt-3.mb-3
          %img.align-top{src:"/images/recordedby.png", alt:"recordedBy"}
          %img.align-top{src:"/images/identifiedby.png", alt:"identifiedBy"}
        %p
          Die andere Spalte, die von Nutzen sein kann, ist die „Not me“-Spalte.
          Wenn es nicht Ihr Sammler ist, der das Exemplar entweder gesammelt oder identifiziert hat, können Sie in dieser Spalte „True“ eintragen.
        %p.mt-3.mb-3
          %img.align-top{src:"/images/notme.png", alt:"Not me"}
        %p
          Sobald Sie Ihr Tabellenblatt mit einigen Beanspruchungen fertiggestellt haben, können Sie es in Bionomia hochladen.
          Ich werde nur ein paar davon machen, um Ihnen zu zeigen, was zu tun ist.
          Ich gehe davon aus, dass Sie über grundlegende Excel-Kenntnisse verfügen.
          Ich werde lediglich die Funktion Sortieren und Filtern verwenden und „recordedBy“ durchsuchen.
        %p.mt-3.mb-3
          %img.align-top{src:"/images/sort-filter.png", alt:"Sortieren und Filtern"}
        %p
          Ich füge „recorded“ in der „action“-Spalte zu all diesen Zeilen hinzu.
          Dann überprüfe ich die Spalte „identifiedBy“, um sicherzustellen, dass er keines der Exemplare identifiziert hat.
          Falls doch, füge ich bei den Exemplaren, die er ebenfalls identifiziert hat, ein Komma und „identified“ hinzu.
        %p.mt-3.mb-3
          %img.align-top{src:"/images/excel-action.png", alt:"„action“ hinzufügen"}
        %p
          Jetzt können Sie natürlich weiter an der Tabelle arbeiten.
          Aber ich lasse es einfach so stehen, damit ich Ihnen die nächsten Schritte zeigen kann.
          Was ich als Nächstes mache, ist vielleicht nicht der beste Weg, aber es funktioniert.
          Ich speichere die Kalkulationstabelle und ein Dialogfenster erscheint.
          Ich klicke auf „Nein“ und speichere als Excel-Arbeitsmappe.
        %p.mt-3.mb-3
          %img.align-top{src:"/images/csv-dialog.jpg", alt:"CSV-Dialogfenster"}
          %img.align-top{src:"/images/csv-save-workbook.jpg", alt:"CSV als Arbeitsmappe speichern"}
        %p
          Ich klicke dann auf „Speichern unter“ und wähle das Dateiformat „CSV UTF-8 (durch Trennzeichen getrennt) (*.csv)“.
          Ich benenne die Datei in Q34558Alex.csv um.
        %p.mt-3.mb-3
          %img.align-top{src:"/images/save-utf8.jpg", alt:"Als UTF-8 speichern"}
        %p
          Dann gehe ich zurück zu Bionomia auf Alexanders Profil, zur Registerkarte „Massenattributionen“ und klicke auf „Datei auswählen“.
          Ich wähle die Datei, die ich gerade umbenannt und als CSV-Datei gespeichert habe. Dann klicke ich auf „Absenden“.
        %p
          Und die 56 Datensätze, die ich gemacht habe, werden hinzugefügt.
          Die maximale Anzahl an Datensätzen beträgt übrigens 10.000.
          Das war’s also auch schon. Viel Spaß beim Hochladen von Massendaten!
      .card-footer.text-right
        %a.expand-collapse{href: "#"}
          %i.fas.fa-angle-double-down.mt-3
