= haml :'partials/user/twitter_img', layout: false

- content_for(:title, "#{@viewed_user.fullname}")

- content_for :scripts do
  :javascript
    $(function() {
      Application.init();
    });

.row
  = haml :'partials/user/jumbotron', layout: false
  .col-12.col-lg-8.mt-2
    - if @viewed_user.is_public?
      = haml :'partials/user/tabs', layout: false, locals: { active_page: "deposits" }

      - if @recordings_at.empty? && @identifications_at.empty?
        .alert.alert-info.tiny-margins{role: "alert"}= I18n.t('user.no_institutions_alert')

      - if !@recordings_at.empty? || !@identifications_at.empty?

        .alert.alert-info.tiny-margins{role: "alert"}= I18n.t('user.institutions_alert')

        .row
          .col-12.col-lg-6.mb-3
            - if @recordings_at.empty? && !@identifications_at.empty?
              %h4.mt-0= I18n.t('user.specimens_identified')
              %div.d-flex.justify-content-between.list-header.h5
                %div
                  %span.badge.badge-light.badge-secondary
                    #{number_with_delimiter(@identifications_at.count)}
                  %span.small
                    = I18n.t('user.organizations')
                %div
                  %span.badge.badge-light.badge-secondary
                    #{number_with_delimiter(@identifications_at.values.inject(0){|sum,x| sum + x })}
                  %span.small
                    = I18n.t('user.specimens_metric')
              %ul.list-group
                - @identifications_at.each do |k,v|
                  %li.list-group-item.d-flex.justify-content-between.align-items-center
                    = link_to k, url("/#{@viewed_user.identifier}/specimens?action=identified&institutionCode=#{ERB::Util.url_encode(k)}")
                    %span.badge.badge-light.badge-pill #{number_with_delimiter(v)}
            - elsif !@recordings_at.empty?
              %h4.mt-0= I18n.t('user.specimens_collected')
              %div.d-flex.justify-content-between.list-header.h5
                %div
                  %span.badge.badge-light.badge-secondary
                    #{number_with_delimiter(@recordings_at.count)}
                  %span.small
                    = I18n.t('user.organizations')
                %div
                  %span.badge.badge-light.badge-secondary
                    #{number_with_delimiter(@recordings_at.values.inject(0){|sum,x| sum + x })}
                  %span.small
                    = I18n.t('user.specimens_metric')
              %ul.list-group
                - @recordings_at.each do |k,v|
                  %li.list-group-item.d-flex.justify-content-between.align-items-center
                    = link_to k, url("/#{@viewed_user.identifier}/specimens?action=collected&institutionCode=#{ERB::Util.url_encode(k)}")
                    %span.badge.badge-light.badge-pill #{number_with_delimiter(v)}
          .col-12.col-lg-6.mb-3
            - if !@recordings_at.empty? && !@identifications_at.empty?
              %h4.mt-0= I18n.t('user.specimens_identified')
              .d-flex.justify-content-between.list-header.h5
                %div
                  %span.badge.badge-light.badge-secondary
                    #{number_with_delimiter(@identifications_at.count)}
                  %span.small
                    = I18n.t('user.organizations')
                %div
                  %span.badge.badge-light.badge-secondary
                    #{number_with_delimiter(@identifications_at.values.inject(0){|sum,x| sum + x })}
                  %span.small
                    = I18n.t('user.specimens_metric')
              %ul.list-group
                - @identifications_at.each do |k,v|
                  %li.list-group-item.d-flex.justify-content-between.align-items-center
                    = link_to k, url("/#{@viewed_user.identifier}/specimens?action=identified&institutionCode=#{ERB::Util.url_encode(k)}")
                    %span.badge.badge-light.badge-pill #{number_with_delimiter(v)}

    - else
      = haml :'partials/user/offline_message', layout: false
