= haml :'partials/user/twitter_img', layout: false

- content_for(:title, "#{@viewed_user.fullname}")

- content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init();
    });

%div{class:"row"}
  = haml :'partials/user/jumbotron', layout: false
  %div{class:"col-12 col-lg-8 mt-2"}
    - if @viewed_user.is_public?
      = haml :'partials/user/tabs', layout: false, locals: { active_page: "deposits" }

      - if @recordings_at.empty? && @identifications_at.empty?
        %div{class: "alert alert-info tiny-margins", role: "alert"}= I18n.t('user.no_institutions_alert')

      - if !@recordings_at.empty? || !@identifications_at.empty?

        %div{class: "alert alert-info tiny-margins", role: "alert"}= I18n.t('user.institutions_alert')

        %div{class: "row"}
          %div{class: "col-12 col-lg-6 mb-3"}
            - if @recordings_at.empty? && !@identifications_at.empty?
              %h4{class: "mt-0"}= I18n.t('user.specimens_identified')
              %div{class: "d-flex justify-content-between list-header h5"}
                %div
                  %span{class: "badge badge-light badge-secondary"}
                    #{number_with_delimiter(@identifications_at.count)}
                  %span{class: "small"}
                    = I18n.t('user.organizations')
                %div
                  %span{class: "badge badge-light badge-secondary"}
                    #{number_with_delimiter(@identifications_at.values.inject(0){|sum,x| sum + x })}
                  %span{class: "small"}
                    = I18n.t('user.specimens_metric')
              %ul{class: "list-group"}
                - @identifications_at.each do |k,v|
                  %li{class: "list-group-item d-flex justify-content-between align-items-center"}
                    %a{href: url("/#{@viewed_user.identifier}/specimens?action=identified&institutionCode=#{ERB::Util.url_encode(k)}")} #{k}
                    %span{class: "badge badge-light badge-pill"} #{number_with_delimiter(v)}
            - elsif !@recordings_at.empty?
              %h4{class: "mt-0"}= I18n.t('user.specimens_collected')
              %div{class: "d-flex justify-content-between list-header h5"}
                %div
                  %span{class: "badge badge-light badge-secondary"}
                    #{number_with_delimiter(@recordings_at.count)}
                  %span{class: "small"}
                    = I18n.t('user.organizations')
                %div
                  %span{class: "badge badge-light badge-secondary"}
                    #{number_with_delimiter(@recordings_at.values.inject(0){|sum,x| sum + x })}
                  %span{class: "small"}
                    = I18n.t('user.specimens_metric')
              %ul{class: "list-group"}
                - @recordings_at.each do |k,v|
                  %li{class: "list-group-item d-flex justify-content-between align-items-center"}
                    %a{href: url("/#{@viewed_user.identifier}/specimens?action=collected&institutionCode=#{ERB::Util.url_encode(k)}")} #{k}
                    %span{class: "badge badge-light badge-pill"} #{number_with_delimiter(v)}
          %div{class: "col-12 col-lg-6 mb-3"}
            - if !@recordings_at.empty? && !@identifications_at.empty?
              %h4{class: "mt-0"}= I18n.t('user.specimens_identified')
              %div{class: "d-flex justify-content-between list-header h5"}
                %div
                  %span{class: "badge badge-light badge-secondary"}
                    #{number_with_delimiter(@identifications_at.count)}
                  %span{class: "small"}
                    = I18n.t('user.organizations')
                %div
                  %span{class: "badge badge-light badge-secondary"}
                    #{number_with_delimiter(@identifications_at.values.inject(0){|sum,x| sum + x })}
                  %span{class: "small"}
                    = I18n.t('user.specimens_metric')
              %ul{class: "list-group"}
                - @identifications_at.each do |k,v|
                  %li{class: "list-group-item d-flex justify-content-between align-items-center"}
                    %a{href: url("/#{@viewed_user.identifier}/specimens?action=identified&institutionCode=#{ERB::Util.url_encode(k)}")} #{k}
                    %span{class: "badge badge-light badge-pill"} #{number_with_delimiter(v)}

    - else
      = haml :'partials/user/offline_message', layout: false
