= haml :'partials/user/twitter_img', layout: false

- content_for(:title, "#{@viewed_user.fullname}")

- content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init();
    });

.row
  = haml :'partials/user/jumbotron', layout: false
  .col-12.col-lg-8.mt-2
    - if @viewed_user.is_public?
      = haml :'partials/user/tabs', layout: false, locals: { active_page: "helped" }

      - if @pagy.count == 0
        .alert.alert-info.tiny-margins{role: "alert"}= I18n.t('user.no_helped_alert')
      - else
        .alert.alert-info.tiny-margins{role: "alert"}
          #{number_to_human(@stats[:attributions][:number], units: :'user.stats_attributions_specimens', delimiter: ",", precision: 0)}
          #{number_to_human(@stats[:attributions][:helped], units: :'user.stats_attributions_people', delimiter: ",", precision: 0)}

        .container-fluid
          - @results.in_groups_of(2).each do |group|
            .card-deck
              - group.each do |m|
                - u = m.user rescue nil
                - if u.nil?
                  .card.border-0
                - else
                  - stats = cache_block("#{u.identifier}-stats") { user_stats(u) }
                  = haml :'partials/user/card', layout: false, locals: { user: u, stats: stats }

        - if @pagy.pages > 1
          .y-scroll
            = pagy_bootstrap_nav(@pagy)

    - else
      = haml :'partials/user/offline_message', layout: false
