= haml :'partials/user/twitter_img', layout: false

- content_for(:title, "#{@viewed_user.fullname}")

- content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init();
    });

.row
  = haml :'partials/user/jumbotron', layout: false
  .col-12.col-lg-8.mt-2
    - if @viewed_user.is_public?
      = haml :'partials/user/tabs', layout: false, locals: { active_page: "network" }
      = haml :'partials/user/network_tabs', layout: false, locals: { active_tab: locals[:active_tab] }

      - if @pagy.count == 0
        .alert.alert-info.tiny-margins{role: "alert"}= I18n.t('user.no_identifications_by_alert')
      - else
        .alert.alert-info.tiny-margins{role: "alert"}= I18n.t('user.identifications_by_alert')

        .container-fluid
          - @results.in_groups_of(2).each do |group|
            .card-deck
              - group.each do |u|
                - if u.nil?
                  .card.border-0
                - else
                  - stats = cache_block("#{u.identifier}-stats") { user_stats(u) }
                  = haml :'partials/user/card', layout: false, locals: { user: u, stats: stats }

        - if @pagy.pages > 1
          %div{style:"overflow-y:scroll"}
            = pagy_bootstrap_nav(@pagy)

    - else
      = haml :'partials/user/offline_message', layout: false
