= haml :'partials/user/twitter_img', layout: false

- content_for(:title, "#{@viewed_user.fullname}")

- if @viewed_user.is_public? || admin_authorized?
  - content_for :scripts do
    %script{src: "/js/application.js"}
    %script{src: "/js/progress-bar.js"}
    :javascript
      $(function() {
        Application.init("#{@viewed_user.id}");
        ProgressBar.init("#{@viewed_user.identifier}");
      });
    = haml :'partials/viz_scripts', layout: false, locals: { path: "/#{@viewed_user.identifier}" }

%div{class:"row"}
  = haml :'partials/user/jumbotron', layout: false, locals: { active_page: "overview" }
  %div{class:"col-12 col-lg-8 mt-2"}
    - if @viewed_user.is_public?
      = haml :'partials/user/tabs', layout: false, locals: { active_page: "overview" }

      %div{class:"d-flex flex-row mt-3 alert alert-info justify-content-between"}
        - if @stats[:specimens][:identified] == 0 && @stats[:specimens][:recorded] == 0 && @stats[:attributions][:helped] == 0
          = I18n.t('user.no_claims_alert')
        - else
          %div
            %ul{class:"list-unstyled"}
              = haml :'partials/user_stats', layout: false

          - if @stats[:specimens][:recorded] > 0 || @stats[:specimens][:identified] > 0
            %div{class:"col-4 col-md-2"}
              = I18n.t('user.progress')
              %div{class:"progress progress-border"}
                %div{id:"progress-bar_#{@viewed_user.identifier}", class:"progress-bar bg-info", role:"progressbar", style:"width: 0%;", "aria-valuenow":"0", "aria-valuemin":"0", "aria-valuemax":"100"}

      - if @stats[:specimens][:identified] > 0 || @stats[:specimens][:recorded] > 0
        %div{class:"row d-flex mt-3"}
          %div{class:"col-10 col-md-6"}
            = haml :'partials/map_list_identified', layout: false, locals: { path: "/#{@viewed_user.identifier}" }
          %div{class:"col-10 col-md-6"}
            = haml :'partials/map_list_collected', layout: false, locals: { path: "/#{@viewed_user.identifier}" }
      - else
        #map-identified{style:"width: 0%; height: 0%; display: none;"}
        #map-collected{style:"width: 0%; height: 0%; display: none;"}

      - if @stats[:activity_dates].length > 0
        %h4= I18n.t('user.dates_identified_collected')
        %div{id: "chart"}
      - else
        %div{id: "chart", style:"width: 0%; height: 0%; display:none;"}

    - else
      = haml :'partials/user/offline_message', layout: false
