= haml :'partials/user/twitter_img', layout: false

- content_for(:title, "#{@viewed_user.fullname}")

- content_for :scripts do
  - if authorized? && @user != @viewed_user
    :javascript
      $(function() {
        Application.init(#{@viewed_user.id}, "PUT", "/help-others", "#{@viewed_user.identifier}");
      });
  - else
    :javascript
      $(function() {
        Application.init();
      });

.row
  = haml :'partials/user/jumbotron', layout: false
  .col-12.col-lg-8.mt-2
    - if @viewed_user.is_public?
      = haml :'partials/user/tabs', layout: false, locals: { active_page: "specimens" }
      = haml :'partials/user/specimens_tabs', layout: false, locals: { active_tab: locals[:active_tab] }
      = haml :'partials/filter', layout: false, locals: { url: "/#{@viewed_user.identifier}/specimens" }

      - if @pagy.count == 0
        .alert.alert-info.tiny-margins{role: "alert"}
          - if @filter.length > 0
            = I18n.t('user.no_specimens_filter')
          - else
            = I18n.t('user.no_specimens')
      - else
        .alert.alert-info.row.tiny-margins{role: "alert"}
          .ol-12.col-md-9.p-0
            - coll_img = "%img{src:'/images/net-unselected.png', alt:'#{I18n.t('general.collected')}', title:'#{I18n.t('general.collected')}', width:18}"
            - det_img = "%img{src:'/images/microscope-unselected.png', alt:'#{I18n.t('general.identified')}', title:'#{I18n.t('general.identified')}', width:18}"
            = I18n.t('user.specimen_icon_count', coll_img: haml(coll_img, layout: false), det_img: haml(det_img, layout: false), count: number_with_delimiter(@pagy.count, delimiter: ","))
            = I18n.t('user.not_all_columns')
          .col-12.col-md-3.p-0.text-md-right
            %a.mr-2{href: url("/#{@viewed_user.identifier}/specimens.csv")}
              %i.fas.fa-file-csv.text-dark.h5.m-0.p-1
              CSV
            %a{href: url("/#{@viewed_user.identifier}/specimens.jsonld")}
              %i.fas.fa-file-code.text-dark.h5.m-0.p-1
              JSON-LD

        %div{class:"table-responsive-lg overflow-auto#{(authorized? && @user != @viewed_user) ? " alert-warning" : ""}"}
          %table.table.table-hover.table-sm
            %thead.thead-light
              %tr
                %th.text-nowrap{scope: "col", style:"min-width:65px"}
                %th.text-nowrap{scope: "col"}= I18n.t('specimen.scientific_name')
                %th.text-nowrap{scope: "col"}= I18n.t('specimen.collected_by')
                %th.text-nowrap{scope: "col"}= I18n.t('specimen.identified_by')
                %th.text-nowrap{scope: "col"}= I18n.t('specimen.date_collected')
                %th.text-nowrap{scope: "col"}= I18n.t('specimen.date_identified')
                %th.text-nowrap{scope: "col"}= I18n.t('specimen.family')
                %th.text-nowrap{scope: "col"}= I18n.t('specimen.institution')
                %th.text-nowrap{scope: "col"}= I18n.t('specimen.catalog_number')
                %th.text-nowrap{scope: "col"}= I18n.t('specimen.type_status')
                %th.text-nowrap{scope: "col"}= I18n.t('specimen.basis_record')
                - if authorized? && @user != @viewed_user
                  %th.btn-selector-wide{scope: "col"}
                  %th.btn-selector-wide{scope: "col"}
                  %th{scope: "col"}= I18n.t('specimen.scribe')

            %tbody
              - @results.each do |uo|
                - o = uo.occurrence
                %tr
                  - if authorized? && @user != @viewed_user
                    - disabled = (@viewed_user.id == uo.created_by) ? true : false
                    %td.selector
                      = haml :'partials/single_selector_preselected', layout: false, locals: { occurrence: uo, user_id: @viewed_user.id }
                  - else
                    %td
                      - if uo.action == "recorded"
                        %img{src:"/images/net-unselected.png", alt:"#{I18n.t('user.collected')}", title:"#{I18n.t('user.collected')}", width:18}
                      - elsif uo.action == "identified"
                        %img{src:"/images/microscope-unselected.png", alt:"#{I18n.t('user.identified')}", title:"#{I18n.t('user.identified')}", width:18}
                      - else
                        %img{src:"/images/net-unselected.png", alt:"#{I18n.t('user.collected')}", title:"#{I18n.t('user.collected')}", width:18}
                        %img{src:"/images/microscope-unselected.png", alt:"#{I18n.t('user.identified')}", title:"#{I18n.t('user.identified')}", width:18}
                  %td
                    - scientific_name = o.scientificName.nil? ? "not recorded" : o.scientificName
                    %a{href: gbif_occurrence_url(o.id), target:"_blank"}= h(scientific_name)
                    %a{href: "/occurrence/#{o.id}"}
                      %i.fas.fa-feather.text-muted
                    - if o.hasImage?
                      %i.fas.fa-image.ml-1.text-muted{"data-toggle":"popover", "data-gbifid":"#{o.id}"}
                  %td #{h(o.recordedBy)}
                  %td #{h(o.identifiedBy)}
                  %td #{h(o.eventDate || o.year)}
                  %td #{h(o.dateIdentified)}
                  %td #{h(o.family)}
                  %td #{h(o.institutionCode)}
                  %td #{h(o.catalogNumber)}
                  %td #{h(o.typeStatus)}
                  %td #{h(o.basisOfRecord)}
                  - if authorized? && @user != @viewed_user
                    %td
                      %button.btn.btn-sm.btn-outline-warning.hide{type:"button", "data-occurrence-id":"#{uo.user_occurrence_id}", disabled: disabled}
                        = I18n.t('specimen.not_them')
                    %td
                      %button.btn.btn-sm.btn-outline-danger.remove{type:"button", "data-occurrence-id":"#{uo.user_occurrence_id}", disabled: disabled}
                        = I18n.t('specimen.remove')
                    %td
                      - if uo.claimant.is_bot?
                        #{uo.claimant.fullname}
                      - elsif uo.claimant.is_public?
                        = link_to uo.claimant.fullname_reverse, url("/#{uo.claimant.orcid}")
                      - elsif !uo.claimant.orcid.nil?
                        = link_to uo.claimant.fullname_reverse, "https://orcid.org/#{uo.claimant.orcid}"
                      - else
                        #{uo.claimant.fullname_reverse}

        - if @pagy.pages > 1
          .y-scroll
            = pagy_bootstrap_nav(@pagy)

    - else
      = haml :'partials/user/offline_message', layout: false
