= haml :'partials/user/twitter_img', layout: false

- content_for(:title, "#{@viewed_user.fullname}")

- content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init();
    });

.row
  = haml :'partials/user/jumbotron', layout: false
  .col-12.col-lg-8.mt-2
    - if @viewed_user.is_public?
      = haml :'partials/user/tabs', layout: false, locals: { active_page: "specialties" }

      - if @families_identified.empty? && @families_recorded.empty?
        .alert.alert-info.tiny-margins{role: "alert"}= I18n.t('user.no_specialities_alert')

      - if !@families_identified.empty? || !@families_recorded.empty?
        .alert.alert-info.tiny-margins{role: "alert"}= I18n.t('user.specialties_alert')

        .row
          .col-12.col-lg-6.mb-3
            - if @families_recorded.empty? && !@families_identified.empty?
              %h4.d-flex.justify-content-between.mt-0
                = I18n.t('user.families_identified')
                %span.badge.badge-light.badge-secondary #{number_with_delimiter(@families_identified.count)}
              %ul.list-group.mt-3
                - @families_identified.each do |k,v|
                  %li.list-group-item.d-flex.justify-content-between.align-items-center
                    %span
                      - image = taxon_image(k, 'thumbnail')
                      - if !image.nil?
                        %img{src:"#{image}", alt:"#{k}", class:"mr-2", style:"width:24px;max-height:64px;", loading:"lazy"}
                      - else
                        %span.d-inline-block.mr-2{style:"width:24px;max-height:64px;"}
                      = link_to k, url("/#{@viewed_user.identifier}/specimens?action=identified&family=#{ERB::Util.url_encode(k)}")
                    %span.badge.badge-light.badge-pill #{number_with_delimiter(v)}
            - elsif !@families_recorded.empty?
              %h4.d-flex.justify-content-between.mt-0
                = I18n.t('user.families_collected')
                %span.badge.badge-light.badge-secondary #{number_with_delimiter(@families_recorded.count)}
              %ul.list-group.mt-3
                - @families_recorded.each do |k,v|
                  %li.list-group-item.d-flex.justify-content-between.align-items-center
                    %span
                      - image = taxon_image(k, 'thumbnail')
                      - if !image.nil?
                        %img.mr-2{src:"#{image}", alt:"#{k}", style:"width:24px;max-height:64px;", loading:"lazy"}
                      - else
                        %span.d-inline-block.mr-2{style:"width:24px;max-height:64px;"}
                      = link_to k, url("/#{@viewed_user.identifier}/specimens?action=collected&family=#{ERB::Util.url_encode(k)}")
                    %span.badge.badge-light.badge-pill #{number_with_delimiter(v)}
          .col-12.col-lg-6.mb-3
            - if !@families_recorded.empty? && !@families_identified.empty?
              %h4.d-flex.justify-content-between.mt-0
                = I18n.t('user.families_identified')
                %span.badge.badge-light.badge-secondary #{number_with_delimiter(@families_identified.count)}
              %ul.list-group.mt-3
                - @families_identified.each do |k,v|
                  %li.list-group-item.d-flex.justify-content-between.align-items-center
                    %span
                      - image = taxon_image(k, 'thumbnail')
                      - if !image.nil?
                        %img.mr-2{src:"#{image}", alt:"#{k}", style:"width:24px;max-height:64px;", loading:"lazy"}
                      - else
                        %span.d-inline-block.mr-2{style:"width:24px;max-height:64px;"}
                      = link_to k, url("/#{@viewed_user.identifier}/specimens?action=identified&family=#{ERB::Util.url_encode(k)}")
                    %span.badge.badge-light.badge-pill #{number_with_delimiter(v)}

    - else
      = haml :'partials/user/offline_message', layout: false
