.y-scroll
  %ul.nav.nav-tabs.mt-3.mb-3.flex-nowrap
    %li.nav-item
      %a{class: "text-nowrap nav-link#{locals[:active_tab] == "search" ? " active" : nil}", href: url("/developers")}= I18n.t('developer.search')
    %li.nav-item
      %a{class: "text-nowrap nav-link#{locals[:active_tab] == "parse" ? " active" : nil}", href: url("/developers/parse")}= I18n.t('developer.parse_names')
    %li.nav-item
      %a{class: "text-nowrap nav-link#{locals[:active_tab] == "structured_data" ? " active" : nil}", href: url("/developers/structured-data")}= I18n.t('developer.structured_data')
    %li.nav-item
      %a{class: "text-nowrap nav-link#{locals[:active_tab] == "code" ? " active" : nil}", href: url("/developers/code")}= I18n.t('developer.code')
    %li.nav-item
      %a{class: "text-nowrap nav-link#{locals[:active_tab] == "clients" ? " active" : nil}", href: url("/developers/clients")}= I18n.t('developer.clients')
