- content_for :title, "Integrationen"
- content_for :scripts do
  :javascript
    $(function() {
      Application.init();
    });
- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        Integrationen

%h3
  Browser-Erweiterungen

.row.mt-4
  .col-12.col-md-6.mb-3
    .card
      .card-header.border-bottom
        %h4
          %img.mr-2{src:"/images/chrome-icon.png", alt:"Chrome"}
          Erweiterung für Google Chrome
      .card-body.mt-3
        %p
          Die
          = link_to "Chrome-Erweiterung von Bionomia", "https://chrome.google.com/webstore/detail/bionomia/aodffghldlgnmhbeflkmokghpncnldcn"
          verändert die Vorkommensseiten der Global Biodiversity Information Facility (GBIF) so, dass sie Links zu ORCID-Konten und Wikidata-Seiten enthalten.
        .text-center
          %a{href: "https://chrome.google.com/webstore/detail/bionomia/aodffghldlgnmhbeflkmokghpncnldcn"}
            %img{src: "/images/chrome_extension_screenshot.png", alt: "Chrome-Erweiterung von Bionomia"}

  .col-12.col-md-6.mb-3
    .card
      .card-header.border-bottom
        %h4
          %img.mr-2{src:"/images/firefox-icon.png", alt:"Firefox"}
          Erweiterung für Firefox
      .card-body.mt-3
        %p
          Die
          = link_to "Firefox-Erweiterung von Bionomia", "https://addons.mozilla.org/de/firefox/addon/bionomia/"
          verändert die Vorkommensseiten der Global Biodiversity Information Facility (GBIF) so, dass sie Links zu ORCID-Konten und Wikidata-Seiten enthalten.
        .text-center
          %a{href: "https://addons.mozilla.org/de/firefox/addon/bionomia/"}
            %img{src: "/images/chrome_extension_screenshot.png", alt: "Firefox-Erweiterung von Bionomia"}

%h3
  Wikidata

%p
  Bionomia ist eine Eigenschaft,
  = link_to "P6944", "https://www.wikidata.org/wiki/Property:P6944"
  auf Wikidata, und viele Naturhistoriker haben dies jetzt als Links auf ihren Seiten. Siehe zum Beispiel den Wikidata-Eintrag für
  = succeed "." do
    = link_to "Cynthia Ahearn", "https://www.wikidata.org/wiki/Q28030682"

%h3
  Feeds

.ml-3
  %h5
    Neue öffentliche Profile
  %div
    = link_to url("/user.rss"), url("/user.rss")
  %p
    %small.text-muted
      RSS-Feed für neue öffentliche Profile.
