- content_for :title, "Integraciones"
- content_for :scripts do
  :javascript
    $(function() {
      Application.init();
    });
- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        Integraciones

%h3
  Complementos del navegador

.row.mt-4
  .col-12.col-md-6.mb-3
    .card
      .card-header.border-bottom
        %h4
          %img.mr-2{src:"/images/chrome-icon.png", alt:"Chrome"}
          Extensión para Google Chrome
      .card-body.mt-3
        %p
          = link_to "La extensión de Bionomía para Google Chrome", "https://chrome.google.com/webstore/detail/bionomia/aodffghldlgnmhbeflkmokghpncnldcn"
          modifica las páginas de ocurrencia de la Global Biodiversity Information Facility (GBIF) para incluir enlaces a cuentas de ORCID y páginas de Wikidata.
        .text-center
          %a{href: "https://chrome.google.com/webstore/detail/bionomia/aodffghldlgnmhbeflkmokghpncnldcn"}
            %img{src: "/images/chrome_extension_screenshot.png", alt: "Bionomia Google Chrome Extension"}

  .col-12.col-md-6.mb-3
    .card
      .card-header.border-bottom
        %h4
          %img.mr-2{src:"/images/firefox-icon.png", alt:"Firefox"}
          Extensión para Firefox
      .card-body.mt-3
        %p
          = link_to "La extensión de Bionomía para Firefox", "https://addons.mozilla.org/en-US/firefox/addon/bionomia/"
          modifica las páginas de ocurrencia de la Global Biodiversity Information Facility (GBIF) para incluir enlaces a cuentas de ORCID y páginas de Wikidata.
        .text-center
          %a{href: "https://addons.mozilla.org/en-US/firefox/addon/bionomia/"}
            %img{src: "/images/chrome_extension_screenshot.png", alt: "Bionomia Firefox Addon"}

%h3
  Wikidata

%p
  Bionomía is una propiedad,
  = link_to "P6944", "https://www.wikidata.org/wiki/Property:P6944"
  en Wikidata y muchos historiadores naturales ahora tienen esto incluido como enlaces en sus páginas. Consulte la entrada de Wikidata para
  = link_to "Cynthia Ahearn", "http://www.wikidata.org/entity/Q28030682"
  a manera de ejemplo.

%h3
  Recursos de distribución de contenido

.ml-3
  %h5
    Nuevos perfiles públicos
  %div
    = link_to url("/user.rss"), url("/user.rss")
  %p
    %small.text-muted
      RSS de nuevos perfiles públicos.
