- content_for :title, "Integrations"
- content_for :scripts do
  :javascript
    $(function() {
      Application.init();
    });
- content_for :jumbotron do
  .jumbotron.jumbotron-fluid.d-flex.flex-wrap
    .mr-auto.p-2
      %h1.h2
        Integrations

%h3
  Browser Add-ons

.row.mt-4
  .col-12.col-md-6.mb-3
    .card
      .card-header.border-bottom
        %h4
          %img.mr-2{src:"/images/chrome-icon.png", alt:"Chrome"}
          Google Chrome Extension
      .card-body.mt-3
        %p
          = link_to "Bionomia Google Chrome Extension", "https://chrome.google.com/webstore/detail/bionomia/aodffghldlgnmhbeflkmokghpncnldcn"
          modifies Global Biodiversity Information Facility (GBIF) occurrence pages to include links to ORCID accounts and Wikidata pages.
        .text-center
          %a{href: "https://chrome.google.com/webstore/detail/bionomia/aodffghldlgnmhbeflkmokghpncnldcn"}
            %img{src: "/images/chrome_extension_screenshot.png", alt: "Bionomia Google Chrome Extension"}

  .col-12.col-md-6.mb-3
    .card
      .card-header.border-bottom
        %h4
          %img.mr-2{src:"/images/firefox-icon.png", alt:"Firefox"}
          Firefox Add-on
      .card-body.mt-3
        %p
          = link_to "Bionomia Firefox Add-on", "https://addons.mozilla.org/en-US/firefox/addon/bionomia/"
          modifies Global Biodiversity Information Facility (GBIF) occurrence pages to include links to ORCID accounts and Wikidata pages.
        .text-center
          %a{href: "https://addons.mozilla.org/en-US/firefox/addon/bionomia/"}
            %img{src: "/images/chrome_extension_screenshot.png", alt: "Bionomia Firefox Addon"}

%h3
  Wikidata

%p
  Bionomia is a property,
  = link_to "P6944", "https://www.wikidata.org/wiki/Property:P6944"
  on wikidata and many natural historians now have this included as links on their pages. See the wikidata entry for
  = link_to "Cynthia Ahearn", "https://www.wikidata.org/wiki/Q28030682"
  by way of example.

%h3
  Feeds

.ml-3
  %h5
    New Public Profiles
  %div
    = link_to url("/user.rss"), url("/user.rss")
  %p
    %small.text-muted
      RSS feed of new, public profiles.
