#bot_claims.modal.fade{tabindex:"-1", role:"dialog", "aria-labelledby":"modal_claims_title", "aria-hidden":"true"}
  .modal-dialog.modal-dialog-centered.modal-lg{role:"document"}
    .modal-content
      .modal-header
        %h4#modal_claims_longtitle.modal-title Bionomia Bot
        %button.close{type:"button", "data-dismiss":"modal", "aria-label":"Close"}
          %span{"aria-hidden":"true"} &times;
      .modal-body
        %p
          Bulk attribute specimens collected and/or identified by the agent
          %strong #{locals[:agent].fullname}
          to the user
          %strong #{locals[:user].viewname}
          using the Bionomia Bot. Conditionals must take the form of JSON.
        %p
          Examples: { "institutionCode" : "CAN" } or { "scientificName LIKE ?":"Bolbelasmus %"}

        - if !locals[:bulk_error].empty?
          .alert.alert-danger.tiny-margins{role:"alert"}= locals[:bulk_error]

        %form#form-wrapper.form{method: :post, action: "/admin/user/#{locals[:user].identifier}/candidates/agent/#{locals[:agent].id}/bulk-claim", enctype: "multipart/form-data", "accept-charset": "UTF-8"}
          .form-group
            %label{for:"bulk-json"} JSON
            %div
              %input#bulk-json.form-control{type:"text", name:"conditions"}

          .form-check
            %input#ignore.form-check-input{type:"checkbox", name:"ignore"}
            %label.form-check-label{for:"ignore"} Bulk Not Them

          .form-group
            %input{type: :hidden, name:"authenticity_token", value:"#{env['rack.session'][:csrf]}"}
            %button.btn.btn-success.mt-3{type:"submit"} Submit

      .modal-footer
        %button.btn.btn-secondary{type:"button", "data-dismiss":"modal"} Close
