%nav{id:"helper-navbar", class:"navbar navbar-expand-sm bg-light d-none fixed-top"}
  %span{class:"nav-item text-nowrap"}
    %i{class:"fas fa-users-cog text-muted mr-2"}
    - if @admin_user.image_url
      %img{src:"#{profile_image(@admin_user, 'thumbnail')}", class:"rounded mr-2", alt:"#{@admin_user.fullname}"}
    #{@admin_user.fullname}
  - if !@admin_user.other_names.blank?
    %span{class:"nav-item text-muted ml-2"} [#{@admin_user.other_names.split("|")[0,2].join("; ")}]
  - if @admin_user.date_born || @admin_user.date_died
    %span{class: "nav-item text-muted ml-2"}= format_lifespan(@admin_user)