- content_for :scripts do
  %script{src: "/js/jquery.collapser.min.js"}
  :javascript
    $(function() {
      $('.truncate').show().collapser({
        mode: 'lines',
        truncate: 4,
        showText: '[Show more...]',
        hideText: '[Hide]'
      });
    });

.col-12.col-lg-4.text-center.sidebar.alert-warning.pt-1.pb-3
  %form#form-wrapper.form{method: :post, action: "/", enctype: "multipart/form-data", "accept-charset": "UTF-8"}
    - bg_class = @admin_user.image_url ? "" : "profile-image-bg"
    #profile-image{class:"image-placeholder mx-auto d-block align-self-center align-items-center #{bg_class}"}
      %img.rounded.mx-auto.d-block.img-fluid.align-top.m-2{src:"#{profile_image(@admin_user)}", alt:"#{@admin_user.fullname}"}
      - if locals[:active_page] == "settings"
        %span
          = link_to I18n.t('admin.change_photo'), "#"
        %ul#profile-upload-option.list-group
          %li.list-group-item.profile-upload-option-list
            %input#user-image{name:"user-image", type:"file", accept:"image/x-png,image/jpeg"}
            %input{type: :hidden, name:"authenticity_token", value:"#{env['rack.session'][:csrf]}"}
            %span= I18n.t('profile.upload')
          %li#profile-remove.list-group-item.profile-upload-option-list= I18n.t('profile.remove')
          %li#profile-cancel.list-group-item.profile-upload-option-list= I18n.t('profile.cancel')

  %h1.h2= @admin_user.fullname

  - if !@admin_user.other_names.blank?
    %p.text-center.text-muted.p-0.mt-1.mb-1.truncate #{@admin_user.other_names.split("|").join("; ")}

  - if @admin_user.wikidata
    %p.text-center.text-muted.p-0.mt-1.mb-1= format_lifespan(@admin_user)

  - if !@admin_user.keywords.blank?
    %p.text-center.text-muted.font-italic.p-0.mt-1.mb-1
      #{@admin_user.keywords.split("|").join(", ")}

  - if @admin_user.signature_url
    #signature-image.mx-auto.d-block.align-self-center.align-items-center
      %img.mx-auto.d-block.img-fluid{src:"#{signature_image(@admin_user)}", itemprop:"image"}

  - if !@admin_user.description.nil?
    %p.text-lg-left.p-0.mt-3.mb-1
      #{h(@admin_user.description.truncate(255))}

  %p.orcid.text-lg-left.p-0.mt-3.mb-1
    - if @admin_user.orcid
      %a{href: "https://orcid.org/#{@admin_user.orcid}"}
        %i.fab.fa-orcid
        https://orcid.org/#{@admin_user.orcid}
    - else
      %a{href: "https://www.wikidata.org/wiki/#{@admin_user.wikidata}"}
        %img{src: "/images/wikidata_18x12.svg", alt:"WIkidata iD"}
          = link_to "https://www.wikidata.org/wiki/#{@admin_user.wikidata}", "https://www.wikidata.org/wiki/#{@admin_user.wikidata}"

  - if !@admin_user.wiki_sitelinks.nil? && @admin_user.wiki_sitelinks["#{I18n.locale}wiki"]
    %p.orcid.text-lg-left.p-0.mt-0.mb-1
      - wiki_url = "https://#{I18n.locale}.wikipedia.org/wiki/#{@admin_user.wiki_sitelinks["#{I18n.locale}wiki"]["title"].gsub(/\s/, "_")}"
      %a{href: "#{wiki_url}" }
        %i.fab.fa-wikipedia-w
        #{wiki_url}
      %a{href: "#", "data-toggle": "modal", "data-target": "#wiki_content"}
        [#{I18n.t("profile.upload_view")}]
    #wiki_content.modal.fade
      .modal-dialog.modal-dialog-centered.modal-dialog-scrollable.modal-xl{style: "height:100%"}
        .modal-content{style: "height:90%"}
          .modal-header
            %h5.modal-title #{@admin_user.wiki_sitelinks["#{I18n.locale}wiki"]["title"]}
            %button.close{type: "button", "data-dismiss": "modal", "aria-label": "#{I18n.t('help.close')}"}
              %span{"aria-hidden": true} &times;
          .modal-body.h-100.w-100
            %iframe.w-100.h-100.border-0{src: "#{wiki_url}"}
          .modal-footer
            %button.btn.btn-secondary{type: "button", "data-dismiss": "modal"}= I18n.t('help.close')

  - if !@admin_user.current_organization.nil?
    %p.text-lg-left.p-0.mt-1.mb-1
      %i.fas.fa-building
      - path = @admin_user.current_organization.identifier
      - if @admin_user.current_organization.address
        = succeed "," do
          = link_to @admin_user.current_organization.name, url("/organization/#{path}")
      - else
        = link_to @admin_user.current_organization.name, url("/organization/#{path}")
      #{@admin_user.current_organization.address}

  - if !@admin_user.country.blank?
    %p.text-lg-left.p-0.mt-1.mb-1
      - country_codes = @admin_user.country_code.split("|") rescue []
      - countries = @admin_user.country.split("|") rescue []
      - countries.each_with_index do |v,i|
        %span.mr-1.text-nowrap
          - if !country_codes[i].nil? && !country_codes[i].empty? && !country_name(country_codes[i]).nil?
            %i.fas.fa-globe
            = link_to country_name(country_codes[i]), url("/country/#{country_codes[i]}")
          - elsif v.presence
            %i.fas.fa-globe
            #{v}

  - if @admin_user.zenodo_doi
    %p.citation.text-lg-left.mt-3.small
      #{@admin_user.fullname_reverse}. #{DateTime.now.year}. Natural history specimens collected and/or identified and deposited. [Data set]. Zenodo.
      = link_to "https://doi.org/#{@admin_user.zenodo_concept_doi}", "https://doi.org/#{@admin_user.zenodo_concept_doi}"

    %p
      %a{href:"https://doi.org/#{@admin_user.zenodo_concept_doi}"}
        %img{src:"/images/#{@admin_user.zenodo_concept_doi}.svg", alt:"DOI badge"}

  - if @admin_user.youtube_id
    = haml :'youtube', layout: false, locals: { youtube_id: @admin_user.youtube_id }

  .mt-3.pt-3.border-top
    %p.mb-0
      - if @admin_user.is_public?
        %a.mr-2.text-nowrap{href: url("/#{@admin_user.identifier}")}
          %i.fas.fa-user
          = I18n.t('profile.public_profile')
      - else
        %i.fas.fa-lock
        %span.mr-2 Private Profile
      %a.profile-flush.mr-2.mb-2.text-nowrap{href: url("/#{@admin_user.identifier}/refresh-stats.json")}
        %i.fas.fa-sync-alt
        = I18n.t('general.refresh_stats')
      %a.profile-flush.mr-2.mb-2.text-nowrap{href: url("/#{@admin_user.identifier}/refresh.json")}
        %i.fas.fa-sync-alt
        = I18n.t('general.refresh_profile')
        - if @admin_user.orcid
          %i.fab.fa-orcid
        - else
          %img{src: "/images/wikidata_18x12.svg", alt:"Wikidata iD", width:"18px"}
    %p.mb-0
      - if locals[:active_page] == "settings"
        %a.mb-2.text-nowrap{href: url("/admin/user/#{@admin_user.identifier}")}
          %i.fas.fa-user
          = I18n.t('profile.overview')
      - else
        %a.text-nowrap{href: url("/admin/user/#{@admin_user.identifier}/settings")}
          %i.fas.fa-cog
          = I18n.t('profile.settings')
    %ul.list-inline.mt-2
      - if @admin_user.orcid
        %li.list-inline-item
          Visited:
          - if @admin_user.visited
            #{@admin_user.visited.to_date}
          - else
            %span.font-italic never
      - if @admin_user.created
        %li.list-inline-item Created: #{@admin_user.created.to_date}
      - if @admin_user.updated
        %li.list-inline-item Updated: #{@admin_user.updated.to_date}

  #flush-message.alert.alert-success.alert-dismissible.fade.show.text-center{role: "alert"}
    = I18n.t("user.caches_rebuilt")
    %button.close{type:"button", "data-dismiss":"alert", "aria-label":"Close"}
      %span{"aria-hidden":"true"} &times;
