- content_for :scripts do
  %script{src: "/js/jquery.collapser.min.js"}
  :javascript
    $(function() {
      $('.truncate').show().collapser({
        mode: 'lines',
        truncate: 4,
        showText: '[Show more...]',
        hideText: '[Hide]'
      });
    });

%div{class:"col-12 col-lg-4 text-center sidebar alert-warning pt-1 pb-3"}
  %form{id:"form-wrapper", method: :post, action: "/", enctype: "multipart/form-data", "accept-charset": "UTF-8", class: "form"}
    - bg_class = @admin_user.image_url ? "" : "profile-image-bg"
    %div{id:"profile-image", class:"image-placeholder mx-auto d-block align-self-center align-items-center #{bg_class}"}
      %img{src:"#{profile_image(@admin_user)}", class:"rounded mx-auto d-block img-fluid align-top m-2", alt:"#{@admin_user.fullname}"}
      - if locals[:active_page] == "settings"
        %span
          %a{href:"#"}= I18n.t('admin.change_photo')
        %ul{id:"profile-upload-option", class:"list-group"}
          %li{class:"list-group-item profile-upload-option-list"}
            %input{name:"user-image", id:"user-image", type:"file", accept:"image/x-png,image/jpeg"}
            %input{type: :hidden, name:"authenticity_token", value:"#{env['rack.session'][:csrf]}"}
            %span= I18n.t('profile.upload')
          %li{id:"profile-remove", class:"list-group-item profile-upload-option-list"}= I18n.t('profile.remove')
          %li{id:"profile-cancel", class:"list-group-item profile-upload-option-list"}= I18n.t('profile.cancel')

  %h1{class:"h2"}= @admin_user.fullname

  - if !@admin_user.other_names.blank?
    %p{class:"text-center text-muted p-0 mt-1 mb-1 truncate"} #{@admin_user.other_names.split("|").join("; ")}

  - if @admin_user.wikidata
    %p{class:" text-center text-muted p-0 mt-1 mb-1"}= format_lifespan(@admin_user)

  - if !@admin_user.keywords.blank?
    %p{class: "text-center text-muted font-italic p-0 mt-1 mb-1"}
      #{@admin_user.keywords.split("|").join(", ")}

  - if @admin_user.signature_url
    %div{id:"signature-image", class:"mx-auto d-block align-self-center align-items-center"}
      %img{src:"#{signature_image(@admin_user)}", class:"mx-auto d-block img-fluid", itemprop:"image"}

  - if !@admin_user.description.nil?
    %p{class: "text-lg-left p-0 mt-3 mb-1"}
      #{h(@admin_user.description.truncate(255))}

  %p{class: "orcid text-lg-left p-0 mt-3 mb-1"}
    - if @admin_user.orcid
      %a{href: "https://orcid.org/#{@admin_user.orcid}"}
        %i{class:"fab fa-orcid"}
        https://orcid.org/#{@admin_user.orcid}
    - else
      %a{href: "https://www.wikidata.org/wiki/#{@admin_user.wikidata}"}
        %img{src: "/images/wikidata_16x16.png", alt:"WIkidata iD"}
          %a{href: "https://www.wikidata.org/wiki/#{@admin_user.wikidata}"} https://www.wikidata.org/wiki/#{@admin_user.wikidata}

  - if !@admin_user.current_organization.nil?
    %p{class: "text-lg-left p-0 mt-1 mb-1"}
      - path = @admin_user.current_organization.identifier
      = succeed "," do
        %i{class:"fas fa-building"}
        %a{href: url("/organization/#{path}")} #{@admin_user.current_organization.name}
      #{@admin_user.current_organization.address}

  - if !@admin_user.country.blank?
    - country_codes = @admin_user.country_code.split("|") rescue []
    - countries = @admin_user.country.split("|") rescue []
    - countries.each_with_index do |v,i|
      - if !country_codes[i].nil? && !country_codes[i].empty?
        %p{class:"text-lg-left p-0 mt-1 mb-1"}
          %i{class:"fas fa-globe"}
          %a{href: url("/country/#{country_codes[i]}")} #{country_name(country_codes[i])}
      - else
        %p{class:"text-lg-left p-0 m-0"}
          %i{class:"fas fa-globe"}
          #{v}

  - if @admin_user.zenodo_doi
    %p{class:"citation text-lg-left mt-3 small"}
      #{@admin_user.fullname_reverse}. #{DateTime.now.year}. Natural history specimens collected and/or identified and deposited. [Data set]. Zenodo.
      %a{href: "https://doi.org/#{@admin_user.zenodo_concept_doi}"}
        https://doi.org/#{@admin_user.zenodo_concept_doi}
    %p
      %a{href:"https://doi.org/#{@admin_user.zenodo_concept_doi}"}
        %img{src:"/images/#{@admin_user.zenodo_concept_doi}.svg", alt:"DOI badge"}

  - if locals[:active_page] != "settings"
    %div{class:"mt-3 pt-3 border-top"}
      %p{class:"mb-0"}
        - if @admin_user.is_public?
          %a{href: url("/#{@admin_user.identifier}"), class:"mr-2"}
            %i{class:"fas fa-user"}
            = I18n.t('profile.public_profile')
        - else
          %i{class:"fas fa-lock"}
          %span{class:"mr-2"} Private Profile
        %a{href: url("/#{@admin_user.identifier}/refresh-stats.json"), class:"profile-flush mr-2 mb-2"}
          %i{class: "fas fa-sync-alt"}
          = I18n.t('general.refresh_stats')
        %a{href: url("/#{@admin_user.identifier}/refresh.json"), class:"profile-flush mr-2 mb-2"}
          %i{class: "fas fa-sync-alt"}
          = I18n.t('general.refresh_profile')
          - if @admin_user.orcid
            %i{class:"fab fa-orcid"}
          - else
            %img{src: "/images/wikidata_24x24.png", alt:"Wikidata iD", width:"18px"}
      %p{class:"mb-0"}
        %a{href: url("/admin/user/#{@admin_user.identifier}/settings")}
          %i{class:"fas fa-cog"}
          = I18n.t('profile.settings')
      %ul{class:"list-inline mt-2"}
        %li{class:"list-inline-item"} Last Visited: #{@admin_user.visited.to_date}
        %li{class:"list-inline-item"} Created: #{@admin_user.created.to_date}

    %div{id:"flush-message", class:"alert alert-success alert-dismissible fade show text-center", role: "alert"}
      = I18n.t("user.caches_rebuilt")
      %button{type:"button", class:"close", "data-dismiss":"alert", "aria-label":"Close"}
        %span{"aria-hidden":"true"} &times;
