%ul#admin-tabs.nav.nav-tabs.pl-2
  %li.nav-item
    %a{class: "text-nowrap nav-link#{locals[:active_page] == "overview" ? " active" : nil}", href: url("/admin/user/#{@admin_user.identifier}")}
      %i.fa-solid.fa-user
      = I18n.t('profile.overview')
  %li.nav-item.badge-item
    %a{class: "text-nowrap nav-link#{locals[:active_page] == "specimens" ? " active" : nil}", href: url("/admin/user/#{@admin_user.identifier}/specimens")}
      %i.fa-solid.fa-table-cells
      = I18n.t('profile.specimens')
    %span{id: "specimen-counter-#{@admin_user.identifier}", class: "badge-notify badge badge-success badge-pill"}
  %li.nav-item.badge-item
    %a{class: "text-nowrap nav-link#{locals[:active_page] == "helped" ? " active" : nil}", href: url("/admin/user/#{@admin_user.identifier}/helped")}
      %i.fa-solid.fa-hands-helping
      = I18n.t('profile.people_helped')
    %span#message-counter.badge-notify.badge.badge-success.badge-pill
  %li.nav-item
    %a{class: "text-nowrap nav-link#{locals[:active_page] == "citations" ? " active" : nil}", href: url("/admin/user/#{@admin_user.identifier}/citations")}
      %i.fa-solid.fa-flask
      = I18n.t('profile.science_enabled')
