- content_for :title, "Wie es funktioniert"
- content_for :scripts do
  :javascript
    $(function() {
      Application.init();
    });
- content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class:"mr-auto p-2"}
      %h1{class:"h2"} Wie es funktioniert

%p
  Bionomia wird von
  %a{href:"https://orcid.org/0000-0001-7618-5230"}
    %i{class:"fab fa-orcid"}
    David P. Shorthouse
  entwickelt und unterhalten. Es werden Daten von Exemplaren verwendet, die regelmäßig von der
  %a{href: "https://gbif.org"} Global Biodiversity Information Facility
  (GBIF) bezogen werden, sowie die Authentifizierung durch
  = succeed "." do
    %a{href: "https://orcid.org" } ORCID
  Im August 2018 wurde Bionomia als Beitrag zur jährlichen
  %a{href: "https://www.gbif.org/news/1GQURfK5jS4Iq4O06Y0EK4/2018-gbif-ebbe-nielsen-challenge-seeks-open-data-innovations-for-biodiversity"} Ebbe Nielsen Challenge
  gestartet. Seitdem wurden
  %a{href: "https://www.wikidata.org"} Wikidata-Identifikatoren
  integriert, um die Namen, Geburts- und Sterbedaten verstorbener Biologen zu erfassen, um die nachgelagerte Datenintegration sowie das Engagement zu maximieren und um Fehler oder Unstimmigkeiten in naturkundlichen Exemplardaten zu entdecken.

%h3 Das Innenleben

%p
  Die Namen von Sammlern und Bestimmern werden mit dem testgesteuerten
  %a{href: "https://github.com/dshorthouse/dwc_agent"} Ruby-Gem dwc_agent
  analysiert und bereinigt, das zur kostenlosen Integration in andere Projekte zur Verfügung steht. Die Ähnlichkeit von Personennamen wird mit einer graphentheoretischen Methode bewertet, die von
  %a{href: "https://orcid.org/0000-0002-7101-9767"} R. D. M. Page
  beschrieben und als Methode in das dwc_agent-Gem integriert wurde. Diese Bewertungen werden verwendet, um die Suche nach möglichen Exemplaren zu erweitern, und zwar in der Reihenfolge der höchsten bis geringsten Wahrscheinlichkeit. Wenn Sie in Ihrem ORCID-Konto alternative Namen angegeben haben, z. B. einen Mädchennamen, oder wenn Aliasnamen in Wikidata-Profilen erwähnt werden, werden diese für die Suche nach Exemplar-Datensätzen verwendet. Die Verarbeitung dieser großen Anzahl von Exemplar-Datensätzen ist ein intensiver, wenn auch wiederholbarer Prozess unter Verwendung von MIT-lizenziertem
  = succeed "." do
    %a{href: "https://github.com/bionomia/bionomia"} Open-Source-Code

%h4 Integration mit GBIF

%div{class:"media mb-3 mt-3 d-flex flex-wrap flex-column flex-md-row"}
  %a{href:"https://gbif.org"}
    %img{class:"mb-3 mr-3", src:"/images/gbif-logo.jpg", alt:"GBIF-Logo"}
  %div{class:"media-body"}
    %p
      Ungefähr #{Settings.gbif.download_count}
      %a{href: "https://doi.org/#{Settings.gbif.download_doi}"} Exemplar-Datensätze
      werden von
      %a{href:"https://gbif.org"} GBIF
      in einem benutzerdefinierten Format auf der Grundlage von Apache Avro heruntergeladen. Datensätze mit den basisOfRecord PRESERVED_SPECIMEN, FOSSIL_SPECIMEN, MATERIAL_SAMPLE oder LIVING_SPECIMEN werden ausgewählt, ebenso wie Inhalte in entweder
      %a{href: "http://rs.tdwg.org/dwc/terms/recordedBy"} recordedBy
      oder
      %a{href: "http://rs.tdwg.org/dwc/terms/identifiedBy"} identifiedBy
      und dann verarbeitet.
    %ul
      %li
        Aktualisierung aller Ereignisdaten im Zwei-Wochen-Rhythmus
      %li
        content in
        %a{href: "http://rs.tdwg.org/dwc/terms/identifiedByID"} identifiedByID
        and
        %a{href: "http://rs.tdwg.org/dwc/terms/recordedByID"} recordedByID
        is refreshed and resolved against Wikidata or ORCID.
      %li
        Tägliche Abfrage von
        %a{href:"https://www.gbif.org/resource/search?contentType=literature&relevance=GBIF_USED"} Download-Paketen für zitierte Daten
        (gezippt weniger als 100 MB), die extrahiert und mit zugeordneten Exemplar-Datensätzen verknüpft sind

%h4 Integration mit Wikidata

%div{class:"media mb-3 mt-3 d-flex flex-wrap flex-column flex-md-row"}
  %a{href:"https://www.wikidata.org"}
    %img{class:"mb-3 mr-3", src:"/images/wikidata-logo.png", alt:"Wikidata-Logo"}
  %div{class:"media-body"}
    %p
      Die Synchronität mit
      %a{href:"https://www.wikidata.org"} Wikidata
      wird auf verschiedene Weise aufrechterhalten. Mit Ausnahme des letzten Punktes auf der Liste unten erfordern alle automatisierten Methoden, die über geplante CronJobs unter Verwendung
      %a{href:"https://github.com/ruby-rdf/sparql-client"} eines Ruby-Gems
      ausgeführt werden, dass die Personenseiten auf Wikidata ein Sterbedatum sowie einen Wert für eine dieser Eigenschaften haben:
      %em #{::Bionomia::WikidataSearch::PEOPLE_PROPERTIES.keys.join(", ")}.

    %ul
      %li
        Tägliche Abfrage nach neuen Seiten
        = surround "(", ")" do
          %a{href:"https://w.wiki/J2a"} SPARQL
      %li
        Tägliche Abfrage nach Einträgen, die innerhalb der letzten 24 Stunden geändert wurden
        = surround "(", ", " do
          %a{href:"https://w.wiki/J2e"} SPARQL
        mit 01.01.2020 als Beispieldatum)
      %li
        Wöchentliche Abfrage nach Merge-Ereignissen
        = surround "(", ", " do
          %a{href: "https://w.wiki/J2g"} SPARQL
        mit 01.01.2020 als Beispieldatum)
      %li
        Bearbeiter können bei Bedarf aktualisieren

    %p{class:"small"}
      Die obigen SPARQL-Beispielabfragen sind auf
      %em Entomologen der Welt (P5370)
      beschränkt, aber alle beobachteten Eigenschaften werden in der Produktion verwendet

%h4 Integration mit ORCID

%div{class:"media mb-3 mt-3 d-flex flex-wrap flex-column flex-md-row"}
  %a{href:"https://orcid.org"}
    %img{class:"mb-3 mr-3", src:"/images/orcid-logo.png", alt:"ORCID-Logo"}
  %div{class:"media-body"}
    %p
      Die Synchronität mit
      %a{href: "https://orcid.org"} ORCID
      wird auf verschiedene Weise aufrechterhalten.

    %ul
      %li
        OAuth2-Pass-Through-Authentifizierung
      %li
        Tägliche Abfrage nach neuen Konten durch Abfrage der API nach einem der folgenden Schlüsselwörter:
        %em #{Settings.orcid.keywords.join(", ")}
      %li
        Zwischenspeicherung von vollständigem Namen, Aliasnamen, Schlüsselwörtern, Beschäftigung und Ausbildung zusammen mit Anfangs- und Enddatum
      %li
        Einbindung von Beschäftigungs- und Ausbildungsdaten unter Verwendung der von ORCID bereitgestellten
        = succeed "-" do
          %a{href:"https://www.ringgold.com/"} Ringgold
        oder
        = succeed "-" do
          %a{href:"https://www.grid.ac/"} GRID
        Identifikatoren für Organisationen
      %li
        Auflösung von Ringgold- oder GRID-Identifikatoren gegen Q-Nummern in Wikidata
      %li
        Regelmäßige vollständige Aktualisierung von ORCID-Profilen
      %li
        Benutzer oder Bearbeiter können bei Bedarf aktualisieren

%h4 Integration mit Zenodo

%div{class:"media mb-3 mt-3 d-flex flex-wrap flex-column flex-md-row"}
  %a{href:"https://zenodo.org"}
    %img{class:"mb-3 mr-3", src:"/images/zenodo-logo.png", alt:"Zenodo-Logo"}
  %div{class:"media-body"}
    %p
      In den Einstellungen Ihres Kontos können Sie es mit zwei Klicks über Ihre ORCID-Anmeldedaten mit
      %a{href:"https://zenodo.org/"} Zenodo
      verknüpfen. Sobald Sie diese
      = succeed "-Verbindung" do
        %em set-it-and-forget-it
      hergestellt haben, überträgt Bionomia Ihre Exemplardaten in dieses branchenweit anerkannte, stabile Langzeitarchiv und vergibt einen neuen DataCite-DOI. Ihr Zenodo-Token wird in Bionomia zwischengespeichert, und jede Woche wird in Ihrem Namen eine neue Version Ihrer Exemplardaten in das Archiv übertragen, wenn Sie neue Beanspruchungen geltend machen. Sie erhalten außerdem ein DataCite-DOI-Abzeichen auf Ihrer Bionomia-Profilseite und eine formatierte Zitierungsvorlage für Ihren Lebenslauf. Die in Zenodo gespeicherten, versionierten Datenpakete bestehen jeweils aus einer CSV-Datei sowie einem JSON-LD-Dokument und bereiten so den Weg für zukünftige Integrationen von Linked Data. Wenn Sie DataCite als vertrauenswürdige Organisation in Ihrem ORCID-Konto akzeptieren, erhalten Sie dort einen neuen formatierten Arbeitseintrag für Ihren Exemplar-Datensatz.
